[2018-03-13 21:17] danesfeder commented on #752
@A1ecm can you post a code snippet of how you are using the SDK? Thanks!

[2018-03-13 21:18] danesfeder commented on #365
We check for an internet connection before re-routing now #631

[2018-03-13 21:18] #365 closed

[2018-03-13 21:19] danesfeder commented on #364
First snapped location should always be following the route line, confirmed logic in #667

[2018-03-13 21:19] #364 closed

[2018-03-13 21:51] danesfeder commented on #448
Added in #500

[2018-03-13 21:51] #448 closed

[2018-03-13 22:29] A1ecm commented on #752
I'm just using the standard route and navigation building found in the tutorial:

`

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        Log.i(TAG, "Creating app" + stepDistanceRemaining);
        Mapbox.getInstance(this, "pk.eyJ1IjoiYTFlYyIsImEiOiJjamVhMTJudXoxOGk0MnFudGV2Z3NnMGpwIn0.p9G0Ejx0EGALsmAOJt4ICQ");
        setConten

[2018-03-13 22:31] A1ecm commented on #752
After that i have some initialization and onStart etc classes. And after that i call the onProgressChange method.

[2018-03-14 07:14] m-harisqurashi commented on #677
Its works fine for the first time, when i try to start navigation with same `NavigationView` it does nothing.

[2018-03-14 10:43] Niduank opened #757 "Android-navigation 0.11.0 crash when trying a second navigation"
Hi,

Actually, I think Mapbox Navigation SDK was developed in order to do only one navigation.

In my app, when first navigation is over, I launch a second navigation at user's destination.

I have this crash :

`
Fatal Exception: java.util.ConcurrentModificationException
       at java.util.ArrayList$Itr.next(ArrayList.java:831)
       at com.mapbox.services.android.navigation.v5.navigation.Navig

[2018-03-15 11:20] MehdiFal commented on #757
@Niduank I'm not sure about the exception but I found out a few months ago that it only work with 1 navigation session.
The hack I did, was basically to restart the activity with the new address passed.

[2018-03-15 11:38] MehdiFal opened #758 "After upgrade from 0.7 to 0.11, the OnNavigationReady is no longer called."
Hi,

Thank you for the awesome SDK! :)

We've been using Mapbox for 4 months now, and it worked very well!
The only changes we had made were related to the custom views instruction views etc..

Now, I upgraded from 0.7 to 0.11, and everything works as it used to, except on the activity where we use `NavigationView`. Our code remain unchanged except a few listeners that had to be renamed and the ne

[2018-03-15 12:07] nsuryanarayanareddyn opened #759 "Change Default Destination marker in - NavigationView"
Dear Team,

I am developing trun by turn navigation by using NavigationView in an Activity, it works well.

I would like to change the destination marker with our own icon, I am unable to change it.

could you please suggest me how can we change it. please check the attached screen.
![destination_marker](https://user-images.githubusercontent.com/4735046/37462275-61ef65b0-2877-11e8-96cd-b028d9952c4

[2018-03-15 12:53] MehdiFal commented on #758
Here's a screenshot:

![mapbox](https://user-images.githubusercontent.com/5741679/37464295-cf1fb2a2-284f-11e8-9fed-69ca30b7450b.jpeg)

[2018-03-15 13:40] Niduank commented on #758
Hi,

I had this issue too. Could you provide your initLocationLayer() and initLifecycleObservers() functions.

There is an error in one of these functions which doesn't execute others functions.

[2018-03-15 13:45] MehdiFal commented on #758
Hi @Niduank,

I actually didn't create the `initLocationLayer ()` and `initLifecycleObservers ()` myself, these are from the `NavigationView` class.

Here's their code:
[code]

Did you manage to find a fix?

[2018-03-15 13:51] Niduank commented on #758
Yes I know, I copy/paste the logic from NavigationView in order to do my custom navigation session.

To fix your issue :
 - Please confirm that locationViewModel is initialized before addObserver().
 - Please confirm that you added and called :
`
private void initNavigationViewObserver() {
        try {
            this.getLifecycle().addObserver(this);
        } catch (ClassCastException exceptio

[2018-03-15 14:08] MehdiFal commented on #758
This is odd, it's actually the order in which they're called:

[code]

[2018-03-15 14:19] Niduank commented on #758
You didn't answer to my questions about initialization of locationViewModel ?

Here is my code :
[code]

[2018-03-15 14:22] Niduank opened #760 "Rerouting loop issue - refers to #603, still a bug"
Hi,

Version of android-navigation: 0.11.0.
This issue is reproductible in driving test and in simulation test.
You can watch the video here : https://vimeo.com/260241324 .

Even if I change parameters in MapboxNavigationOptions, this bug still appears.
Even if :
[code]
rerouting occurs.

Coordinates to test it :
 - departure : 48.890246, 2.247127
 - arrival : 48.888416, 2.244859

[2018-03-15 14:23] MehdiFal commented on #758
Yes, `locationViewModel` is initialized on the `init ()` method (which is called in the constructor of `NavigationView` by calling `initViewModels ()`

Thanks for sharing your code, I'll take a look!

[2018-03-15 14:58] Niduank commented on #759
Hi @nsuryanarayanareddyn
Maybe you have to implement NavigationContract.View functions
[code]

[2018-03-15 15:14] chooble opened #761 "Mapbox crashes when tapping banner while still scrolling"
http://gph.is/2pgV8sV

Bug found in 0.10.0
Still in 0.11.0
OnePlus 5

error:
`E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: nl.coffeeit.mototour, PID: 22820
                  java.lang.IllegalArgumentException: Scrapped or attached views may not be recycled. isScrap:false isAttached:true android.support.v7.widget.RecyclerView{41ee4c8 VFED..... .......D 0,0-1080,1605 #7f0800c5

[2018-03-15 15:42] danesfeder commented on #757
Hey @Niduank @MehdiFal thanks for the feedback.  We queued up a fix for this in https://github.com/mapbox/mapbox-navigation-android/pull/762

[2018-03-15 15:45] danesfeder commented on #758
Hey @MehdiFal are you seeing any sort of error in the logs upon initialization.  Could give better context into why the location layer plugin isn't initializing correctly.  Thanks!

[2018-03-15 15:48] danesfeder commented on #760
Hey @Niduank, you need to `return true` instead of `false` here for the re-route to be ignored.  The SDK is designed to push re-routes until a new route following the new user course is fetched by our Directions API.

[2018-03-15 15:48] MehdiFal commented on #758
Hey @danesfeder - Thanks for responding!
Unfortunately, no exception at all. And that's actually what got me confused.
I added some logs there, and it shows that the last point reached on the `onMapReady` method is the `initLocationLayer();` call. Besides that, nothing.

[2018-03-15 15:56] Niduank commented on #758
@MehdiFal
Verify in your code :
`locationLayer = new LocationLayerPlugin(mapView, map, null, locationLayerStyleRes);`
if `mapView` is already initialized because I don't see it in your code.

And try to initialize your `LocationLayerPlugin` without style.

[2018-03-15 15:58] #757 closed

[2018-03-15 16:15] MehdiFal commented on #758
@Niduank Yes, It is there:

[code]

And it's called on `ThemeSwitcher.setMapStyle(getContext(), map, new MapboxMap.OnStyleLoadedListener()` inside of `NavigationView.onMapReady ()`

Wow. This is very odd, when removing the style from the `LocationLayerPlugin` as you suggested, all the methods get executed and the `onNavigationReady` callback gets called.

However, The map is plain blue, and the na

[2018-03-15 16:16] danesfeder commented on #759
Queued up a PR for this #763

[2018-03-15 16:18] Niduank commented on #758
@MehdiFal And if you try that ?

[code]

[2018-03-15 16:21] danesfeder commented on #758
@MehdiFal Hmm this looks like an issue with the resource ID not being correct.  Are you using custom styling in your XML?  If so, do you mind posting a snippet of this code?

[2018-03-15 16:22] Niduank commented on #760
@danesfeder
Ok my mistake for bad return value but it doesn't explain the issue on video with multiple reroutes.

[2018-03-15 16:25] danesfeder commented on #760
@Niduank, yeah let me test with your coordinates to get a better idea of what's going on in the video

[2018-03-15 16:36] MehdiFal commented on #758
@danesfeder sure thing!

----------
activity_mapbox_full_navigation.xml
[code]
----------
navigation_view_layout.xml
[code]
----------
summary_peak_content_layout.xml:
[code]
----------
instruction_content_layout.xml:
[code]
------------

fyi,  nothing on these layouts have changed since the upgrade (0.7 -> 0.11)

Let me know if you want me to provide anything else :)
------------

@Niduank same a

[2018-03-15 16:39] Niduank commented on #760
@danesfeder

From the documentation of `RouteListener`

[code]

So I think I'm doing the right thing.

If `allowRerouteFrom` return true :
[code]

If `allowRerouteFrom` return false :
[code]

[2018-03-15 16:39] danesfeder commented on #761
Hey @chooble thanks for the issue here - looking into the cause of this now 👀

[2018-03-15 17:33] danesfeder opened #764 "Stick to chosen route when re-routing with UI"
If a user selects and alternative route and uses it to start the navigation turn-by-turn-UI, the `RouteViewModel` should try to fetch a route similar to the alternative that was originally chosen.  Currently, we will always try to find the fastest route (where the alternative was originally not the fastest).

iOS equivalent PR for this work: https://github.com/mapbox/mapbox-navigation-ios/issues/8

[2018-03-15 17:43] devotaaabel opened #765 "List distance units are different than banner units"

[2018-03-15 20:22] danesfeder commented on #760
@Niduank confirmed this is an issue with our off-route logic, still digging.

[2018-03-15 20:26] danesfeder commented on #316
This is fixed with the recent releases of the LLP, which now uses https://github.com/mapbox/mapbox-plugins-android/blob/master/plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.java#L32-L40 to calculate the bearing of the layer

[2018-03-15 20:26] #316 closed

[2018-03-16 05:32] nsuryanarayanareddyn commented on #759
@Niduank any example ?

[2018-03-16 09:48] Niduank commented on #759
@nsuryanarayanareddyn
In your application, when you use NavigationView in your activity, you are using viewModels right ?
So you have to instantiate `NavigationPresenter` which take `NavigationContract.View` in parameter :
[code]

You can override in implementing `NavigationContract.View` the `addMarker(Point position)` function.

[2018-03-16 09:49] baversjo opened #770 "Cordova: NavigationLauncher vs MapboxNavigation"
We're currently evaluating mapbox navigation in our cordova app by using the NavigationLauncher.startNavigation
method.
We've gathered feedback from our drivers out on the road, and have some things I believe we need to "tweak" in order for them to accept changing to mapbox internal navigation.
With the NavigationLauncher.startNavigation method, I'm unsure how to achieve below things. I probably n

[2018-03-16 11:50] #705 closed

[2018-03-16 12:05] skienzl opened #771 "OnRouteSelectionChangeListener.onNewPrimaryRouteSelected not called for first route"
onNewPrimaryRouteSelected is not called if you select the first route in the directionsRoutes list

I think it is because a wrong check in this line:
[NavigationMapRoute.java#L681](https://github.com/mapbox/mapbox-navigation-android/blob/00824584fa7db5e7a3687b646efe01c45df23f98/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java#L681)

[2018-03-16 13:44] #761 closed

[2018-03-16 14:03] danesfeder commented on #771
@skienzl great catch here, thanks! Queued up https://github.com/mapbox/mapbox-navigation-android/pull/772 to fix

[2018-03-16 14:24] danesfeder commented on #770
Hey @baversjo, `NavigationLauncher` is definitely the easiest way to integrate the SDK into your app, but it does limit the amount of customization you can give the SDK / possible tweaks you may need for your use case.

1. _Not_ achievable with `NavigationLauncher` - unfortunately there is no customization around offline tiles / maps with the current `NavigationLauncher` setup.

2. _Achievable_ wi

[2018-03-16 14:38] baversjo opened #774 "NavigationLauncher: Tell user if could not init navigation"
I've seen two cases where there's no good indication to the user that navigation failed to init.
Normally, you see a blue map for a split second before navigation can start. In the two cases I've found where it cannot initialize, this blue map stays on screen with no indication to the user that map failed to initiate. The two cases are:

- Upon routing failure (e.g Coordinates are in different con

[2018-03-16 14:46] baversjo commented on #770
@danesfeder Thank you so much for your reply! I created a new ticket for handling errors better #774.

About offline maps, the `NavigationLauncher` will still cache a city gradually, correct? If a driver is driving around the same areas week after week, is it likely maps will already be cached when launching a new navigation? Also, even with a fully offline loaded city, do you require an internet

[2018-03-16 16:02] #771 closed

[2018-03-16 18:45] danesfeder commented on #770
@baversjo

I'm not entirely sure what kind of caching strategy the Maps SDK uses / how long tiles remained cached.  This would be a better questions for https://github.com/mapbox/mapbox-gl-native

You would still need a connection for fetching the route.  We currently don't offer any type of offline routing engine.

To be clear, `MapboxNavigation` is part of `libandroid-navigation` (as opposed to

[2018-03-16 18:47] baversjo commented on #770
Thank you for your answers :)

[2018-03-16 18:47] #770 closed

[2018-03-16 18:52] danesfeder commented on #765
Closed with #769

[2018-03-16 18:52] #765 closed

[2018-03-16 20:17] #759 closed

[2018-03-16 20:28] #760 closed

[2018-03-16 23:27] A1ecm commented on #752
Any progress on a possible answer?

[2018-03-17 10:39] Guardiola31337 commented on #755
Although OP was closed by #777 reopening here because we're still missing the `Post-release` work.

cc @langsmith

[2018-03-17 19:32] errazkisibawaih commented on #85
Hello everyone,
I have the same issue , I use options.directionsProfile(DirectionsCriteria.PROFILE_WALKING) but the route is not a path for walking profite.
Here is my code

NavigationViewOptions.Builder options = NavigationViewOptions.builder();
        options.origin(origin);
        options.destination(destination);
        options.awsPoolId(awsPoolId);
        options.shouldSimulateRoute(simul

[2018-03-17 19:32] errazkisibawaih commented on #107
Hello everyone,
I have the same issue , I use options.directionsProfile(DirectionsCriteria.PROFILE_WALKING) but the route is not a path for walking profite.
Here is my code

NavigationViewOptions.Builder options = NavigationViewOptions.builder();
        options.origin(origin);
        options.destination(destination);
        options.awsPoolId(awsPoolId);
        options.shouldSimulateRoute(simul

[2018-03-18 17:22] MehdiFal commented on #758
I redid a fresh upgrade without the new navigation UI lib, I kept the one i had on 0.7 and adapted it to the 0.11.0 api, and everything works as expected now :)

Thank you @Niduank & @danesfeder

[2018-03-18 17:22] #758 closed

[2018-03-18 17:32] dmp5658 commented on #85
Having the exact same issue as errazkisibawaih

[2018-03-19 09:06] rektph commented on #150
is there a fix for this?

` E/AndroidRuntime: FATAL EXCEPTION: NavThread
                                                                         Process: com.froura.develo4.driver, PID: 4516
                                                                         java.lang.IndexOutOfBoundsException: Index: 2, Size: 2
                                                                             at

[2018-03-19 10:27] ChibaniImad opened #779 "Mapbox navigation - walking profil"
Hello everyone,
  I use options.directionsProfile(DirectionsCriteria.PROFILE_WALKING) but the route is not a path for walking profile. can anyone help me ?
Here is my code

NavigationViewOptions.Builder options = NavigationViewOptions.builder();
options.origin(origin);
options.destination(destination);
options.awsPoolId(awsPoolId);
options.shouldSimulateRoute(simulateRoute);
options.directionsProf

[2018-03-19 11:06] skienzl opened #780 "Crash when enableOffRouteDetection is set to false"
**Bug report:** If you set enableOffRouteDetection to false in MapboxNavigationOptions the crashes if you start navigation.

Seems like because of this setting no OffRouteDetector is set during the MapboxNavigation init:
[MapboxNavigation.java](https://github.com/mapbox/mapbox-navigation-android/blob/090cb38532bbe9c5d1ea260b72f92fb6152d4f49/libandroid-navigation/src/main/java/com/mapbox/services/a

[2018-03-19 11:53] A1ecm commented on #779
I have the same problem with cycling. When it draws the route it the cycling profile works, but when i start the navigation it goes back to driving.

[2018-03-19 12:24] A1ecm opened #781 "OnProgressChange and OnLocationChanged not working"
I followed the android navogation app tutorial on the mapbox website and got it working. Now i want to implement an OnProgressChange method, but it is not being called. I read somewhere that it could be because speed is 0, so i made an OnLocationChanged method to print the speed to see what the values is. But the OnLocationChanged method is also not being called. I am using com.mapbox.mapboxsdk:ma

[2018-03-19 13:17] danesfeder commented on #85
Hey @errazkisibawaih @dmp5658 - please follow #779 for updates on this issue.

[2018-03-19 13:18] danesfeder commented on #779
Hey @ChibaniImad @A1ecm - this looks like a regression in our profile code.  I will look into this today.  Thank you for your patience.

[2018-03-19 13:23] danesfeder commented on #780
Hey @skienzl, this looks like a regression in our code.  We will investigate today and get a fix in ASAP.  Thank you for your patience.

[2018-03-19 18:21] danesfeder commented on #781
Hey @A1ecm, thanks for the feedback here - are you using these listeners in conjunction with `NavigationLauncher`?

[2018-03-19 18:41] A1ecm commented on #781
Yes, this is my NavigationLauncher code:

`

                    public void onClick(View v) {
                        Point origin = originPosition;
                        Point destination = destinationPosition;

                        String awsPoolId = null;

                        boolean simulateRoute = false;

                        NavigationViewOptions options = NavigationViewOptions.

[2018-03-19 19:00] danesfeder commented on #781
@A1ecm Unfortunately, this is an existing bug with the `NavigationLauncher` implementation.  Because we launch `NavigationActivity` via an `Intent`, we aren't able to handle the transfer of the listener references.

This is currently confusing because `NavigationViewOptions` implies that we are able to support this.  #782 was just created to make separate options and avoid this confusion.

Using t

[2018-03-19 19:57] A1ecm commented on #781
Thanks for the solution, does this mean i have to make two seperate fragments or can i use the `NavigationView` in my `MainActivity`?

[2018-03-19 19:58] danesfeder commented on #781
@A1ecm You can use `NavigationView` like any other vanilla `View` in your `Activity` or `Fragment`

[2018-03-19 21:17] A1ecm commented on #781
I implemented it like this:

`

@Override
    protected void onCreate(final Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        Mapbox.getInstance(this, "pk.eyJ1IjoiYTFlYyIsImEiOiJjamVhMTJudXoxOGk0MnFudGV2Z3NnMGpwIn0.p9G0Ejx0EGALsmAOJt4ICQ");
        setContentView(R.layout.activity_main);
        mapView = (MapView) findViewById(R.id.mapView);
        mapView.onCreate

[2018-03-19 21:40] danesfeder commented on #781
@A1ecm `NameOfYourActivity.this`

[2018-03-19 22:05] A1ecm commented on #781
It works, thank you so much! I have one last thing i'm going to bother you with. I can't seem to find the right place to place this code for ending the navigation.
`@Override
public void onNavigationFinished() {
  finish();
}`
If I place it where the documentation says I should place it, it says that the method does not override it's superclass and is never used.

[2018-03-20 00:11] langsmith commented on #755
🎉

[2018-03-20 00:11] #755 closed

[2018-03-20 00:37] danesfeder commented on #755
Thanks @langsmith 🍍

[2018-03-20 01:12] langsmith commented on #755
🍍 @danesfeder

[2018-03-20 08:29] jethro-yard8 opened #786 "Map Marker Click Listener"
I followed this navigation tutorial: https://www.mapbox.com/help/android-navigation-sdk/

I have built it exactly the same way as the tutorial. However when i tap the map, no marker appears.

apply plugin: 'com.android.application'

android {
    compileSdkVersion 27
    defaultConfig {
        applicationId "com.test.application"
        minSdkVersion 15
        targetSdkVersion 27
        versio

[2018-03-20 08:48] #786 closed

[2018-03-20 09:58] jethro-yard8 commented on #781
Question @A1ecm, did you end up creating two separate activities? The main activity having the mapview and the navigation activity holding the navigationview?

[2018-03-20 12:55] m-harisqurashi commented on #677
@danesfeder any update on this issue, this is critical for our project

[2018-03-20 12:55] m-harisqurashi commented on #675
@danesfeder any update on this issue, this is critical for our project.

[2018-03-20 13:30] danesfeder commented on #781
@A1ecm you need to make sure `YourActivity implements NavigationListener` then pass it into your `NavigationViewOptions#navigationListener`.  If you have any other issues, feel free to open a new ticket.  Closing this now, as the OP has been resolved.

[2018-03-20 13:30] #781 closed

[2018-03-20 13:42] danesfeder commented on #677
@m-harisqurashi your `Activity` or `Fragment` that inflates the `NavigationView` needs to implement `NavigationListener` and then you need to pass the listener to `NavigationViewOptions` when you call `NavigationView#startNavigation`

We do this in the `NavigationActivity` that is used with `NavigationLauncher`:
-  https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigati

[2018-03-20 13:48] danesfeder commented on #675
@briandilley @m-harisqurashi I'm thinking this issue stems from the `NavigationView` looking at 2 different lifecycles when being used in a `Fragment`.

We tried to remove some boilerplate with the new arch components `LifecycleObserver` https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView

[2018-03-20 14:06] jethro-yard8 opened #787 "Location Updates"
I have replicated the navigation tutorial in my application as a starting point, this uses the navigation launcher. However i need to be able to listen for location updates and update my position in real time.

Judging by what i have read in a few posts this is not possible with navigation launcher and only navigation view? What is the correct way to implement this? Do i need to still have a mapvi

[2018-03-20 14:10] danesfeder commented on #787
Hey @jethro-yard8

Yes you're correct.  Our [`NavigationActivity`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java) is what ultimately starts when you use `NavigationLauncher` and serves as a good example of how to inflate the `NavigationView` in your own `Activity`.

[2018-03-20 14:38] A1ecm commented on #787
Hi @jethro-yard8 i saw your comment on my ask issue thread.
Here is my code if that helps:

`protected void onCreate(final Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        Mapbox.getInstance(this, "pk.eyJ1IjoiYTFlYyIsImEiOiJjamVhMTJudXoxOGk0MnFudGV2Z3NnMGpwIn0.p9G0Ejx0EGALsmAOJt4ICQ");
        setContentView(R.layout.activity_main);
        mapView = (MapView) findV

[2018-03-20 14:46] jethro-yard8 commented on #787
Thanks @A1ecm but what does your activity_main.xml look like? How are you defining navigationView?

[2018-03-20 14:51] jethro-yard8 commented on #787
Thanks @A1ecm did you go and create all the methods listed here in your NavigationActivity and activity_navigation.xml?  https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#navigationview

[2018-03-20 14:54] m-harisqurashi commented on #677
Let me tell your our `NavigationView` implementation. We've added a `NavigationView` as a view component in our Fragment. We want to start Navigation by clicking on navigation button, for any reason user can close this navigation so we are closing/destroying `NavigationView` whereas our `Fragment` remains opens. Here when we try to release `NavigationView `via `NavigationListener` app crashes naiv

[2018-03-20 15:01] A1ecm commented on #787
No i did it all, in my MainActivity, didn't change activity_main.xml when i changed from navigationlauncher to navigationview.

[2018-03-21 08:34] jethro-yard8 commented on #787
Okay i see but i have two errors with your solution:

navigationView.onCreate(savedInstanceState);  - Says savedInstanceState is accessed from inner class and should be declared final

My .progressChangeListener(MapsActivity.this) doesnt work but only works if i cast it to .progressChangeListener((ProgressChangeListener) MapsActivity.this) but im not sure if this will cause an issue? @danesfeder

[2018-03-21 09:13] skienzl commented on #780
Thx @danesfeder  for the quick check. Do you have an estimate when this PR gets merged and released?

[2018-03-21 10:05] jethro-yard8 commented on #787
I resolved my issue, now i just need to work on the route updates and track when the route has finished. Thanks

[2018-03-21 10:05] #787 closed

[2018-03-21 10:28] P-Zenker opened #790 "LocationEngine: services.android.telemetry vs core.location"
Hey,

I use my own navigation logic. After updating from **5.5.0** to **com.mapbox.mapboxsdk:mapbox-android-sdk:6.0.0-beta.4** (and **com.mapbox.mapboxsdk:mapbox-android-navigation:0.12.0-SNAPSHOT**) I've got the following error while **mapboxNavigation.setLocationEngine**:
(com.mapbox.services.android.telemetry.location.LocationEngine) in MapboxNavigation cannot be applied to (com.mapbox.android.

[2018-03-21 10:57] P-Zenker opened #791 "NoClassDefFoundError: LostLocationEngine"
Hey,

just upgraded from 0.11.1 to 12.0-SNAPSHOT (and from mapbox-android-sdk:5.5.0 to 6.0.0-beta.4) today:

[code]
[code]

If I revert to mapbox-android-sdk:5.5.0 everything is fine.

[2018-03-21 11:16] P-Zenker commented on #791
Well, I just excluded com.mapbox.mapboxsdk and included transitive = true in mapbox-android-navigation

[2018-03-21 11:16] #791 closed

[2018-03-21 11:40] P-Zenker opened #792 "PendingJavaException"
Hey,

just upgraded from 0.11.1 to 12.0-SNAPSHOT. I don't know if this is this error is related to this repo.

[code]

If I try to show a map this error occurs:
[code]

[code]

[2018-03-21 11:44] P-Zenker commented on #792
Well, just had to add
[code]

[2018-03-21 11:44] #792 closed

[2018-03-21 13:48] Guardiola31337 commented on #790
Hey @P-Zenker 👋thanks for reaching out and report your question.

`mapbox-android-sdk:6.0.0-beta.4` depends on `mapbox-android-telemetry:3.0.0-beta.2` and as you can 👀 both are betas and major version releases which means that they could bring (like in this case) breaking changes.

Noting here that pre-releases are intended to gather early feedback on the new APIs and to detect any potential issue

[2018-03-21 13:48] #790 closed

[2018-03-21 15:25] danesfeder commented on #370
No longer an issue after #667 - we stop listening for off-route events after an arrival of the final leg

[2018-03-21 15:25] #370 closed

[2018-03-21 18:11] Guardiola31337 commented on #694
Hey @sm-azure 👋 thanks for reaching out and report your problem.

Closing here as duplicate of #752

BTW, this should be fixed by https://github.com/mapbox/mapbox-navigation-android/pull/782

Let us know if you have any other questions!

[2018-03-21 18:11] #694 closed

[2018-03-21 18:16] Guardiola31337 commented on #752
Hey @A1ecm 👋 thanks for reaching out and report your problem.

This should be fixed by https://github.com/mapbox/mapbox-navigation-android/pull/782 and it'll be included in the next release.

[2018-03-21 18:48] Guardiola31337 commented on #659
This is being addressed in https://github.com/mapbox/mapbox-java/issues/705

[2018-03-21 18:55] #658 closed

[2018-03-21 19:50] Guardiola31337 commented on #659
PR 👉 https://github.com/mapbox/mapbox-java/pull/759

[2018-03-21 21:30] Almaral-Engineering commented on #532
This is not yet solved on 5.5.0

[2018-03-21 21:36] danesfeder commented on #532
@Almaral-Engineering do you mind providing more context into what you're seeing?   Same error / at what point are you seeing the exception?  cc @Guardiola31337

[2018-03-22 08:27] Guardiola31337 commented on #588
I guess OP will be addressed after https://github.com/mapbox/mapbox-navigation-android/pull/751 lands. Could you confirm @devotaaabel?

[2018-03-22 08:28] Guardiola31337 commented on #587
I guess OP will be addressed after https://github.com/mapbox/mapbox-navigation-android/pull/751 lands. Could you confirm @devotaaabel?

[2018-03-22 08:42] Guardiola31337 commented on #576
Hey 👋 @vladgheorghe Thank you for the detailed info.

Current release version is `0.11.1`. Just to confirm that the issue is still present in the latest version, would you mind retesting it using `0.11.1` version?

[2018-03-22 08:58] jethro-yard8 opened #793 "Location Engine Bugs"
I'm experiencing a weird issue with retrieving the current location which is proving to be very unreliable. My location tends to be placed in a default location in the middle of the country which is far away from where i currently am. See logs below:

**NOTE: I have noticed that when it does this, my location radius changes to be bigger than my country, where as when it receives the correct locati

[2018-03-22 09:05] Guardiola31337 commented on #527
Hey @Danny-James 👋 Thanks for reaching out and report your problem.

Closing here as duplicate of #634

Let us know if you have any other questions!

[2018-03-22 09:05] #527 closed

[2018-03-22 09:11] Danny-James opened #794 "[Question] - NavigationUI Re-Route"
@danesfeder Did the ability to turn off re-routing get put into any of the latest versions? I believe a `Boolean` value was going to be added to the `NavigationOptions` to turn re-routing on and off.

[2018-03-22 10:02] Guardiola31337 commented on #137
Closing here as duplicate of #412

[2018-03-22 10:02] #137 closed

[2018-03-22 10:30] Guardiola31337 commented on #735
cc: @devotaaabel who is actively working on voice-related PRs and can confirm if this is going to be fixed as part of https://github.com/mapbox/mapbox-navigation-android/pull/751 work.

[2018-03-22 12:40] Guardiola31337 commented on #309
This was fixed in https://github.com/mapbox/mapbox-navigation-android/pull/397

We're good here. Closing.

[2018-03-22 12:40] #309 closed

[2018-03-22 13:10] #310 closed

[2018-03-22 14:35] danesfeder commented on #794
@Danny-James I know you've been waiting on that for a while, just added in https://github.com/mapbox/mapbox-navigation-android/pull/782/commits/65cc2ef62584c0db28cb3ed2a3d3ff0879c54a50

Sorry for the delay!

[2018-03-22 14:53] danesfeder commented on #676
@briandilley Hey Brian, do you think this is related to #675?  Or an issue with the GPS not firing up properly.  Trying to dig into this a bit more

[2018-03-22 15:29] danesfeder commented on #677
@m-harisqurashi Going to close this as it sounds like this issue is not related to the OP can be now tracked with #675.  Please feel to reopen if you feel otherwise.

[2018-03-22 15:29] #677 closed

[2018-03-22 15:39] devotaaabel commented on #598
@sstolz Your issue should be fixed now. If it's not, go ahead and create a new issue because it's not related to this ticket.

[2018-03-22 15:54] devotaaabel commented on #735
@roxic8 I'm not sure what the issue is, but this shouldn't be an issue when our new `MapboxSpeech` is integrated, which should be within a week or so.

[2018-03-22 15:54] Danny-James commented on #794
@danesfeder when will this be available in a stable release? - thanks very much for this 👍

[2018-03-22 15:56] danesfeder commented on #686
Hey @kozyr this shouldn't be an issue with #756.  I believe your issue is you weren't receiving valid location updates from inside your apartment.  If this is the case now, we create a location update from the begging of the route - so navigation will always begin regardless of valid location updates

[2018-03-22 15:56] #686 closed

[2018-03-22 15:58] danesfeder commented on #794
@Danny-James keep an 👁 out for our next release (`0.12.0`) happening in the coming week or so.  Will close this ticket when the PR lands

[2018-03-22 16:01] skienzl commented on #780
@danesfeder really sorry to get on your nerves. but this is an important bug fix for our usecase and as far as i can see the PR is already ready to go and would it be possible to merge it to the snapshot release. thanks in advance and again sorry :/

[2018-03-22 16:07] Guardiola31337 commented on #546
Hey 👋 @ritup22 Thanks for reaching out and report your question.

Could you clarify here? Do you mean selectable alternative routes while navigating?

[2018-03-22 16:21] Danny-James commented on #794
@danesfeder nice one man!

[2018-03-22 16:31] #780 closed

[2018-03-22 16:37] skienzl commented on #780
@danesfeder thank you very much!

[2018-03-22 17:10] danesfeder commented on #516
This work has been completed outside of the Navigation SDK

[2018-03-22 17:10] #516 closed

[2018-03-22 17:16] danesfeder commented on #533
This is coming from the location layer plugin, upstream - I moved the ticket there https://github.com/mapbox/mapbox-plugins-android/issues/380

[2018-03-22 17:16] #533 closed

[2018-03-22 17:20] danesfeder commented on #406
Moving outside of the Navigation SDK

[2018-03-22 17:20] #406 closed

[2018-03-22 17:23] danesfeder commented on #341
Closed by https://github.com/mapbox/mapbox-navigation-android/pull/773/

[2018-03-22 17:23] #341 closed

[2018-03-22 17:24] danesfeder commented on #325
We should do a full audit on any other missing information from our `RouteProgress` object

[2018-03-22 17:30] danesfeder commented on #304
Closed by #667

[2018-03-22 17:30] #304 closed

[2018-03-22 17:36] danesfeder commented on #202
Opted for our own implementation with `NavigationLauncher` for performance reasons

[2018-03-22 17:36] #202 closed

[2018-03-22 17:39] #143 closed, assigned to nobody

[2018-03-22 18:29] Guardiola31337 commented on #474
Hey 👋 @steven-haddad Thank you for the detailed info.

Current release version is `0.11.1`. Just to confirm that the issue is still present in the latest version, would you mind retesting it using `0.11.1` version?

[2018-03-22 18:37] danesfeder commented on #378
Hey @kozyr 👋 urban canyons definitely present some serious issues with how we validate location updates (currently [we don't do much](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java#L288-L296)).

We are currently looking into this and testing with https://github.com/mapbo

[2018-03-22 21:45] Guardiola31337 commented on #322
Hey @cammace could you clarify what this means in terms of AutoValue when you have a chance?

[2018-03-23 11:04] jethro-yard8 opened #796 "NavigationView with Google API Client"
My previous issue with the sdk was that i couldnt retrieve my user location for some unknown reason, now i  switched to using the Google API client to retrieve my location which is working great, however when i tap the map to set a marker my mapboxMap.addOnMapClickListener is not firing. Can i use the Navigation View in conjunction with the Google API client? Furthermore is there an example of an

[2018-03-23 11:58] NareshKukreti12 opened #797 "App Crashing"
Is there any one who is facing this issue. My app is crashing after I click on any one of the options Navigation Views,Mock Navigation and so on..

[2018-03-23 13:34] danesfeder commented on #793
Quoted from https://github.com/mapbox/mapbox-navigation-android/issues/796#issue-307986547 this looks good to close

[2018-03-23 13:34] #793 closed

[2018-03-23 13:37] danesfeder commented on #796
Hey @jethro-yard8 unfortunately, I can't evaluate if this problem is from our SDK given the details you've provided.  Not sure how the map click listeners correlates to the location services.  If you'd like to raise an issue:
 - Include a minimal demonstration of the bug, including code, logs, and screenshots.
 - Ensure you can reproduce the bug using the latest release.
 - Only post to report a b

[2018-03-23 13:37] #796 closed

[2018-03-23 13:50] jethro-yard8 opened #799 "Navigation View with Google API Client"
For testing i have implemented the Google API client to get my user location which works great, i tap on the map and my a route is drawn to my destination. The start trip button is not being enabled but origin and destination do seem to be getting the correct values. Will this work with Navigationview? I feel like i am quite close to a workable solution.

Build.gradle file:

`

     apply plugin:

[2018-03-23 14:57] danesfeder commented on #799
At a quick glance, it looks like you're using the SDK correctly.

I don't see any code actually enabling the button here.  Maybe you're just forgetting to enable it?

Regardless, if you have more implementation questions, please check out our excellent [help docs](https://www.mapbox.com/help/) or post your question on [Stack Overflow](http://stackoverflow.com/questions/tagged/mapbox). Thanks!

[2018-03-23 14:57] #799 closed

[2018-03-23 17:42] danesfeder opened #800 "InstructionList flashes intermittently during reroute"
In certain scenarios, the list of instructions (accessible by clicking the top banner), will flash when a reroute occurs while navigating.  We do have a UI treatment to show a rerouting state, but showing / hiding the list is not part of this.  Some other view is triggering this:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8434572/37845070-f443ecf0-2e9f-11e8-84e2-189d3a51e

[2018-03-23 21:04] vladgheorghe commented on #576
Greetings, the bug appears to be fixed, thank you.

[2018-03-23 21:04] #576 closed

[2018-03-23 21:59] Guardiola31337 commented on #576
@vladgheorghe Great to hear, thanks for the update.

[2018-03-24 15:48] LelicKAS commented on #623
I have the same problem .... Are there any comments on to solve it? ....

[2018-03-25 19:31] devotaaabel commented on #588
This is addressed in #751.

[2018-03-25 20:45] devotaaabel commented on #412
@cammace @danesfeder Assuming you are talking about having `NavigationRoute` implement `LifecycleObserver`, how were you invisioning setting it up with a `LifecycleOwner`? Passing the `LifecycleOwner` to the `NavigationRoute`, or manually setting it everywhere `NavigationRoute` is used? It's a little complicated in the case of `RouteEngine` because `NavigationRoute` is a couple steps removed from

[2018-03-26 13:38] gonzalt03 opened #801 "IndexOutOfBoundsException Step Points"
**Android API:** 26
**Mapbox Navigation SDK version:** :0.11.1

### Steps to trigger behavior

 1. Add waypoints
 2. And at the end of the navigation :

[code]

[2018-03-26 14:00] danesfeder commented on #801
Hey @gonzalt03, good catch here.  This was a regression introduced by #773 and we added a fix in #784 (not yet released).  Sorry for the inconvenience here and thank you for your patience and submitting this issue.

[2018-03-26 14:00] #801 closed

[2018-03-26 14:05] gonzalt03 opened #802 "[Question] - Finish properly a navigation in a fragment"
**Android API:** 26
**Mapbox Navigation SDK version:** 0.11.1

How to properly finish a fragment?
Using only `navigationView.finishNavigationView()` navigation is not enough. Is this a problem because of the fragment?

[2018-03-26 14:31] devotaaabel opened #803 "Navigation instructions are starting with imperial units when they should default to metric"
On fresh install without changing any settings, the default unit type should be metric, though it is defaulting to imperial.

[2018-03-26 19:48] Guardiola31337 commented on #588
@devotaaabel Great to hear, thanks for the update.

[2018-03-26 20:09] danesfeder opened #807 "Add abbreviations from the server (street names, cardinal directions, and subbanners)"
- [x] Requires API added in MAS first
   - https://github.com/mapbox/mapbox-java/pull/762
- [x] Navigation SDK consumption of abbreviation data

[2018-03-26 20:31] akitchen commented on #412
@danesfeder & @akitchen were discussing -- it would also be good to provide developers with a way to cancel outstanding requests from `NavigationRoute`

[2018-03-27 07:36] jan-otvinovsky commented on #675
Hello, we at NaviRider have the same issue, is there some workaround of this behavior ?
Navigation view is inside fragment view.
We using following versions of libs:
- com.mapbox.mapboxsdk:mapbox-android-sdk:5.5.0
- com.mapbox.mapboxsdk:mapbox-android-navigation:0.11.0
- com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.11.0

please help

[2018-03-27 08:26] briandilley commented on #675
We (at Quickride) moved off of using a Fragment for this very reason.

[2018-03-27 12:51] danesfeder commented on #675
#806 is moving to address this.  Thanks for your patience @briandilley @jan-otvinovsky

[2018-03-28 12:48] jethro-2018 opened #809 "NavigationView in Activity"
Two separate questions:

1) How can i set the interval for location updates in Activity#onProgressChange?

This doesn't do anything: locationEngine.setInterval(5000);

2) How can i properly destroy NavigationView in an Activity? After having NavigationView running, going back to my recycler view my UI is unresponsive. I tried calling navigationView.onDestroy(); in my Activity#onDestroy(); method b

[2018-03-28 13:00] danesfeder commented on #809
Hey @jethro-2018,

1.  If this is in regard to the `LocationEngine` we use for `NavigationView`, we currently don't expose APIs to customize the parameters of the location engine.  ([setup here](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationViewModel.java#L101-L106)).  It's curren

[2018-03-28 13:00] #809 closed

[2018-03-28 13:04] jethro-2018 commented on #809
Yes it is the same LocationEngine, is there no way i can get around this? As i can't send the data every second to our API.

Those life cycle methods have been implemented and i am still experiencing the same issue.

[2018-03-28 15:00] #740 closed

[2018-03-28 15:57] #803 closed

[2018-03-29 18:29] devotaaabel opened #810 "Navigation demo voice instructions not matching banner"
When using demo, set language to `English (US)` and unit type to `Default for locale`. The banner instructions use the correct imperial units, though the voice instructions are in metric.

[2018-03-30 13:55] #764 closed

[2018-03-31 13:11] danesfeder opened #813 "Add NavigationView#endNavigation to end sessions"
Currently, using `NavigationView` there isn't any way for developers to end navigation in their `Fragment` or `Activity`.  They currently must rely on users clicking the `X` button in the UI.  Should they choose to want to end navigation explicitly for the user, we need to add a method to `NavigationView` allow them to do so.

Capturing from: https://github.com/mapbox/mapbox-navigation-android/pul

[2018-03-31 13:12] #675 closed

[2018-03-31 13:12] #802 closed

[2018-03-31 15:10] #754 closed

[2018-03-31 15:10] #779 closed

[2018-03-31 15:10] #794 closed

[2018-04-01 08:56] Guardiola31337 commented on #713
Remember to take into account https://github.com/mapbox/mapbox-navigation-android/pull/805#pullrequestreview-107394570

and https://github.com/mapbox/mapbox-navigation-android/pull/805#issuecomment-376819342

when tackling OP.

[2018-04-02 08:10] Guardiola31337 commented on #752
#782 has been merged. @A1ecm feel free to retest once that lands. Thanks for reaching out. Closing.

[2018-04-02 08:10] #752 closed

[2018-04-02 08:19] Guardiola31337 commented on #659
https://github.com/mapbox/mapbox-java/pull/759 and https://github.com/mapbox/mapbox-java/pull/764 has been merged. Are we good to close here @danesfeder?

[2018-04-02 12:30] danesfeder commented on #659
@Guardiola31337 Yep, map matching support was released with MAS `3.0` 🎉 https://github.com/mapbox/mapbox-java/issues/774

[2018-04-02 12:30] #659 closed

[2018-04-02 16:16] jethro-2018 opened #814 "Navigation UI Crash"
Ive posted this numerous times on Stack Overflow and have attempted to seek help through Mapbox support and i am not getting any answers to my issue which is incredibly frustrating and holding us up on our project. Any insight on how we could resolve this would be greatly appreciated..

Upon reaching the destination, if i cancel Navigation or go back to my previous screen (In this case a Recyclerv

[2018-04-02 16:21] danesfeder commented on #814
Hey @jethro-2018 are you able to provide any more code snippets giving us insight into your implementation?  Can you confirm you are using `NavigationView` in an `Activity`?  Btw, this is not related to #813.

[2018-04-02 16:29] jethro-2018 commented on #814
Sure thing:

` @Override
    protected void onCreate(final Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_maps);

        Bundle bundle = getIntent().getExtras();
        String personJsonString = (String) bundle.get("CURRENT_JOB");

        Properties data = new Gson().fromJson(personJsonString, Properties.class);
        job_id =

[2018-04-02 16:56] danesfeder commented on #814
I think the immediate issue is where you call `NavigationView#onCreate`.  Your code waits for the button to be clicked to call this.  You should bind the view and call `onCreate` outside of the click listener and then call get navigation async in the listener if you wish.

I think another issue may be running two mapviews in the same activity.  `NavigationView` is essentially a `MapView` wrapped w

[2018-04-02 16:58] danesfeder commented on #814
I will say, running multiple maps in one activity is possible, as demonstrated by this example in our test app https://github.com/mapbox/mapbox-gl-native/blob/master/platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java.

[2018-04-02 17:13] #810 closed

[2018-04-03 03:06] excapade commented on #801
Hi there,
I am currently building my mobile app and have the same issue as stated by gonzalt03. In reference to #784 which you said was not released, has this fix been released now?

Thanks.

[2018-04-03 09:45] lluisgenoher opened #817 "Add buttons in Navigation UI"
I've posted this on Stack Overflow but your comment was deleted @danesfeder and I didn't get any answer, so my question is if it's possible to implement the functions that are below, call us, see the order and finish the trip

![pqad7](https://user-images.githubusercontent.com/28623967/38242113-3fa58590-3734-11e8-839d-272fd1f8ff41.png)

[2018-04-03 10:30] keehoo commented on #532
Hello guys, 5.5.1 - I've got this situation on an emulator, not on a device (tested only on one device though). Is there any fix for this?

[2018-04-03 10:32] keehoo commented on #532
Hello, I've encounter this scenario on emulator, can you please advise?
`04-03 10:26:49.348 32397-32397/com.myapp.someapp I/art: Rejecting re-init on previously-failed class java.lang.Class<com.mapbox.services.android.telemetry.location.GoogleLocationEngine>: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/location/LocationListener;
`

`Caused by: java.lang.ClassNotFo

[2018-04-03 10:33] keehoo commented on #532
the ClassNotFoundException leads to Mapbox.getInstance call. Hope this helps. Like I said it's on emulator, on the device (1 only that I've checked) works fine.

[2018-04-03 12:39] jethro-2018 commented on #814
I successfully split the Map and Navigation into separate activities which solved my problem. Thanks for the assistance.

[2018-04-03 12:39] #814 closed

[2018-04-03 12:44] Guardiola31337 commented on #814
@jethro-2018 Great to hear, thanks for the update.

[2018-04-03 13:00] danesfeder commented on #817
Hey @lluisgenoher, this is a screenshot of a custom UI.  To achieve this, you would use our [core navigation library](https://www.mapbox.com/android-docs/navigation/overview/#overview).  As far as the functions that correspond to those buttons, `Call Us` and `View Order` are completely up to you, as I believe they are specific to your application.

To end navigation (`End Trip`) using our core lib

[2018-04-03 13:00] #817 closed

[2018-04-03 13:11] danesfeder commented on #676
@briandilley do you mind retesting this with the `0.12.0` release we are going to push today?

[2018-04-03 13:18] #379 closed

[2018-04-03 18:57] danesfeder opened #819 "Release v0.12.0"
### Includes

* Add MapboxNavigationOptions to adjust location validation thresholds [#818](https://github.com/mapbox/mapbox-navigation-android/pull/818)
* Set default driving profile and check for empty profile [#816](https://github.com/mapbox/mapbox-navigation-android/pull/816)
* Update to MAS 3.0.1 [#815](https://github.com/mapbox/mapbox-navigation-android/pull/815)
* Added safety for NONE_SPEC

[2018-04-03 19:02] danesfeder commented on #819
@colleenmcginnis this release does break the APIs used in the tutorial.  I can look into updating this.

[2018-04-03 19:26] danesfeder commented on #819
`android-docs`: https://github.com/mapbox/android-docs/pull/395

[2018-04-03 20:48] #819 closed

[2018-04-04 15:17] devotaaabel opened #822 "Optimize MapboxSpeechPlayer so it reuses a single instance of MediaPlayer"
Right now, `MapboxSpeechPlayer` creates a new `MediaPlayer` for every instruction. Ideally it would reuse the same instance, though there are state issues to work around.

[2018-04-04 15:21] devotaaabel opened #823 "Allow global static access to app context"
There's a lot of different use cases for having access to context globally in the SDK. We could do something similar to what they do in the telemetry library.

[2018-04-04 16:10] danesfeder opened #824 "Proguard Release Build Fails"
To fix:

We can create our own: https://github.com/mapbox/mapbox-plugins-android/blob/master/plugin-locationlayer/proguard-consumer.pro

Add it to `build.gradle` https://github.com/mapbox/mapbox-plugins-android/blob/master/plugin-locationlayer/build.gradle#L13

Then we can add to CI to ensure it doesn't happen again https://github.com/mapbox/mapbox-plugins-android/blob/master/circle.yml#L43-L45

[2018-04-04 18:15] lluisgenoher commented on #817
Great, thank you very much!

[2018-04-04 19:59] #824 closed

[2018-04-05 12:33] m-harisqurashi commented on #813
`NavigationView.finishNavigationView()` simply calls `NavigationListener.onNavigationFinished()`. It doesn't stop voice navigation instruction and ongoing/foreground `Notification`. Inside `finishNavigationView()` we should call `NavigationViewModel.deactivateInstructionPlayer()` to close instruction player and a way to clear ongoing Notification.

[2018-04-05 12:36] danesfeder commented on #813
@m-harisqurashi Yeah that's correct.  The solution for this ticket will be adding a completely new method that completes the shutdown behavior you just described.

[2018-04-05 12:54] danielawde9 commented on #676
Got same issue navigation stuck trued to use the new release 0.12.0 gave compiling error ill paste the error in a few minutes

[2018-04-05 13:02] danesfeder commented on #676
Hey @danielawde9 - if you have the error described in our release notes https://github.com/mapbox/mapbox-navigation-android/releases/tag/0.12.0, please follow the instructions to update to Java 8, thanks!

[2018-04-05 13:55] vicobz opened #826 "IllegalArgumentException thrown using NavigationCamera"
**Android API:** Oreo 8.0.0

**Mapbox SDK versions:**
`mapbox-android-sdk:5.5.0`
`mapbox-android-plugin-locationlayer:0.4.0`
`mapbox-sdk-services:3.0.1`
`mapbox-sdk-services:3.0.1`
`mapbox-android-navigation:0.12.0`
`mapbox-android-navigation-ui:0.12.0`

### Steps to trigger behavior

Try to use a NavigationCamera object like this:

[code]

### Expected behavior
The `NavigationCamera` object smoot

[2018-04-05 14:02] danesfeder commented on #826
Hey @vicobz thanks for the report!  Just some clarification:

Are you calling `NavigationCamera#onProgressChange` in your own `ProgressChangeListener`?
[code]

Or is that code snippet you posted the only code you have for the camera currently?

[2018-04-05 15:51] vicobz commented on #826
Hi @danesfeder, thanks for your quick reply!

Actually yes, I'm calling `NavigationCamera#onProgressChange` in my own `ProgressChangeListener` as you mentioned in your code snippet.

[2018-04-05 17:33] vicobz opened #827 "NullPointerException thrown by Navigation Telemetry services"
**Android API:**  Oreo 8.0.0 on OnePlus 5

**Mapbox Navigation SDK version:** 0.12.0

### Steps to trigger behavior
Start a navigation by calling `mapboxNavigation.startNavigation(route)`

### Expected behavior
The navigation starts correctly.

### Actual behavior
A `NullPointerException` is thrown just after Navigation started, causing app crash:

[code]

[2018-04-05 18:09] danesfeder commented on #826
@vicobz Yeah this is unclear, because `onProgressChange` is `public`, but you actually don't need to call this within your own listener.  After the initial animation finishes (or is cancelled), we add one automatically and start listening to updates within the class itself.  I updated `NavigationCamera` with #828 to make this more clear.

To fix your code, you should only need to remove the camera

[2018-04-05 18:29] danesfeder commented on #827
Hey @vicobz, you're getting this right after starting navigation?  Does navigation happen at all or does this immediately stop it?  What type of route are you passing in?

[2018-04-06 08:24] m-harisqurashi opened #830 "Native application crash when use NavigationView.onDestroy() inside fragment"
My application crashes every time i tries to cancel navigation via `cancelBtn` using `NavigationView.onDestroy()`.

I don't want to kill my `Activity` and/or `Fragment`, only needed to cancel `NavigationView` either by removing from view hierarchy or releasing its resources without removing from view hierarchy. Most importantly any user can start navigation with same `NavigationView` reference.

I

[2018-04-06 08:35] vicobz commented on #827
Hey @danesfeder, the exception is effectively thrown a few milliseconds after the navigation has started, causing the app to crash.

The passed route type is `com.mapbox.api.directions.v5.models.DirectionsRoute`

[2018-04-06 08:41] vicobz commented on #826
@danesfeder Thank you for the clarification, I actually thought I was in charge of sending updates to the `NavigationCamera`. I should have read more from the Navigation SDK "internal code", though the `public` attribute of `NavigationCamera#onProgressChange` method can be confusing as you said :)

[2018-04-06 12:48] sarahthe opened #831 "NavigationLauncher cannot be started with DirectionsRoute"
# Description
I upgraded the navigation sdk from 0.7.1 to 0.12.0. Now I cannot start the navigation using a precalculated DirectionsRoute anymore.
When I call startNavigation, I only get a blue screen because my position is set to somewhere south-west of Africa. This position is not updated and no navigation started.
Calling startNavigation() with origin, destination and directions profile works f

[2018-04-06 14:09] #826 closed

[2018-04-06 15:45] devotaaabel opened #832 "Refactor InstructionDownloadTask.saveAsFile"
https://github.com/mapbox/mapbox-navigation-android/pull/751#discussion_r179419851

[2018-04-06 15:46] devotaaabel opened #833 "Refactor VoiceInstructionMilestore.isOccurring"
https://github.com/mapbox/mapbox-navigation-android/pull/751#discussion_r179422203

[2018-04-06 16:30] Guardiola31337 commented on #750
@devotaaabel now that https://github.com/mapbox/mapbox-navigation-android/pull/751 has landed 🎉 could you try to reproduce 👇 https://github.com/mapbox/mapbox-navigation-android/issues/750#issuecomment-372389883

and 👀 if the issue is still present?

[2018-04-06 16:38] Guardiola31337 commented on #735
https://github.com/mapbox/mapbox-navigation-android/pull/751 has landed 🎉 and will ship with the upcoming release.

@roxic8 feel free to comment/open a new ticket if you can still reproduce OP! Thanks again for reaching out and reporting your issue. Closing.

[2018-04-06 16:38] #735 closed

[2018-04-06 16:40] Guardiola31337 commented on #726
#751 has landed 🎉

Closing here.

[2018-04-06 16:40] #726 closed

[2018-04-06 16:43] Guardiola31337 commented on #598
@sstolz feel free to comment/open a new ticket if you can still reproduce OP! Thanks again for reaching out and reporting your issue.

Closing as answered.

[2018-04-06 16:43] #598 closed

[2018-04-06 16:45] Guardiola31337 commented on #588
#751 has landed 🎉

Closing here.

[2018-04-06 16:45] #588 closed

[2018-04-06 16:46] Guardiola31337 commented on #587
#751 has landed 🎉

Are we good to close here @devotaaabel?

[2018-04-06 19:31] Guardiola31337 opened #834 "Voice instruction milestone crash"
While working on mapbox/mapbox-navigation-android#697 found 👇

![voiceinstructionmilestoneissue](https://user-images.githubusercontent.com/1668582/38440024-2ef3057a-39e0-11e8-9f6e-405fd725e736.gif)

[code]

### Steps to trigger behavior

1. Navigation test app ([`dan-maps-3.0` branch](https://github.com/mapbox/mapbox-navigation-android/tree/dan-maps-3.0))
2. Open `Mock Navigation` activity
3. Tap

[2018-04-06 20:13] akitchen opened #835 "User should see themselves progress through tunnel when GPS is weak or nonexistent"
Goal: relative feature parity w/iOS:
 - Night mode when entering a tunnel (based on road segment attributes)
 - Continuing simulated progress along route if lack of decent GPS
 - Switching back to appropriate Day/Night mode when exiting tunnel (i.e. at night we would still be in night mode)

Look for opportunities to deliver incrementally in smaller pieces. Consider multiple PRs or a larger PR whi

[2018-04-06 20:21] akitchen opened #836 "Developers can add/user can see the current way name under the location puck."
Unlocked by upcoming release of LocationLayerPlugin (v0.5.0)

Also consult iOS codebase for logic used to get the way name

References:

 - https://github.com/mapbox/mapbox-navigation-ios/issues/1269

[2018-04-07 20:28] briandilley commented on #676
I'll do another release with it today

On Sat, Apr 7, 2018, 12:19 PM Daniel Awde <notifications@github.com> wrote:

[2018-04-07 21:16] briandilley commented on #676
![screen shot 2018-04-07 at 2 14 40 pm](https://user-images.githubusercontent.com/1068495/38460423-3e6d8834-3a6e-11e8-9f2b-98aec49a7c4c.png)

I'm not able to upgrade because it seems that you're using some java 8 language features somewhere.

[2018-04-09 10:54] LukasPaczos opened #837 "Passing a null gesture event listener"
Refs. https://github.com/mapbox/mapbox-gestures-android/issues/38 and https://github.com/mapbox/mapbox-gl-native/issues/11628.

Clearing gestures events listeners list is not support with Maps SDK `6.0.0`. Operations like https://github.com/mapbox/mapbox-navigation-android/blob/5a5ae26c22e5b02b68d43e8d8aa08c316293626a/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNa

[2018-04-09 12:35] danesfeder commented on #676
Hey @briandilley, yeah we began some usage of Java 8 in `0.12.0` - check out the release notes if you run into any other trouble https://github.com/mapbox/mapbox-navigation-android/releases/tag/0.12.0

[2018-04-09 15:56] akitchen commented on #586
Please research potential performance impact before proceeding with implementation.

A good first pass might be to limit the advance decoding to a fixed number of meters along the route, for example.

[2018-04-09 16:06] akitchen commented on #366
This is unlocked by gesture handling changes LocationLayerPlugin v0.5.0

[2018-04-09 16:12] danesfeder commented on #836
Street name under location puck:
![img_2d032b960bd7-1](https://user-images.githubusercontent.com/8434572/38508790-1f9419ba-3bee-11e8-9e33-21e80026a46c.jpg)

This work should also include a public API that will allow developers to override the text that populates the run-time styling, should they choose to do so.

[2018-04-09 16:16] akitchen commented on #372
Fixed? /cc @danesfeder

[2018-04-09 22:32] excapade opened #839 "New here and need help with current 0.12.0"
Hi Guys,
I am new here so please forgive me if I am not as descriptive as possible or if this problem has been addressed. We are close to launching our app to beta but these issues are holding us back. I don't know if this has been solved, but If it has please point it out. But in the in-term our issues are listed below.

**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger be

[2018-04-10 08:57] Danny-James commented on #529
@ericrwolfe to we have anything in the pipeline to include this? I think it will be a great feature.

[2018-04-10 09:03] Danny-James opened #840 "Question: Option To Hide Sound and Feedback Buttons In NavigationLauncher"
Do we know when the ability to hide the Sound and Feedback buttons whilst using the `NavigationLauncher` will be available?

[2018-04-10 09:57] Guardiola31337 commented on #840
Hey @Danny-James 👋 Thanks for your question.

This is being tracked in https://github.com/mapbox/mapbox-navigation-android/issues/634

Closing here as duplicate.

Let us know if you have any other feature requests or if you find any bugs.

[2018-04-10 09:57] #840 closed

[2018-04-10 10:03] Guardiola31337 commented on #839
Hey @excapade 👋 Thanks for reaching out and report your problem.

Could you add some more information for reproducing the crash (minimal example) or any other specifics around your test setup? Do you have some more information on used device? If there is any sample or pseudo code you can provide, that would be really helpful (especially the differences between what was working on `0.11.0` and not

[2018-04-10 11:49] Danny-James opened #841 "Notifcation Issue: Blank Notification and No Click Recognised"
When running the `NavigationLauncher` this creates a notification, however this notification seems to be Blank, if the app is running in the backround and I click the notification it doesn't resume the Application.

**OS Version Tested**
[code]

**Gradle Configuration**
[code]

**Launching Navigation**
[code]

**Screenshots of Issue**

![screenshot_20180410-114542 1](https://user-images.githubuser

[2018-04-10 11:55] siavashabdoli opened #842 "Crash after close (terminatem, exit) navigation from notification bar"
**Android API:6
**Mapbox Navigation SDK version:13.0.0-snapshot

### Steps to trigger behavior

 1. during the navigation (near to destination)
 2. close navigation from notification
 3. app sometime crashes!

### Actual behavior

I have fabric but because I tested lots of different version with same versioning number the last part of stacktrace is not correct:
`Fatal Exception: java.lang.NullPoin

[2018-04-10 11:59] Danny-James commented on #713
@Guardiola31337 May I Ask How You Have The Speed Limit Showing, This is a Feature I Requested A While Back, For This To Be Available In `NavigationLauncher` #529

[2018-04-10 12:01] Danny-James commented on #841
Possibly Same Issue As #713  Do We Have An ETA on When This Will Be Fixed?

[2018-04-10 12:34] Danny-James opened #843 "Location Issue"
I seem to be having an issue with the Location Puck, I'm not sure if this is being posted in the correct section.

**What is happening?**
When loading up my MapView the location puck is showing at my current location, however it keep bouncing back to where i personally live (Where i spend the most of my time), I'm currently in work 14 Miles away.

When I minimise the application and open it back u

[2018-04-10 12:55] danesfeder commented on #839
Hey @excapade, thank you for bringing these issues to us.  Both of the issues you found are on our side and have been addressed.

The index exception was fixed in #784 and tests were added to ensure this won't happen again.

The profile issues you're seeing in `0.12.0` is being fixed with #829 - where previously we were allowing invalid profiles to be set.  It looks like `get_directions_profile()`

[2018-04-10 12:55] #839 closed

[2018-04-10 13:07] Guardiola31337 commented on #841
Hey @Danny-James 👋 Thanks for your reaching out and report your issue.

As you mentioned this is being tracked in #713 and it's under our radar.

Closing here as duplicate.

Let us know if you have any other feature requests or if you find any bugs.

[2018-04-10 13:07] #841 closed

[2018-04-10 13:08] danesfeder commented on #842
Hey @siavashabdoli, thanks for bringing this to us.  Are you using the `NavigationView` or `NavigationLauncher`?  I'm having trouble deciphering your stack trace (seems that parts of it are missing).  Are you able to provide a complete one?  Thanks!

[2018-04-10 13:38] siavashabdoli commented on #842
Hi @danesfeder actually that's all from fabric I'll try to reproduce it from a debuggable device or add a correct versioning and add mapping file to fabric to check if I can a better stacktrace.
I'm using NavigationView inside of my customized NavigationActivity

[2018-04-10 13:49] siavashabdoli commented on #842
@danesfeder ok I reproduce that with the Mapbox NavigationActivity in simulate mode :)
04-10 18:17:41.997 12876-12876/com.mapbox.services.android.navigation.testapp E/AndroidRuntime: FATAL EXCEPTION: main
                                                                                                Process: com.mapbox.services.android.navigation.testapp, PID: 12876

[2018-04-10 14:10] Danny-James commented on #843
@danesfeder

Thank's For Your Response - This is the `onResume` and `onRestart`, i've also included the lifecycle methods, can you see any issues with this?

[code]

Is this incorrect?

[2018-04-10 14:43] danesfeder commented on #474
Hey @steven-haddad, feel free to test with our latest version and cut a new ticket if your issue persists.  Thanks!

[2018-04-10 14:43] #474 closed

[2018-04-10 14:48] danesfeder opened #844 "Add ability to simulate portions of route data and replay GPS traces"
The current implementation of `MockLocationEngine` can be given a `DirectionsRoute` and will begin mocking location updates at a set, static speed.

We should add the ability to simulate only portions of a route (or slices), as well as the ability to replay GPS traces from a file.  This will increase testing versatility and allow us to simulate location updates through tunnels.

[2018-04-10 16:15] tan-tran-ea opened #845 "Error when using Mapbox Navigation SDK UI"
**Android API : 23**
**Mapbox Navigation SDK version: 0.11.1 and 0.12.0**
**Mapbox Map SDK version: 6.0.0-beta.6**

### Steps to trigger behavior

Got 2 issues with Mapbox Navigation UI
1. with version 0.11.1:
- When start navigation UI, the app is crashed because of this:
[code]

2. with version 0.12.0
- Can not build project with this version: got this error:
[code]

this is the error file, in t

[2018-04-10 16:28] Guardiola31337 commented on #604
Revisit when Boba expressions get released (👀 https://github.com/mapbox/mapbox-navigation-ios/pull/1076)

[2018-04-10 17:33] danesfeder commented on #845
Hey @tan-tran-ea thanks for checking out the SDK and bringing these issues to us.  Unfortunately, our SDK is only compatible with stable releases of the Maps SDK (currently `5.5.1`).  #697 is tracking the work needed to use `6.x`.  As for the error you're seeing with `0.12.0`, this is related to us using Java 8 - please check out the [release notes](https://github.com/mapbox/mapbox-navigation-andr

[2018-04-10 17:33] #845 closed

[2018-04-10 17:45] danesfeder commented on #842
@siavashabdoli Can you share your code for `NavigationView` in your `NavigationActivity`?  Specifically the lifecycle methods mirroring https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#navigationview-activity-example

[2018-04-10 20:46] excapade opened #846 "Issue with initiating walking and cycling"
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior
 1. Initiating walking and cycling

### Expected behavior
- Walking and cycling route should show directions on initiated/start.

### Actual behavior
On starting, the app gets stuck and cycling/walking is never initiated.

[2018-04-11 08:19] Danny-James opened #847 "Navigaton UI: NavigationLauncher Opens but puck does not move"
I'm now running `navigation-ui-12.0` since upgrading to this version my Navigation no longer works, I pass a route through to the UI but when starting i get the first voice instruction but the puck does not move.

If i go back in the app and pass in another route the route starts from where i have driven too but same again i get the first voice instruction but again the puck does not move.

**Devi

[2018-04-11 09:15] Guardiola31337 commented on #846
Hey @excapade 👋 thanks for your question. This issue tracker is only for bug reports with test cases and feature requests. Please ask usage questions on Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox

Feel free to open a new ticket providing some more information for reproducing the issue (minimal example) or any other specifics around your test setup (used device and Android AP

[2018-04-11 09:15] #846 closed

[2018-04-11 09:39] Guardiola31337 opened #848 "Add test coverage for API Voice functionality"
- We should include some unit tests around the new API Voice functionality and the changes made.

👀 https://github.com/mapbox/mapbox-navigation-android/pull/751#pullrequestreview-109262786

cc @devotaaabel @danesfeder

[2018-04-11 17:52] pjamgithub opened #851 "Convert lat/long to clickable x,y coordinates"
Hello,
As a QA engineer, I'm attempting to find a way to take decimal degree lat/long and convert them to the point where an automated test(Espresso) can click on that location as if it where a Point of Interest. This would have to be robust enough to work on any android device.

Though I have come across some documentation for converting lat/long to x,y etc, nothing works quite the way I would ex

[2018-04-11 18:16] Guardiola31337 commented on #851
Hey @pjamgithub 👋 thanks for your question. This issue tracker is only for bug reports with test cases and feature requests. Please ask usage questions on Stack Overflow.
https://stackoverflow.com/questions/tagged/mapbox

BTW this seems unrelated to Navigation, this is a Maps SDK question so I recommend you to 👀 the documentation on how to `Convert from screen pixel` 👉 https://www.mapbox.com/andro

[2018-04-11 18:16] #851 closed

[2018-04-11 18:51] pjamgithub commented on #851
Thanks!

[2018-04-11 19:01] excapade commented on #846
Hi @Guardiola31337 . I will add more information. thanks.

[2018-04-11 21:51] excapade opened #855 "Cannot initiate walking/cycling."
**Android API:**
Using android version 6.0.1. ZTE phone and Samsung.
**Mapbox Navigation SDK version:**
0.12.0

### Steps to trigger behavior.
For example we press the walking navigation button.
So, we get the start location and end location from the user. We also pass the direction mode as "walking" since thats what selected. We then pass those information of the result based on walking in
![issu

[2018-04-12 08:31] siavashabdoli commented on #842
@danesfeder sorry for delay. there is no difference between all method that exist in the link and my NavigationActivity.I checked it again.did you get the scenario? as fabric reported and as I see the application is in the foreground and maybe onPuase is not invoked and it's correct. the application is in foreground I swipe down the notifications ( it does not lead to invoke onPause) and terminate

[2018-04-12 12:26] danesfeder commented on #855
Hey @excapade can you try `0.12.0-SNAPSHOT` and see if your issue is resolved?  I'm pretty sure #829 was the fix needed here.

[2018-04-12 13:11] danesfeder commented on #847
@Danny-James I just tried our test app with your `NavigationLauncherOptions`.  I wasn't stuck per say, but I think the issue you're seeing has to do with disabling off-route detection.  See below (these are with your options):

With off-route detection disabled (your current options):
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/8434572/38679119-e71bbec2-3e30-11e8-8634-116

[2018-04-12 13:12] #834 closed

[2018-04-12 13:32] Danny-James commented on #847
@danesfeder Is it a large task to converting from NavigationLauncher to NavigationView? I'm passed my release date by quite a bit now and was aiming to have the app released for testing this week.

The puck for me is not moving at all it's just staying at the start, could this be something to do with my LocationEngine or does the NavigationLauncher create it's own locationEngine on start?

[2018-04-12 13:39] danesfeder commented on #847
@Danny-James one thing I see is when you call `locationEngine.requestLocationUpdates();` This should be done in `LocationEngineListener#onConnected` - I see you're only adding the listener if there isn't a last location

[2018-04-12 13:43] danesfeder commented on #827
@vicobz @mathshenry thanks for bringing this - do either of you have specific code you're able to produce this with?  I need to dig a bit on my side, but haven't been able to reproduce.  Obvious fix is a null check but I think there's a deeper problem

[2018-04-12 13:47] Danny-James commented on #847
@danesfeder I got this method from one of the examples on this github see [here](https://github.com/mapbox/mapbox-android-demo/blob/master/MapboxAndroidDemo/src/main/java/com/mapbox/mapboxandroiddemo/examples/plugins/LocationPluginActivity.java)

Are you saying the only time i should call the following `locationEngine.requestLocationUpdates();` is `onConnected` what if the locationEngine does not

[2018-04-12 13:54] danesfeder commented on #827
Sending a Directions API request URL that produces the `DirectionsRoute` that's causing this crash would be great too

[2018-04-12 13:57] danesfeder commented on #847
A good example is the `LocationViewModel` we use for the UI https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationViewModel.java

`LocationEngine#activate` will call `onConnected` once the API connection is properly established and then you can start requesting updates

[2018-04-12 14:05] Danny-James commented on #847
@danesfeder should i only request updates in the `onConnected`?  So not in the `onStart`, Also am i correct in the `onStop` to removeUpdates and RemoveListener?

I deactivate the locationEngine in onDestroy is this correct?

[2018-04-12 14:11] danesfeder commented on #847
@Danny-James yes ^

Yeah how you handle the app lifecycle is up to you.  In `LocationViewModel` we don't stop listening to updates because we still need them in the background (if a user has turned their screen off, but still want voice announcements).

Removing and re-adding the listener may make more sense for you.  But not deactivating the whole engine.

[2018-04-12 14:37] danesfeder opened #858 "NPE deleting finished instruction file"
Found in CI robo test:
[code]

[2018-04-12 14:46] Danny-James commented on #847
@danesfeder below are my Lifecycle Methods now, I only call `requestLocationUpdates` on the `onConnected` and i also only attach the Listener `onConnected` is this the correct way of doing things.

[code]

[2018-04-12 15:10] Danny-James commented on #847
@danesfeder I've come across another issue, can i ask the `locationEngine.addLocationEngineListener(this);` when this pushes an updated location, should this call the overiding method `onLocationChanged`, basically I have the following.

[code]
I've checked and the onLocationChanged method is never being called unless I call it manually.

I have the LocationFAB which can be clicked to refresh the

[2018-04-12 15:16] danesfeder commented on #847
[code]

[2018-04-12 15:17] Danny-James commented on #847
I understand, where do you recommend this being added? sorry to bother you about this.

[2018-04-12 15:19] danesfeder commented on #847
in the constructor or in onCreate - listener should be added, then `activate()` should be called https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationViewModel.java#L35

[2018-04-12 15:27] Danny-James commented on #847
@danesfeder Great News! .. that has now fixed my issue, like i said i will test the NavUI again on my way home on multiple devices and report back tomorrow. Cheers for you help.

[2018-04-12 15:31] danesfeder commented on #847
@Danny-James happy to help - glad it's resolved.  Yeah the snap config is targeted for `0.13.0` which is on track for early next week release

[2018-04-12 15:45] mathshenry commented on #827
This is a test I was working on to check if that would solve my project's problem:

package com.example.maths.testmapboxnavigation;

import android.location.Location;
import android.os.Bundle;
import android.support.annotation.NonNull;
import android.support.v7.app.AppCompatActivity;
import android.util.Log;
import android.view.View;
import android.widget.Button;

import com.mapbox.api.directions.

[2018-04-12 15:53] excapade commented on #855
Hi @danesfeder,
We tried running the simulated mode to see if we can produce the issue and we got this error:

W/BindingContextFactory: Failed to complete your request.
    com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 1 path $
        at com.google.gson.stream.JsonReader.syntaxError(JsonReader.java:1568)
        at com.goo

[2018-04-12 16:18] Danny-James opened #859 "Navigation UI: Feedback Button"
`Device: Motorola TC55`

The Audio and Feedback Buttons Do Not Align Up - See Below.

![screenshot_2018-04-12-17-16-19](https://user-images.githubusercontent.com/32104383/38690246-2c2dc6a4-3e6d-11e8-84c8-0b9b07b8c835.png)

[2018-04-12 16:36] danesfeder commented on #859
@Danny-James do you see this on your `Samsung Galaxy S8 - Android OS: 7.0` too?

[2018-04-12 16:55] Guardiola31337 commented on #855
Hey @excapade 👋 Thank you for the detailed info.

Following you can find installation instructions for `SNAPSHOT`s:

[code]

☝️ refers to https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#launch-the-navigation-ui so, how are you launching the Navigation UI? Using `NavigationLauncher`?

[2018-04-12 17:34] Danny-James commented on #859
@danesfeder No it's fine on any other device I have checked, I think it maybe something to do with the pixel density on this particular device?

Maybe the feedback button has to much right margin?

[2018-04-12 18:08] excapade commented on #855
HI @Guardiola31337 I will work on the installation.
Yes we are using NavigationLauncher. See below:

 compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.5.1') {
        transitive = true
    }
    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.12.0'
    compile 'com.mapbox.mapboxsdk:mapbox-android-plugin-traffic:0.4.0'
    compile('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.12.

[2018-04-12 18:38] danesfeder commented on #855
Using:
[code]

I was able to launch the UI successfully - maybe it's an issue with the `Point`s you are passing in.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8434572/38697129-176eb236-3e5f-11e8-98ef-083ec64daeae.gif)

[2018-04-12 20:55] excapade commented on #855
HI @danesfeder, thanks, i will go through and try your suggestion.

Thanks.

[2018-04-13 02:37] RedTowerMountain opened #861 "Android Samsung Note5 MapBox black screen"
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1. start the Demo app of android-navigation-demo
 2. MapView is black， we can not see anymore except mapbox

### Expected behavior

### Actual behavior

[2018-04-13 07:13] excapade commented on #855
hi @danesfeder @Guardiola31337 ,
We successfully have SNAPSHOT working and in some mobile devices launching cycling and walking per your NavitionLauncherOptions works, but not on others.
Devices:
Device launch navigation successfuuly:
MOTO G3  android version 6.0
Nexus 5    android version 6.0

issue device:
VIVO Y51L  android version 5.0.2
ZTE Z981 android version 6.0

 Here is the error code:

W

[2018-04-13 08:51] Guardiola31337 commented on #604
Capturing @1ec5 comment

The casing layer is slightly thinner than the route line, yes.

[2018-04-13 09:15] Guardiola31337 commented on #861
Hey @RedTowerMountain 👋 thanks for reaching out and report your issue. This issue tracker is only for bug reports with test cases and feature requests. Please ask usage questions on Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox

BTW, it seems you didn't setup your Mapbox access token properly 👀 the documentation https://www.mapbox.com/android-docs/navigation/overview/#2-get-an-

[2018-04-13 09:15] #861 closed

[2018-04-13 14:47] #847 closed

[2018-04-13 14:48] Danny-James commented on #847
@danesfeder do you think the PR will solve my issue where the puck doesn't move at all?

[2018-04-13 14:52] danesfeder commented on #847
@Danny-James yeah I think you should disable snapping too

[2018-04-13 14:53] Danny-James commented on #847
@danesfeder so because snapping is currently on in `v12` that's why my puck is not moving?

is this change available in the `SNAPSHOT` yet?

[2018-04-13 14:57] danesfeder commented on #847
@Danny-James that was my hunch, also hoping your fixes for your location engine code help here.  We have our own location engine logic as you saw, but the engines are shared singletons so you could've been affecting ours somehow.  And yes the snapshot was updated `14:50:38 UTC`

[2018-04-13 15:02] Danny-James commented on #847
@danesfeder I did the test on my way home using the following devices:

[code]

All Devices Opened The Route In Navigation UI but when i started to drive the puck just stayed still, did not move, if i exit the Navigation UI and reopen with the same route the puck will show where i currently am (new start location) but again not move.

[2018-04-13 15:04] danesfeder commented on #847
@Danny-James with snapping disabled?  Using the `SNAPSHOT`?

[2018-04-13 15:05] Danny-James commented on #847
@danesfeder Sorry to confuse you, no i've just recompiled my app with the snapshot so will update you on Monday with the results 👍

[2018-04-13 15:06] danesfeder commented on #847
Thanks @Danny-James - cheers 👍

[2018-04-13 15:18] #827 closed

[2018-04-13 15:30] skienzl opened #862 "Return false on RouteListener allowRerouteFrom does not reset Navigation UI"
I am not sure if this is expected behaviour. Maybe I miss-understood the allowRerouteFrom

Mapbox Navigation SDK version: 0.12.0

### Steps to trigger behavior

 1. Set enableOffRouteDetection = true
 2. return false on allowRerouteFrom callback

### Expected behavior

Should not show reroute state or at least hide it afterwards

### Actual behavior

User is stuck in reroute state

[2018-04-13 16:13] excapade commented on #855
Hi,
We found the issue. we had toll way enabled for all the navigation mode and once we disable it for cycling and walking it all worked.
Thanks again for your feedback and support.

[2018-04-13 16:19] skienzl opened #863 "User location stuck with offRouteDetection disabled and snapToRoute enabled"
**Mapbox Navigation SDK version: 0.12.0**

### Steps to trigger behavior

 1. set mapboxNavigationOptions: enableOffRouteDetection=false and snapToRoute=true
 2. start navigation
 3. user leaves route and returns via another  path to the route later on. for example see attached image with the follwoing scenario: user leaves route and takes the path with the red arrows. Location icon gets stuck at

[2018-04-13 18:29] #858 closed

[2018-04-13 18:32] danesfeder commented on #862
Hey @skienzl I believe this is actually a bug with rerouting itself (resolved by #829).  Do you mind checking if you can reproduce the same with `0.12.0-SNAPSHOT`?

[2018-04-14 11:30] siavashabdoli commented on #842
@danesfeder
https://vimeo.com/264739862

[2018-04-16 08:11] Danny-James commented on #847
@danesfeder I'm now using the SNAPSHOT for `v13`, I've tried with 3 different devices and the Navigation will not move, I have `OffRouteDetection` and `SnapToRoute` Turned Off.

I'm going to remove them from my `NavigationOptions` and see if it then works to rule out any issues with the options.

[2018-04-16 08:58] Danny-James commented on #863
@danesfeder Maybe this is also related to the issue I'm also experiencing #847.

@skienzl does you puck move at all? .. When I start navigation and drive my puck just stays at the beginning

[2018-04-16 09:49] skienzl commented on #862
Thx! I can look at in about 2 days. But as far as i can see #829  is just checking for valid routing profile name. I don't think this is causing the problem in that case. But i will def try :)

[2018-04-16 09:50] skienzl commented on #863
@Danny-James the puck starts to move. But as soon as i move off the valid route it gets stuck. I haven't tried it when i am off the starting point

[2018-04-16 11:05] Guardiola31337 opened #864 "Bump Architecture Components version to avoid building conflict issues"
When testing https://github.com/mapbox/mapbox-navigation-android/pull/697 noticed some building conflicts with the latest version of LLP 👀
[code]

We aren't using the latest version of Architecture Components `1.1.1` (LLP included that version in https://github.com/mapbox/mapbox-plugins-android/pull/419) so in order to avoid them when we add any new LLP version we should bump the Architecture Comp

[2018-04-16 18:32] akitchen commented on #604
Note the relationship to https://github.com/mapbox/mapbox-navigation-android/issues/704 -- further refactoring is probably needed in order to address these two tickets.

[2018-04-16 20:40] danesfeder commented on #863
@skienzl this is currently working as designed.  We would need to create a snapping threshold separate of the off-route threshold that would engage when off-route detection is disabled, but we would still like to snap to the route.  Is that the behavior you're looking for?

[2018-04-16 20:41] danesfeder commented on #862
@skienzl the default being passed into the SDK (if no profile provided) was `""`, breaking the API requests for off-route / faster-route detection

[2018-04-17 02:29] kobe8ouchao opened #867 "Android Navigation route get ssl error"
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1. request route api in Navigation
 2. logcat show Failed to load sprite: failed to connect ssl Failed to load source traffic: SSL handshake timed out
 I think maybe the SSL timeour, we are in China, what is problem?

### Expected behavior

### Actual behavior

[2018-04-17 07:13] skienzl commented on #863
@danesfeder that sounds exactly like the behavior i am looking for

[2018-04-17 08:15] Danny-James commented on #847
@danesfeder I've tested again this morning with `OffRouteDetection` and `SnapToRoute` Taken out of my NavigationOptions and the puck is still not moving.

Have you any ideas on this?

[2018-04-17 13:18] Danny-James commented on #847
@danesfeder thanks for getting back to me, I'll try this and update you, I really appreciate your help. 👍

[2018-04-17 13:25] danesfeder commented on #867
Hey @kobe8ouchao, thanks for checking out the SDK.  This is actually a possible issue with our directions API / Java services library.  Going to move this ticket there for better tracking purposes.

[2018-04-17 13:25] #867 closed

[2018-04-17 13:31] Danny-James commented on #847
@danesfeder i'm using `v13-SNAPSHOT` but I seem to be getting the following error when compiling:

[code]

Does this mean anything to you?

[2018-04-17 13:39] danesfeder commented on #847
I would try cleaning, probably a caching issue - we updated the Maps SDK yesterday #865

[2018-04-17 13:50] danesfeder commented on #867
@kobe8ouchao can you try using a VPN to get a global geoip?

cc @chriswu42

[2018-04-17 13:56] Danny-James commented on #863
@danesfeder  is [this](https://github.com/mapbox/mapbox-navigation-android/issues/863#issuecomment-381741859) something that would need to go through your development team to be signed off or would this be a PR? If this could be a configurable option it would be great.

[2018-04-17 14:02] danesfeder commented on #863
@skienzl @Danny-James this would be a change to our core routing logic / processing.  Will need to see where it fits on our roadmap, PR, and test.  I agree though, the behavior outlined above is not ideal.

[2018-04-17 14:02] chooble commented on #750
@Guardiola31337 I have the same issue and I'm trying to implement this with 0.13.0-SNAPSHOT, but now I'm not getting any voice instructions :(     Do I have to change something to get voice in 0.13?

[2018-04-17 14:15] Danny-James commented on #863
@danesfeder thank you, I will keep an eye on the PR's

[2018-04-17 14:16] Danny-James commented on #859
@danesfeder any chance of having this bumped into Version 13?

[2018-04-17 15:06] cammace commented on #322
In our model classes which use AutoValue, some of the methods use arrays which are by nature mutable in Java after the instance is built. To resolve this issue you have two choices, inside the Builder#build method, convert to an immutable list (I think there's a Collections method for this but can't remember off the top of my head) or you can simply suppress the warning so, during compile time, th

[2018-04-17 15:13] Danny-James commented on #381
This issue is now resolved.

[2018-04-17 15:13] #381 closed

[2018-04-17 15:15] Danny-James opened #868 "Crash: Fatal Signal 11 When Pressing X on NavigationUI"
**Information**
When clicking the `X` to exit the `NavigationUI` I am getting a crash which is restarting my app, I got this issue once before and after months of investigation I believe one of your devs managed to solve the issue by blacklisting my device or something along those lines.

I'm wondering since the upgrade to the new Maps SDK this issue has appeared again?

Previous Issue: #534

[cod

[2018-04-17 15:36] danesfeder commented on #859
@Danny-James can you confirm screen dimensions of `4.3 in. Native Resolution. 480 x 800`

[2018-04-17 15:39] Danny-James commented on #859
@danesfeder [TC55 Specs](https://www.zebra.com/us/en/products/spec-sheets/mobile-computers/handheld/tc55.html)

[2018-04-17 18:36] #842 closed

[2018-04-18 01:49] kobe8ouchao commented on #867
Thank you for your reply. I have used a VPN to connect Navigation Service, but sometimes working well, sometimes failing, the throwable message is java.net.SocketTimeoutException: SSL handshake timed out.

[2018-04-18 07:37] anujgoel89 commented on #563
@deleonAndroid3 make sure you dont name your layout file 'activity_navigation' if yes please rename it.

[2018-04-18 07:42] chooble commented on #750
When the app is in background, the reroute event is not fired. Also not in 0.13. This is probably the issue?

[2018-04-18 09:32] chooble commented on #750
In 0.13 the reroute events are still not fired when the app is in background.

[2018-04-18 11:58] Guardiola31337 commented on #604
Capturing @frederoni's comments

[2018-04-18 12:11] Guardiola31337 commented on #604
Equivalent Android Turf methods:

- `trimmed()` 👉 `turf-line-slice-along` (Still not ported to Java 👀 https://github.com/mapbox/mapbox-java/blob/master/docs/turf-port.md) cc @osana
- `direction(to:)` 👉 [`TurfMeasurement#bearing(Point, Point)`](https://github.com/mapbox/mapbox-java/blob/master/services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java#L31-L53)

For reference, here’s the magic

[2018-04-18 14:01] tan-tran-ea opened #869 "Add custom translation into translations folder"
**Mapbox Navigation SDK version: 0.12.0**

Sorry, this is not an issue, just some questions about the SDK
1. Currently I'm building an app with Korean language, but the SDK has not supported Korean yet. Can I add the localization file inside my app?
2. If I can not add the localization file, what should I do, can the SDK accept a PR for additional translation files or I have to do it via transifex

[2018-04-18 14:43] danesfeder commented on #587
Going to close this unless @devotaaabel has any objections

[2018-04-18 14:43] #587 closed

[2018-04-18 14:45] danesfeder commented on #830
@m-harisqurashi what are you calling inside of the cancel btn callback?

[2018-04-18 17:24] danesfeder commented on #859
@Danny-James this Moto is [a troublemaker](https://github.com/mapbox/mapbox-navigation-android/issues/868) it seems :)  I can't figure out how the margins would be off here.  We don't create UI's specific to this lower API level.  And when I test on a similar res device, it works fine.   I also recreated an emulator that follows the same specs:

![screen shot 2018-04-18 at 1 17 46 pm](https://user

[2018-04-18 20:05] #325 closed

[2018-04-18 22:52] 1ec5 commented on #869
If I’m not mistaken, doing so would require a custom build of the SDK. I’d recommend contributing Korean language support to the SDK itself by following [these instructions](https://github.com/mapbox/mapbox-navigation-android/blob/master/CONTRIBUTING.md#adding-or-updating-a-localization).

We manage translations in two different Transifex projects, one for the server-side guidance instructions and

[2018-04-19 04:11] chriswu42 commented on #867
@kobe8ouchao to guarantee stable services from inside China please reach out to our sales team to get access to our `api.mapbox.cn` endpoints. We cannot guarantee stability with `api.mapbox.com` from inside China due to regulations around the Great Firewall.

[2018-04-19 07:40] m-harisqurashi commented on #830
I'm calling `NavigationView.onDestroy`, but if i use `NavigationView.finishNavigationView` it does nothing.

[2018-04-19 08:31] Danny-James commented on #859
@danesfeder No I don't have any other idea's on this, who is in charge of the UI Design/Implementation? Maybe they have some idea's on the issue here.

[2018-04-19 15:06] devotaaabel commented on #750
cc @akitchen

[2018-04-20 09:37] Guardiola31337 commented on #864
Noting here that even bumping [`lifecycle`](https://github.com/mapbox/mapbox-navigation-android/blob/master/gradle/dependencies.gradle#L32) version to `1.1.1` the conflict mentioned in OP is still present. Apparently `com.android.support:support-annotations:27.0.2` includes `android.arch.lifecycle:runtime:1.0.3` which is incompatible with version `1.1.1` (breaking SemVer?) 👀
[code]
For now, we'd n

[2018-04-20 09:42] Danny-James opened #872 "Question: Re-Joining Route"
**Information**
If I have a route plotted and start the Navigation UI with `OffRouteDetection` and `SnapToRoute` Turned `OFF` say if I am already half way through the route and I want to join the route in say the middle will the Navigation know about this and just continue?

You may get a better understanding of what I mean by looking at the below screenshot.

**Screenshot**
![screenshot_20180420-

[2018-04-20 11:49] Danny-James opened #873 "Question: Route Plotting"
**Question**

We use a 3rd party piece of software which uses `Google Maps` to plot a route, we then extract the `Origin`, `Destination` and `Waypoints` from the `Google Maps` we then pass these via an API to the Application I have been developing.

We originally was passing the `Google Maps` route to `Google Maps Application` which would then plot the route the same. However, we came across an is

[2018-04-20 14:58] danesfeder commented on #864
@Guardiola31337 should we update our support library version?  Is there anything blocking us from updating?

[2018-04-21 13:58] atomike-toxic opened #874 "Detect a type of maneuver?"
I would like to check a condition when the route indicates to turn left or right. I use mapbox as a navigation SDK.

In their technical documentation, he tells us that we can use StepManeuver object:

Example:

[code]
What interests me is the value "modifier" which can be associated with "left" or "right".

So I would like to create a condition "if turn left then [...]" and "if turn right then [..

[2018-04-23 09:05] richjhart opened #875 "Feature Request - Waypoints as "Vias""
We provide a series of Waypoints to determine the route we would like Mapbox to navigate. But this is only to ensure certain roads are used, etc.

It would be great if it was possible to have an option so that the waypoints are used to determine the route, but are not visible to the user - i.e. not included in the geometry or instructions, and there will just be one leg.

Ideally the option would

[2018-04-23 13:16] danesfeder commented on #874
Hey @atomike-toxic this is definitely possible and you can do it by adding a [`ProgressChangeListener`](https://www.mapbox.com/android-docs/navigation/overview/route-progress/#on-progress-change).

You can access the upcoming maneuver via:
[code]
This will return a `StepManeuver` object with the data you are looking for.

Also, in the future, if you have any other questions like this, please head

[2018-04-23 13:16] #874 closed

[2018-04-23 13:29] danesfeder commented on #875
Hey @richjhart yeah I see what you mean here.  Have you checked out our [MapMatching API](https://www.mapbox.com/api-documentation/#map-matching)?  We actually just added support for usage in the Navigation SDK, so we are still working on getting some good documentation.

You can convert a map matching response to a `DirectionsRoute` now with https://github.com/mapbox/mapbox-java/blob/master/servi

[2018-04-23 13:38] danesfeder commented on #872
@Danny-James have you tested this works?  I've tested on my end and confirmed that correct processing resumes when the location updates return to the route.  Would like you to double check on your end as well though.

[2018-04-23 13:40] danesfeder commented on #868
@tobrun any ideas if this is related to #534?  Is there any other information we can get from @Danny-James to help debug here?

[2018-04-23 14:04] Danny-James commented on #872
@danesfeder as you can see I started the route like the screenshot, I haven't been on the route at this point, are you saying this should work?

As you can see I have waypoints, what should happen should the Navigation know that I'm on the route and discard anything previous to where I join the route?

Or do I need to start at the beginning of the route? My main reason for this is if my users go o

[2018-04-23 14:04] Danny-James opened #876 "Bug: Waypoint Visual/Voice Instruction Issue"
I've been testing the Navigation UI with Waypoints, and their seems to be an issue with Visual and Voice instructions, once you pass a waypoint the last instruction before the waypoint continually shows and no more voice instructions are given.

**Device**
[code]

**Gradle**
[code]

**Navigation Options**
[code]

**Screenshot**
![screenshot_20180423-122053](https://user-images.githubusercontent.co

[2018-04-23 14:05] Danny-James commented on #875
@danesfeder I'm following this as this is what I am using waypoint for at the moment.

[2018-04-23 15:48] danesfeder opened #877 "Off-route events do not complete when app is backgrounded"
Due to our usage of `LiveData`, off-route events do not complete successfully (new route requests) when a application that uses the `NavigationView` is in the background.

We need to rethink how we listen to off-route events, without using `LiveData`.  The view models should be reworked to only use `LiveData` for variables related to updating the UI.

Related https://github.com/mapbox/mapbox-navig

[2018-04-23 16:37] iosdbeyond commented on #875
I'm working with @richjhartabove but the iOS app. Is there an equivalent
 iOS Swift function to convert a map matching response to a DirectionsRoute ? like the above

[2018-04-23 17:04] danesfeder commented on #875
@Danny-James this is a possible solution to #873 if you want to give that a shot.

@iosdbeyond Yes, iOS added support with https://github.com/mapbox/MapboxDirections.swift/pull/236 and just added their documentation with https://github.com/mapbox/MapboxDirections.swift/pull/269

[2018-04-23 17:25] Danny-James commented on #873
@danesfender I'm going to try and pull out the geoJSON from the routes plotted on our 3rd Party Software, hopefully this will contain lots of GPS Coordinates and then I can pass these into the MapMatching which can then be converted to a directions route.

Do you think this could work?

[2018-04-23 17:27] Danny-James commented on #872
@danesfeder I gave this a try on my way home, how I tested was plot a route from my work to home, but only start the NavigationUI when I got half way, I expected it to begin giving me directions, I was travelling along the route correctly.

However, I only received the first instruction as if I was still at the start of the route.

[2018-04-23 17:35] danesfeder commented on #873
@Danny-James yeah, you just need to make sure it's under the 100 waypoint (current max) of the MapMatching api?

[2018-04-23 17:55] danesfeder commented on #873
@Danny-James No unfortunately not.  Also, fair warning, I'd be wary of doing this.  Google has restrictions surrounding using their data on maps that also aren't theirs.  I'd double check with your 3rd party software provider that this is okay.

[2018-04-23 18:09] Danny-James commented on #873
@danesfeder Yes, I will check with the 3rd Party - You can close this issue as it was only opened to ask questions I believe I have found a possible solution.

Thanks Again.

[2018-04-23 18:11] danesfeder commented on #873
No problem, thanks @Danny-James

[2018-04-23 18:11] #873 closed

[2018-04-24 08:23] thanhnguyenduc157 opened #880 "Mapbox zoom LatLngBound sometimes wrong"
When I use  navigationView for my project, i have a function to zoom map in the center of start point and end point:

navigationView..getMapboxMap().easeCamera(CameraUpdateFactory.newLatLngBounds(latLngBounds, 10));

but the strange thing happen: some time it zoom right, some time it zoom wrong (not move to center of LatLngBound).

[2018-04-24 09:02] richjhart commented on #875
@danesfeder Thanks for the tip on MapMatching - so far that seems to be working very well.

However, there is still one issue. Because the route doesn't know about waypoints at all now, if we chose to re-route due to being off course, it's going to skip all the previously defined waypoints and find the shortest/quickest route to the destination. I don't suppose there's a way of combining the two m

[2018-04-24 09:29] LukasPaczos commented on #880
Thanks for reporting the issue @thanhnguyenduc157.
This is resolved with https://github.com/mapbox/mapbox-gl-native/pull/11410 that is a part of https://github.com/mapbox/mapbox-navigation-android/pull/697.

[2018-04-24 09:59] thanhnguyenduc157 commented on #880
so i need upgrade Mapbox Android SDK, right @LukasPaczos ?

[2018-04-24 10:04] LukasPaczos commented on #880
Unfortunately, you can't yet because the navigation `v0.12.0` and Maps SDK `v6.x` are incompatible. You will have to wait until #697 is merged and released.

[2018-04-24 12:09] danesfeder commented on #880
Thanks @LukasPaczos, @thanhnguyenduc157 let's close this issue when #697 is merged.  Thank you for bringing this to us!

[2018-04-24 12:57] danesfeder commented on #875
@richjhart are you using https://github.com/mapbox/mapbox-java/blob/master/services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java#L412-L428?

I think this may actually be a bug on our side though.  When we get the response from the map matching service, we [generate `RouteOptions`](https://github.com/mapbox/mapbox-java/blob/master/services-matching/src/main/java/com/mapb

[2018-04-24 13:06] richjhart commented on #875
@danesfeder Yes I see that that should in theory work - we just don't have re-routing on at the moment so I hadn't fully considered how it would work.

But yes I guess it will not only be too many points - but also because it doesn't use Map Matching in the new request, the coordinates will become waypoints I assume? (as you no longer have the waypoint list in the options)

[2018-04-24 13:11] danesfeder commented on #875
Yeah exactly, this being the main issue with the new requests ^

[2018-04-24 14:50] #859 closed

[2018-04-24 18:55] 1ec5 opened #882 "Fall back to Android TTS when instruction language not supported by Voice API"
When the Directions API returns voice instructions in a language that isn’t supported by the Voice API, such as Chinese or Hebrew, this SDK should automatically fall back to the Android TTS engine rather than using the Voice API.

The [`Route.voiceLocale`](https://www.mapbox.com/api-documentation/#route-object) property in the response is set to the language of the instructions, or `null` if that

[2018-04-25 08:12] ben-j69 opened #883 "app_name is overwrite by libandroid-navigation"
Hello,

the values in differents folders like "values-fr" are taking priority on the values of my app, the result is that in french my android app is now called "SDK de navigation Mapbox pour Android" because my app_name value is replaced by the on in libandroid-navigation

**Android API:16
**Mapbox Navigation SDK version:0.12.0

### Steps to trigger behavior

 1.Integrate mapbox navigation
 2.Bui

[2018-04-25 12:17] danesfeder commented on #883
Hey @ben-j69, yeah it looks like we are storing our test application label `String` `app_name` in the core library which is incorrect.

We can adjust this on our side - but while we work on this, would a simple fix on your end be changing the name of the `String` resource?  That way there is no conflict.  From `app_name` to `your_app_name` or something like that.

[2018-04-25 14:55] #883 closed

[2018-04-25 16:14] 1ec5 opened #886 "Requesting Hebrew or Indonesian instructions falls back to English"
This library is localized into Hebrew and the Directions API can return instructions in Hebrew. However, if the user sets the locale to Hebrew, they end up with instructions in English. This is because Android’s `Locale.getLanguage()` method uses a deprecated ISO language code for Hebrew.

mapbox/locale-utils#4 tracks a workaround on the server side to accept this deprecated language code. Ideally

[2018-04-25 20:33] 1ec5 commented on #886
Transifex always uses standard IETF language tags (essentially ISO 639 codes plus any necessary script and region codes). So it’s up to this line to map from the standard language tags to whatever Android expects for the folder names:

https://github.com/mapbox/mapbox-navigation-android/blob/8e81c16035a3cd1fe0b36dfe5c34b8bcebd4e684/.tx/config#L4

[2018-04-25 21:43] Jlavatai commented on #529
I would also like this information!

[2018-04-26 04:54] tan-tran-ea opened #888 "Korean translation"
Hi team,

I have translated all strings into Korean (ko)

https://www.transifex.com/mapbox/mapbox-gl-native/language/ko/
https://www.transifex.com/mapbox/mapbox-navigation-sdk-for-android/language/ko/
https://www.transifex.com/mapbox/mapbox-navigation-ios/language/ko/

Also I have translated all OSRM strings:
https://github.com/Project-OSRM/osrm-text-instructions/issues/241

Please help me review

[2018-04-26 11:28] richjhart commented on #875
@danesfeder Is there any sort of estimate on when this might update: i.e. so that a route planned using Map Matching will reroute using Map Matching with the same options (minus the completed steps)?

Or, similar to an earlier question - what would be the cleanest way for us to re-request ourselves?
I'm thinking something along the following lines:
- allow redirection in general
- but always retur

[2018-04-26 14:04] danesfeder commented on #888
Hey @tan-tran-ea, thanks for the work here!  I pulled in the new translations from Transifex in #889.  If you want to take a look and see if it checks out, that would be great.

[2018-04-26 15:33] mahmoud-zidan opened #890 "Add Waypoints between origin and destination points using MapBox Navigation SDK."
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1.
 2.
 3.

### Expected behavior

### Actual behavior

[2018-04-26 15:45] danesfeder commented on #875
Hey @richjhart, given our current setup / constraints, I think your solution would be the cleanest.  You would always return `false` when `allowRerouteFrom()` is fired, but you would still use the callback as a cue to fetch a new Map Match just like you said.

The tricky part here will be giving the new route to the `NavigationView`.  We designed it so that it can take multiple different routes wh

[2018-04-26 15:57] Guardiola31337 commented on #890
Hey @mahmoud-zidan 👋 Can you explain the problem more?

BTW, this issue tracker is only for bug reports with test cases and feature requests. Please ask usage questions on Stack Overflow.
https://stackoverflow.com/questions/tagged/mapbox

[2018-04-26 17:46] danesfeder commented on #890
Hey @mahmoud-zidan, we have an example of how to add waypoints in https://www.mapbox.com/android-docs/navigation/overview/

[code]

[2018-04-26 17:46] #890 closed

[2018-04-26 18:50] 1ec5 commented on #888
I pulled your translations of OSRM Text Instructions into Project-OSRM/osrm-text-instructions#243. Please have a look at that as well. Thanks!

[2018-04-26 21:24] liute62 opened #891 "NavigationView Crashes issue, binary xml file #0."
I am writing this issue because I believe someone in the future may have the same issue and I fixed it finally with some efforts.

The error is NavigationView from Navigation UI crashes with Binary XML file error. Here is what I have done and the short reason is that **android telemetry version 3.0.2 and 2.2.10 API are inconsistent**.

**Step1: use plugin for searching place with UI**

The plugin-

[2018-04-27 08:13] 1ec5 opened #892 "Deemphasize portions of the route line that the user has passed"
Portions of the route line that the user has already passed should be displayed in a more muted or translucent color, to better emphasize the portion that the user still has yet to reach. This effect would be most prominent in overview mode, but even in straight-ahead mode, the line would look different above and below the user puck.

The ideal implementation would keep the line’s geometry constan

[2018-04-27 09:39] 1ec5 commented on #869
Korean translations are being tracked in #888.

[2018-04-27 12:15] atomike-toxic commented on #874
Thank you very much !
I will try this ;)

[2018-04-27 12:15] tan-tran-ea commented on #888
Thanks @danesfeder , @1ec5

Also please help me pull the translations for Mapbox Navigation iOS and Mapbox GJ Native. I have translated all strings (excluded sample app)

Thanks so much

[2018-04-27 12:37] #888 closed

[2018-04-27 19:30] 1ec5 commented on #888
Thanks, pulling these translations in mapbox/mapbox-navigation-ios#1346 and mapbox/mapbox-gl-native#11792. Note that, although Project-OSRM/osrm-text-instructions#243 has been merged, we’ll need to release OSRMTI and deploy it as part of the Directions API before you’ll be able to receive instructions in Korean.

[2018-04-27 19:40] tonyc10 opened #897 "Crash due to class naming collision in 0.12.0"
**Android API: 27**
**Mapbox Navigation SDK version: 0.12.0 **

Hi —

I’m seeing a bug in the code of your new navigation libraries, with different versions of a class called FeatureCollection.  One version is  `com.mapbox.services.commons.geojson.FeatureCollection`
The other is `com.mapbox.geojson.FeatureCollection`

The class `MapUtils`  (`com.mapbox.services.android.navigation.ui.v5.utils`) get

[2018-04-27 23:43] mohamed3la2 commented on #890
We want to add waypoints between origin and destination in navigation Turn by turn UI  , When i use **NavigationLauncherOptions** object there is no waypoints only origin and destination , there is any chance that we can make it with waypoints ? Thank you .

[2018-04-27 23:58] 1ec5 opened #898 "Upgrade to v3 navigation map styles"
The v2 Navigation Preview/Guidance Day/Night styles should be replaced by the v3 Navigation Preview/Guidance Day/Night styles once they’re ready.

/cc @mapbox/navigation-android @aparlato

[2018-04-28 00:34] #746 closed

[2018-04-28 00:34] #837 closed

[2018-04-28 00:34] #880 closed

[2018-04-28 00:34] #891 closed

[2018-04-28 23:33] akitchen opened #899 "Users should be routed to a destination's address"
As support for routable points [has landed in carmen](https://github.com/mapbox/carmen/pull/693) and is available in on a staging API, we can start building support for using routable points (typically location of the actual street address of a destination POI) in our routes.

#### Acceptance Criteria:
**Given** I am navigating to a destination address (a building, land parcel, or other POI)
**And

[2018-04-29 15:50] mashahbazi commented on #791
what did you mean?
I have same problem but cant solve it

[2018-04-30 00:43] vladgheorghe opened #900 "JVMTI error"
On the latest version of 0.13.0-SNAPSHOT I am seeing a spam of these errors in logcat and the app sometimes crashes randomly without any stracktrace.

E/StudioProfiler: JVMTI error: 15(JVMTI_ERROR_THREAD_NOT_ALIVE)
I/chatty: uid=10197(ro.ascendnet.android.startaxi.taximetrist) Thread-164 identical 5 lines

[2018-04-30 01:02] vladgheorghe opened #901 "ExceptionInitializerError crash"
Sometimes the app crashes randomly with the following stracktrace

[code]

[2018-04-30 08:20] bliveinhack opened #902 "ProgressListener After destination reached"
Hello,

we are using Navigatoin SDK for routing a start & destination locations.
now the situations is after reaching at destinations .  we need to go ahead . let's say for another 3 miles. so the progressListener is not working as expected.
- provided Rerouting is off.
- off route detection is on.

[code]

 let us know if we are missing something.

[2018-04-30 11:12] richjhart commented on #875
@danesfeder Thanks for the advice. This did work pretty well - and yes calling startNavigation with the new route worked fine.

One more query on this, which is also related to #863, is it possible to tell the navigation engine to "jump" to a particular step. When re-routing (and in some other circumstances), we would like to provide a route which includes the sections already covered, but inform

[2018-04-30 13:38] danesfeder commented on #902
Hey @bliveinhack - I'm not completely following your question here.  Are you saying the `ProgressChangeListener` is not firing after you have arrived at your destination and you would like to continue to receive `Location` updates regardless?

[2018-04-30 13:39] danesfeder commented on #901
Hey @vladgheorghe, thanks for the feedback here.

@Guardiola31337 @electrostat can either of you take a look at this when you have a chance?

[2018-04-30 13:48] danesfeder commented on #900
Hey @vladgheorghe, the crash you're describing here, does it seems related to #901?  Can you provide logs with more detail than the one you provided here?

@tobrun @LukasPaczos have either of you seen a log like this before?

[2018-04-30 14:15] Danny-James commented on #872
@danesfeder I've had one of our users who is testing our application report an issue, the user had an issue with his device when he was 30 miles into his journey, he had to pull over reload the app and start the navigation again, we have a Start Location and a Destination so when the user restarted the app 30 miles in it was giving him instructions for the start point, how can we have this so it k

[2018-04-30 14:34] danesfeder commented on #875
@richjhart That's another good question.  The route processing is currently set up to detect a new route, then reset the leg and step indices used for tracking user progress along the route:
 https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java#L112-L118

I think this m

[2018-04-30 15:15] richjhart commented on #875
@danesfeder There are basically two use cases we are looking at:
- one is just a nice-to-have when re-routing, so that after re-routing it shows where the user has been (so we would insert the current location instead of just putting it at the front of the remaining locations)
- the other is for offline restoration of a route when we can't (or just don't) request a new route but need to trigger a

[2018-04-30 15:59] Guardiola31337 commented on #900
Hey 👋 @vladgheorghe thank you for reaching out and reporting your problem.

It seems the same issue as #901 could you confirm please?

BTW, could you add some more information for reproducing the crash (minimal example) or any other specifics around your test setup? Do you have some more information on used device and Android version? If there is any sample or pseudo code you can provide, that wou

[2018-04-30 17:29] Guardiola31337 commented on #901
Thanks for reporting this issue @vladgheorghe
Following up in https://github.com/mapbox/mapbox-events-android/issues/129.

cc @electrostat @danesfeder

[2018-04-30 17:29] #901 closed

[2018-04-30 17:47] Guardiola31337 commented on #897
Hey @tonyc10 👋 thanks for reaching out and report your problem.

This should be fixed now (#697 landed last week) and it'll be available in the next release. In the meantime, could you please retest this using `0.13.0-SNAPSHOT` and report back if it's still an issue?

Following you can find installation instructions for `SNAPSHOT`s:

[code]

Thanks again!

[2018-04-30 18:07] Guardiola31337 commented on #880
@thanhnguyenduc157 hey 👋 friendly reminder that this should be fixed now (#697 landed last week 🎉) and it'll be available in the next release. If you'd like, you could double check this using `0.13.0-SNAPSHOT`.

Following you can find installation instructions for `SNAPSHOT`s:

[code]

Thanks again!

[2018-05-01 13:25] tonyc10 commented on #897
Yes -- This issue is fixed for me in 0.13.0-SNAPSHOT.
Thanks!

On Mon, Apr 30, 2018 at 12:47 PM, Pablo Guardiola <notifications@github.com>
wrote:

[2018-05-01 14:14] Guardiola31337 commented on #897
@tonyc10 glad to hear, thanks for the update!

It'll be included in the next release. We'll keep you posted.

Closing here.

[2018-05-01 14:14] #897 closed

[2018-05-01 17:18] danesfeder commented on #875
@richjhart thanks, yeah please keep us posted on your testing results.  If needed, we can cut a ticket to start tracking this / discuss the expected behavior for passing in a route that has already been progressed along.

[2018-05-01 18:52] #750 closed

[2018-05-01 18:52] #877 closed

[2018-05-01 21:01] JPSiller opened #903 "EnableNotification(false) not working in Android 8.1"
Android 8.1
Mapbox Android Navigation 0.12.0

### Steps to trigger behavior

 1. Create a MapboxNavigation object.
 2. Make sure you pass a MapboxNavigationOptions object with EnableNotification(false)
 3. Start the Navigation

This is working fine in Android 7.0

[code]

After that I'm starting the navigation which by the way works great, but I don't want the notification to be present.

### Expe

[2018-05-01 22:48] danesfeder commented on #903
Hey @JPSiller, thanks for your feedback here - we use a `ForegroundService`, so in `8.0` and greater, some sort of notification needs to be provided.  https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java#L203

If you'd like, you can provide your own notification to the SDK htt

[2018-05-01 23:48] kozyr opened #904 "Wrong image for sharp left turn"
Looking at the latest code in Intellij (master):
![image](https://user-images.githubusercontent.com/993879/39498829-19e8cf2c-4d70-11e8-90b8-b82531e67ca0.png)

Seems like sharp left image is incorrect

[2018-05-02 00:00] danesfeder commented on #904
Great catch, thanks @kozyr!

[2018-05-02 09:29] richjhart commented on #875
@danesfeder It does look as though the initial test wasn't really valid - as it was just close enough to happen to work (on each location update, we were close enough to the "next" step that it accepted it as step complete, and caught up).

I have modified (hacked) the library to get something that I think works, by just repeatedly calling a modified version of NavigationRouteProcessor.buildNewRou

[2018-05-02 12:38] richjhart commented on #875
@danesfeder I am having a serious problem with MapMatching at the moment. It's been working very well if I only provide 0 and the last index as waypoints. But if I try to add an intermediate waypoint (so first, middle, and last for example), I can only provide up to 10 coordinates in total, otherwise I get an internal server error.

e.g.:
This works (11 points, start and end as waypoints):
https:/

[2018-05-02 15:57] #904 closed

[2018-05-02 16:32] richjhart opened #906 "Feature Request: Overlay arrows on turn-by-turn navigation"
**Mapbox Navigation SDK version:** 0.12.0

The iOS turn-by-turn navigation currently overlays an arrow on the map indicating the next turn.

It would be great if Android did this too. Would it be possible to get an indication of if/when this might happen (to decide if it's worth investing the time overlaying my own image/polygon)?

[2018-05-02 16:52] Guardiola31337 commented on #906
Hey @richjhart 👋 thanks for reaching out and report your question.

There's already a ticket tracking this 👀 https://github.com/mapbox/mapbox-navigation-android/issues/604 and we're actively working on it to make it happen soon. Hopefully it'll be included in the next release version so I'd say that it's not worth investing time from your side.

Closing as answered.

[2018-05-02 16:52] #906 closed

[2018-05-02 19:49] danesfeder commented on #875
@coxchapman see anything out of the ordinary with these requests containing waypoints?

[2018-05-03 00:08] danesfeder commented on #875
@richjhart we are looking into this on our end, it doesn't look like you are doing anything wrong with your requests.  Will follow up on this ticket when we are able to find the issue.  Thanks for your patience!

[2018-05-03 02:15] danesfeder opened #909 "Release v0.13.0"
### Includes

- Add missing uturn step maneuver modifier to should flip modifiers set #908
- Bump Mapbox SDK Services to 3.1.0 version #907
- Reverse maneuver sharp left resource #905
- Fixed bug where we weren't checking if the unit type changed before l… #896
- Remove use of LiveData for fetching DirectionsRoute and updating Location #894
- Update String resources with new Transifex translations

[2018-05-03 05:08] altaf2892 opened #911 "how can i let the user beyond the specified destination(Location)?"
i m using NavigationView in my application now its working fine ...

`
              final NavigationViewOptions options = NavigationViewOptions.builder()
                      .origin(p1)
                      .destination(p2)
                      .awsPoolId(null)
                      .shouldSimulateRoute(false);`

Above code works perfect.But according to requirement i want to let the user go

[2018-05-03 05:29] Guardiola31337 commented on #911
Hey @altaf2892 wave thanks for reaching out and report your issue. This issue tracker is only for bug reports with test cases and feature requests. Please ask usage questions on Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox

For further information you can also check the documentation :point_right: https://www.mapbox.com/android-docs/navigation/overview/

[2018-05-03 05:29] #911 closed

[2018-05-03 16:10] #909 closed

[2018-05-04 06:14] Meerz commented on #831
same issue here i start a navigation UI on button click but it does not start
here is my code

[code]
on button click application crash and gives this error

kindly help on this issue

[2018-05-04 10:56] richjhart opened #915 "NullReferenceException in NavigationService"
**Android API:** Android 8.1
**Mapbox Navigation SDK version:** Navigation Library 0.13.0

### Steps to trigger behavior

At this stage, unsure what triggered it, but I've seen it more than once. It might be if startNavigation() is never called (in which case the service will never set the mapboxNavigation object)

### Expected behavior

### Actual behavior

[code]

[2018-05-04 12:44] Meerz commented on #709
@danesfeder thanks for reply related to this question i want to update with gps location  so i remove this line .shouldSimulateRoute() and now how to update location?any method

[2018-05-04 15:45] Guardiola31337 commented on #915
Hey @richjhart 👋 thanks for reaching out and report your issue.

Could you add some more information for reproducing the `NullPointerException` (minimal example) or any other specifics around your test setup? Do you have some more information on used device? If there is any sample or pseudo code you can provide that would be really helpful.

[2018-05-04 16:55] #915 closed

[2018-05-04 18:38] vladgheorghe commented on #900
Unfortunately I haven't seen this issue in the last days but it does not seem to be to 901

[2018-05-04 19:35] atomike-toxic opened #918 "How to detect turning left or right ?"
Bonjour, ayant créer un sujet du même type #874
Vous m'avez dis d'utiliser `RouteProgress#currentLegProgress()#upcomingStep()#manevuer()`
Cela fais une semaine que j'essaye de le faire fonctionner mais ma syntaxe ne dois pas être bonne.
Ensuite sur Stackoverflow on m'a dis d'utiliser `String modifier = yourJsonObj.getString("modifier"); `
Donc je suis un peu perdu.
Ensuite j'ai fouiller dans les d

[2018-05-04 20:20] #831 closed, assigned to nobody

[2018-05-04 20:27] vladgheorghe opened #919 "MapboxTelemetry.optLocationOut crashes"
Hello, starting with 0.13 release we've started seeing a few of these crashes, sharing the crash report here

http://crashes.to/s/2ce1b0a6a7f

[2018-05-04 20:44] danesfeder commented on #919
Hey @vladgheorghe, thanks for bringing this to us - we are going to take a look on our side and get back to you here.

cc @electrostat @Guardiola31337 @zugaldia for telem visibility

[2018-05-04 20:52] danesfeder commented on #918
Hey @atomike-toxic, I don't speak French, but I had some fellow Mapboxers help me out here.

I think what you're looking for is in the `StepManeuver`: the `type` and `modifier`.

`StepManeuver#type()` returns the type of the maneuver (turn, merge, fork, etc.)
`StepManeuver#modifier()` returns direction or further detail on the maneuver type.

[code]

Hope this helps, thanks!  In the future, please

[2018-05-04 20:52] #918 closed

[2018-05-05 00:13] danesfeder opened #920 "NullPointerException NavigationViewEventDispatcher#onRerouteAlong"
[code]

[2018-05-05 00:21] danesfeder opened #921 "MapboxSpeechPlayer NullPointerException File#getPath()"
[code]

[2018-05-07 09:11] chooble opened #922 "No voice in 0.13"
Since 0.13 I am not getting any voice instructions.
I get my routes via an external server which gets the DirectionRoute from Mapbox. Then I process the json to create a DirectionRoute via the Builder. When using the builder I set the RouteOptions.language:

[code]
And the DirectionRoute.voiceLanguage

[code]

I start the navigation this way:

[code]

I also tried different combinations of .langua

[2018-05-07 17:46] danesfeder opened #923 "Null NavigationViewEventDispatcher onRerouteAlong"
[code]

[2018-05-07 19:01] tonyc10 commented on #897
Hi Pablo,

You recently referred to not receiving any voice instructions when starting
to use 0.13.0  (
https://github.com/mapbox/mapbox-navigation-android/issues/750)

How did you resolve that?  I also am not seeing (hearing) any voice since
I've moved up to 0.13.0

Tony

On Mon, Apr 30, 2018 at 12:47 PM, Pablo Guardiola <notifications@github.com>
wrote:

[2018-05-07 20:44] devotaaabel opened #924 "Remove ability to start navigation with origin and destination"
After talking with @brsbl and iOS, we've determined the best action to remove the confusion of locale and unit type existing in both route options and navigation options is to remove them from navigation options, and thus also remove the ability to start navigation with origin and destination points. This matches what iOS is doing currently.

[2018-05-08 13:41] akitchen opened #926 "Arrival event should be keyed off of arrival instructions from the server"
Per @danesfeder we currently use a hardcoded arrival distance of 40m

Let's please remove this in favor of the arrival instructions provided by the server, which has been adjusted to 10 seconds. Removing this hardcoding will give us better platform symmetry and allow this heuristic to be adjusted in one place in the future.

[2018-05-08 13:52] akitchen commented on #926
/cc @coxchapman for tracking/visibility

[2018-05-08 14:03] P-Zenker commented on #859
Hey @Guardiola31337, this issue is still present (com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.13.0):
- Google Nexus 6 (Android 7.1.1 | 2560 x 1440 | 5,96 Zoll (large) | 493 (xxxhdpi))
- MOBISTEL Cynus E4 (Android 5.1 | 800 x 480 | 4 Zoll (normal) | 240 (hdpi)

![2018-05-08 14 23 14](https://user-images.githubusercontent.com/23097192/39760505-c36f26f8-52d5-11e8-82cd-6d675f3fbaa7.jpg)

I wan

[2018-05-08 14:31] coxchapman commented on #926
@akitchen when you say

Do you mean that we will throw an arrival event as soon as a user is within a 10-second duration of a location?

[2018-05-08 14:38] akitchen commented on #926
Yes, and this is determined by the guidance we receive from the server, which could be subject to change or customization.

[2018-05-08 17:09] tobrun opened #927 "Min SDK 15?"
[code]

When integrating this project upstream in https://github.com/mapbox/mapbox-gl-native/pull/11864, I'm hitting above warning. Is there any reasoning behind using 15 instead of 14?

[2018-05-09 08:34] tobrun opened #928 "Keep sources in memory"
When looking into https://github.com/mapbox/mapbox-gl-native/issues/11843. I'm noticing the following in [MapUtils](https://github.com/mapbox/mapbox-navigation-android/blob/d339f623aac301722ac32239276f189641c1bf6c/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/MapUtils.java):

[code]

With every update we are getting the source from MapboxMap, this is an

[2018-05-09 10:17] tobrun opened #929 "Load style with MapView creation"
Currently we are loading the navigation style as part of OnMapReady. We should move this to an earlier execution point in time as the following is currently happening:

- NavigationView creates MapView and calls MapView#onCreate
- NavigationView forwards onResume events to MapView#onResume
  - since no style was set by that time we will load mapbox streets
- OnMapReady is invoked since we were abl

[2018-05-10 22:02] riastrad opened #930 "NullPointerException when when route built with MapboxDirections.builder()"
**Android API:**
**Mapbox Navigation SDK version:**  0.12.0

### Steps to trigger behavior

 1. Create a route using `MapboxDirections.builder()` instead of `NavigationRoute.builder()`
 2. Add a few waypoints using `.addWaypoint()`
 3. Start turn-by-turn navigation

### Expected behavior

Turn-by-turn navigation should progress normally without any issues.

### Actual behavior

A NullPointerExcept

[2018-05-11 00:36] danesfeder commented on #930
Hey @riastrad, thanks for opening this - the Nav SDK version you referenced looks like the Maps SDK.  Our latest version is `0.13.0`, is this the version you were producing this with?  Thanks!

[2018-05-11 08:46] Guardiola31337 commented on #919
Hey @vladgheorghe 👋 thanks for reaching out and report your problem.

This should be fixed now (https://github.com/mapbox/mapbox-events-android/pull/136 landed) and it'll be included in the next release. In the meantime, could you please retest this including `mapbox-android-telemetry:3.2.0-SNAPSHOT` explicitly and report back if it's still an issue?

Following you can find installation instructio

[2018-05-11 17:32] vladgheorghe commented on #919
Hello @Guardiola31337, we're going to going distribute a beta build with this modification and come back with a reply however it might take a while as the crash is pretty rare.

[2018-05-11 18:35] devotaaabel commented on #922
Hi @chooble , were you using an `awsPoolId` previously? And are you using `NavigationView` or a custom view implementation?

[2018-05-12 05:12] Krageek opened #931 "Mapbox Navigation Crashes on clicking Start Navigation"
This is my MapBoxNavigationActivity.java file
[code]

This is my app level build.gradle file

[code]

This is the error that im getting

[code]

This is the code for the xml file

[code]

[2018-05-12 12:06] vladgheorghe opened #932 "lineSlice crashes"
We've started seeing some crashes from a method in turf, stacktrace here, 0.13 release http://crashes.to/s/8ce242e6b6b

[2018-05-14 05:56] Meerz commented on #931
@Krageek i also face this issue you can also use custom navigation activity like
	`@Override
public void onNavigationReady() {
  NavigationViewOptions options = NavigationViewOptions.builder()
    .origin(origin)
    .destination(destination)
    .awsPoolId(awsPoolId)
    .shouldSimulateRoute(simulateRoute)
    .build();

  navigationView.startNavigation(options);
}`

your error will be resolved

[2018-05-14 06:19] Meerz opened #933 "Turn by Turn Navigation marker not updated?"
hi i facing an issue when i start navigation the navigation marker is not move or no movement with our location
 NavigationViewOptions options = NavigationViewOptions.builder()
                .origin(origin)
                .destination(destination)
                .navigationListener(this)
                .navigationOptions(navigationOptions)
                .directionsProfile(DirectionsCriteria

[2018-05-14 06:52] chooble commented on #922
Hi @devotaaabel! No I wasn't using `awsPoolId` previously and I'm using the default NavigationView.

[2018-05-14 08:13] Guardiola31337 commented on #859
Hey @P-Zenker thanks for reaching out and report your issue.

Could you add some more information for reproducing the issue (minimal example) or any other specifics around your test setup? Do you get that misalignment running for example the `Navigation Views` activity from the test app using those devices? If there is any sample or pseudo code you can provide, that would be really helpful because

[2018-05-14 08:16] Guardiola31337 commented on #919
@vladgheorghe awesome! Keep us posted. Thanks again.

[2018-05-14 08:35] P-Zenker commented on #859
It's just:
[code]

I don't know which issue it was, but a issue months ago was only visible on physical devices.

[2018-05-14 08:55] Guardiola31337 commented on #859
What do you mean? Is https://github.com/mapbox/mapbox-navigation-android/issues/859#issuecomment-387413283 still present? What device was used to take the screenshot shown in https://github.com/mapbox/mapbox-navigation-android/issues/859#issuecomment-387413283? Do you get the same misalignment using both devices (Nexus 6 and Cynus E4)?

Could you test ☝️ with the mentioned devices? I don't have th

[2018-05-14 09:33] Krageek commented on #931
Could you tell me where in the code do i add this?

[2018-05-14 09:40] Krageek commented on #931
@Meerz Could you tell me where in the code do i add this?

[2018-05-14 12:08] LukasPaczos commented on #864
@Guardiola31337 Just run into this myself and noting here that lifecycle components `1.1.1` bring [no significant changes](https://developer.android.com/jetpack/docs/release-notes#march_21_2018) so if it's blocking you in any way, you can safely use `1.1.0`.

[2018-05-14 13:05] danesfeder commented on #933
Hey @Meerz, unfortunately, I'm not able to see the issue from the code snippet you've provided here.  In the future, please direct these implementation questions to https://stackoverflow.com/questions/tagged/mapbox.  We keep an eye on those questions as well and it helps bring visibility to other developers that may be facing similar issues.  Thanks!

[2018-05-14 13:05] #933 closed

[2018-05-14 13:59] danesfeder commented on #931
Hey @Krageek, I'm seeing in your code that you're using `NavigationView` as well as `NavigationLauncher` - only one or the other should be used and I would also advise against using `NavigationView` in the same XML as a normal `MapView`.  This is because `NavigationView` wraps a `MapView` and may cause conflicts with your normal `MapView` implementation.

In the future, please direct these types o

[2018-05-14 13:59] #931 closed

[2018-05-14 14:18] BradKwon commented on #859
@P-Zenker Hello, I had the exact same issue and resolved it just a while ago.

In my case, it was because of using higher version of Support.ConstraintLayout. I had used its ver. 1.1.0 and found out that the Navigation UI sample app uses ver. 1.0.2. I downgraded it to 1.0.2.2 and buttons are aligned.

Hope that this would help you :)

[2018-05-14 14:47] danesfeder commented on #923
Duplicate of #920

[2018-05-14 14:47] #923 closed

[2018-05-14 14:52] Guardiola31337 commented on #921
Run into a related crash 💥

[code]

`master`
Moto X (2nd gen) - Android 5.0

cc @devotaaabel

[2018-05-14 16:32] danesfeder commented on #898
Closed with #917

[2018-05-14 16:32] #898 closed

[2018-05-14 16:36] danesfeder opened #935 "NPE when using Turf#nearestPointOnLine"
Looks like we may be passing insufficient data to the method at certain points along the route:

[code]

[2018-05-14 16:48] Guardiola31337 commented on #859
@BradKwon thanks 🙏

@P-Zenker great to hear! Thanks for the update.

We're keeping track of that feature request in https://github.com/mapbox/mapbox-navigation-android/issues/634

Thanks again!

[2018-05-14 16:56] #902 closed

[2018-05-14 17:00] Guardiola31337 commented on #864
Nah, not blocking, it's in the test app 👀

BTW in that case, in order to avoid having to explicitly exclude `1.1.1` and force `1.1.0` version, IMO it should be done upstream in the LLP.

[2018-05-14 18:08] danesfeder commented on #930
@riastrad no problem, do you by chance have the route request code that reproduces this?  I'm trying to configure a way to reproduce but can't seem to do so - thanks!

[2018-05-14 19:41] danesfeder commented on #930
@riastrad let's maybe pair on this tomorrow after ☕️ ?  I'm missing some classes from your java code so it would be easier to see on your computer.  Opening up a work-in-progress PR in the meantime.  Thanks!

[2018-05-14 20:10] danesfeder commented on #935
@osana @cammace any ideas with this?  Pretty deep into MAS / Turf and I'm trying to figure out the route cause

[2018-05-15 01:23] artyonline opened #940 "Perform an action when a turn is indicated on the navigation"
**Android API:**
**Mapbox Navigation SDK version : 0.11.1**

What I'm trying to achieve is pass a signal to my Bluetooth IoT device whenever a turn is indicated during the navigation. Is there a method to be called or any indication to be used when the navigation is indicating turning point.

I have created an MapboxNavigationOptions object and then changed userLocationSnapDistance to increase the

[2018-05-15 02:53] artyonline commented on #940
@danesfeder  could you please take a loot at my problem here if it's not trouble

[2018-05-15 03:05] osana commented on #935
@danesfeder  I will have a look.

[2018-05-15 10:34] lorenzhahaha opened #941 "Mapbox Navigation leaving traces of route behind"
This is just a question. Is it possible to make the traces of route left behind to be removed while moving? Like the origin point is following the current location of the user. Correct me if I'm wrong. Thanks!

[2018-05-15 10:56] Guardiola31337 commented on #940
Hey @artyonline 👋 thanks for reaching out and report your question.

I guess that `ProgressChangeListener` is what you're looking for. For further information you can check the documentation 👉 https://www.mapbox.com/android-docs/navigation/overview/route-progress/

In any case, this issue tracker is only for bug reports with test cases and feature requests. In the future, please direct these kind

[2018-05-15 10:56] #940 closed

[2018-05-15 12:44] danesfeder commented on #941
Hey @lorenzhahaha, yeah I know what you mean - we've been thinking about this as well (https://github.com/mapbox/mapbox-navigation-android/issues/892).  The feature doesn't currently exist, but please follow that ticket to see when it lands.  Thanks for checking out the SDK!

[2018-05-15 12:44] #941 closed

[2018-05-15 12:45] #929 closed

[2018-05-15 12:59] tobrun commented on #928
The idea here is to keep sources/layers in memory and reload them when a new style has been loaded (map change event).

[2018-05-15 13:39] osana commented on #935
@danesfeder it would be good to confirm that this is also happening in 6.0 sdk based code (i.e 3.0 based code mapbox-java) as implementation of geoJson changed a lot

[2018-05-15 14:34] cammace commented on #935
It looks like it might be coming from this line? Which seems to have since changed. Like @osana said, it would be good to know the Mapbox Java version.

[2018-05-15 15:03] #921 closed

[2018-05-15 16:47] BradKwon commented on #859
@Guardiola31337 Thank you for the quick update! 💯

[2018-05-16 11:16] wbearand opened #947 "Feature request - allow custom voice instructions with navigationView"
Is it possible or planned to add custom voice navigation instructions to a NavigationView?

I know that it is possible to add milestones to the MapboxNavigation object like:

navigation.addMilestone(new RouteMilestone.Builder()
.setIdentifier("begin-route-milestone")
.setInstruction(new CustomInstruction())
.setTrigger(
  Trigger.all(
    Trigger.lt(TriggerProperty.STEP_INDEX, 3),
    Trigger.gt(T

[2018-05-16 14:01] #932 closed

[2018-05-16 14:32] danesfeder commented on #947
Hey @wbearand yeah you're completely correct here - we can look into adding a `NavigationViewOption` that takes a `List` of `Milestone`?

We already allow you to listen to the milestones via [this parameter](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java#L67), so I can se

[2018-05-16 15:00] Guardiola31337 commented on #897
Hey @tonyc10 👋 thanks for reaching out and report your problem.

This is being tracked in https://github.com/mapbox/mapbox-navigation-android/issues/922

Could you add some more information for reproducing the issue (minimal example) or any other specifics around your test setup in that ticket? Do you have some more information on used device? If there is any sample or pseudo code you can provide

[2018-05-16 15:15] danesfeder commented on #922
@chooble Can you add a `MilestoneEventListener` via [`NavigationViewOptions#milestoneEventListener`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java#L67)?

After adding this, can you verify that `VoiceInstructionMilestone` is being sent via this callback as you travel alon

[2018-05-16 15:40] tonyc10 commented on #922
I am also not getting voice in 0.13, and, like @chooble, am constructing my own DirectionsRoute based on a response from our own OSRM route server.   It worked fine earlier and still works well except for the voice.

I've got nothing else to add at this point and have been drawn off to another urgent project for a few days -- I can spend some time troubleshooting with you early next week if it's s

[2018-05-16 15:43] danesfeder commented on #922
@tonyc10 Do you mind trying the same suggestion https://github.com/mapbox/mapbox-navigation-android/issues/922#issuecomment-389556517?  Voice instructions are provided by the response from the directions API, so I think something may be going on with that.

[2018-05-16 16:06] chooble commented on #922
@danesfeder Hi! I added the MilestoneEventListener and getting this output (instruction is in dutch):

I'm logging this:

    @Override
    public void onMilestoneEvent(RouteProgress routeProgress, String instruction, Milestone milestone) {
        Log.d("NavigationActivity", "\n");
        Log.d("NavigationActivity", "onMilestoneEvent, instruction:" + instruction);
        if(milestone.getInstruc

[2018-05-16 17:09] tonyc10 commented on #922
I used @chooble's logging code and looks like my results are the same:

[code]

[2018-05-16 18:48] wbearand commented on #947
@danesfeder Yes that sounds good, i was thinking the same thing, or maybe even add it to MapboxNavigationOptions because those could be set on both MapboxNavigation(via constructor) and on NavigationViewOptions like:
NavigationViewOptions.Builder options = NavigationViewOptions.builder().navigationOptions(mapboxNavigationOptions);

But maybe that does not fit the intended purpose of those MapboxNa

[2018-05-16 19:44] danesfeder commented on #875
Hey @richjhart, this was a bug with the API that was fixed - can you try again / see if you reproduce the same issue?

[2018-05-17 08:01] Guardiola31337 commented on #714
- `NavigationViewActivity` (name) isn't very descriptive because it doesn't actually inflate a `NavigationView` it uses `NavigationLauncher`.

[2018-05-17 15:47] richjhart commented on #875
Further to the previous message, it doesn't appear to be related to the points being too close. I stripped out any points within 50m of each other, but it still has issues. I'm still putting together an example of where the strategy works, and where it doesn't - despite similar requests

[2018-05-17 21:43] Alamgir opened #949 "Ability to add 'approaches' to NavigationRoute.Builder"
Was hoping there are plans to add the ability to set `approaches` much like the current `bearings`. The REST api supports the ability to designate between `unrestricted` and `curb`, but `MapboxDirections.Builder` has no such support.

Reference:
https://www.mapbox.com/api-documentation/#retrieve-directions

[2018-05-18 02:36] brsbl opened #950 "Add route overview button"
We should add a route overview button to the navigation UI. Zooming out to see an overview of the full route and then zooming back in is a very common action when using turn-by-turn navigation. Adding this feature makes it a lot safer for a user to do this while driving.

Here's what it looks like on iOS:
<img src="https://user-images.githubusercontent.com/19296229/40213150-cd1e86a0-5a08-11e8-9d47

[2018-05-18 08:31] Guardiola31337 commented on #830
Hey @m-harisqurashi 👋 thanks for reaching out and report your problem.

We're working on a way to end navigation without finishing the whole view (which I believe is what you are trying to do).

In any case, could you share the symbolicated stack trace?

We can get a bit more details about the crash by switching the Android Monitor from "Show Only Selected Application" to "No Filters" in Android S

[2018-05-18 10:10] richjhart commented on #875
@danesfeder I have investigated the issue further, and it seems there are some "blind spots" for map matching - and in fact it's when points are too far apart it can struggle (even if there's not a lot going on in between the points).

If, for example, I try to get a match from 51.466185, -0.101598 to 51.46152, -0.114159, it finds no routes (no error, just no routes).

But if I add in 51.465608, -

[2018-05-18 11:09] richjhart commented on #875
@danesfeder Another update. It appears that if I provide random timestamps (tried 10 seconds apart), it seems to find a match for the above ones. I will try that on a larger scale.

Note, however, the error I've just raised: https://github.com/mapbox/mapbox-java/issues/819
I'm currently having to use reflection to modify the timestamps string after building the request, which obviously isn't ideal

[2018-05-18 12:35] Guardiola31337 commented on #949
Hey @Alamgir 👋 thanks for reaching out.

Yeah, first this will happen in https://github.com/mapbox/mapbox-java/issues/820

Then, we will update the `NavigationRoute` (wraps `MapboxDirections` in the Nav SDK) code to make it available.

[2018-05-18 12:39] danesfeder commented on #875
@richjhart thanks for really digging on this - I'll get eyes on this again from our directions team and thanks for mapbox/mapbox-java#819, I'll make sure that team is also aware of this issue.  Will keep you posted here.

[2018-05-18 13:40] danesfeder commented on #922
@chooble @tonyc10 Okay great, thank you both.  So this means valid voice instructions are being fired, but something may be happening with the speech player code on our side.  We will look into this - thanks for the help.

[2018-05-18 13:48] Guardiola31337 commented on #830
This is being tracked in https://github.com/mapbox/mapbox-navigation-android/issues/813

Closing as duplicated.

[2018-05-18 13:48] #830 closed

[2018-05-18 15:54] samfader opened #951 "Meta(ish): INSTALL.md doesn't exist, so link in CONTRIBUTING.md is broken"
On the CONTRIBUTING.md page (https://github.com/mapbox/mapbox-navigation-android/blob/master/CONTRIBUTING.md), step 1 is to familiarize yourself with the install process, which links [here](https://github.com/mapbox/mapbox-navigation-android/blob/master/INSTALL.md). Is there a new location for that page?

[2018-05-18 16:11] dhodge229 opened #953 "Incorrect cast of Context in InstructionView"
**Android API:** Android P
**Mapbox Navigation SDK version:** 0.13.0

### Steps to trigger behavior

 1. Utilize InstructionView in v4 Fragment or AppCompatActivity
 2. Attempt to inflate layout
 3. Crash Thrown

### Actual behavior
[code]

[2018-05-18 16:21] #951 closed

[2018-05-18 18:21] danesfeder commented on #673
Closed with #697

[2018-05-18 18:21] #673 closed

[2018-05-18 18:21] danesfeder commented on #372
This is no longer a bug with the navigation UI:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8434572/40251230-ba2ad7d0-5aa6-11e8-8a4b-87e46110b021.gif)

[2018-05-18 18:21] #372 closed

[2018-05-18 19:59] danesfeder commented on #543
@Guardiola31337 you have been drawing routes with multiple waypoints right?  Can you confirm you have not been seeing this crash?

[2018-05-18 20:06] danesfeder commented on #953
Hey @dhodge229 thanks for bringing this to us - just to confirm, you are using only the `InstructionView` in a layout (in either `v4` `Fragment` or `AppCompatActivity`).  Do you mind letting us know which version of the support library you are using as well?  Thanks!

[2018-05-18 20:19] dhodge229 commented on #953
Currently using 27.1.1 for all support libs.

[2018-05-18 20:36] danesfeder opened #955 "Feature Request: NavigationView arrival event listener"
We can add an arrival event listener to the `NavigationView` `RouteListener`, so developers can get a callback when the user has arrived at their destination or a waypoint along the route.

[code]

[2018-05-19 20:27] Cjballard commented on #950
@danesfeder @brsbl Here are two versions of that mocked up using the current route preview icon - the first, integrating the preview button more with the trip tray (more like Google) and introducing a third action button.

![preview](https://user-images.githubusercontent.com/7535952/40272780-522fa8c8-5b81-11e8-90a6-4f3ee49b4cc6.png)

I think I prefer having it integrated into the trip tray, as it

[2018-05-20 20:23] wbearand opened #956 "NPE in night mode in OnMapChangedListener: Attempt to invoke virtual method '...addProgressChangeListener' on a null object reference"
I am using a modified version of the WaypointNavigationActivity of the mapbox-navigation-android samples, and i see abovementioned NPE if i start a navigation at night after a fresh app start. The navigationview is then not fully loaded. Cancelling and retrying works though without NPE. Also everything works as expected if navigation is started during the day / "with day styling".

Mapbox Navigati

[2018-05-21 09:36] Guardiola31337 commented on #956
Hey @wbearand 👋 thanks for reaching out and report your problem.

I guess this should be fixed now (https://github.com/mapbox/mapbox-navigation-android/pull/946 landed last week) and it'll be available in the next release. In the meantime, could you please retest this using `0.14.0-SNAPSHOT` and report back if it's still an issue?

Following you can find installation instructions for `SNAPSHOT`s:

[2018-05-21 11:45] richjhart opened #957 "Feature Request: Allow Custom Location Engines"
As far as I can tell, currently the only options for the LocationEngine are using real GPS, or the default simulator.

It is possible to create a new Location Engine, extending com.mapbox.android.core.location.LocationEngine, but there doesn't seem to be a way to set the LocationEngine from outside the library. While in general, these two are enough, there are circumstances where setting our own w

[2018-05-21 11:55] danesfeder commented on #957
Hey @richjhart, yeah I think these are great ideas.  To summarize, this feature work would include:

1. Adding the ability to pass a custom `LocationEngine` through `NavigationViewOptions` to be activated in the `LocationEngineConductor` in favor of our defaults.

2.  Adding a `LocationEngineListener` to `NavigationViewOptions` or creating a new listener that only passes raw `Location` updates and

[2018-05-21 12:06] richjhart commented on #957
@danesfeder Thanks for the quick reply.

And yes, your summary looks exactly right. And yes I'm already using NavigationView (in a Fragment, rather than directly in an Activity, but I assume that shouldn't make any difference). And yes passing both in to the NavigationViewOptions would be perfect for us.

Note that currently we use reflection and do this (which obviously we'd much prefer to get ri

[2018-05-21 12:10] richjhart opened #958 "Feature Request: Allow Navigation to start along the route"
As per the issues discussed in #875, it be useful if it was possible to include an initial leg/step in a startNavigation call. I would assume the best place would be in the NavigationViewOptions, along with the directionsRoute.

As noted, it's actually possible to do this with Reflection, effectively repeatedly calling a modified version of "buildNewRouteProgress()" and the associated functions, w

[2018-05-21 12:17] richjhart commented on #875
@danesfeder I see that's already been merged, which is great!

Now that I have raised #958, I think that we now actually have a solution that works for us (using Map Matching, and manually making the re-route requests). It would still be a slight improvement for us to be able to have "invisible waypoints", but it isn't something that would now hold us up, so I don't know if you wanted that on the

[2018-05-21 14:43] Guardiola31337 commented on #919
Hey @vladgheorghe if you experience OP again feel free to open a new ticket or reopening this one. Thanks!

Closing here.

[2018-05-21 14:43] #919 closed

[2018-05-21 14:44] Guardiola31337 commented on #900
Hey @vladgheorghe if you experience OP again feel free to open a new ticket or reopening this one. Thanks!

Closing here.

[2018-05-21 14:44] #900 closed

[2018-05-21 14:50] danesfeder commented on #876
Hey @Danny-James, this bug is a result of #872.  It looks like route processing is not resuming when re-joining the route.

Let's use #872 to track the fix - thanks for reporting!

[2018-05-21 14:50] #876 closed

[2018-05-21 14:57] Guardiola31337 commented on #864
Both the Nav SDK (👀 https://github.com/mapbox/mapbox-navigation-android/pull/697/files#diff-6512f838e273b79676cac5f72456127fR32) and LLP (https://github.com/mapbox/mapbox-plugins-android/commit/9d1c682eb35f520372251ab4c2fad529439b25e8#diff-6512f838e273b79676cac5f72456127fR31) now use `1.1.1` version.

Closing here.

[2018-05-21 14:57] #864 closed

[2018-05-21 14:59] danesfeder commented on #862
This was fixed #829

[2018-05-21 14:59] #862 closed

[2018-05-21 15:19] danesfeder commented on #807
This landed in #887, thanks @devotaaabel!

[2018-05-21 15:19] #807 closed

[2018-05-21 15:58] akitchen commented on #704
Let's re-evaluate once #928 is addressed

[2018-05-21 16:05] akitchen commented on #886
Unblocked by https://github.com/mapbox/mapbox-navigation-android/issues/924 and https://github.com/mapbox/locale-utils/issues/4

[2018-05-21 16:14] danesfeder commented on #956
Thanks for bringing this to us @wbearand - confirming that this should be fixed with #946.  Please feel free to re-open if you still experience this issue.

[2018-05-21 16:14] #956 closed

[2018-05-21 16:20] danesfeder commented on #676
Hey @briandilley, I'm going to go ahead and close this - if you are still able to produce with our latest release, please feel free to re-open and we will investigate further together.  Thanks!

[2018-05-21 16:20] #676 closed

[2018-05-21 17:39] danesfeder commented on #715
This was addressed in #887

[2018-05-21 17:39] #715 closed

[2018-05-21 17:39] danesfeder commented on #580
This will need to be addressed in conjunction with #447

[2018-05-21 17:41] danesfeder commented on #525
@devotaaabel is working on a PR that will only allow a `DirectionsRoute` to be passed to either `NavigationLauncherOptions` or `NavigationViewOptions` - to keep following this design, this ticket is no longer actionable.

[2018-05-21 17:41] #525 closed

[2018-05-21 17:49] danesfeder commented on #930
@riastrad please keep us posted on the findings regarding this issue, thanks!

[2018-05-21 17:52] riastrad commented on #930
Sure thing, @danesfeder. It turns out the initial NPE was thrown using SDK version `0.12.0`. I've asked the user to update to `0.13.0` and report back if the problem persists. Will let you know the moment I hear back from them.

[2018-05-21 18:01] danesfeder commented on #100
This work is no longer to our current pipeline - can re-open if this is something we want to pursue in the future.

[2018-05-21 18:01] #100 closed

[2018-05-21 18:20] danesfeder commented on #716
Hey @vishalkharat, unfortunately I'm not able to discern your issue from the code snippets provided.  If you're able to narrow down the exact cause of your issue within our SDK, please feel free to open another ticket. Thanks!

[2018-05-21 18:20] #716 closed

[2018-05-21 18:21] danesfeder commented on #162
Not seeing this as a current requirement or issue within the SDK.  Going to close - can reopen if needed in the future.

[2018-05-21 18:21] #162 closed

[2018-05-21 19:39] cammace commented on #162
This is actually super simple to add support for since both classes use AutoValue. Just use [this library](https://github.com/rharter/auto-value-parcel) and slap `implements Parcelable` on both classes.

[2018-05-21 19:52] danesfeder commented on #162
I don't think this will work if we are using objects that aren't Parcelable within the object that we are trying to make Parcelable (like the interface for the [custom notification]( https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java#L54-L57)).  We would have to write

[2018-05-21 20:24] mohamed3la2 opened #960 "Android: Navigation turn-by-turn UI Problem (I want to know if i missing something )"
I am doing a simple Navigation turn-by-turn UI between 2 points (i get them from Google Map) best route take 2 min (400 m).
I Follow This link https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java    And read navigation ui documentation and use
 **'com.mapbox.mapboxsdk:

[2018-05-22 10:07] Guardiola31337 commented on #960
Hey @mohamed3la2 👋 thanks for reaching out and report your question.

How are you creating the `origin` and `destination` points? I guess that the problem is that `longitude` and `latitude` are messed up (upside down). `NavigationViewOptions` requests a `Point` which could be created using `Point.fromLngLat` which requests `longitude` and `latitude` (in that order) 👀 https://github.com/mapbox/mapb

[2018-05-22 12:45] danesfeder commented on #875
@richjhart do you mind clarifying "invisible waypoints" - is this from a UI standpoint?  Not drawing the waypoint "dots" on the map along the route?  I apologize if I'm not following here.

[2018-05-22 13:11] mohamed3la2 commented on #960
I told you that i follow that link https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java
and create it like in the link. here is my origin and destination code :
**_import com.mapbox.geojson.Point;_**
   **private static final double ORIGIN_LONGITUDE = 31.254159;
    pr

[2018-05-22 13:16] mohamed3la2 commented on #960
And here is Full code its look like i copy github code and paste it

import android.app.Fragment;
import android.os.Bundle;
import android.support.annotation.NonNull;
import android.support.annotation.Nullable;
import android.util.Log;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import com.mapbox.services.android.navigation.ui.v5.NavigationView;
imp

[2018-05-22 15:47] danesfeder commented on #543
Going to go ahead and close this - can re-open if we begin to see this again 👀

[2018-05-22 15:47] #543 closed

[2018-05-22 16:50] Guardiola31337 commented on #960
Hey @mohamed3la2 👋

The points you're using as `origin` and `destination` are in the sea and requesting directions with those points have no result.

`originPoint`

![origin](https://user-images.githubusercontent.com/1668582/40376894-d68cb8c0-5def-11e8-9245-c4728f04ae40.png)

`destinationPoint`

![destination](https://user-images.githubusercontent.com/1668582/40376910-debfa0d4-5def-11e8-80fc-019a4

[2018-05-22 16:55] Guardiola31337 commented on #960
Closing here as

was already reported in https://github.com/mapbox/mapbox-navigation-android/issues/774

Thanks again @mohamed3la2

[2018-05-22 16:55] #960 closed

[2018-05-22 16:59] kozyr opened #963 "Mapbox Telemetry and GDPR"
I've noticed that the default  config of the Android Nav SDK periodically sends out Telemetry events back to Mapbox:
[code]
The events have user locations and session IDs. Is that possible to disable this or somehow control the information that's being sent? With GDPR coming up soon, I can see this as being an issue  for some of the clients who'd want to use the SDK.

[2018-05-22 17:00] Guardiola31337 commented on #543
Confirming that drawing routes with waypoints I'm not able to 👀 OP's crash.

[2018-05-22 20:05] wbearand commented on #956
Tried it now with the 0.14.0 snapshot, seems to be fixed now as you suspected!

In my version of the WaypointNavigationActivity, i did not change much, just added TextToSpeech and tried to add custom voice instruction (which of course is not optimal because it is not in the same queue as the "real" instructions => might overlap).

[2018-05-23 03:33] floydignified opened #964 "NavigationLauncher onRunning"
Any way I can get the onRunning event on NavigationLauncher? Cant find any on the docs

[2018-05-23 08:11] Guardiola31337 commented on #964
Hey @floydignified 👋 thanks for reaching out and report your question.

Unfortunately, this is not possible using the `NavigationLauncher`. Because we launch `NavigationActivity` via an `Intent`, we aren't able to handle the transfer of the listener references.

I encourage you to use `NavigationView` instead. Using the `NavigationView` without `NavigationLauncher` allows you to add these listener

[2018-05-23 08:13] Guardiola31337 commented on #956
@wbearand

Glad to hear, thanks for the update!

[2018-05-23 08:29] Guardiola31337 commented on #960
Yeah that's the problem. Those that you see are latitude / longitude 👀

If you flip them you get the proper route 👀

![route](https://user-images.githubusercontent.com/1668582/40412597-134f6346-5e74-11e8-90ef-60b4c03b6fa4.png)

[2018-05-23 08:59] wbearand commented on #875
I hope you guys don't mind if I add sth to this discussion as I am also interested in using an additional waypoint type: a certain competitor navigation sdk differentiates between STOP_WAYPOINT and VIA_WAYPOINT .

STOP_WAYPOINT:
A maneuver is generated for a STOP waypoint. After the STOP waypoint, route is allowed to continue in the opposite direction, i.e. to turn back.
During Guidance, "You have

[2018-05-23 15:09] franshua opened #966 "Error inflating class com.mapbox.services.android.navigation.ui.v5.NavigationView"
Updated from 0.12.0 to 0.13.0 version and changed only minimal code:

`  @Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);

        setTheme(R.style.Theme_AppCompat_NoActionBar);
        setContentView(R.layout.activity_navigation);
        Mapbox.getInstance(this, getString(R.string.mapbox_api_key));

        mNavigationView =

[2018-05-23 15:48] danesfeder commented on #966
Hey @franshua, it looks like from your code snippet you are setting your access token after inflating the `NavigationView`.  Because the `NavigationView` uses a `MapView` and initializes it behind the scenes, this needs to be set before `setContentView`

I reproduced the same scenario and saw this at the end of my stacktrace:
[code]

Thanks for checking out the SDK!

[2018-05-23 15:48] #966 closed

[2018-05-23 18:08] mohamed3la2 commented on #960
@Guardiola31337 ha all clear now , before these points i tried another two messed up points and its work i think by luck :D ,
Thanks man its help me a lot keep it up :+1: ,And sorry again for wasting your time for this stupid error .

[2018-05-23 20:16] danesfeder opened #968 "Push snapped location forward to better depict actual user Location"
By the time we receive a location update, process / snap it to the route, and then show it on our UI, the user's phone has already traveled past the given point on the screen and we appear to lag behind in some scenarios.

We should slightly project the snapped location forward with `SnapToRoute` to ensure we are more accurately showing the `Location` on the screen.

[2018-05-24 00:29] kozyr commented on #963
@zugaldia This approach goes against GDPR though - you're enabling the tracking and then asking the user to opt-out. GDPR says you should be asking the user to opt-in, and providing a way to opt-out only if they do opt-in.

As part of your events, you're receiving user IP and user locations - and user IP is personal data.

[2018-05-24 08:06] Danny-James commented on #872
@danesfeder any news on speaking with your team on this?

I've had allot of reports from our testers about this issue.

[2018-05-24 08:12] Guardiola31337 commented on #960
@mohamed3la2 great to hear 🙂 Thanks for the update!

That's the expected behavior, it's working as designed 👀 [`NavigationListener`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/listeners/NavigationListener.java)

[2018-05-24 08:15] sarveshAgrawal opened #970 "Attempt to invoke virtual method 'java.lang.Object android.content.Context.getSystemService(java.lang.String)' on a null object reference"
ERROR 1.4.1java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object android.content.Context.getSystemService(java.lang.String)' on a null object reference
	at com.mapbox.android.telemetry.TelemetryUtils.obtainApplicationState(TelemetryUtils.java:100)
	at com.mapbox.android.telemetry.LocationEvent.<init>(LocationEvent.java:44)
	at com.mapbox.android.telemetry.LocationMappe

[2018-05-24 08:30] Guardiola31337 commented on #970
Hey @sarveshAgrawal 👋 Thanks for reaching out and report your issue.

Could you add some more information for reproducing the crash (minimal example) or any other specifics around your test setup? Do you have some more information on used device? If there is any sample or pseudo code you can provide, that would be really helpful because without having additional information, I'm unable to reproduc

[2018-05-24 13:01] danesfeder commented on #872
@Danny-James is there a specific reason that you have both snapping and off-route detection disabled?  These are two main features of the SDK and I'm curious as to why you feel they aren't needed.

[2018-05-24 13:18] Danny-James commented on #872
@danesfeder The reason for this we are a Crane Hire company and the cranes are only allowed to travel down an authorised route, the authorities will approve the route a few days before the scheduled travel date, it is important the crane stays on the approved route and if they happen to go off this route we do not want the navigation to automatically re calculate as the drivers will follow this, t

[2018-05-24 13:28] Guardiola31337 opened #971 "Update NavigationRoute including waypoint names from the Directions API"
Update `NavigationRoute` including waypoint names from the Directions API.

First this will happen in https://github.com/mapbox/mapbox-java/issues/824

[2018-05-24 13:31] Guardiola31337 opened #972 "User should see exit signs in the Instruction Banner"
When a user is traveling down a motorway, any "Exit" instructions should be styled to be very distinguishable.

Refs https://github.com/mapbox/mapbox-navigation-ios/issues/1262

[2018-05-24 18:53] danesfeder commented on #953
@dhodge229 I attacked this issue from a few different angles in https://github.com/mapbox/mapbox-navigation-android/pull/973.  Should address this crash you were seeing - thanks for checking out the SDK!

[2018-05-24 19:26] Guardiola31337 commented on #714
![summary-animation-jumpy](https://user-images.githubusercontent.com/1668582/36447719-7f877ae4-1685-11e8-8e9e-d14e78aaa7b7.gif)

It's fixed in https://github.com/mapbox/mapbox-navigation-android/pull/959/commits/4213ed62f0cb127bcf40c6138d59776394920131 thanks to the new gestures library 🎉

cc @LukasPaczos

[2018-05-24 19:44] Guardiola31337 commented on #714
![summary_bottom_sheet_animation_fixed](https://user-images.githubusercontent.com/1668582/40509999-8d1ab7ac-5f9b-11e8-8cde-a1e73a0ea331.gif)

[2018-05-25 07:59] sarveshAgrawal commented on #970
I have Upgrade the version to 6.1.3

My Tester is again testing the Navigation Screen and MapView screen in the map box app.

Device Sony Experia, Version 5.0, Lolipop
Lenovo , version 6.0 and 6.0.1 , Marshmello
and Mi phone version 7.1.2.

[2018-05-25 09:38] Guardiola31337 commented on #970
@sarveshAgrawal

Are you still 👀 the crash after upgrading?

Your issue was fixed in https://github.com/mapbox/mapbox-events-android/pull/144 and it's available since version `6.1.2` of the Maps SDK (`3.1.1` version of the Events library) 👀 https://github.com/mapbox/mapbox-events-android/blob/502cdd7d89b7a6027cf113a8f9caaa5eb3d1e551/libtelemetry/src/main/java/com/mapbox/android/telemetry/Telemetry

[2018-05-25 09:50] Bharathjh614 commented on #41
can we add annotations to mapbox navigation while navigation?

[2018-05-25 11:39] jethro-2018 opened #976 "No Voice or Map Visible on 0.13"
Since upgrading to 0.13 we have no voice in our application, the street map is also not visible on the navigation view. Is there a new implementation for this? We also noticed the sound button being positioned quite oddly.

Device: Huawei P Smart, running Android 8.0

[code]

`
    <com.mapbox.services.android.navigation.ui.v5.NavigationView
        android:id="@+id/navigationView"
        android

[2018-05-25 13:10] danesfeder commented on #41
Hey @Bharathjh614, the annotations are added when you make the `DirectionsRoute` request, so to do this while navigating, you can request a new route with the annotations desired and then call `MapboxNavigation#startNavigation` with the new route.

[2018-05-25 16:54] Guardiola31337 commented on #976
Hey @jethro-2018 👋 thanks for reaching out and report your issues.

This is being tracked in https://github.com/mapbox/mapbox-navigation-android/issues/922

👇 👀 https://github.com/mapbox/mapbox-navigation-android/issues/859 for further information

Could you share what you're 👀 in your Logcat? That would be really helpful to 🕵️ into the root of the issue.

[2018-05-26 01:37] #963 closed

[2018-05-26 01:42] kozyr opened #978 "NullPointer on screen rotation"
**Android API:**
27

**Mapbox Navigation SDK version:**
0.13

### Steps to trigger behavior

 1. Load embedded NavigationView via initialize() call
 2. On callback, start navigation with a route and a progress listener
[code]
 3. Rotate the screen right after, which results in this NullPointer

[code]

[2018-05-26 06:54] kozyr commented on #978
Fixed the issue by updating to 0.14.0-SNAPSHOT. I also saw the warning about mapbox location layer missing which seemed to be resolved in the latest commits. Any word on when 0.14 will come out?

[2018-05-27 18:05] FullDeveloper917 commented on #801
When is this problem resolved?

[2018-05-28 17:35] Bharathjh614 commented on #41
I need to add annotations while navigating for example:
If the same application is installed by two users and they are navigating
for certain place using the same application if they both come accross the
same path if the distance between them is less than 150m then red marker is
shown and more than 150m green marker should be shown i have successfully
implemented this using skobbler maps but don'

[2018-05-29 17:53] clinkadink opened #979 "Cancel/Finish NavigationView in Fragment"
I am using the latest public release and cannot cancel or finish navigation (NavigationView) inside a fragment. I have one main activity, a container and several fragments. I launch the navigation view fragment from a map view (MapView) fragment. When navigation is running and I am in the navigation view (NavigationView) fragment, I can go back to the the map view fragment - and the navigation vie

[2018-05-30 15:27] danesfeder commented on #979
@clinkadink Yeah this wasn't you doing anything wrong - it is us breaking the API.  Thank you, I will take a look at your code and try to see what's going on here.  Stayed tuned for `0.14.0`, we are working quickly to get it out this week.

[2018-05-30 15:49] #947 closed

[2018-05-30 15:51] devotaaabel commented on #714
See comments on #965 for more issues

[2018-05-31 10:30] richjhart commented on #875
@danesfeder Apologies for the slow response here. The comment by @wbearand covers exactly what I was referring to. As per this thread, we can do most things by using map matching, but there are a couple of small things that would be better achieved with a VIA_WAYPOINT (even when using Map Matching)

[2018-05-31 13:51] #926 closed

[2018-05-31 14:56] #924 closed

[2018-05-31 16:25] danesfeder opened #981 "Adding ProgressChangeListener to NavigationViewOptions causes leak after rotation"
If you add a `ProgressChangeListener` to `NavigationViewOptions` and rotate with the `NavigationView` inflated / navigation running, a leak occurs:

![device-2018-05-31-122255](https://user-images.githubusercontent.com/8434572/40794573-9963e2ae-64cd-11e8-98c9-e287528d3889.png)

[2018-05-31 17:46] danesfeder opened #982 "Release v0.14.0"
### Includes

* Always provide DirectionsRoute in NavigationActivity [#980](https://github.com/mapbox/mapbox-navigation-android/pull/980)
* Update Maps SDK to 6.1.3 and Events library to 3.1.2 [#975](https://github.com/mapbox/mapbox-navigation-android/pull/975)
* Add List of Milestones to NavigationViewOptions [#974](https://github.com/mapbox/mapbox-navigation-android/pull/974)
* Remove origin, de

[2018-05-31 18:15] danesfeder commented on #922
Hey @chooble @tony-cj can you both check out the newest release of the SDK `0.14.0` - please note - there are API breaking changes: https://github.com/mapbox/mapbox-navigation-android/releases/tag/v0.14.0

[2018-05-31 18:16] danesfeder commented on #976
Hey @jethro-2018  can you both test your issues again with our newest release of the SDK `0.14.0` - please note - there are API breaking changes: https://github.com/mapbox/mapbox-navigation-android/releases/tag/v0.14.0

[2018-05-31 18:17] danesfeder commented on #979
Tracking with #959

[2018-06-01 06:57] dahu3291 opened #985 "Failed to initialize NavigationViewModel#navigation, NullPointerException NavigationView#camera"
I want to note that this problem wasn't occurring earlier in the day.

When I start my activity hosting the NavigationView, the screen is blank with the default style but no map, i.e a dark background with sound and feedback buttons visible. Upon panning then clicking  RE-CENTER the app crashes.

**Android API:** 27
**Mapbox Navigation SDK version:** 0.13.0

### Steps to trigger behavior

 1. Foll

[2018-06-01 08:57] jethro-2018 commented on #976
Sorry @Guardiola31337 i didn't receive a notification about your reply, i will post my logs if i encounter any of the same issues once i have tested it with 0.14!

Thanks @danesfeder

[2018-06-01 09:26] chooble commented on #922
I don't seem to get it working. The MilestoneEvent is not triggered, but the RouteProgress has the voice instructions.  I've set the .language and .voiceUnit like you described in the release notes.

[2018-06-01 09:28] chooble commented on #922
I don't seem to get it working. I've set the .language and .voiceUnit in RouteOptions like you described in the release notes. Also the .voiceLanguage in de DirectionRoute builder.

[2018-06-01 18:53] devotaaabel commented on #714
- I think this is an issue as well? Should the banner height be the same the whole width?
![device-2018-06-01-144826](https://user-images.githubusercontent.com/14295757/40858147-5d02e84e-65ab-11e8-9ec1-86709e2b7d62.png)

- Recenter button doesn't hide when instruction view is showing
![device-2018-06-01-145146](https://user-images.githubusercontent.com/14295757/40858182-809b5b7e-65ab-11e8-9366-7bc

[2018-06-02 12:06] mrunal7761 opened #989 "Current Location Cannot be found,shows wrong location near Nigeria."
Current location cannot be found as per given examples in github,i tried to implement this piece of code,but not successful.
I used code example given [here.](https://www.mapbox.com/help/android-navigation-sdk/)

		LocationEngineProvider locationEngineProvider = new
		LocationEngineProvider(NavigationActivity.this);
		locationEngine = locationEngineProvider.obtainBestLocationEngineAvailable();
		l

[2018-06-04 08:40] Guardiola31337 commented on #989
Hey @mrunal7761 👋 Thanks for reaching out and report your issue.

This is being tracked in https://github.com/mapbox/mapbox-events-android/issues/158

In order to display the user’s location on the map, I encourage you to also check the [Location Layer plugin documentation](https://www.mapbox.com/android-docs/plugins/overview/location-layer/).

In any case, this issue tracker is only for bug repor

[2018-06-04 08:40] #989 closed

[2018-06-04 12:31] mrunal7761 commented on #989
@Guardiola31337 ,can you help me please, i m not getting proper response,so i posted it twice,please help,if you can,because its been days,i cant get current location.. please.

[2018-06-04 14:08] skienzl commented on #922
@danesfeder i think the error could be related to a missing error case during the download of the mapbox voice file: [MapboxSpeechPlayer.java](https://github.com/mapbox/mapbox-navigation-android/blob/7a3a704fc443aa9d63e2bf76498bf691221e5d77/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java#L152)

If the response is not successful (`if

[2018-06-04 14:40] #953 closed

[2018-06-04 14:58] Danny-James commented on #872
@danesfeder do you have an update on this please?

[2018-06-04 16:44] tonyc10 commented on #922
No luck for me either.  I put in 0.14.0, fixed the breaking API changes,
and ran it — still no voice.  I also played around with the RouteOptions
like Tristan.

I construct my DirectionsRoute from the JSON of our OSRM server, with a
RouteOptions I build.  All worked, including voice, prior to 0.13.0.

- Tony

On Fri, Jun 1, 2018 at 4:28 AM, Tristan <notifications@github.com> wrote:

[2018-06-05 07:07] mdakram commented on #396
Hi @cammace any timeline on this?

[2018-06-05 10:58] Guardiola31337 opened #991 "Null voiceLanguage for Hebrew and Indonesian"
[code]

Here https://github.com/mapbox/mapbox-navigation-android/blob/4c4a7c1f43310e7f4da4df3f0894e0191633d9c6/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java#L104 `voiceLanguage` is nullable from the API, so we need to check before trying to create a `new Locale` from it.

Noting that I was testing with the default locale from the device set t

[2018-06-05 11:53] danesfeder commented on #396
@Danny-James @mdakram the solution here would be flipping all maneuver images if the driving side is on the left side correct?

[2018-06-05 12:39] Guardiola31337 opened #992 "Shields not showing consistently"
Noticed this while testing:

| Shields   |      Showing      |  Not showing |
|----------|:-------------:|:------:|
| `US 101` | ![shield_showing_US_101](https://user-images.githubusercontent.com/1668582/40975932-cbd21a3c-68cc-11e8-8b4a-d955d51e0034.png) | ![shield_not_showing_US_101](https://user-images.githubusercontent.com/1668582/40976008-06ec4f8e-68cd-11e8-96f0-74d8a87bd25a.png) |
| `I-280` |

[2018-06-05 13:02] Danny-James commented on #396
@danesfeder is their an option for this if we are using the `NavigationLauncher` ?

[2018-06-05 14:27] mdakram commented on #396
@danesfeder not exactly as turn right in case of right hand or left hand driving will remain same. Issue i found is with u-Turn and roundabout. @Danny-James you can share your experience.

[2018-06-05 14:29] Guardiola31337 commented on #992
Noting that we currently don't load shields in the sub banner 👀

![shield_not_showing_sub_banner](https://user-images.githubusercontent.com/1668582/40982108-c07445ec-68dc-11e8-8f50-3dfd5caf45ee.png)

[2018-06-05 14:32] danesfeder commented on #396
@mdakram uturns should be fixed with #908 and roundabouts now consider the actual angle at which you exit the roundabout #854

[2018-06-05 14:34] danesfeder commented on #396
@Danny-James the `ManeuverView` doesn't consider the driving side currently (we should do this automatically, no need for options imo)

[2018-06-05 14:35] Danny-James commented on #396
@danesfeder Thank You.

[2018-06-05 14:50] Guardiola31337 opened #993 "RTL not working consistently"
Noticed that banner instructions were not properly aligned (RTL) while testing using Hebrew (RTL) as device language:

![shield_ca_35](https://user-images.githubusercontent.com/1668582/40982657-13f65290-68de-11e8-90e7-096cd0e0aa6b.png)

![shield_not_showing_sub_banner](https://user-images.githubusercontent.com/1668582/40982696-2e30a6ba-68de-11e8-8e9f-dfa5ecca05ef.png)

Above scenarios look even we

[2018-06-05 14:56] Guardiola31337 opened #994 "Map style didn't change to Dark/Night mode"
Noticed this while testing:

![night_mode_not_working](https://user-images.githubusercontent.com/1668582/40983889-e1cf9dfa-68e0-11e8-8a96-d4ad49ec8d7a.png)

Map style didn't change to Dark/Night mode whereas the rest of the UI did. Noting that it happened right at 10pm.

[2018-06-06 09:17] m-harisqurashi commented on #813
@danesfeder, any update on this issue? When you guys will add this feature on latest version? Your response is highly appreciated.

[2018-06-06 13:18] kinDSa opened #995 "Draw long route on map stuck UI"
Hello,
I am referring  **mapbox-navigation-android** demo for turn-by-turn navigation. When I have selected small route every thing work fine. but while route was long UI and progress dialog stuck. I am using following code to fetch route.

[code]
**Device to test** : LG Nexus 5 (OS- 6.0.1)

**Mapbox Navigation SDK version:**   6.0.1

### Expected behavior
UI is not stuck and progress dialog show

[2018-06-06 15:20] Guardiola31337 commented on #813
Hey @m-harisqurashi we're moving this issue in #959
We are working quickly to get it out as soon as possible. Stay tuned!

[2018-06-06 16:41] #604 closed

[2018-06-06 17:39] devotaaabel commented on #922
@skienzl I'll get that in the next release.

[2018-06-06 17:40] #836 closed

[2018-06-07 19:41] zugaldia commented on #963
This is not correct.  The developer is responsible for seeking the end user's express consent, both for the collection of data generally (if the app does that) and for the sharing of collected location data with Mapbox.  If the end user declines to consent to _either_ of these issues, the maps would continue to work.  We do not require that developers turn off our service if they are unable to get

[2018-06-08 09:56] gmorenope opened #998 "Fatal Exception"
Hi, I follow this exmple:

https://www.mapbox.com/help/android-navigation-sdk/

All is ok until I push the button Start Navigation, In debug console I get this error:

E/AndroidRuntime: FATAL EXCEPTION: main
                  java.lang.NoSuchFieldError: com.mapbox.services.android.navigation.ui.v5.R$id.navigationView
                      at com.mapbox.services.android.navigation.ui.v5.NavigationA

[2018-06-08 10:01] Bharathjh614 opened #999 "Can we add certain customised markers in navigation view"
Now i am able to add marker while navigation for few coordinates using navigationView.addMarker(Point.fromLngLat(longitude, latitude));
by this default destination marker will be added in the coordinates but i need to add custom markers there since navigationView.addMarker( new Markeroptions()) cannot be used in navigation view may i know how to add custom markers while navigation

[2018-06-08 14:50] gmorenope opened #1001 "Error in NavigationView implemented with Fragment"
Hi, I'm testing the app and I get this error with  NavigationView implemented with Fragment option.
Thank you for your help!

E/AndroidRuntime: FATAL EXCEPTION: main
                  android.content.res.Resources$NotFoundException: File res/drawable/ic_arrow_head.xml from drawable resource ID #0x7f0800b0. If the resource you are trying to use is a vector resource, you may be referencing it in an

[2018-06-08 15:27] dahu3291 opened #1002 "No Internet connection crash when RE-CENTER is clicked"
If you are unable to get directionsRoute and startNavigation for what ever reason the app will crash if you click recenter cause the camera wasn't initialized.

**Android API:** 27
**Mapbox Navigation SDK version:** 0.14.0

### Steps to trigger behavior

 1. Either turn off internet connection or comment out navigationView.startNavigation(options);
 2. Pan around map and click re-center
 3.

### E

[2018-06-08 16:57] danesfeder commented on #999
Hey @Bharathjh614, in `0.14.0`, there is `NavigationView#getMapboxMap()` that returns a `MapboxMap` and will give you full access to add markers of your choice after `OnNavigationReadyCallback` is triggered.

Thanks for checking out the SDK!

[2018-06-08 16:57] #999 closed

[2018-06-08 17:02] devotaaabel opened #1003 "OnUtteranceProgressListener in AndroidSpeechPlayer not supported by API 14"
Looks like the previous listener only fired when utterance was completed. https://developer.android.com/reference/android/speech/tts/TextToSpeech.OnUtteranceCompletedListener

[2018-06-08 18:38] danesfeder commented on #1002
Hey @dahu3291, thanks for your feedback here - we saw this bug in `0.14.0` and have addressed it in [`master`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java#L498).  Stay tuned for the upcoming `0.15.0` release and thanks for checking out the SDK!

![ezgif com-video-to-gif](http

[2018-06-08 18:38] #1002 closed

[2018-06-08 19:57] danesfeder opened #1005 "NavigationMapRoute#placeRouteBelow NullPointerException"
Found in Firebase robo testing:
[code]

[2018-06-09 05:32] Bharathjh614 commented on #999
Hey @danesfeder i used as suggested by you which is producing java null pointer exception
  Icon icon = IconFactory.getInstance(NavigationActivity.this)
             .fromResource(R.mipmap.ic_action_green_bike);

navigationView.getMapboxMap(map.addMarker(new MarkerOptions()
         .position(new LatLng(latitude, longitude))
          .icon(icon)  ));
  java.lang.NullPointerException: Attempt to i

[2018-06-11 07:24] Bharathjh614 opened #1008 "Adding markers while Navigation in NavigationActivity"
Hey @danesfeder i used as suggested by you which is producing java null pointer exception
Icon icon = IconFactory.getInstance(NavigationActivity.this)
.fromResource(R.mipmap.ic_action_green_bike);

navigationView.getMapboxMap(map.addMarker(new MarkerOptions()
.position(new LatLng(latitude, longitude))
.icon(icon) ));
java.lang.NullPointerException: Attempt to invoke virtual method 'com.mapbox.mapb

[2018-06-11 11:33] Guardiola31337 commented on #1003
For extra context:

As indicated in OP the `UtteranceProgressListener` used in [`AndroidSpeechPlayer#setInstructionListener`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java#L98) is not supported by API 14.

---

What about using [`TextToSpeech.OnUtteranceCompletedList

[2018-06-11 11:46] Guardiola31337 commented on #1003
Adding the `TextToSpeech` source code for reference https://android.googlesource.com/platform/frameworks/base/+/refs/heads/master/core/java/android/speech/tts/TextToSpeech.java

[2018-06-11 12:30] Guardiola31337 opened #1009 "Map gets the focus when swiping the instructions list"
The map it’s getting the focus even if we’re showing the instructions list. If you swipe when the list is shown we’re actually swiping the map and that’s why when you close the list
the `RECENTER` button is shown on top of the `SummaryBottomSheet` 👀

![instructions_list_focus_recenter](https://user-images.githubusercontent.com/1668582/41231492-7ef36a34-6d83-11e8-9fc5-d786ecfc1780.gif)

[2018-06-11 12:47] Guardiola31337 commented on #1009
Noticed that the `RECENTER` button also shows up after opening + closing the instructions list (without swiping) 👀

![recenter_after_showing_instructions_list](https://user-images.githubusercontent.com/1668582/41232298-343e8a0c-6d86-11e8-8b87-771f3a76c93c.gif)

[2018-06-11 12:56] danesfeder commented on #1008
Hey @Bharathjh614, to clarify, you need to wait for the `OnNavigationReadyCallback` to fire before you can use `getMapboxMap` https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java#L369

I'm having a tough time seeing the issue from your code.  `navigationView.getMapboxMap(map.addMarker

[2018-06-11 12:56] #1008 closed

[2018-06-11 12:56] danesfeder commented on #999
I've answered your question in #1008

[2018-06-11 12:59] Guardiola31337 commented on #800
Noticed OP when running the [`EmbeddedNavigationActivity`](https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java) example from the test app 👀

![embedded_activity_flashing_issue](https://user-images.githubusercontent.com/1668582/41232855-f3ebf230-6d87-11e8-8258-ef39e9659

[2018-06-11 13:00] devotaaabel commented on #1003
Yea I think that should work but we will be losing `onDone` and `onError` so we'll have to find a work around for those

[2018-06-11 13:08] Guardiola31337 commented on #1003
Yeah, I've briefly seen `TextToSpeech` source code and some methods return `ERROR` and `SUCCESS` so I guess we could figure something out for those cases.

[2018-06-11 13:17] monashri commented on #900
With these below spam of error logs , app gets crashed often .
**E/StudioProfiler: JVMTI error: 15(JVMTI_ERROR_THREAD_NOT_ALIVE)**

Am using below dependencies
   ` api 'com.mapbox.mapboxsdk:mapbox-android-sdk:6.1.1'
     api 'com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.5.2'
     api 'com.mapbox.mapboxsdk:mapbox-android-plugin-cluster-utils:0.4.0'`

Any specific reason behind it ?

[2018-06-11 14:37] Niduank commented on #760
Hi @danesfeder,

I have again a reroute issue while using MapboxNavigation.

app.gradle
[code]

Coordinates to test it :
departure : 48.888584,2.247150
arrival : 48.8555654,2.3589835

[2018-06-11 14:47] danesfeder commented on #760
@Niduank Do you mind opening a new ticket & adding a screen recording / more context here?  Is this with simulation enabled?   Thanks!

[2018-06-11 15:00] Niduank opened #1011 "Rerouting issue - reference to #760"
@danesfeder

I have again a reroute issue while using MapboxNavigation.

app.gradle
[code]

Coordinates to test it :
departure : 48.888584,2.247150
arrival : 48.8555654,2.3589835

Test simulation video :
https://vimeo.com/274510385

[2018-06-11 16:57] Guardiola31337 opened #1012 "Incorrectly rerouted when using waypoints"
Noticed 👇 reroute issue when adding a waypoint to the [`EmbeddedNavigationActivity`](https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java) example from the test app

![reroute_with_waypoints_issue](https://user-images.githubusercontent.com/1668582/41239561-d989cf8c-6d98

[2018-06-11 19:00] #1005 closed

[2018-06-11 19:14] danesfeder commented on #985
Hey @dahu3291, closing this ticket as a duplicate of https://github.com/mapbox/mapbox-navigation-android/issues/1002.  Thanks again for your feedback!

[2018-06-11 19:14] #985 closed

[2018-06-11 19:17] danesfeder commented on #930
Closing this for now - waiting on response from original developer who submitted the issue. Will reopen if needed.  Thanks @riastrad!

[2018-06-11 19:17] #930 closed

[2018-06-11 19:19] danesfeder commented on #955
This landed in #926

[2018-06-11 19:19] #955 closed

[2018-06-11 19:41] danesfeder commented on #998
Hey @gmorenope, can you rename the `Activity` you created in this example (`NavigationActivity`) to something like `MyNavigationActivity`?  Does this help?

[2018-06-11 19:50] danesfeder commented on #982
https://www.mapbox.com/help/android-navigation-sdk/ was updated - @langsmith, let me know if you run into any issues updating Store Locator.  Closing

[2018-06-11 19:50] #982 closed

[2018-06-11 19:57] danesfeder commented on #970
@sarveshAgrawal going to go ahead and close this as our currently library includes mapbox/mapbox-events-android#144 - if you find the issue persists, please feel free to re-open and we will continue to dig on this issue.  Thanks for bringing this to our attention!

cc @electrostat

[2018-06-11 19:57] #970 closed

[2018-06-11 20:03] danesfeder commented on #994
Tracking as possible regression from https://github.com/mapbox/mapbox-navigation-android/pull/939

[2018-06-11 20:36] danesfeder commented on #800
I think this may also be related to https://github.com/mapbox/mapbox-navigation-android/pull/959#issuecomment-394819272

Noting that this may be related to our use of `TransitionManager` + `DefaultItemAnimator` at the same time.  See possible related convo 👀 https://github.com/airbnb/epoxy/issues/405

[2018-06-11 20:55] danesfeder opened #1015 "NavigationMapRoute upcoming arrow is drawn over the destination marker"
The arrow layers should be shown / added underneath the marker so it doesn't become obscured:

![device-2018-06-11-165232](https://user-images.githubusercontent.com/8434572/41256645-3da9cac2-6d98-11e8-8ac8-ec0f34979ce6.png)

[2018-06-11 20:59] danesfeder opened #1016 "Add check to reduce way name query sensitivity / update frequency"
We are currently querying the map data for the current way name that is being traveled along.  The querying is very precise and this sometimes causes the way name to update too frequently.

We should add a check (similar to [iOS](https://github.com/mapbox/mapbox-navigation-ios/blob/master/MapboxNavigation/RouteMapViewController.swift#L782-L807)) to look forward and confirm that this change in way

[2018-06-12 10:55] Bharathjh614 commented on #1008
Hey @danesfeder since navigationview extends coordinator layout i cannot extend AppcompactActivity there so i am trying to add the marker from navigation activity itself which gives me default marker
this is my navigation activity:

import android.Manifest;
import android.content.Context;
import android.content.pm.PackageManager;
import android.location.Location;
import android.media.MediaPlayer;

[2018-06-12 10:57] Bharathjh614 commented on #1008
to use preference manager i badly need to extend appcompactactivity in navigationview how can i be done?

[2018-06-12 12:37] danesfeder commented on #1008
@Bharathjh614 yeah you don't need to change the `Activity` you're using (`AppCompatActivity` is actually recommended).

The method `getMapboxMap()` gives you access to the `MapboxMap` used in `NavigationView`.  Like I said, you can use it after `OnNavigationReadyCallback` is called.  In your example:
[code]

If you need help on how to create a custom marker, check out our docs [here](https://www.m

[2018-06-12 14:32] Danny-James opened #1019 "Question: Using KML To Plot Route"
We use MapBox to direct our Cranes down an authorised route, this route cannot change due to the authorities approving this route, our 3rd party system generates a KML file (see attached example) how would I transfer this so the `NavigationLauncher` is able to read the data and plot the route indentically?

[Test_Haulier_3_255N180611111845RTN.txt](https://github.com/mapbox/mapbox-navigation-androi

[2018-06-12 14:36] Danny-James commented on #873
@danesfeder Please see #1019 would you be able to assist?

[2018-06-12 17:28] gmorenope commented on #998
Hi @danesfeder, yes, it was the solution, thanks you very much!

[2018-06-12 19:59] mookyjan commented on #864
I have also same problem when using version implementation "android.arch.lifecycle:reactivestreams:1.1.1" with 27.1.1 but when i downgrade the dependency of lifecyle to implementation "android.arch.lifecycle:reactivestreams:1.1.0" then it works fine.

[2018-06-12 21:24] devotaaabel opened #1021 "When bringing app into the foreground after backgrounding, the camera is no longer centered on the user puck"
![ezgif com-resize 2](https://user-images.githubusercontent.com/14295757/41318151-699ace6a-6e65-11e8-9d8d-23bb0097dffe.gif)

[2018-06-12 21:35] devotaaabel commented on #713
Also, I believe there should be behavior when clicking the whole notification, i.e., reopening the app.

[2018-06-13 05:19] Bharathjh614 commented on #1008
@danesfeder thanks for your help and it worked for me
can we change the default arrow which appears while navigation in navigation view and current position in mapview how can it be done?

[2018-06-13 11:48] Stavanger75 commented on #963
Hi @zugaldia ,

That is good news. Glad to be wrong.
I tested with this code, but it will only be disabled the next time app is opened.

 TelemetryEnabler.updateTelemetryState(TelemetryEnabler.State.DISABLED);

Do you have a recomended way to disable Telemetry ?