[2020-09-02 14:20] Guardiola31337 commented on #1359
Callouts will be implemented in UI SDK `2.0`. Probably still worth to keep this ticket alive.

cc @abhishek1508

[2020-09-02 14:20] Guardiola31337 commented on #1358
Callouts will be implemented in UI SDK `2.0`. Probably still worth to keep this ticket alive.

cc @abhishek1508

[2020-09-02 14:26] Guardiola31337 commented on #134
@mapbox/navigation-android Is there anything from OP we'd like to add to the current process? If we're OK with what we have at the moment, let's close here and re-open / create a new ticket in the future.

[2020-09-02 14:28] Guardiola31337 commented on #3041
At some point we should take a look into this @mapbox/navigation-android

Refs. https://github.com/mapbox/mapbox-navigation-android/issues/2655

[2020-09-02 14:31] Guardiola31337 commented on #3050
Hey @andfs thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in `1.0.0`? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navigation SDK v1.0 for Android and check out the [migration guide](https://github.com/mapbox/mapbox-navigation-android/wiki/1.0

[2020-09-02 14:32] Guardiola31337 commented on #3505
cc'ing @JunDai as you've been recently working on the instructions list.

[2020-09-02 14:37] Guardiola31337 commented on #3449
Hey @vidhi-ml-sg thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in `1.0.0`? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navigation SDK v1.0 for Android and check out the [migration guide](https://github.com/mapbox/mapbox-navigation-android/wi

[2020-09-02 14:39] Guardiola31337 commented on #3419
Hey @songyanho thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in `1.0.0`? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navigation SDK v1.0 for Android and check out the [migration guide](https://github.com/mapbox/mapbox-navigation-android/wiki

[2020-09-02 14:43] Guardiola31337 commented on #2748
Where are we here @kmadsen? Is this still an issue?

Refs. https://github.com/mapbox/mapbox-navigation-android/issues/3164

[2020-09-02 14:45] Guardiola31337 commented on #3351
Hey @diegolaballos is this still an issue for you? Are we good to close here?

[2020-09-02 14:50] Guardiola31337 commented on #2060
This is now guarded by `?.` https://github.com/mapbox/mapbox-navigation-android/blob/94d886891aadee76b79f86b7c8db94fcac5c038e/libnavigation-core/src/main/java/com/mapbox/navigation/core/MapboxNavigation.kt#L383-L384 and it wasn't in the legacy.

Closing here.

[2020-09-02 14:50] #2060 closed

[2020-09-02 14:52] Guardiola31337 commented on #2025
Friendly ping @asinghal22

If we're not going to support this for now, feel free to close here.

cc @abhishek1508

[2020-09-02 14:53] Guardiola31337 commented on #2687
@JunDai did you have a chance to check?

[2020-09-02 14:53] Guardiola31337 commented on #3291
Where are we here @RingerJK? Could this be still an issue?

[2020-09-02 14:59] Guardiola31337 commented on #3211
@LukasPaczos have you been able to reproduce OP recently? Wondering if latest changes https://github.com/mapbox/mapbox-navigation-android/pull/3457 https://github.com/mapbox/mapbox-navigation-android/pull/3471 fixed it 🤔

[2020-09-02 15:02] Guardiola31337 commented on #1595
Friendly ping @asinghal22

If we're not going to support this for now, feel free to close here.

cc @abhishek1508

[2020-09-02 15:02] Guardiola31337 commented on #2358
@abhishek1508 @JunDai did you have a chance to take a look at this?

[2020-09-02 15:03] Guardiola31337 commented on #3058
@abhishek1508 did you have a chance to take a look at this?

[2020-09-02 15:14] diegolaballos commented on #2337
We're currently migrating to 1.0 so still not sure. I'd open another ticket if it happens again there

[2020-09-02 15:15] diegolaballos commented on #3351
Good to close :) @Guardiola31337

[2020-09-02 15:16] kmadsen opened #3524 "Add android core interface to provide compass engine results"
Issue for tracking the project of adding the [LocationComponentCompassEngine](https://github.com/mapbox/mapbox-gl-native-android/blob/master/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentCompassEngine.java) implementation to core navigation

This ticket is to consider the approaches we have available.

## Quickly get results

1. Create generic interface that can b

[2020-09-02 15:16] LukasPaczos commented on #3211
I haven't been able to reproduce recently. Let's close and reopen if needed.

[2020-09-02 15:16] #3211 closed

[2020-09-02 15:31] Guardiola31337 commented on #2337
@diegolaballos That makes sense 👍

Good to close here then?

Friendly reminder that you can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navigation SDK v1.0 for Android and check out the [migration guide](https://github.com/mapbox/mapbox-navigation-android/wiki/1.0-Navigation-SDK-Migration-Guide) to transition you

[2020-09-02 15:39] benorgan commented on #3087
Hi @Guardiola31337 - my understanding is that the Navigation UI SDK is not yet available in `1.0.0` and we are using this too. Is it possible to upgrade the Navigation SDK in isolation?

[2020-09-02 15:45] Guardiola31337 commented on #3087
Sure! First RC was released two weeks ago. Latest release available is `rc.6` https://github.com/mapbox/mapbox-navigation-android/releases/tag/release_ui_1.0.0-rc.6_core_1.0.0-rc.6

We appreciate any feedback you might have so that we can address it before going stable, thanks!

[2020-09-02 15:47] korshaknn commented on #2077
@Guardiola31337 it was refactored from `array` to `list`
[code]
now:
[code]

the same with `waypointNames`, `waypointIndices`
we can close it

[2020-09-02 15:50] Guardiola31337 commented on #2077
Thanks for confirming @korshaknn

Closing here.

cc @Lebedinsky

[2020-09-02 15:50] #2077 closed

[2020-09-02 18:03] RingerJK commented on #3291
Seems that the scenario is not possible anymore, because every time when we set a new route, `offRoute` flag are set to `false` https://github.com/mapbox/mapbox-navigation-android/blob/94d886891aadee76b79f86b7c8db94fcac5c038e/libnavigation-core/src/main/java/com/mapbox/navigation/core/trip/session/MapboxTripSession.kt#L72-L83
We're good to close it

[2020-09-02 18:03] #3291 closed

[2020-09-02 19:14] andfs commented on #3050
@Guardiola31337 thanks for answering :)

I'll try at the weekend and give you a feedbadk

[2020-09-02 19:40] langsmith commented on #1383
This will be resolved by my work on (delay info) callouts

[2020-09-02 19:41] langsmith commented on #1360
This will be resolved by my work on (delay info) callouts

[2020-09-02 20:40] kmadsen opened #3527 "Add the setRoute event to replay history"
This came up again, https://github.com/mapbox/mapbox-navigation-android/pull/3514#pullrequestreview-481277181

The history player will not set the route that is set in history. Right now, we always replay history as if it is free drive. This ticket is to add support for the `setRoute` event.

[2020-09-02 21:23] #3523 closed

[2020-09-03 00:26] JunDai commented on #2687
I don't see such issue during my day to day testing in `1.0` but it might because I am always using a relative short route.
Let me try with some longer route and use the same step as @Vavassor mentioned in the ticket.

[2020-09-03 10:04] evabishchevich opened #3532 "Trip notification has strange ripple effect"
**Mapbox Navigation SDK version:** 1.0.0-rc.7

### Steps to trigger behavior

 1. Open an app
 2. Start trip session
 3. Click on the notification near a "stop session" button but not the button.

### Expected behavior
Ripple effect covers all parts of the notification

### Actual behavior
Ripple effect is visible only at the bottom and at the top of the notification.

P.S. On some phones (Huawei

[2020-09-03 13:15] Guardiola31337 commented on #3517
I know the ultimate goal but as above-mentioned I wouldn't approach it this way. This could work for libraries that have a couple of classes as you're wrapping them in a separate module and re-implementing their functions as no-ops. For SDKs that'd be insane 😅

In any case, the purpose of the libraries is different. AppCenter or Instabug are development tools that you may want to disable for some

[2020-09-03 13:52] LukasPaczos commented on #3200
Closing in favor of the internal ticket.

[2020-09-03 13:52] #3200 closed

[2020-09-03 17:40] zugaldia commented on #134
OP is not very actionable - I suggest we close this ticket and open separate tickets for concrete actions.

[2020-09-03 17:40] #134 closed

[2020-09-03 20:04] JunDai commented on #3505
I am working on a fix of it.

[2020-09-03 20:09] #3433 closed

[2020-09-04 15:25] #3505 closed

[2020-09-04 22:33] Guardiola31337 opened #3543 "IndexOutOfBoundsException MapMatchingActivity Robo test crash"
An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3542 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/8650/workflows/b8f7787e-4e41-4b47-a5fa-e488d009d61f/jobs/31813 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/6224214162069429918/executions/bs.5a0d623ec58017

[2020-09-05 21:41] #1873 closed

[2020-09-07 09:50] LukasPaczos opened #3544 ""skip-tests" commit prefix to auto-pass CI checks"
Our CI workflow's execution is starting to exceed 30 minutes in some of the cases, which can significantly slow down the process of making code-unrelated changes, like updating the changelog, updating readme, bumping the snapshot version name, etc. This also adds up to our total costs.

I'd like to propose introducing a `[skip-tests] {commit_msg}` commit prefix condition that will auto-pass all CI

[2020-09-07 10:20] RingerJK commented on #3544
@LukasPaczos like idea. btw Circle CI [offers this out of the box](https://circleci.com/docs/2.0/skip-build/#skipping-a-build).
I'd like to move [skip-test] to the end of commit because it's a trigger for CI and don't bring to a developer smth that need to know. Moreover, moving [TAG] to the end of message we keep commits history clean 👀

[2020-09-07 11:06] LukasPaczos commented on #3544
Nice find @RingerJK! I [quickly tested the feature](https://github.com/mapbox/mapbox-navigation-android/pull/3545) and unfortunately it will not work for us because of the required jobs set for Github's protected branches. We might need to manually implement the if-check for all the jobs.

[2020-09-07 11:12] RingerJK commented on #3544
@LukasPaczos I see 👍 if we're gonna make `SKIP` feature on our side: what do you think if we check branch name, not commits' messages. It will keep our commit history free of skip-tags

[2020-09-07 12:24] LukasPaczos commented on #3544
Sounds good to me :+1:

[2020-09-07 13:59] #2550 closed

[2020-09-08 16:08] Guardiola31337 opened #3549 "AttributionDialogManager RuntimeException: Could not read input channel file descriptors from parcel"
An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3542 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/8682/workflows/7f2e9ba6-03b6-450f-8674-57a71e8c4e0e/jobs/31962 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/5664291627463855315/executions/bs.5a4a06c10f50da

[2020-09-09 17:31] kmadsen commented on #3091
Yeah this is addressed

[2020-09-09 17:31] #3091 closed

[2020-09-09 17:35] kmadsen commented on #2748
re-ran the query and the issue is still happening on 1tap. fair to say it's still an issue
https://app.mode.com/editor/mapbox/reports/36579db91d6d

useragent | created | event | session | distanceremaining | originalestimateddistance | estimateddistance | distancecompleted
-- | -- | -- | -- | -- | -- | -- | --
com.mapbox.onetap.app/v0.17.0/998351 mapbox-navigation-android/1.0.0-rc.7 | 2020-09-09 7

[2020-09-09 19:42] Vavassor commented on #2687
@JunDai I was not able to reproduce this on `1.0.0-rc6`, so it would be fair to close this issue.

I originally said it was intermittent, but we found a pretty reliable route that would crash around the 10 minute mark. My coworker also had a reproduction app he made for support, which we tested on `0.42.6`. And it later worked on `1.0.0-rc6`. So I'm fairly confident it's fixed.

[2020-09-09 19:42] #2687 closed

[2020-09-09 23:15] langsmith commented on #2267
I'm looking into some alternate route selection stuff in the SDK. I've renamed this ticket to better match the issue. It's not that the listener isn't working across the board. It's that the listener doesn't fire when an already-selected route is tapped on.

I think the culprit is the `clickedRoute != routeLine.getPrimaryRoute()` section of ⬇️
https://github.com/mapbox/mapbox-navigation-android/bl

[2020-09-10 06:04] carstenhag opened #3554 "SIGSEV null pointer dereference in libnavigator-android.so"
**Android API:** 10. Security Patch 2020-09-01.
**Mapbox Navigation SDK version:**
**Device:** Samsung A70.

`implementation 'com.mapbox.navigation:ui:1.0.0-rc.7'`
`implementation 'com.mapbox.navigation:core:1.0.0-rc.7'`

Got the issue the first time I used the MapboxReplayer branch of my colleague.  I have extracted some initialization stuff for you, but really this is just a shot in the dark. Al

[2020-09-10 08:41] carstenhag commented on #3016
Oh, just came across this ticket again. Everything worked out fine, currently using 1.0.0-rc7. I think I had created an issue, but can't find it right now.

[2020-09-10 08:46] carstenhag opened #3555 "InstructionView not being rendered in LayoutPreview, as okhttp3.ConnectionPool gets initialized"
**Android API:**
**Mapbox Navigation SDK version:** 1.0.0-rc7 of both normal and ui sdk.

### Steps to trigger behavior

 1. Include `com.mapbox.navigation.ui.instruction.InstructionView` in a layout
 2. Build project
 3. Layout Preview fails to render layout, as somewhere something uses  `ConnectionPool`, which shouldn't be done when `isInEditMode()`.

### Expected behavior
InstructionView previe

[2020-09-10 23:19] #3527 closed

[2020-09-11 12:22] carstenhag commented on #2025
Oh, I think this might be interesting/useful for us as well. Currently we would only show some UI stuff, but it would be helpful to have voice instructions for it (and the other events like faster route etc).

[2020-09-11 13:04] Guardiola31337 commented on #3543
Noting that this was reproduced again in https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/8734/workflows/460b3e97-ce3c-40e7-be0a-e6b791beaf04/jobs/32189 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/6448705649202468225/executions/bs.b87851fc0fccf555

[2020-09-11 13:07] Guardiola31337 commented on #3555
cc @JunDai @abhishek1508 for visibility

[2020-09-11 13:35] Guardiola31337 commented on #3554
Capturing the logs and the stacktrace from `logcat-libnavigator-crash.log` above-shared

[code]

Does that ring a bell @SiarheiFedartsou? It's a native crash using NN `v18.0.3`.

cc @mskurydin

[2020-09-11 13:59] Guardiola31337 commented on #3549
Going to transfer this into https://github.com/mapbox/mapbox-gl-native-android

[2020-09-11 14:49] Guardiola31337 commented on #3554
@carstenhag Could you integrate [Mapbox Navigation SDK `1.1.0-alpha.3`](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v1.1.0-alpha.3) and try reproducing it when you have a chance?

[2020-09-11 15:14] carstenhag commented on #3554
I can do so on Monday, but as I can't reproduce the crash, I don't think it will help that much. I will try it out though 👍

[2020-09-11 15:23] Guardiola31337 commented on #3554
@carstenhag Thanks! Maybe you can try reproducing running your mate's branch. If not, keep an eye to your crash reporter and let us know if it shows up again 🙇‍♂️

[2020-09-11 15:54] JunDai commented on #3149
refresh this ticket. I am going to take a look at it today.

[2020-09-11 16:27] JunDai commented on #3149
took a quick look at it, the NavigationViewModel held the listener instance prior to the rotation and that NavigationView has been destroyed. We should update the callback in rotation case. Will put a fix of it later.

[2020-09-11 17:56] kmadsen opened #3559 "Add documentation for custom LocationEngines and monotonic timestamps"
One of the use cases of the LocationEngine, is to be able to create a custom one. This allows customers to create custom versions of Location providers, such as automobiles, bicycles, simulations, ect..

The [Location](https://developer.android.com/reference/android/location/Location#getElapsedRealtimeNanos()) generated by any location provider has specific requirements to be interpreted by Mapbox

[2020-09-11 18:04] kmadsen commented on #3559
This requirement could also be documented in mapbox-events-android

https://github.com/mapbox/mapbox-events-android/blob/296980a8b2cc6834f4654fc069a5d3e007220361/liblocation/src/main/java/com/mapbox/android/core/location/LocationEngine.java

[2020-09-11 18:09] kmadsen commented on #3559
Another idea is to add warning logs whenever there are Locations when elapsedRealtimeNanos == `0L`

Something that will require documentation, but may be more difficult to catch, is the use of System.nanoTime. That clock will stop when hardware goes into deep sleep, unlike SystemClock.elapsedRealtimeNanos which includes time spent in sleep.

[2020-09-11 19:23] Guardiola31337 opened #3562 "ReplayHistoryActivity NullPointerException"
An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3560 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/8743/workflows/41b0eda6-aba4-4de4-89ab-1a665f40e875/jobs/32228 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/9017603961185076236/executions/bs.b931d6abe83901

[2020-09-11 22:36] #3149 closed

[2020-09-11 22:47] kmadsen commented on #3562
It's unclear where this stack trace is

should we use a debug.apk?

[code]

[2020-09-11 22:53] Guardiola31337 commented on #3562
Yeah, let's change it. It was `release` to detect any Proguard regressions.

[2020-09-14 12:52] evabishchevich opened #3565 "NavigationCamera doesn't track the user's location"
**Mapbox Navigation SDK version:** 1.0.0-rc.8

### Steps to trigger behavior

 1. Set style to  MapboxMap
 2. Activate the location component
`
mapboxMap.locationComponent.apply {
    activateLocationComponent(LocationComponentActivationOptions.builder(requireContext(), style).build())
    cameraMode = CameraMode.TRACKING
    isLocationComponentEnabled = true
}
`
 3. Create a NavigationMapboxMap
`

[2020-09-14 12:53] LukasPaczos commented on #3565
/cc @abhishek1508 @JunDai @cafesilencio @langsmith

[2020-09-15 11:48] carstenhag commented on #3554
That branch has been merged yesterday, my colleagues and I have tested a bit but we couldn't reproduce this (1.0.0-rc7).
I've just tried using 1.1.0-alpha.3 and it's also not crashing :D

Closing for now, as we can't provide any more details.

[2020-09-15 15:03] carstenhag opened #3569 "UI component that shows street name and sign?"
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1.
 2.
 3.

### Expected behavior

### Actual behavior

[2020-09-15 15:18] carstenhag commented on #3569
Not totally sure if that's the right thing, but apparently our iOS codebase uses the (InApp)NavigationViewController, which automatically renders this. They are still using the 0.x.y versions though!

[2020-09-16 17:16] cafesilencio opened #3570 "Update documentation for route line scaling"
The work associated with PR https://github.com/mapbox/mapbox-navigation-android/pull/3521 changed the way the scaling of the route line can be configured.  The documentation needs to be updated to explain the details.

[2020-09-17 05:46] carstenhag opened #3571 "Thoughts about the usage of NavigationMapRoute#addRoutes() (naming, annotations)"
**Android API:**. not relevant
**Mapbox Navigation SDK version:**
[code]

### Actual & Expected behavior
The `NavigationMapRoute#addRoutes()` method suggests that routes are only added, but looking into its code it seems like the routes are actually set.
Same applies to `addRoute `. There is also `MapboxNavigation#setRoutes()` which accepts the same parameter but has a set in its name ;).

Further

[2020-09-17 05:55] carstenhag opened #3572 "Request: Provide clearing methods for style components (Image, Source...)"
**Android API:** 10
**Mapbox Navigation SDK version:**
[code]

### Steps to trigger behavior

 0. Setup a mapboxMap, a navigation, a navigationMapRoute etc.
 1. Add a custom image, source and layer in order to add a marker  (Apparently we use this way of adding markers, we don't use the annotation plugin, no idea why)
 2. Get re-routed due to a mapbox or an external event
 3. Want to clear previou

[2020-09-17 09:36] carstenhag commented on #3554
Occured again. This time while starting a navigation without an internet connection. Same device, Samsung A70

[code]

[2020-09-17 09:40] carstenhag commented on #3554
Also occurs on OnePlus 5 reliably. Starting a navigation without an internet connection. Still on
[code]

[code]

[2020-09-17 09:49] carstenhag commented on #3554
Tried it out a bit with both versions at 1.0.0-rc.7. Crashes always without internet connection. Doesn't differ between using MapboxReplayer or default LocationEngine.

I've then used the `com.mapbox.navigation:core:1.1.0-alpha.3` version. On my OnePlus 5, the navigation starts fine in offline mode. On my Samsung A70 the navigation does not start. On logcat I am getting these errors:

[code]

I wi

[2020-09-17 10:16] carstenhag opened #3574 "Offline TTS mixing up device language with english"
**Android API:** Samsung A70 and OnePlus 5 with both Android 10.
**Mapbox Navigation SDK version:**
[code]
Using the 1.1.0 alpha due to #3554. I can't test previous versions of the SDK, as it crashes below that 😄 .

### Steps to trigger behavior

 1. Set device language to German (Germany) aka de-rDE. Both devices have 10-20 languages set, but de-rDE is at the 1st spot on both.
 2. Turn off Wifi,

[2020-09-17 11:19] carstenhag opened #3575 "Offline navigation fails due to "no suitable edges near location" for no apparent reason"
**Android API:** OnePlus 5 and Samsung A70 with Android 10
**Mapbox Navigation SDK version:**

[code]
Using version 1.1.0-alpha.4 due to #3554. Can't test previous versions as it crashes there instantly.

### Steps to trigger behavior

 1. Start a navigation from Location A to Location B without having an internet connection **(Will try to provide locations later!)**
 2. MapboxOnboardRouter errors

[2020-09-17 17:49] avi-c opened #3576 "Wayname calculation logic recalculates line slice unnecessarily often"
The Android calculation of the current wayname was originally ported directly from the iOS logic.

https://github.com/mapbox/mapbox-navigation-ios/pull/2635 tracks a performance improvement for this functionality that can be very significant for maps with many polyline segments. The Android algorithm should fix this issue as well.

I believe the corresponding code is here: https://github.com/mapbo

[2020-09-17 18:09] 1ec5 commented on #3576
/cc @abhishek1508

[2020-09-18 13:26] DmytroKhmil opened #3577 "SecurityException: getDataNetworkTypeForSubscriber (Android 11)"
**Android API:**
compileSdkVersion 30
targetSdkVersion 30
**Mapbox Navigation SDK version:**
1.0.0-rc.8

my problem is similar to already solved in [mapbox-gl-native-android](https://github.com/mapbox/mapbox-gl-native-android/issues/425)

[code]

[2020-09-18 15:10] Guardiola31337 commented on #3574
Hey @carstenhag thanks for reaching out and report your issue.

Could you share your request setup / `RouteOptions` you're adding and the `DirectionsRoute` that you get / use when you have a chance? I can't tell any differences from the videos you shared (need to improve my German skills) 😅

cc @JunDai

[2020-09-18 15:18] carstenhag commented on #3574
Sure! Route setup:

[code]

---

SpeechPlayerProvider and NavigationSpeechPlayer setup;
[code]

[2020-09-18 15:31] Guardiola31337 commented on #3574
At a first glance I don't see you're overriding the `language` in the `RouteOptions` 👀

https://github.com/mapbox/mapbox-java/blob/2733e034f33191a68d273fdd4b6b03fa5186be13/services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java#L605-L613

You can also check the `DirectionsRoute` object that is retrieved by `requestRoutes`. Could you share that as well?

[2020-09-18 15:50] carstenhag commented on #3574
Wow that's way better now, haha. Setting the language option fixed it.

In retrospect it makes a lot of sense, but for me it was still unexpected.

[2020-09-18 15:50] Guardiola31337 commented on #3577
Hey @DmytroKhmil thanks for reaching out and report your issue.

This will be fixed by https://github.com/mapbox/mapbox-navigation-android/pull/3579 and available in the next release.

In the meantime, you can workaround OP adding `"com.mapbox.mapboxsdk:mapbox-android-telemetry:6.1.0"` as a dependency to your app's `build.gradle` file.

cc @tobrun @nagineni

[2020-09-18 15:54] Guardiola31337 commented on #3574
Thanks for the update and confirming it's fixed 🎉

Good to close here then @carstenhag?

[2020-09-18 16:11] carstenhag commented on #3574
Would perhaps be good to document ;). Although this ticket will probably also be useful if Googles this.

[2020-09-18 16:20] Guardiola31337 commented on #3574
Already documented in `RouteOptions` 🚀

Thanks for checking out the SDK.

Closing here.

[2020-09-18 16:20] #3574 closed

[2020-09-18 16:36] Guardiola31337 commented on #3577
Closing here as https://github.com/mapbox/mapbox-navigation-android/pull/3579 landed.

Thanks for checking out the SDK @DmytroKhmil 🙇‍♂️

[2020-09-18 16:36] #3577 closed

[2020-09-18 16:37] Guardiola31337 commented on #3572
cc @abhishek1508 @JunDai

[2020-09-18 16:38] Guardiola31337 commented on #3571
cc @abhishek1508 @cafesilencio

[2020-09-18 16:40] Guardiola31337 commented on #3569
cc @abhishek1508

[2020-09-19 09:40] #3181 closed

[2020-09-19 19:32] kmadsen commented on #3562
Considering this issue blocked by https://github.com/mapbox/navigation-sdks/issues/582

[2020-09-21 11:51] LukasPaczos commented on #3324
Awaiting the release of Nav Native with the Common SDK 7.1.

[2020-09-21 22:28] kmadsen commented on #3018
Spent some time on the weekend trying to figure this out. I can build routes with curved intersections, but haven't figured out how to interpolate speeds across them yet.

Progress on this branch https://github.com/mapbox/mapbox-navigation-android/compare/km-add-route-bender?expand=1
![Screen Shot 2020-09-21 at 3 25 22 PM](https://user-images.githubusercontent.com/3021882/93827842-feaa1800-fc1e-11

[2020-09-22 12:08] felixkrautschuk opened #3583 "Missing required properties: distance duration"
**Android API:** 9.4.0
**Mapbox Navigation SDK version:** 1.0.0-rc.8

### Steps to trigger behavior

 1. create default mapbox navigationOptions:
[code]
 2. try to create the MapboxNavigation instance
[code]

### Expected behavior
MapboxNavigation instance should be correctly created.

### Actual behavior
java.lang.IllegalStateException: Missing required properties: distance duration

[2020-09-22 13:43] Guardiola31337 commented on #3583
Hey @felixkrautschuk thanks for reaching out and report your issue.

I've just tested using the `BasicNavigationActivity` from the `examples` test app https://github.com/mapbox/mapbox-navigation-android/blob/7ba1b417e57d34ca3dc3bf4c24ac9c02dfa9aeab/examples/src/main/java/com/mapbox/navigation/examples/core/BasicNavigationActivity.kt#L78-L86 (commenting out `.locationEngine(getLocationEngine())` an

[2020-09-22 14:17] Guardiola31337 commented on #3583
Especially @felixkrautschuk could you share how you're building the `RouteOptions` needed for `MapboxNavigation#requestRoutes`?

[2020-09-22 14:22] felixkrautschuk commented on #3583
Hey @Guardiola31337 thank you for your quick response!

Unfortunately I cannot share any sample projects, as I am not developing a native Android app, but I try to integrate the Mapbox Navigation lib into our NativeScript project for Android and iOS and for Android it just worked fine for the version _mapbox-android-navigation-ui:0.42.6_ (we did not start yet with iOS), so it may not be a fundamen

[2020-09-22 14:26] felixkrautschuk commented on #3583
I can create the navigationOptions object. When I log it into the console, it looks like this:
<img width="1733" alt="Bildschirmfoto 2020-09-22 um 16 23 46" src="https://user-images.githubusercontent.com/6443021/93895515-33d26b00-fcf0-11ea-93bd-f91432f001eb.png">

But when I try to create the MapboxNavigation instance I get the error
java.lang.IllegalStateException: Missing required properties: di

[2020-09-22 14:37] felixkrautschuk commented on #3583
I faced this (https://github.com/mapbox/mapbox-navigation-android/issues/3293) issue with a similar error message some days ago and with just upgrading the navigation sdk version (no other changes in code) I get the error from this thread.

[2020-09-22 15:55] felixkrautschuk commented on #3583
@Guardiola31337 I have no idea why, but now it works on my side.

By an happy accident, I removed the _com.mapbox.mapboxsdk:mapbox-sdk-services:5.6.0_ dependency from my gradle config, so I got this:

[code]

And now the MapboxNavigationInstance is created as expected and I can continue to build RouteOptions etc.

[2020-09-22 15:55] #3583 closed

[2020-09-22 16:39] Guardiola31337 commented on #3583
Thanks for the update @felixkrautschuk

Yeah was digging myself here and was going to ask what version of `mapbox-sdk-services` and `mapbox-sdk-directions-models` were you using which BTW you don't need to include explicitly as they're pulled transitively when including `com.mapbox.navigation:core`.

Was also going to ask for more details and if you were dealing with any `DirectionsRoute` related

[2020-09-22 19:52] cafesilencio opened #3584 "Crash when route contains less than two coordinates."
A customer reported a crash that appears to be caused by a route containing less than two coordinates.  When the vanishing route line update is done there is a Turf measurement done. The Turf call requires a collection of at least two coordinates. This is where the crash is occurring based on the stack trace.

The stack trace provided:

1328 | 09-22 08:45:57.790 4927 4927 E AndroidRuntime: Process

[2020-09-23 15:45] cafesilencio commented on #3584
Fixed in PR https://github.com/mapbox/mapbox-navigation-android/pull/3585

[2020-09-23 15:45] #3584 closed

[2020-09-23 17:40] Guardiola31337 commented on #3562
OP crash was reproduced again in https://github.com/mapbox/mapbox-navigation-android/pull/3582 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/8837/workflows/7db4b80f-0688-4b67-bb08-c867d98e8bf4/jobs/32634 https://console.firebase.google.com/u/1/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/6136398722165371885/executions/bs.5eba3f3d8a19

[2020-09-23 18:02] Guardiola31337 opened #3588 "Uncaught exception of type std::runtime_error: AttachCurrentThread() failed"
When testing `master` run into the following Maps native crash 💥

[code]

The crash happened suddenly when testing `SimpleMapboxNavigationKt` in _Active Guidance_ without moving (sitting at the same original location mocked by `Mock Locations`).

It seems a regression after merging https://github.com/mapbox/mapbox-navigation-android/pull/3586 which brings the shared HTTP Service from Common and NN

[2020-09-23 18:12] rav005 opened #3589 "Navigation fragment freezing"
### Version
Android: 10
mapbox-android-sdk:9.4.0
mapbox-android-navigation: 0.42.6
mapbox-android-navigation-ui:0.42.6

### Steps to trigger behavior
Activity starts with SupportMapFragment and custom fragment. A event from custom fragment replaces SupportMapFragment  with NavigationView fragment and starts navigation to destination points. Which works fine but after 5-10 minutes the navigation ma

[2020-09-24 15:16] zugaldia commented on #2655
/cc: @1ec5

[2020-09-24 23:04] Guardiola31337 commented on #3324
That happened in https://github.com/mapbox/mapbox-navigation-android/pull/3582/files#diff-6512f838e273b79676cac5f72456127fR14 🎉

Good to close here @LukasPaczos?

[2020-09-25 09:17] #3324 closed

[2020-09-25 10:04] LukasPaczos opened #3593 "NPE when route overview clicked before first route progress update"
**Android API: 30**
**Mapbox Navigation SDK version: 1.1.0-beta.1**

### Steps to trigger behavior

 1. Set a route
 2. Start navigation
 3. Immediately click route overview (supposedly before we get the first progress update)

### Expected behavior
No crash.

### Actual behavior
[code]

/cc @abhishek1508 @JunDai @langsmith @cafesilencio

[2020-09-25 14:10] rav005 commented on #3589
I created sample application with code provided on mapbox tutorials (https://docs.mapbox.com/help/tutorials/android-navigation-sdk/) and still having issues. It looks like the issue only occurs in tablet device (using Samsung Galaxy Tab A), works fine on phones.

[2020-09-26 20:39] carstenhag opened #3596 "Mapbox offline tile cache stored under "data" and not as "cache""
**Android API:** Android 10
**Mapbox Navigation SDK version:**

[code]

### Steps to trigger behavior

 1. Embed Mapbox Core and UI SDK into app
 2. Use it, launch some navigation stuff, drag the map around, not really sure about the specifics.
 3. Open app storage settings (see screenshot)

<img width="419" alt="Bildschirmfoto 2020-09-26 um 22 33 57" src="https://user-images.githubusercontent.com

[2020-09-27 00:30] JunDai commented on #3593
I tried to use the `example` app to reproduce, but no lucky. I may used a different steps as you.

@LukasPaczos - can you give more detail of how to reproduce it? maybe a screen recording will be more helpful?

[2020-09-27 16:02] shreya-ja opened #3597 "Route arrived without covering route, if source and destination coordinates are nearby but waypoints are provided."
Scenario: Get a UTurn route on same straight street.

User starts from point A ( left side point of a street), moved towards end of street, make a right UTurn on same street, reaches the start of street but on right side, at point B

Preview
A -------------------------------------------
                                                   I    (Same street - UTurn)
B---------------------------------

[2020-09-28 20:44] Vavassor opened #3600 "InstructionTarget image load error 403"
I was investigating another issue using the Navigation UI SDK. I noticed this error in logcat occurs at every turn in the route, or for each instruction.

I don't see anything out of the ordinary, like a blank icon. But, it could be some images are missing that I'm unfamiliar with.

We're recording logs, and we're currently filtering this out. I'm not clear whether it's indicative of an actual err

[2020-09-29 10:33] hardikJoshi123 commented on #1210
404 page not found!

[2020-09-29 13:46] arunpandian22 opened #3601 "Destination Address supposed to be shown in the toolbar when we reached the actual destination"
![image](https://user-images.githubusercontent.com/24975205/94566390-e6be3e00-0287-11eb-88e7-6b82889d0256.png)

### Expected behaviour
* When the User reached the destination address, the address need to be displayed in the tool bar along with arrived message

### Actual behaviour
* Currently the toolbar simply shows the arrived message only

[2020-09-29 21:56] Guardiola31337 opened #3603 "RouteAlertsActivity RouteAlertsObserver leak"
When testing the `examples` test app `RouteAlertsActivity` run into the following leak

[code]

Regression from https://github.com/mapbox/mapbox-navigation-android/pull/3558 and https://github.com/mapbox/mapbox-navigation-android/pull/3558

cc @LukasPaczos

[2020-10-01 14:32] arunpandian22 opened #3609 "Rerouting problem in the Mapbox navigation view"
<!--

**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

1.  When we reached the destination and move ahead of the destination, some time the rerouting is not happening but some times it takes more time to reroute

### Expected behavior
It should rerouting without delay or no rerouting

Thanks will upload the video fastly

[2020-10-02 13:43] redavid7 opened #3614 "Crash on addProgressChangeListener even if the progress listener is given."
**Android API: Android X**
**Android Target Level: 29**
**Mapbox Navigation SDK version: 0.42.6**

### Problem description

The error occurs in a complicated structure. I have two instances of navigators in my app: one is in a portrait mode, and another is in landscape mode, and they have to be different due to the app design.
The portrait one works fine, there aren't problems.
The landscape one,

[2020-10-02 23:30] cafesilencio opened #3615 "Routeline vanishing point incorrectly calculated when restoring from background"
### Steps to trigger behavior

 1. Draw a route and start navigating with the vanishing route line enabled.
 2. After some time stop navigation.
 3. Draw a new route line.
 4. Put application in background.
 5. Restore app from background.

### Expected behavior
The route line should not display any vanished section since a new line was drawn but there was no navigation progress.

### Actual behav

[2020-10-02 23:40] cafesilencio commented on #3615
The issue was first noticed here:  https://github.com/mapbox/1tap-android/issues/593#issuecomment-702946893

[2020-10-05 17:12] Guardiola31337 opened #3619 "RuntimeRouteStylingActivity NullPointerException"
An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3616 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/8932/workflows/b3de3267-d92f-4161-a699-6616fd3301fb/jobs/33042 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/5629209200053228001/executions/bs.7d650b4d1c24d7

[2020-10-06 14:24] John0x opened #3622 "Use without token"
Hi, I want to write a public react-native plugin for the mapbox-navigation and therefore cannot include a private token for the dependency.
Right now you have to do that though. Is there a way to avoid that?
The current version doesn't seem to be available on bintray either.

From the docs:
[code]

[2020-10-06 16:55] Guardiola31337 opened #3623 "Expose NavigationStatus#intersectionIndex"
Tailwork from https://github.com/mapbox/mapbox-navigation-android/pull/3604

https://github.com/mapbox/mapbox-navigation-android/pull/3604#issuecomment-701502684

cc @SiarheiFedartsou @mskurydin @kmadsen

[2020-10-07 16:47] LukasPaczos commented on #3593
When I had a repro case to share, I just opted to fix right away - https://github.com/mapbox/mapbox-navigation-android/pull/3626 :upside_down_face:

[2020-10-08 00:06] langsmith commented on #3562
This crash has come up a couple of times during the stable `1.1.0` release I've been rolling with today.

[2020-10-08 00:07] langsmith commented on #3562
https://console.firebase.google.com/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/5950329547653739324/executions/bs.112e36bd134db8cc

<img width="1026" alt="Screen Shot 2020-10-07 at 5 05 33 PM" src="https://user-images.githubusercontent.com/4394910/95400465-864e8280-08bf-11eb-920c-9933210884b8.png">

[2020-10-08 09:47] LukasPaczos commented on #3615
https://github.com/mapbox/mapbox-navigation-android/pull/3616 landed, are we good to close here?

[2020-10-09 05:04] hardikJoshi123 opened #3637 "Route doesn't show on map for custom DirectionRoute"
I am creating custom DirectionRoute object and passing it to NavigationMapRoute by using :

 navigationMapRoute!!.addRoute(currentRoute)

 But it doesn't show the route on map. Is there any error handler which we can implement to figure out what causing issue and which specific parameter is wrong?

**Android API:**

**Mapbox Navigation SDK version:**
 implementation ('com.mapbox.mapboxsdk:mapbox-a

[2020-10-09 07:04] hardikJoshi123 commented on #3637
I got some success. By setting up hardcoded geometry() to my custom DirectionsRoute object, it shows route on map. Not sure is there specific format for geometry string?

 **#1 SETTING HARD CODED geometry() its working fine :**

geometry=gxxlu@zq`fzC}[VwEDqB@iCAQbHD`OBxFBpB@lABvB?zME~FSzJkD@sJBcHR}ERsE^cD\yFp@gFr@{GrAcDt@eDr@gFdA_Fx@mFp@gGh@iCNaDH_NHgf@J}B@iCDqMT{T^{DFBsDNg_@BmEAqAGkBOgCQiAS_AYmAW

[2020-10-09 08:58] peytonwupeixin opened #3638 "Could not use com.mapbox.navigation:ui:1.0.0"
**Android API:**
**Mapbox Navigation SDK version:com.mapbox.navigation:ui:1.0.0**

### Steps to trigger behavior

 When I update navigation ui to  com.mapbox.navigation:ui:1.0.0.I get the error below:

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/mapbox/navigator/mapbox-navigation-native/14.1.2/mapbox-navigation-native-14.1.2.pom
       - https://r

[2020-10-09 09:04] LukasPaczos opened #3639 "Clear voice instructions queue on a reroute"
Capturing from a user:

Ideally, we should clear the queue on each reroute to prevent outdated information from being provided to the user, or delaying the actionable messages.

/cc @abhishek1508 @asinghal22

[2020-10-09 09:22] LukasPaczos commented on #3638
Hey @peytonwupeixin, thanks for reaching out!

It's surprising that your build system tries to reach `mapbox-navigation-native:14.1.2`. The ` com.mapbox.navigation:ui:1.0.0` uses `mapbox-navigation-native:18.0.3`. Could you give us more information about your build script config or output of the dependencies list task?

[2020-10-09 10:15] peytonwupeixin commented on #3638
This is my dependencies list file.
[release.txt](https://github.com/mapbox/mapbox-navigation-android/files/5354186/release.txt)

[2020-10-09 10:42] peytonwupeixin commented on #3638
I clean and rebuild the project.It go well.
Thank you very much for your prompt reply. I close this issue.

[2020-10-09 10:42] #3638 closed

[2020-10-10 11:40] ThinClient opened #3641 "MapboxNavigation initialization"
When trying to initialize a MapboxNavigation instance:

NavigationOptions mapboxNavigationOptions = MapboxNavigation.
                defaultNavigationOptionsBuilder(this, ACCESS_TOKEN)
                .build();
        mapboxNavigation = new MapboxNavigation(mapboxNavigationOptions);

error:

 Caused by: java.lang.IllegalStateException: Missing required properties: distance duration
        at co

[2020-10-10 14:14] timmytreen7 commented on #2222
I didn't know that. I was in the hospital and I just got out

[2020-10-12 07:39] takeshi4126 commented on #3641
@ThinClient I encountered the same issue today, but the error disappeared after upgrading the library to 1.1.0 in the build.grade, sync and rebuilt the project.

`
implementation "com.mapbox.navigation:ui:1.1.0"
`

If you're using 1.0.0 version of the library, it may worth a try.

[2020-10-12 10:23] ThinClient commented on #3641
@takeshi4126  upgrading solves the issue. Thanks.

[2020-10-12 11:11] LukasPaczos commented on #3641
Glad it works for you @ThinClient, thanks @takeshi4126!

[2020-10-12 11:11] #3641 closed

[2020-10-12 11:13] evabishchevich opened #3642 "Possible NPE in FeedbackBottomSheet"
There is a nullable [`feedbackBottomSheetListener`](https://github.com/mapbox/mapbox-navigation-android/blob/8d3495e6ef7b67aa8700b437a65e66fb48ad9f2f/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/feedback/FeedbackBottomSheet.java#L64).
There are few places ([1](https://github.com/mapbox/mapbox-navigation-android/blob/8d3495e6ef7b67aa8700b437a65e66fb48ad9f2f/libnavigation-ui/src/main/java

[2020-10-12 11:31] takeshi4126 commented on #3641
@lukasPaczos My pleasure. It may help someone like me if you update the version in the Overview page from 1.0.0 to 1.1.0, thanks.

https://docs.mapbox.com/android/navigation/overview/

[2020-10-12 11:44] ThinClient commented on #3641
I second @takeshi4126

e.g https://docs.mapbox.com/android/navigation/overview/route-generation/

mapboxNavigation.requestRoutes(
    RouteOptions.builder()
        .applyDefaultParams()
        .accessToken(MAPBOX_TOKEN)
        .coordinates(listOf(originPoint, destinationPoint))
        .build()
)

example is not working.

[2020-10-12 17:58] kmadsen commented on #3562
Firebase requires us to register the examples app in order to upload the mapping, and register to a google-services.json. There are complications when doing that. So whatever, I'll spend a little time figuring out how deobfuscation mappings work.

1. cd mapbox-navigation-android
1. checkout [636b80996fda864bffc60645a4ef0becb5dedb72](https://github.com/mapbox/mapbox-navigation-android/commit/636b80

[2020-10-12 20:16] #3562 closed

[2020-10-12 21:39] #3642 closed

[2020-10-12 22:30] kmadsen opened #3645 "Firebase robo crash NoSuchFieldException: HTTP_SERVER"
Another one, just like this one https://github.com/mapbox/mapbox-navigation-android/issues/3562

https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/5209702353643546555/executions/bs.cc403ab7797043e8
[code]

[2020-10-12 22:34] kmadsen commented on #3645
Similar to this comment https://github.com/mapbox/mapbox-navigation-android/issues/3562#issuecomment-707265067

1. cd mapbox-navigation-android
1. ./gradlew examples:assembleRelease (don't worry about the "storePassword")
1. ls examples/build/outputs/mapping/release/
[mapping.txt](https://github.com/mapbox/mapbox-navigation-android/files/5366670/mapping.txt) seeds.txt   usage.txt

Notice these lin

[2020-10-13 05:54] takeshi4126 commented on #3092
This issue affects an even simpler case. I'm creating an app to navigate the user from the user's current location to a selected location. To find a route between these 2 locations, MapboxNavigation's requestRoutes method needs to be called before the startNavigation of NavigationView is called. However, the instance of the MapboxNavigation is instantiated during the startNavigation's call.

Also,

[2020-10-13 05:56] takeshi4126 commented on #3092
I forgot to mention that 1.1.0 of navigation ui is used in my environment.

[code]

[2020-10-13 06:14] takeshi4126 commented on #3641
@ThinClient I have a similar (or more or less same as your) use case where mapboxNavigation is used for finding a route before startNavigation is called. I think it is related to #3092 which is still open.

[2020-10-13 08:28] ThinClient commented on #3641
@takeshi4126 yeah they are the same issue.

[2020-10-13 10:05] Azbesciak opened #3647 "Licence doubts"
Hello, I wonder whether I can use your library legally for commercial usage with my own routing service and own tiles?
I saw [GraphHopper lib](https://github.com/graphhopper/graphhopper-navigation-android) and the [issue](https://github.com/mapbox/mapbox-navigation-android/issues/1391), but still not sure.
Thanks

[2020-10-13 15:49] cafesilencio commented on #3615
This should have been resolved with https://github.com/mapbox/mapbox-navigation-android/pull/3616

[2020-10-13 15:49] #3615 closed

[2020-10-13 16:58] cafesilencio commented on #3570
This work was merged with PR https://github.com/mapbox/android-docs/pull/1540

[2020-10-13 16:58] #3570 closed

[2020-10-13 20:06] langsmith commented on #1634
I was working on this before being asked to turn my attention to feedback refactoring. My work is at https://github.com/mapbox/mapbox-navigation-android/pull/new/ls-better-alternate-route-click-detection and route click detection now uses `queryRenderedFeatures` instead of Turf distance calculations. My refactoring work also enables a developer to provide custom padding values that are used to cre

[2020-10-14 08:55] songyanho opened #3648 "Navigation view component did not render correctly"
**Android API:** 29
**Mapbox Navigation SDK version:**
[code]

### Steps to trigger behavior

 1. Enter new activity, and start navigation

### Expected behavior

Most of the time it shows the component correctly as follow:

![image](https://user-images.githubusercontent.com/6477789/95966487-c4a6ed00-0e3d-11eb-8dab-5879135876c3.png)

### Actual behavior

First time opening the navigation activity,

[2020-10-14 08:58] songyanho commented on #3648
There are similar issues reported before:
#510
#1038
#1659

[2020-10-14 11:13] #3593 closed

[2020-10-15 14:22] Guardiola31337 commented on #3645
Run into this https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/6701210065111416946/executions/bs.6fddbda7d0cbe33e when working on https://github.com/mapbox/mapbox-navigation-android/pull/3653 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/9060/workflows/66546f08-e3d0-40ab-be17-8e8848692865/jobs/3368

[2020-10-16 06:50] KayHung opened #3656 "Layout with com.mapbox.services.android.navigation.ui.v5.NavigationView will crash"
I Run my app will crash when i use com.mapbox.services.android.navigation.ui.v5.NavigationView in my layout

Process: com.nuro.mapboxnavigationview, PID: 16377
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.nuro.mapboxnavigationview/com.nuro.mapboxnavigationview.MainActivity}: android.view.InflateException: Binary XML file line #9: Error inflating class com.mapbox.servi

[2020-10-16 07:36] Azbesciak commented on #3647
Hello, could you please respond?

[2020-10-16 07:44] KayHung commented on #3656
If I use MainActivity extends AppCompatActivity, then it can work well.
But when I use MainActivity extends Activity, it will crash

[2020-10-16 13:54] Olivier4477 opened #3659 "waypoint or arrived mapbox-android-navigation"
With the android mapbox navigation, I cannot regain control when the navigation arrives at my destination. I wanted to work around the problem by adding a waypoint, but the same.

Obviously, the mapbox navigation android documentation is no longer accessible for examples on earlier versions.

I am using the interfaces OnMapReadyCallback, MapboxMap.OnMapClickListener, PermissionsListener

I would l

[2020-10-17 14:49] Zeeshan50522 commented on #1982
adding
android{
 compileOptions {
        sourceCompatibility 1.8
        targetCompatibility 1.8
    }
}
in gradle
solve my problem

[2020-10-18 18:58] agap opened #3660 "NavigationView in SDK 1.1.0 does not get drawn properly"
**Android API:** compileSdkVersion is 29, targetSdkVersion is 29, the app is running on Android 11

**Mapbox Navigation SDK version:** 1.1.0

### Steps to trigger behavior

We're updating MapBox SDK to 1.1.0 in our project and we encountered a rather odd issue. The example code based on `NavigationView` does not work properly when added to our app. I'm not sure how to describe the set of steps tha

[2020-10-19 16:34] LukasPaczos opened #3662 "SummaryModel requires access to internal notification APIs"
Tracks regression from https://github.com/mapbox/mapbox-navigation-android/pull/2531 which added dependency on the runtime trip notification module to the Nav UI SDK. When the notification is attempted to be replaced, it crashes with:
[code]

This is due to this dependency:
https://github.com/mapbox/mapbox-navigation-android/blob/a3dfcaa1622de207bb8a09e310f86a384c3af024/libnavigation-ui/build.grad

[2020-10-20 09:28] agap commented on #3660
Found it! The issue actually has nothing to do with MapBox itself, sorry for the fuss.

[2020-10-20 09:28] #3660 closed

[2020-10-20 10:02] korshaknn commented on #2748
@kmadsen @Guardiola31337
hey! going to fix it during telemetry refactoring. how do we calculate `distanceCompleted`?
I just use
`distanceCompleted = routeProgress.distanceTraveled.toInt()`
is it valid ^^ ?
should we have any additional calculations for offRoute event?

[2020-10-20 14:50] #2655 closed

[2020-10-20 16:18] Guardiola31337 commented on #2748
@korshaknn

I just use
`distanceCompleted = routeProgress.distanceTraveled.toInt()`
is it valid ^^ ?
should we have any additional calculations for offRoute event?

That should be handled by NN. We recently started relying on whatever is sent from NN https://github.com/mapbox/mapbox-navigation-android/blob/c2e0546074d844db6aa585b6906242e1aae355a8/libnavigator/src/main/java/com/mapbox/navigation/na

[2020-10-21 01:12] 1ec5 commented on #3639
This is needed for parity with the iOS navigation SDK, which implemented voice instruction interruption in mapbox/mapbox-navigation-ios#669 (in v0.8.2).

[2020-10-21 02:02] parnishGhodki commented on #660
Can you please tell how this issue is resolved?

[2020-10-21 07:43] #3656 closed

[2020-10-21 13:12] OttyLab opened #3667 "Locale mismatch between distance formatter and time formatter in SummaryBottomSheet and InstructionView"
**Mapbox Navigation SDK version:**
v1.1.0

### Steps to trigger behavior

 1. Set system locale English
 2. Query Directions API with setting other language like "zh"
 3. Remaining distance is shown as imperial units (system locale) while remaining time is shown as "分" (Chinese locale)

### Expected behavior
Remaining distance and remaining time should use same locale.

### Details
- `DistanceFoma

[2020-10-21 13:32] #3662 closed

[2020-10-21 17:05] korshaknn opened #3669 "Update RouteAlertsActivity"
`mapbox-java 5.8.0-beta.2` contains fixes of `List<Incidents>` (moved from `LegStep` to `RouteLeg`)
It'd be great to update RouteAlertsActivity so that incidents are displayed / tested and ideally use a real route including all types of alerts (currently alerts are faked).

[2020-10-22 05:38] Rahul0305 opened #3673 "UI issue with navigation sdk 1.0.0 version"
**Android API:** implementation "com.mapbox.navigation:ui:1.0.0"
**Mapbox Navigation SDK version:** 1.0.0

### UI issues with updated sdk

I have updated mapbox navigation sdk "implementation "com.mapbox.navigation:ui:1.0.0" and we found some issues like
1. Mapbox icons shows little above as in old version it shows bottom of the screen.
2. Navigation icon is showing center of the screen as in old

[2020-10-22 13:53] Guardiola31337 opened #3676 "RuntimeException: Could not read input channel file descriptors from parcel"
An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3674 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/9141/workflows/168ee1b2-0460-453c-a21f-bba01371fd04/jobs/34080 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/6855818869958487339/executions/bs.c8929c74aac707

[2020-10-23 10:20] text4lilac opened #3678 "Mapbox SDK not downloading in example sample project"
**Android API: 30-Android11**
**Mapbox Navigation SDK version: 9.5.0**

### Steps to trigger behavior

 1.I have download an example demo code on this link to: https://github.com/mapbox/mapbox-navigation-android
 2.After code builds a secret token set in gradle.property or build.gradle file, it created in my mapbox account.
 3.And run demo execute build error ---->> Could not HEAD 'https://api.map

[2020-10-23 16:04] Sohailbhutto opened #3680 "Remove Feedback Button"
How to remove Feedback button from MapBoxActivity. Top Right Second Button.

![Screen Shot 2020-10-23 at 9 03 09 PM](https://user-images.githubusercontent.com/11742886/97026817-536ce580-1573-11eb-901a-9c1fa8da863a.png)

[2020-10-23 16:57] Guardiola31337 commented on #3404
Same issue caught again by Robo test from `BasicNavigationActivity` this time

An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3540 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/9179/workflows/520aee36-ffad-4a9e-8d02-40860f6eb1d1/jobs/34264 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/historie

[2020-10-23 18:31] kmadsen commented on #2748
https://github.com/mapbox/mapbox-navigation-android/blob/c5b8f6185ac1f22262664f14167da2d7ef2522e2/libnavigation-core/src/main/java/com/mapbox/navigation/core/telemetry/MapboxNavigationTelemetry.kt#L632-L635

Adding to pablo's comment cause here is where distanceCompleted is literally set

Rerunning the query that's in the description: https://app.mode.com/editor/mapbox/reports/36579db91d6d
[code]

[2020-10-23 18:31] #2748 closed

[2020-10-23 19:07] kmadsen opened #3682 "Telemetry distancecompleted can be impossible large"
**Mapbox Navigation SDK version:** 1.2.0-alpha.2

https://app.mode.com/editor/mapbox/reports/69d0cdda2582

Opening this issue as we are actively looking into telemetry https://github.com/mapbox/mapbox-navigation-android/pull/3540
Also note that our telemetry data is looking much cleaner than before, allowing us to close this one https://github.com/mapbox/mapbox-navigation-android/issues/2748

Here

[2020-10-23 19:07] kmadsen commented on #3682
cc: @korshaknn @Guardiola31337

[2020-10-23 19:09] kmadsen commented on #3682
Another note, is the depart event `distanceremaining` is `0`. It should be the `estimateddistance`, in the description screenshot the expectation would be 4480

[2020-10-23 19:12] kmadsen opened #3683 "Telemetry distanceremaining should be the estimateddistance when departing"
**Mapbox Navigation SDK version:** 1.2.0-alpha.2

Discovered this issue here https://github.com/mapbox/mapbox-navigation-android/issues/3682

Mode report here https://app.mode.com/editor/mapbox/reports/69d0cdda2582

![Screen Shot 2020-10-23 at 12 02 51 PM](https://user-images.githubusercontent.com/3021882/97043876-031c6600-1528-11eb-945b-120efb29bc99.png)
The depart event distanceremaining is 0. I

[2020-10-23 19:19] Guardiola31337 commented on #3683
Cc @korshaknn

[2020-10-23 20:06] cafesilencio opened #3684 "Update documentation for unknown traffic color override"
Related to the work done in this PR https://github.com/mapbox/mapbox-navigation-android/pull/3672, documentation should be updated that explains the feature and how to use it.

For specified road classes, any section where the traffic is 'unknown' can be represented using the 'low' traffic congestion color rather than the 'unknown' traffic color.

[2020-10-26 07:05] tobrun commented on #3404
Your app uses 20 non-SDK interfaces, which are incompatible with Android P+.

Can you please add which?

[2020-10-26 09:43] LukasPaczos commented on #3092
Hey @takeshi4126, `MapboxNavigation#requestRoutes` is not meant to be used together with the `NavigationView`. `NavigationView` accepts the route as a parameter in the `NavigationViewOptions.Builder#directionsRoute` and you can obtain the route before starting the navigation with [`MapboxDirections` wrapper](https://docs.mapbox.com/android/java/overview/directions/).

If this doesn't give you enou

[2020-10-26 09:43] LukasPaczos commented on #3641
@takeshi4126 @ThinClient a short follow up to your question above - https://github.com/mapbox/mapbox-navigation-android/issues/3092#issuecomment-716432855.

[2020-10-26 11:12] takeshi4126 commented on #3092
Hi @LukasPaczos, thank you for giving me the instruction. Actually, I decided to use the standalone UI components and so far it meets my requirement.

One issue is that I have to call the MapboxNavigation.requestRoutes() even if I use setRoute() with a DirectionsRoute object obtained separately. Without calling the requireRoutes(), the RouteProgressObserver that I registered kept receiving INVALID

[2020-10-26 13:27] Guardiola31337 commented on #3404
Following you can find what it's reported https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/6313297879129535402/executions/bs.8ad60368c7f55a98 There's also a link to https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces

[code]

[2020-10-26 13:30] LukasPaczos commented on #3092
This is not working as design, and possibly or bug, or an incorrect setup. `setRoutes` should result in the same behavior as a successful  `requestRoutes`. Would you be able to share more about how you're initializing the nav session or the route you're trying to set?

[2020-10-26 16:11] LukasPaczos commented on #3678
Hey @text4lilac! Which branch are you checking out when trying to build the examples project? There's currently no plugin that tries to reach `'https://api.mapbox.com/downloads/v1/` URL on `master`, all are pointing to `https://api.mapbox.com/downloads/v2/`. Have you see the documentation in https://github.com/mapbox/mapbox-navigation-android/blob/master/CONTRIBUTING.md?

[2020-10-26 16:15] LukasPaczos commented on #3673
Hey @Rahul0305, thanks for reaching out! We'll try to reproduce and split the issue into smaller tickets and address in future releases. By any chance, could you share the route JSON that reproduces the incorrect directions instruction?

/cc @abhishek1508

[2020-10-26 19:12] kmadsen opened #3690 "RouteLineDistancesIndex.getPoint() NullPointerException"
### Steps to trigger behavior

Unknown at this time. I just ran into it while testing on the main branch.

### Issue

[code]

[2020-10-26 19:34] RingerJK commented on #3669
We also need update examples docs https://docs.mapbox.com/android/navigation/examples/route-alerts/

[2020-10-26 20:32] Guardiola31337 commented on #3690
cc @abhishek1508 @cafesilencio

[2020-10-26 20:55] Guardiola31337 commented on #3680
Hey @Sohailbhutto 👋 thanks for reaching out.

If you're using the [Drop-in UI](https://docs.mapbox.com/android/navigation/overview/choose-an-approach/#drop-in-ui) there's [`NavigationView#retrieveFeedbackButton`](https://docs.mapbox.com/android/navigation/api/ui/1.1.0/com.mapbox.navigation.ui/-navigation-view/retrieve-feedback-button.html) API available which returns the `FeedbackButton` instance

[2020-10-26 20:55] #3680 closed

[2020-10-26 20:57] Guardiola31337 commented on #3667
@JunDai can you take a look at this when you have a chance? 🙏

[2020-10-26 21:11] Guardiola31337 commented on #3609
Hey @arunpandian22 thanks for reaching out 👋

Could you add some more information for reproducing the behavior you're describing or any other specifics around your setup? Which version of the SDK are you testing out? If there is any sample / pseudo code or stacktrace you can provide, that would be really helpful and it'll give us better insight into your implementation and what could be causing yo

[2020-10-26 21:25] Guardiola31337 commented on #3601
Thanks for reaching out @arunpandian22 👋

That's expected behavior. Have you checked [`RouteOptions#waypointNames`](https://github.com/mapbox/mapbox-java/blob/bc21013afe4c27dda816a2bc9f1646f90545b53a/services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java#L950-L964) and [`RouteOptions#waypointNamesList`](https://github.com/mapbox/mapbox-java/blob/bc21013afe4c

[2020-10-26 21:25] #3601 closed

[2020-10-27 08:59] JunDai commented on #3667
it's related to the fix of https://github.com/mapbox/mapbox-navigation-android/issues/1990
I can check more soon.

[2020-10-27 14:02] takeshi4126 commented on #3092
@LukasPaczos Let me try to find a simple case to recreate it and open a new issue, as I'm not using NavigationView any longer and irrelevant to #3092.

[2020-10-27 20:17] Guardiola31337 opened #3700 "Layers displayed behind roads style layer"
Route line is the more evident but it's happening with other layers too 👀

![route_line_behind_roads_layer](https://user-images.githubusercontent.com/1668582/97357004-7cd98a00-186f-11eb-97d8-a5a544e9a638.png)

`ReplayActivity`

![layers_behind_roads_style_layer](https://user-images.githubusercontent.com/1668582/97357049-8d8a0000-186f-11eb-99f9-31043b1d8c9a.gif)

`NavigationViewActivity`

![layers_

[2020-10-27 20:36] kmadsen commented on #3645
https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/7464126921186382426/executions/bs.e879f668badafc2

Reopening because maybe it hasn't been solved

[2020-10-27 20:52] kmadsen commented on #3645
Hmm trying to reproduce locally, but it's working.

1. add `minifyEnabled true` to the debug build (in the pull request description https://github.com/mapbox/mapbox-navigation-android/pull/3646)
1. remove `@Keep` from here https://github.com/mapbox/mapbox-navigation-android/pull/3646/files#diff-b626863f61bbe9a5178c1c9f7fc1aa72e44a758f35afcf049728bfd9426d28e7R30

[code]

If you add `@Keep`, the cra

[2020-10-27 20:53] Guardiola31337 commented on #3645
We can close re-close as changes were not brought to https://github.com/mapbox/mapbox-navigation-android/pull/3540 yet 👀  (no `@Keep`)

https://github.com/mapbox/mapbox-navigation-android/blob/683b8da63b35c989b84adfde490e99e54f7b05f7/examples/src/main/java/com/mapbox/navigation/examples/history/HistoryFilesClient.kt#L29

cc @korshaknn

[2020-10-27 20:53] #3645 closed

[2020-10-28 09:22] JunDai commented on #3667
@OttyLab - thanks for using our SDK and reporting this issue.

Did you find this issue when you were using our `NavigationView` component? I would guess you were using the `InstructionView` and `SummaryBottomSheet` stand-alone widgets in your layout? In this case, there is an API `setDistanceFormatter` that would allow you to pass in a distanceFormatter during runtime.

I will revisit this piece a

[2020-10-28 10:30] LukasPaczos commented on #3700
Yes, noticed as well. Working on it now.

[2020-10-28 10:31] hactar commented on #3342
Also interested in this - how does free drive mode decide where to snap to? If the part is open source, pointing at the file would already help tremendously.

[2020-10-28 14:44] #3700 closed

[2020-10-28 16:44] Guardiola31337 commented on #3164
https://github.com/mapbox/mapbox-navigation-android/pull/3540 landed addressing some OP issues 🎉

Listing here the current tailwork:

- `voiceIndex` and `bannerIndex`
- add more tests
- add multiple waypoint support
- unreliable distance metrics
- https://github.com/mapbox/mapbox-navigation-android/issues/3682
- https://github.com/mapbox/mapbox-navigation-android/issues/3683

cc @korshaknn

[2020-10-28 17:05] Guardiola31337 commented on #3164
There's also

- _Free Drive_ instrumentation

cc @asinghal22

[2020-10-28 17:25] asinghal22 commented on #3164
Free Drive is very high priority. We should target v1.2

[2020-10-28 18:36] zugaldia commented on #2337
We've heard of another customer integrating v1.0 hitting this issue. Reopening to prioritize an investigation.

[2020-10-28 18:37] zugaldia commented on #1971
@JunDai I've reopened https://github.com/mapbox/mapbox-navigation-android/issues/2337 to track that Exception.

[2020-10-28 18:41] zugaldia commented on #2337
Possibly related: https://github.com/mapbox/mapbox-navigation-android/issues/1988 and https://github.com/mapbox/mapbox-navigation-android/issues/1971#issuecomment-664660165.

[2020-10-29 07:29] OttyLab commented on #3667
@JunDai
Thanks, you are right. This is caused when I do NOT use `NavigationVew` and do NOT set `DistanceFormatter` by myself. (`NavigationView` set both formatter by using voice unit and there's no problem)

Therefore this is a feature request rather than a bug ticket. If SDK provides a way to set up both formatter in one place, it's straightforward.

[2020-10-29 12:49] agap opened #3713 "NavigationView crashes from time to time while trying to build the distance formatter object"
**Android API:** 28
**Mapbox Navigation SDK version:** 1.1.1

### Steps to trigger behavior

It's hard to describe the specific set of steps to trigger that behavior since the issue can not be reproduced all the time. What we'm doing is requesting the list of routes from point A to point B via `MapboxGeocoding.Builder`, and, once `RoutesRequestCallback#onRoutesReady` gets triggered, we start navig

[2020-10-29 18:00] LukasPaczos opened #3721 "Route flashes when switching legs when vanishing enabled"
![ezgif com-optimize (85)](https://user-images.githubusercontent.com/16925074/97613182-a8e43f00-1a18-11eb-8748-08d99a2d23ef.gif)

We are currently trying to hide the route when `RouteProgressState#ROUTE_COMPLETE` is delivered, but we do not recognize whether it's the end of a leg or a route which results in a brief flash of the route.

/cc @cafesilencio

[2020-10-29 18:02] LukasPaczos opened #3722 "Allow for additional animation cycle of vanishing point when route completed"
We are currently trying to hide the route when `RouteProgressState#ROUTE_COMPLETE` is delivered, but ideally, we should let the animation catch up one cycle before we hide the route to improve the experience and not hide the route a tiny bit prematurely.

Also, see https://github.com/mapbox/mapbox-navigation-android/issues/3721.

/cc @cafesilencio

[2020-10-29 18:14] LukasPaczos commented on #3721
Alternatively, we should fully switch the internals to the `ArrivalObserver` instead of looking at the raw `RouteProgressState`.

[2020-10-30 04:15] rossmartin commented on #3660
@agap I am experiencing this same issue. What was causing this in your case?

[2020-10-30 04:52] rossmartin commented on #3660
My issue is not exactly the same but similar.

![image](https://user-images.githubusercontent.com/2498502/97661161-9b8f7a80-1a41-11eb-8648-b0582b656948.png)

I am fetching the route using the Core SDK first and then supply it using `NavigationViewOptions`. I experience the same issue with the sample prefetched route also.

[2020-10-30 23:44] JunDai commented on #3713
@agap : thanks for using our SDK and reporting the issue.

I don't see a clear path that can lead to this crash but it worths to add a null protection and uses default voiceUnit if it is missed in the `routeOptions`.

[2020-11-01 22:08] Aetherna commented on #3660
Yep I have the same error. Worldwide maps gets generated and thats it.

[2020-11-01 23:53] rossmartin commented on #3050
Hey @andfs I have this exact same issue with react native and I figured out a solution (although I wish it were more ideal). I am using the SDK version `1.1.2` in my native wrapper that returns the `NavigationView`.

Originally I had to do what you were doing on init with programmatically showing the UI buttons like this -
[code]

I was able to get rid of that code after discovering that if you mo

[2020-11-02 05:17] rossmartin commented on #3050
Ok here is a "better" solution that doesn't rely on the `onNavigationRunning`.

[code]

Basically you can see here that I adjust the height of the sibling `View` by 1/10 of a pixel every second. This isn't ideal but it fixes the rendering issue that we both experience. It's such a minor adjustment that I can't notice it even looking for it. When I get some more time I'll see if I can find a better

[2020-11-02 13:17] OttyLab opened #3726 "Add interface to suppress "Rerouting..." expression in NavigationView"
**Android API: No dependency**
**Mapbox Navigation SDK version: v1.1.2**

### Steps to trigger behavior
 1. Call `MapboxNavigation.setRerouteController` with `null` to disable rerouting
 2. Go out side of route

### Expected behavior
"Rerouting..." in `InstructionView` and `ProgressBar` in `SummaryBottomSheet` are not shown.

### Actual behavior
"Rerouting..." in `InstructionView` and `ProgressBar

[2020-11-02 14:21] andfs commented on #3050
\o/
I'm so happy in Reading this. I'll try It and give you a feedback. Thanks in advance. This feature is Still on hold in my project cause I didn't have found a solution.
Thank you

[2020-11-02 16:34] #3713 closed

[2020-11-02 18:03] rossmartin commented on #3050
I think this stems from this root cause - https://github.com/facebook/react-native/issues/17968

I tried some of those solutions mentioned inn the thread but without success.

[2020-11-03 07:29] shawntai commented on #2027
I'm having the same problem too. It worked perfectly well with Java but when I switched to Kotlin it just wouldn't work and kept showing the below error message:

    java.lang.NullPointerException: Attempt to invoke virtual method 'com.mapbox.mapboxsdk.style.layers.Layer com.mapbox.mapboxsdk.maps.Style.getLayer(java.lang.String)' on a null object reference
        at com.mapxus.map.mapxusmap.k0.a

[2020-11-03 08:34] shawntai commented on #2027
Oops, it's solved now haha

[2020-11-03 12:15] LukasPaczos commented on #3690
I also run into this once while testing https://github.com/mapbox/mapbox-navigation-android/pull/3727. I wasn't able to reproduce, so I only added an if-check in https://github.com/mapbox/mapbox-navigation-android/pull/3727 for now. We should try to get to the bottom of this though.

[2020-11-03 12:18] LukasPaczos commented on #3669
https://github.com/mapbox/mapbox-navigation-android/pull/3704 landed, closing here.

[2020-11-03 12:18] #3669 closed

[2020-11-03 12:56] #3721 closed

[2020-11-03 12:56] #3722 closed

[2020-11-03 15:21] andfs commented on #3050
@rossmartin I tried yesterday but my project is outdated to use the 1.1.2 version of mapbox navigation. I'll have to change somethings to update it.

But doing what you said, my project didn't crashed \o/

I wasn't able to show the instructions view, but now I can continue to work in this.
Thank you so much.
If you opensource this component I'll try to help :D

[2020-11-03 17:04] asinghal22 commented on #3164
Context: FreeDrive tracking is being asked by GrubHub - one of key account wins we want during this quarter.

[2020-11-03 17:35] asinghal22 commented on #3647
@Azbesciak Can you please describe the usage in more detail? How do you anticipate using the SDK with your own routing and engine. That will help us with providing better guidance.

Abhishek (Head of Product - Navigation SDK)

[2020-11-03 22:46] kmadsen commented on #3682
Hey, `1.2.0-alpha.5` is looking good! Thanks for pinging me to re-run @Guardiola31337
![Screen Shot 2020-11-03 at 2 44 05 PM](https://user-images.githubusercontent.com/3021882/98048680-10b4d400-1de3-11eb-96ee-59fa938a6e48.png)

[2020-11-03 22:46] #3682 closed

[2020-11-03 23:09] kmadsen commented on #3683
Another query added here [3 - sessions with 0 distanceremaining](https://app.mode.com/editor/mapbox/reports/69d0cdda2582)

It looks like it doesn't happen as often, but there is still an issue.
![Screen Shot 2020-11-03 at 3 00 37 PM](https://user-images.githubusercontent.com/3021882/98049848-5d011380-1de5-11eb-8fbe-e8f9b3b1230a.png)

Example session on `1.2.0-alpha.5` where the depart is `0` but s

[2020-11-03 23:11] kmadsen commented on #3683
🤔  Also the distance remaining goes up to `16736` in that session. Which is the issue here https://github.com/mapbox/mapbox-navigation-android/issues/3682

Going to look at re-running the query over there because there still seems to be an unreliable distanceremaining
Also linking other similar issues https://github.com/mapbox/navigation-sdks/issues/608

[2020-11-03 23:22] kmadsen commented on #3683
issue used to happn 70% of the time. now it only happens 2% of the time. huge improvement!

going to leave this issue open, can we always set the `distanceremaining` to the `estimateddistance` for the `navigation.depart` event?

[2020-11-04 01:23] rossmartin commented on #3050
Hey @andfs we open sourced the wrapper that we made for react native. You can get it on npm and view it here on github - https://github.com/homeeondemand/react-native-mapbox-navigation

[2020-11-04 05:13] Azbesciak commented on #3647
Hello, In general I don't want to use any of your online services - I have my own; the question is whether I can use them and use your SDK without any pricing; I checked you terms of use, but there everything was 'per user' and in terms of service usage.

So far, to replace routing and stay in your framework, I know that I need push my own route to the `NavigationMapboxMap`, also I replace tiles b

[2020-11-04 08:27] korshaknn commented on #3683
I prefer not to do it. Right now we have the single flow to populate each event of any type. If we have any additional changes to any event it will lead to additional issues.

So, we need to fix `distanceremaining` field. We have the next logic:
`event.distanceRemaining = routeProgress.distanceRemaining`
`event.estimatedDistance = routeProgress.route.distance`

It might be a NN issue that `routePr

[2020-11-04 20:27] rossmartin commented on #3050
For anyone that comes to this thread for this react native issue - here is how I solved the rendering issue with android on the native side: https://github.com/homeeondemand/react-native-mapbox-navigation/commit/4fceba358224cb3bc5ee9a649320723c4dea0ea8

[2020-11-05 09:46] amalmadawa90 opened #3733 "ERROR: Unable to resolve dependency for ':app@debugUnitTest/compileClasspath': Could not resolve com.mapbox.navigation:core:1.1.0"
HI,
I'M GETTING THIS ERROR WHEN I trying ti implement navigation ui 1.1.0

ERROR: Unable to resolve dependency for ':app@debugUnitTest/compileClasspath': Could not resolve com.mapbox.navigation:core:1.1.0

android studio version 3.6.1

[2020-11-05 10:16] LukasPaczos opened #3734 "NullPointerException in NavigationNotificationProvider"
Device: Huawei Y5II
Android: 5.1

[code]

[2020-11-05 14:00] LukasPaczos opened #3735 "Move Nav Native -> SDK type mapping to the core module"
Capturing from https://github.com/mapbox/mapbox-navigation-android/pull/3730, we should move the internal mappings from Nav Native types to public SDK types into the `libnavigation-core` module. This will allow us to hide more constructor types and make maintaining semver and correct type nullability a little bit easier.

/cc @Guardiola31337

[2020-11-05 17:13] LukasPaczos opened #3737 "Offload MapRouteLine work to a worker thread"
Refs https://github.com/mapbox/mapbox-navigation-android/pull/3672#discussion_r518206796.

When the route is initially rendered, we're spending a lot of time preparing the geometries, congestion expressions, etc. For extremely long routes this can even freeze the UI thread for a significant amount of time (~1.5s for a cross-US route, in debug mode). We should prioritize offloading those operations

[2020-11-05 22:14] andfs commented on #3050
@rossmartin what great news man \o/

I`ll try it in next weekend

[2020-11-06 11:26] markvanheerden opened #3743 "Could not find com.mapbox.navigator:mapbox-navigation-native:7.0.0."
I am currently building an android navigation app and have run into an issue. The full error is:

 I am following this tutorial: https://docs.mapbox.com/help/tutorials/android-navigation-sdk/?size=n_10_n

So in my app-level build.gradle file, I added this dependency:
`implementation 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.42.6'`

And in my module-level build.gradle file, under reposit

[2020-11-06 14:37] palimad opened #3746 "Navigation stucked"
I am trying to simulate dirt roads routing with code below by adding some off-route points to the route. But on first turn navigation gets stucked.

[code]

[2020-11-06 18:32] cafesilencio commented on #3684
The PR for the documentation update is here: https://github.com/mapbox/android-docs/pull/1566

[2020-11-06 19:39] Guardiola31337 commented on #3735
Noting that `alert` models should live in `core` too but we missed the train and will need to wait until `2.0` 😬

[2020-11-09 09:56] LukasPaczos opened #3750 "IllegalStateException in MapboxSpeechPlayer"
Caught by crashlytics on `v1.2.0-beta.1` on Nexus 5 (6.0.1):

[code]

/cc @abhishek1508 @JunDai @cafesilencio

[2020-11-09 13:01] LukasPaczos commented on #774
Closing as stale.

[2020-11-09 13:01] #774 closed

[2020-11-09 13:20] LukasPaczos commented on #1977
Closing as stale.

[2020-11-09 13:20] #1977 closed

[2020-11-09 13:20] LukasPaczos commented on #1941
Closing as stale.

[2020-11-09 13:20] #1941 closed

[2020-11-09 13:22] LukasPaczos commented on #1798
Closing as stale.

[2020-11-09 13:22] #1798 closed

[2020-11-09 13:23] LukasPaczos commented on #1468
Closing as stale.

[2020-11-09 13:23] #1468 closed

[2020-11-09 13:24] LukasPaczos commented on #1062
Closing as stale.

[2020-11-09 13:24] #1062 closed

[2020-11-09 14:37] LukasPaczos opened #3753 "Verify that each PR contains a changelog entry"
Refs https://github.com/mapbox/mapbox-navigation-android/pull/3752.

We can use [Github's API](https://docs.github.com/en/free-pro-team@latest/rest/reference/pulls) to fetch the contents of each PR's description and verify that the `<changelog></changelog>` closure contents are provided, or that `skip changelog` label is set.

[2020-11-09 22:27] #3394 closed

[2020-11-09 23:27] #3388 closed

[2020-11-10 00:27] #3313 closed

[2020-11-10 01:27] #2233 closed

[2020-11-10 08:21] mskurydin opened #3755 "The puck in Replay History example uses magnetic heading from the phone rather than the bearing form the enhanced location"
**Android API:**
**Mapbox Navigation SDK version:** commit hash d1c16c631

### Steps to trigger behavior

 1. Start replay history example
 2. Rotate the phone a bit to see that it affects the direction the puck is pointing

### Expected behavior

The puck should use the bearing from the enhanced location.

### Actual behavior

See the title.

Btw, the camera direction is tied to the correct beari

[2020-11-10 08:52] Azbesciak commented on #3647
@asinghal22 Hello, is any response possible?

[2020-11-10 10:00] LukasPaczos commented on #3755
/cc @kmadsen

[2020-11-10 13:55] LukasPaczos commented on #3164
@Guardiola31337 since the addition of free drive events is tracked in https://github.com/mapbox/navigation-sdks/issues/691, are we good to close here? If there are any other follow-ups after recent refactors, let's cut smaller tickets instead and close this one.

[2020-11-10 14:12] #3753 closed

[2020-11-10 17:06] RingerJK commented on #3501
Caught from standup discussion:
We're gonna make only one link to Navigation SDK API Documentation and not separate it on `UI` and `Others`(Core) like [it's making now](https://docs.mapbox.com/android/navigation/api-reference/) when we have 2 links for one version: `navigation` and `navigation-ui`.

Pull request #3757

**cc** @asinghal22 @LukasPaczos

[2020-11-11 01:07] kmadsen commented on #3755
@mskurydin thanks for reporting, have noticed this but didn't dig into it.

The location puck will use the magnetic heading for it's mode is set to COMPASS
https://docs.mapbox.com/archive/android/maps/api/9.4.0/
https://docs.mapbox.com/android/maps/overview/ui-settings/#compass

We will be able to replay the compass history when we implement this feature https://github.com/mapbox/navigation-sdks/i

[2020-11-11 04:52] Asherslab commented on #3647
Also have this question as well, same use case.

Want to host my own tile server and navigation server (graphhopper) but do like the SDK

[2020-11-11 17:00] #3755 closed

[2020-11-11 17:05] LukasPaczos opened #3760 "NavigationView leaks listeners attach with NavigationViewOptions"
### Steps to trigger behavior
 1. Run any activity that attaches listeners that contain context reference via `NavigationViewOptions`. Reproducible with `NavigationViewActivity` example.
 2. Rotate the screen.
 3. Leak.

[code]

The issue is, that we're storing references to the listeners (and `context` that they carry) in the view model. As far as I can tell from a glance at the codebase, we cann

[2020-11-12 11:26] LukasPaczos opened #3765 "NPE when formatting date in the telemetry impl"
[code]

Caught by a robo test using `v1.2.0-rc.1`.

/cc @korshaknn @Guardiola31337

[2020-11-12 11:33] kibotu opened #3766 "support for MapboxDirections being able to cancel requests"
**Android API:**
**Mapbox Navigation SDK version:**

9.4.0

### Steps to trigger behavior

 1. using `MapboxDirections.builder` to create directions request
 2. enqueue request: `client.enqueueCall(request)`
 3. not being able to cancel request

### Expected behavior

being able to call [cancel()](https://github.com/square/retrofit/blob/master/retrofit/src/main/java/retrofit2/Call.java#L61) direct

[2020-11-12 13:18] korshaknn commented on #3765
11-12 03:02:51.376: D/MAPBOX_TELEMETRY(13367): session state is IDLE
11-12 03:02:51.376: D/MAPBOX_TELEMETRY(13367): sessionStop
11-12 03:02:51.376: D/MAPBOX_TELEMETRY(13367): resetOriginalRoute
11-12 03:02:51.376: D/MAPBOX_TELEMETRY(13367): resetRouteProgress
11-12 03:02:51.376: D/MAPBOX_TELEMETRY(13367): trackFreeDrive STOP
11-12 03:02:51.376: D/MAPBOX_TELEMETRY(13367): createFreeDriveEvent
11-12

[2020-11-12 13:19] korshaknn commented on #3765
what happens:
- when 1Tap is opened `FreeDrive` is started
- we need to track `FreeDriveStart` event
to create the event we need a location, we `wait` for it in a `while`  loop. But `onRawLocationChanged`  is not called.
so, we are in free drive, but without a location and our while loop is waiting for it. we can't send `FreeDriveStart`
- open `search` -> press `Navigate`
- session state changes f

[2020-11-12 13:21] korshaknn commented on #3765
we should change order in `MapboxNavigation.onDestroy`

when TripSession stops we need to handle it and send some pending events. But it can NOT be done, because we call
`MapboxNavigationTelemetry.unregisterListeners(this@MapboxNavigation)` before

[2020-11-12 13:21] korshaknn commented on #3765
looks like we have 2 known issues:
- occasional crash (no location passed to `onRawLocationChanged`)
- dropping events when destroying navigation

[2020-11-12 13:56] palimad opened #3767 "Route generation"
Hello, in your demos you use MapboxDirections.builder() and also mapboxNavigation.requestRoutes().

What is the difference between them? Thanks

[2020-11-12 21:31] #3765 closed

[2020-11-12 23:22] kmadsen commented on #3041
Thanks @thomasrockhu, we've added the Codecov GitHub App to mapbox-navigation-android

[2020-11-13 12:07] kibotu commented on #3766
well turns out this is the wrong place to post this after all, also in side note I was wrong, there is a way to build in, I just didn't see it until now.

also in case anyone else is curious, how mapbox direction request would look like as coroutine (hope mapbox supports coroutines soon):

https://gist.github.com/kibotu/4a7381738411b8d0e43b82463fe88733

[2020-11-13 12:07] #3766 closed

[2020-11-13 23:53] kmadsen opened #3778 "Electronic horizon stack overflow issue"
**Android API:** https://github.com/mapbox/mapbox-navigation-android/pull/3777
**Mapbox Navigation SDK version:**

### Steps to trigger behavior
Building tests on top of https://github.com/mapbox/mapbox-navigation-android/pull/3777

And this test crashes with a stack overflow
[code]

### Expected behavior
The objects from nav native are working. So the SDK objects should work too

[code]
### Actua

[2020-11-14 08:49] peytonwupeixin opened #3779 "Question about dead reckoning algorithms."
Hey guys,I have a quetion about the dead reckoning algorithms used in v1.0 and later.I will be grateful if you have time to answer it.
I wonder that how the SDK to confirm the speed, heading direction for estimating current location.
Does it only use these data from previous locations to estimate them or does it also refer to the real-time values ​​obtained by the sensors when the device has(eg. l

[2020-11-14 23:30] libasoles commented on #3660
Hey, I have the same and I'd like to understand what's the problem. I don't like having errors in the console :/

Any hint?

[2020-11-15 01:38] karaipan opened #3780 "Failed to resolve: com.mapbox.navigation:ui:1.1.0"
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1. I just want to build with latest navigation library.
    My app already worked with previous version

`implementation 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.42.6'
    implementation 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.42.6'
    implementation 'com.mapbox.mapboxsdk:mapbox-android-core

[2020-11-15 15:45] ziadesm commented on #3743
Same as you ..

Could not find com.mapbox.navigator:mapbox-navigation-native:7.0.0.
Required by:
    project :app
    project :app > com.mapbox.mapboxsdk:mapbox-android-navigation:0.42.6

[2020-11-16 11:46] Azbesciak commented on #3647
@zugaldia @asinghal22 could you please :)?

[2020-11-16 13:17] LukasPaczos commented on #3780
Hey @karaipan, could you run `gradlew build -i` or any other command that will output build logs with more information and paste them here?

[2020-11-16 13:31] LukasPaczos commented on #3767
Hey @palimad!

`MapboxDirections.builder()` directly uses our [Directions API ](https://docs.mapbox.com/help/glossary/directions-api/) to obtain the route which can later be used for turn-by-turn navigation with `MapboxNavigation#setRoutes`.

`MapboxNavigation.requestRoutes()` simplifies the process of creating and maintaining a request (the results are automatically used for turn-by-turn navigati

[2020-11-16 13:31] #3767 closed

[2020-11-16 13:45] LukasPaczos commented on #3746
Hey @palimad, at some point in your test code, you're rebuilding a route to be incomplete:
[code]
This is not a valid route.

If you'd like your route to have intermediate points, please look into:
[code]
or
[code]

This repo is for bug reports and feature requests, if you need additional support, please reach out on https://support.mapbox.com/.

[2020-11-16 13:45] #3746 closed

[2020-11-16 13:47] LukasPaczos commented on #3733
Hey @amalmadawa90, did you setup your token as specified in https://docs.mapbox.com/android/navigation/overview/#install-the-navigation-sdk? I'm going to go ahead and close as a https://github.com/mapbox/mapbox-navigation-android/issues/3780 duplicate if your token setup is correct.

[2020-11-16 13:47] #3733 closed

[2020-11-16 15:03] Guardiola31337 commented on #3164
Closing here. We have tickets for the remaining points 👍

[2020-11-16 15:03] #3164 closed

[2020-11-16 15:51] #3778 closed

[2020-11-16 18:23] zugaldia commented on #3779
/cc: @etl @mskurydin

[2020-11-16 19:36] asinghal22 commented on #3501
Yes - we don't want to separate UI and Core as two sdks. It should be a single Navigation SDK.

[2020-11-17 01:07] kmadsen commented on #3041
@thomasrockhu so we have the Codecov app added. But we're not getting any codecov status reports commented on the pull requests. It sounds like it's supposed to work automatically, but there must be a setting that's not working. Would you know what's going on?

Here's a couple pull requests where all we're doing, is adding tests - and would like a codecov generated comment

current try: https://gi

[2020-11-17 01:57] thomasrockhu commented on #3041
@kmadsen, thanks, we're taking a look to see why this might be. Thanks for your paitence.

[2020-11-17 02:00] thomasrockhu commented on #3041
Hi @kmadsen, actually it looks like Codecov didn't post because not all CI checks passed. You can bypass this with [this setting](https://docs.codecov.io/docs/codecovyml-reference#codecovrequire_ci_to_pass).

[2020-11-17 08:46] karaipan commented on #3780
Hi @LukasPaczos,
I'm so thankful for your support.
Here's the logs which printed. I'm look forward to hearing your advice.

`Creating configuration androidTestUtil
WARNING: DSL element 'android.dataBinding.enabled' is obsolete and has been replaced with 'android.buildFeatures.dataBinding'.
It will be removed in version 5.0 of the Android Gradle plugin.
All projects evaluated.
Analytics other plugi

[2020-11-17 10:36] LukasPaczos commented on #3780
@karaipan I don't see your Gradle script requesting resources from our Maven repo. Did you configure your script according to https://docs.mapbox.com/android/navigation/overview/#install-the-navigation-sdk?

[2020-11-17 13:32] P-Zenker commented on #2061
Functional with com.mapbox.mapboxsdk:mapbox-sdk-services:5.7.0:
[code]

[2020-11-17 13:32] #2061 closed

[2020-11-17 14:46] LukasPaczos opened #3786 "NullPointerException when formatting telemetry date"
Might be related to https://github.com/mapbox/mapbox-navigation-android/issues/3765. Reproduced on `v1.3.0-alpha.1`.

[code]

/cc @korshaknn @Guardiola31337

[2020-11-17 14:58] LukasPaczos commented on #3786
Reproducible when running [this test](https://github.com/mapbox/mapbox-navigation-android/blob/aa5618f75e0818dd8d7936f242ef809faef136f2/instrumentation-tests/src/androidTest/java/com/mapbox/navigation/instrumentation_tests/core/SanityCoreRouteTest.kt#L51) on https://github.com/mapbox/mapbox-navigation-android/commit/aa5618f75e0818dd8d7936f242ef809faef136f2 run on Android 21 emulator (which makes t

[2020-11-17 15:01] Guardiola31337 commented on #3786
Problem here is

`11-17 15:40:21.501 4540-4540/com.mapbox.navigation.instrumentation_tests W/LocationUpdateReceiver: LocationEngineResult == null`

If `location` is `null` `STOP` doesn't get updated (`location ready`) and `START` :boom:

`null` is not valid in this case, although we've seen it in the past from some manufacturers.

cc @korshaknn

[2020-11-17 15:15] mskurydin commented on #3779
Currently, our Dead Reckoning algorithm is quite simple - it uses only the data from previous locations plus some heuristics and is intended primarily for tunnels. Sensor data (from IMU) is not used at the moment (the quality of the real-time data varies across different vendors and device models). However, we have plans to fuse sensor data in the future. We cannot provide the timeline for this at

[2020-11-17 15:17] P-Zenker commented on #3058
Hey, with 1.0 you removed most of the methods mentioned above. Is there still a way to adjust offRouteThreshold / intersectionRadiusForOffRouteDetection / offRouteThresholdWhenNearIntersection? I didn't found an alternative in your migration guide for NavigationOptions.

[2020-11-17 15:20] LukasPaczos commented on #3786
Actually reproducible on any device after commenting out https://github.com/mapbox/mapbox-navigation-android/blob/aa5618f75e0818dd8d7936f242ef809faef136f2/libtesting-ui/src/main/java/com/mapbox/navigation/testing/ui/MockLocationUpdatesRule.kt#L32-L36 and running the above test.

[2020-11-17 15:32] kmadsen commented on #3041
Thanks! Ok closing for good.

[2020-11-17 15:32] #3041 closed

[2020-11-17 16:08] LukasPaczos commented on #3786
Another example, I think location updates are delivered here correctly:
[code]

[2020-11-17 16:28] Guardiola31337 commented on #3786
Nah, same

[code]

[2020-11-17 17:02] LukasPaczos commented on #3786
If I understand correctly, the telem impl relies on a location sample to be delivered before the route is set, right? We should definitely account for a route being delivered first, even if it's a very rare case.

[2020-11-17 17:10] Guardiola31337 commented on #3786
Agreed. I was only noting that with current implementation the crash is "expected" for that use case.

cc @korshaknn

[2020-11-17 17:12] korshaknn commented on #3786
@Guardiola31337  @LukasPaczos
as you can see, we have we have the next logs:
`trackFreeDrive START`
`wait for location`
`location not ready`
`session state is ACTIVE_GUIDANCE`

^^ we do not send FreeDrive(Start) because `location` not ready. it means we don't populate
[code]

after that we have:
`trackFreeDrive STOP`
`createFreeDriveEvent STOP`
`populateNavigationFreeDriveEvent`.  <- crash because

[2020-11-17 17:23] korshaknn commented on #3786
@LukasPaczos @Guardiola31337
let's imagine:
- free drive started
- we are waiting for a location
- free drive stopped (start event hasn't been sent yet)

what should we do?
- send only stop (it's confusing)
- cancel both (we miss events)
- handle both with a queue (make logic more complicated and we need time to implement it)

[2020-11-17 17:39] LukasPaczos commented on #3786
I say we cancel both `free drive started` and `free drive stopped` events if `free drive started` was not sent. Since we did not emit any location samples, we did not provide any value or anything that we can measure with telemetry.

[2020-11-17 17:42] LukasPaczos commented on #3786
cc @baddleydone @zugaldia @asinghal22

[2020-11-17 18:10] Guardiola31337 commented on #3786
Don't we? 🤔

As I mentioned, it's rare but we've seen `null` location updates in the past.

Also, it seems we're interested in tracking the _Free Drive_ sessions irrespective if the `location` is available or not. Am I right @baddleydone @zugaldia @asinghal22? If so, we could treat the `location` as optional and implement something around these lines

[2020-11-17 18:18] LukasPaczos commented on #3786
That would be a different story :+1:

[2020-11-17 18:32] palimad commented on #3746
@LukasPaczos what do you mean by incomplete? i try to generate own route (basically the aim is to implement off-route routing somehow). Can I generate route on my own in code?

[2020-11-17 18:36] zugaldia commented on #3786
Discussed this briefly with @Guardiola31337 now. The priority is to track free drive sessions vs active guidance sessions. In other words, I rather have the free drive events even if there're no location values.

[2020-11-17 18:42] palimad opened #3787 "Off route geometry disappears"
Please run code below, simple replace BasicNavigationFragment from your examples. Can you please tell me how to fix it so the off-route road will not disappear (it is the section at the end of the road)? Basically the point is to navigate also through waypoints I add manually, they are off the road. Thanks

`@file:Suppress("DEPRECATION")

package com.mapbox.navigation.examples.core

import android

[2020-11-17 18:49] baddleydone commented on #3786
Agreed.

[2020-11-17 19:50] asinghal22 commented on #3786
Agree with @zugaldia

[2020-11-18 03:35] peytonwupeixin commented on #3779
Copy,thanks a lot and I will close this issue.

[2020-11-18 03:35] #3779 closed

[2020-11-18 07:18] palimad commented on #609
How to control rerouting and off-route functionality (e.g. snapping to roads) with current APIs?

[2020-11-18 11:10] LukasPaczos commented on #3746
@palimad to be able to run a turn-by-turn experience via the Nav SDK, the route has to provide all of the information that the https://docs.mapbox.com/api/navigation/ generates (including legs, steps, intersections, etc.). You can also look into https://docs.mapbox.com/api/navigation/#retrieve-a-match, but the API currently does not offer off-route routing support.

[2020-11-18 14:26] P-Zenker opened #3792 "Feedback button hide not working as espected"
**Android API:** 30
**Mapbox Navigation SDK version:** com.mapbox.navigation:ui:1.1.2 & com.mapbox.mapboxsdk:mapbox-sdk-services:5.7.0

### Steps to trigger behavior

 Use `mapboxNavigationView.retrieveFeedbackButton().hide()`

### Expected behavior

Only the feedback button disappears

### Actual behavior

The feedback disappears. But the recenter button disappears also...

![2020-11-18 15 18 30]

[2020-11-18 15:34] RingerJK commented on #3501
I'm gonna recreate [all api-docs](https://docs.mapbox.com/android/navigation/api-reference/ )starting with `1.0` based on **Dokka 1.4**

#### What we get in that case:
- the same style for all docs starting with 1.0;
- now docs separated by ui and non-ui which is not [what we want](https://github.com/mapbox/mapbox-navigation-android/issues/3501#issuecomment-728279060), so it would be easier to re-

[2020-11-18 16:56] #3786 closed

[2020-11-18 17:09] Guardiola31337 opened #3797 "Free Drive START events have always null location"
Follow up ticket from https://github.com/mapbox/mapbox-navigation-android/pull/3791#issuecomment-729733263

cc @korshaknn @kmadsen @LukasPaczos

[2020-11-18 17:33] #3737 closed

[2020-11-18 17:37] #1634 closed

[2020-11-19 02:24] karaipan commented on #3780
@LukasPaczos
I'm so sorry for late reply.
I found out reason and it's my mistake when I put authentication information in gradle file.
I just put buildscript tag only, instead of allprojects tag.
It works now, so you can close this ticket.
Thanks again for your support, and really sorry to take time from you.

[2020-11-19 04:13] Guardiola31337 commented on #3780
Thanks for checking out the SDK @karaipan

Closing as solved.

[2020-11-19 04:13] #3780 closed

[2020-11-19 19:39] cafesilencio opened #3805 "Avoid vanishing route line calculations when feature disabled."
When the MapRouteLine class receives a new route it performs a calculation called calculateRouteGranularDistances in order to cache some data needed for the vanishing route line. However, it's an expensive calculation and is only used for the vanishing route line feature. If the vanishing route line is disabled there is no reason to do this calculation.

The class should be modified so that the ca

[2020-11-19 22:33] asinghal22 commented on #3647
@Azbesciak You are free to use Mapbox software that is open source under MIT License. Any binary that is included in the SDK (including dependencies) fall under Mapbox TOS. There will be licensing fee associated with the usage of the binary.

cc: @kathleenlu09

[2020-11-20 04:06] Azbesciak commented on #3647
@asinghal22 Thank you. So, to sum up, because it is not clear to me -- it is not important whether I use your services or not, it is important what functionality of the SDK I am using?

[2020-11-20 16:19] kathleenlu09 commented on #3647
@Azbesciak It depends on what code you copy and the license that code is under. Some code may only be used with Mapbox services. Please see https://github.com/mapbox/mapbox-navigation-android/blob/master/LICENSE.md#license-of-dependencies

[2020-11-20 16:41] Azbesciak commented on #3647
Thank you @kathleenlu09 ,

Does it mean that some code *is practically impossible* to use with another service, or is *not legally permitted* to use with them? I execute requests on my own to my own services, SDK is used only to visualize things, and of course - for navigation.

[2020-11-20 17:10] kathleenlu09 commented on #3647
@Azbesciak For the code that is not available under an open source license, the only license is through Mapbox's Terms of Service. Therefore it is not legally permitted to use that code outside the Terms of Service.

[2020-11-20 19:02] Azbesciak commented on #3647
To sum up, I can use some code, but as I suppose key fragments, for example navigation engine, is in binary form, and therefore I am not able to use it, as same as Graphhopper could not, right?

[2020-11-21 09:18] carstenhag commented on #3390
Robolectric has been released on 24th of August. Can, you please try it out and see whether it works fine? :D

[2020-11-21 09:20] carstenhag commented on #2790
Still relevant.

[2020-11-21 13:38] hamzatariq819 opened #3807 "app has stopped"
2020-11-21 18:13:46.255 8178-8178/com.example.hamza E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.hamza, PID: 8178
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.hamza/com.example.hamza.Login}: java.lang.ClassCastException: com.google.android.material.textfield.TextInputEditText cannot be cast to com.google.android.material.textfield.TextInput

[2020-11-23 09:44] peytonwupeixin opened #3808 "How navigationview switching Light or Dark mode dynamically."
We use com.mapbox.navigation.ui.NavigationView(sdk v1.2.0-rc.2) for navigation.We need to deal with the case that user switch the Dark mode(Android 10) when navigating.
We set "<activity android:name=".MyActivity"android:configChanges="uiMode" />" to controll the event by oureself.
We found that NavigationView only set its style according the style when it created.But it would not change its style

[2020-11-24 08:59] simon-the-shark opened #3811 "RouteListener missing?"
The documentation mentions RouteListener with its allowRerouteFrom() and few other methods several times. (e.g.
[here](https://docs.mapbox.com/android/navigation/overview/off-route/) or [here](https://docs.mapbox.com/android/navigation/overview/custom-routes/)). Nevertheless, I can't find where I should import this from. I searched [API reference](https://docs.mapbox.com/android/navigation/api-ref

[2020-11-24 12:49] #3623 closed

[2020-11-24 13:55] simon-the-shark commented on #3811
So I would like to know if it's still relevant API and if so, where I can import this from

[2020-11-24 22:18] aardvarkk commented on #3660
@agap I'm having a really similar problem where I'm just seeing a blank navigation view. I know you said this has nothing to do with Mapbox... but what was the issue?!

[2020-11-24 22:55] aardvarkk opened #3815 "Blank NavigationView"
**Android API:** 19 (also tried 21 and 28)
**Mapbox Navigation SDK version:** 1.2.0

### Steps to trigger behavior

 1. Followed the steps on https://docs.mapbox.com/android/navigation/overview/#install-the-navigation-sdk to install the navigation SDK
 2. Ran the resulting app both on an actual device and in the emulator

### Expected behavior

A route should be shown with directions and a map

##

[2020-11-24 23:58] Guardiola31337 commented on #3815
@aardvarkk thanks for reaching out 👋

That sounds like the `mapbox_access_token` is missing. Could you double check that? Instructions are detailed in https://docs.mapbox.com/android/navigation/overview/#configure-credentials under `Configure your public token` section.

[2020-11-25 00:03] Guardiola31337 commented on #3807
@hamzatariq819 thanks for reaching out 👋

Could you add some more information for reproducing the crash you're running into? Actually the logs you shared don't include any reference to the Mapbox Navigation SDK i.e. not actionable from our side.

[2020-11-25 00:13] aardvarkk commented on #3815
Thanks for the response. I believe my public token is properly loaded -- I've got it in my `strings.xml` file, and it shows in the Android Studio IDE as a substituted value. See this screenshot for the start of the token:

![image](https://user-images.githubusercontent.com/1251092/100165721-d2ee1d00-2e6f-11eb-88ee-88fb8c941e5a.png)

Interestingly, though, if I empty out the contents of the key in

[2020-11-25 08:59] evenlan1990 opened #3816 "Navigation arrow and route are not in the same direction"
**Android API:any
**Mapbox Navigation SDK version: 1.2.0-rc.2

### Steps to trigger behavior

 1.Plan a route at a certain location
 2.Drive the car to the starting point off the path (not on the path)
 3.Bring the No.1 route to the navigation page,and call NavigationView.startNavigation use No.1 route
 4.NavigationView reroute success,sometimes the navigation arrow and route are not in the same
d

[2020-11-25 13:08] LukasPaczos opened #3817 "Cached feedback events require to have all "after" locations collected"
Refs https://github.com/mapbox/mapbox-navigation-android/pull/3724, https://github.com/mapbox/mapbox-navigation-android/pull/3758.

We currently require all "after event" location samples to be collected before we cache the event, which means that if an event is reported close to the destination and we don't have time to collect all samples, which means that cached feedback list will not contain t

[2020-11-25 13:18] LukasPaczos opened #3818 "NavigationCancelEvent is sent after arrival"
Steps to repro:
1. Start a route.
2. Reach the destination.
3. Close the activity.

Even though we have successfully arrived, the closure of the activity still triggers a `NavigationCancelEvent`.
[code]

/cc @Guardiola31337 @korshaknn @baddleydone

[2020-11-25 13:21] LukasPaczos commented on #3816
Hey @evenlan1990, thanks for reporting the issue!!! We are aware of the occasional route generation that happens in the opposite direction, especially if the device was standing still for a while and the bearing is uncertain. We are looking internally into various solutions.

[2020-11-25 13:35] korshaknn commented on #3818
@LukasPaczos it's expected. `cancel` event is a final event in a session.

[2020-11-25 13:39] LukasPaczos commented on #3811
Hey @simon-the-shark, thanks for reaching out. It looks like some of our legacy documentation slipped to v1.

`RouteListener` and `allowRerouteFrom` are not available in the v1, instead, you can use the `OffRouteObserver` as well as `RerouteController` to control the reroute experience (see `MapboxNavigation#setRerouteController`). We'll fix the docs up!

[2020-11-25 13:45] LukasPaczos commented on #3818
@baddleydone @asinghal22 is that your expectation as well?

[2020-11-25 13:47] Guardiola31337 commented on #3818
That's by design. Every trip should always have depart and cancel events, irrespective of arrival.

Yes.

Closing here.

[2020-11-25 13:47] #3818 closed

[2020-11-25 13:50] LukasPaczos commented on #3818
Thanks for confirming @korshaknn @Guardiola31337 :+1:

[2020-11-25 15:02] Guardiola31337 commented on #3817
Noting that this is only in the context of https://github.com/mapbox/mapbox-navigation-android/pull/3758 i.e. it may be a problem if the PR merges as is. In `master` this shouldn't be a problem as all the events from the queue are flushed when the session is closed. Actually 👇

cc @JunDai

[2020-11-25 15:13] LukasPaczos commented on #3817
That's right, thanks for checking @Guardiola31337 :+1:

[2020-11-25 21:44] simon-the-shark commented on #3811
Can I use custom reroute controller with navigation view from UI framework?

[2020-11-25 21:50] Guardiola31337 commented on #3811
Yes you can as you can retrieve the `MapboxNavigation` instance from `NavigationView#retrieveMapboxNavigation` and if you're not using the Drop-in UI but any other UI components you should have `MapboxNavigation` already, from which you can interact.

[2020-11-25 22:15] simon-the-shark commented on #3811
Great, thanks for your assistance

[2020-11-25 22:15] #3811 closed

[2020-11-25 22:17] Guardiola31337 commented on #3811
Thank you @simon-the-shark for checking out the SDK!

[2020-11-26 10:25] Christophe668 opened #3822 "Feature request: Off-route detection options"
Hello Mapbox team,

In the core SDK of the navigation, I was looking for a way to control the sensitivity of the off-route trigger but was not able to find a way to customize it.

Would it make sense to allow us to control this? Maybe in the same way of controlling the arrival event in the ArrivalOptions of the ArrivalController or in a similar way?

Cheers and thanks in advance for your help!

[2020-11-26 11:39] yeshmesh commented on #1533
Hi im still getting an error  'Caused by: java.lang.RuntimeException' , when using

``
implementation'com.mapbox.mapboxsdk:mapbox-android-plugin-places-v9:0.12.0
``
mapbox dependencies :

[code]

My build.gradle:

[code]
And my root build.gradle file:

[code]

Someone pls help me with this :)

[2020-11-26 11:44] yeshmesh opened #3823 "Caused by: java.lang.RuntimeException when using mapbox plugin places."
A runtime exception error is been caused when  im using the below dependency :

[code]

My mabbox dependencies are :

[code]

My build.gradle file:

[code]

my root build.gradle :

[code]

If someone could help with the issue, ill be grateful to u.

[2020-11-27 10:11] LukasPaczos opened #3826 "Feedback marker disappears after orientation change"
![ezgif com-gif-maker (101)](https://user-images.githubusercontent.com/16925074/100437458-1085bc80-30a1-11eb-83d0-6c0dd9fbf995.gif)

When using `NavigationView` and feedback is sent, the marker that indicates the location disappears after screen rotation.

[2020-11-27 10:15] LukasPaczos opened #3827 "Not able to see contextual feedback screenshot when in landscape"
![ezgif com-gif-maker](https://user-images.githubusercontent.com/16925074/100437810-999cf380-30a1-11eb-9469-aa12a28e3ed0.gif)

When in landscape mode and filling up the detailed feedback form, I'm not able to peek at the contextual screenshot. The bottom sheet currently requires a click on the image to fully collapse, which is possible in vertical most of the time, but in the landscape, the sheet

[2020-11-27 10:51] LukasPaczos opened #3828 "FeedbackArrivalFragment leaks activity contents on recreation"
Refs https://github.com/mapbox/mapbox-navigation-android/pull/3758#issuecomment-733991877.

When used with `NavigationView` the `FeedbackArrivalFragment` leaks the contents of the activity on recreation, most likely tied to the feedback flow listener which is part of the `NavigationView`'s `ViewModel` but is kept by the recycler in the feedback fragment.

cc @Guardiola31337

[2020-11-27 11:06] #3817 closed

[2020-11-27 12:58] Vishal949 opened #3830 "Mapbox load java activity class , but after destroy activity application cress in mapbox sdk."
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1.Used Navigation functionality in my project.
 2.Navigation working fine. but after back press application cress.
 3.And showing log then found the issue in mapbox cress log.

 @Override
    public void onDestroyView() {
        super.onDestroyView();

        mapboxReplayer.finish();
        mapboxNavigation.unr

[2020-11-28 16:55] simon-the-shark opened #3832 "navigationView.retrieveMapboxNavigation() returns null"
**Android API: 29**
**Mapbox Navigation SDK version: com.mapbox.navigation:ui:1.1.0**

### Steps to trigger behaviour
1. I tried to implement custom routing with Mapbox map matching and in order to do that I need to disable default rerouting. At the moment completely, but in the future maybe also implement some custom rerouting behaviour.
2. So I set the rerouteController to null. I also tried wit

[2020-11-28 17:16] billyking991 commented on #1935
The Australian voice is now male.  Any idea how to change it back to female?  Stale Bot says this issue is stale, but my users would still love to be able to change the gender of the voices.

[2020-11-28 17:23] billyking991 opened #3833 "Female Australian Polly Voice (en-AU)"
I've now received a bunch of upset emails because the female Australian voice is now a male voice.  I know it's silly, but apparently it's important to some people.  The en-IN, en-US, and en-GB voices are all the same as they were before.  Does anyone know why this has happened or how to change it back?

I had previously filed an issue (#1935) to see if I could change the gender and it didn't seem

[2020-11-29 11:31] simon-the-shark commented on #3832
I have found the real cause of my problem. It seems that ```navigationView.retrieveMapboxNavigation()``` return null and that's why none of the invoked methods has any effect.  Including reroute controller and all of the observers. The question is why it can happen to me

[2020-11-29 11:36] simon-the-shark commented on #3832
Ok, so it looks like [navigation has to be started before](https://docs.mapbox.com/android/navigation/api/ui/1.1.0/com.mapbox.navigation.ui/-navigation-view/retrieve-mapbox-navigation.html) I want to access MapboxNavigation.

[2020-11-29 11:42] simon-the-shark commented on #3832
Basically, I resolved it by myself

[2020-11-29 11:42] #3832 closed

[2020-11-29 16:17] simon-the-shark opened #3834 ".retrieveFeedbackButton().hide() hides also the recenter button"
**Android API: 29**
**Mapbox Navigation SDK version: ui:1.1.0**

### Steps to trigger behaviour
1. Just the below code
[code]

### Expected behaviour
It hides the feedback button, but the recenter button still shows up when needed
### Actual behaviour
Feedback button is hidden, but the side effect of it is complete disappearal of the recenter button, which makes the service impossible to use.

[2020-11-30 07:27] evenlan1990 commented on #3816
OK,Thanks!Looking forward to your updates.

[2020-11-30 08:25] peytonwupeixin opened #3835 "Two different voices occasionally read the same directions at the same time"
**Android API:29**
**Mapbox Navigation SDK version:1.2.0-rc.2**

### Steps to trigger behavior
 We use com.mapbox.navigation.ui.NavigationView and startNavigation with NavigationViewOptions, we didn't change the isFallbackAlwaysEnabled in NavigationViewOptions,its default value is true.

### Actual behavior
 Our driver have mentioned many of them experience a scenario where an instruction is read

[2020-11-30 10:07] LukasPaczos commented on #3811
Docs are updated.

[2020-11-30 14:25] Guardiola31337 commented on #3828
Cross-posting from https://github.com/mapbox/mapbox-navigation-android/pull/3758#issuecomment-733991877 for reference

[code]

[2020-11-30 14:28] Guardiola31337 commented on #3455
Is this still relevant @kmadsen?

[2020-11-30 15:21] yuryybk opened #3836 "NullPointerException inside MapRouteLine.updateTraveledRouteLine"
Android API: 27
Mapbox Navigation SDK version: 1.2.0-alpha.5

[code]

[2020-11-30 15:23] LukasPaczos commented on #3836
Thanks for reporting @yuryybk! Closing as a duplicate of https://github.com/mapbox/mapbox-navigation-android/issues/3690.

[2020-11-30 15:23] #3836 closed

[2020-11-30 15:29] LukasPaczos commented on #3684
Closing as resolved.

[2020-11-30 15:29] #3684 closed

[2020-11-30 16:17] tkvalentine56 commented on #3455
Yes. Please refer to Sean OLeary for discussion about this issue with our dev team.

[2020-11-30 17:24] LukasPaczos commented on #3690
Additional information from one of the customers:

[2020-12-01 15:42] zenyagami commented on #3589
I can confirm the same issue , sometimes when i move the map when is under the navigation,  using the examples (ComponentNavigation) the navigation lags and takes a lot of time

[2020-12-02 07:55] ableabhijeet opened #3840 "How to download routing tiles?"
I am using latest navigation sdk

[code]
Blog [here](https://blog.mapbox.com/cut-fleet-data-bills-with-hybrid-online-offline-routing-5b10ee4bfa76) talks about offline capabilities available in latest sdk.

Download Map tiles -- I know how to download map tiles. We need to create offline regions using `OfflineManager`

[code]
Map tiles are stored in mbgl-offline.db file. That's clear.

Question is

[2020-12-02 15:08] RingerJK opened #3841 "FeedbackDetailsFragment flow is broken"
Feedback Details flow is broken in case if it's out of `NavigationView`. It expects parent's view contains `feedbackFrameLayout` container

https://github.com/mapbox/mapbox-navigation-android/blob/356e9d150b2e1ca5ea5b9c7222bc222316d60d23/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackDetailsFragment.kt#L226-L234

https://github.com/mapbox/mapbox-navigation-androi

[2020-12-02 22:40] Guardiola31337 opened #3843 "BasicNavigationActivity IllegalStateException: Calling addImage when a newer style is loading/has loaded."
An issue caught by a Robo test https://github.com/mapbox/mapbox-navigation-android/pull/3842 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/9753/workflows/aceadf6b-dc11-4931-995c-4826b9dcdcf7/jobs/37252 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.2e74b6b076d6fa53/matrices/8086210929235660874/executions/bs.4200da03458360

[2020-12-02 22:40] #3841 closed

[2020-12-03 10:31] peytonwupeixin opened #3844 "Supprot exclude multiple types or add more routing profiles"
**Android API:29**
**Mapbox Navigation SDK version:1.2.0**

### Actual behavior
Our vehicle is a commercial vehicle,and we need to routes avoid roads where commercial vehicles are not permitted.
Currently,we have to request [directions api](https://docs.mapbox.com/api/navigation/#directions)with profile=mapbox/driving-traffic and exclude=toll(the exclude option only can be one of toll,motorway and

[2020-12-03 23:58] aardvarkk commented on #3815
Is there any word on this? I've continued to mess around with the default navigation example but have yet to see anything except the empty view shown above. The only changes I've made from copy/pasting the example wholesale are to stop using the kotlinx support extensions thing, and instead use the databinding approach with `inflate` as Android Studio recommends (since the code in the example is d

[2020-12-04 00:02] aardvarkk commented on #3815
... welp, that was the problem. I reverted back to the "Kotlin Synthetics" method of grabbing the view and that seemed to work, so I'll see if I can figure out the proper way to transition to the binding/inflate style without breaking the example app.

[2020-12-04 20:51] simon-the-shark commented on #3834
I've just noticed it's a duplicate of #3792. Also, the solution proposed there works for me also. Seems to be a bug for me.

[2020-12-04 20:51] #3834 closed

[2020-12-05 08:49] Azbesciak commented on #3647
https://github.com/mapbox/mapbox-navigation-android/blob/master/LICENSE.md
As I understand, If I am able to remove `mapbox-navigator` from the sourcecode and compile it by myself, I am free to use it with my own API services without any payments - based on MIT licence, right?

BTW link to  libandroid-navigation/build.gradle. should be updated there

[2020-12-07 06:38] innodeltech commented on #2541
I am also facing the same issue.
A problem occurred configuring root project 'mapbox-navigation'.

     Required by:
         project :

[2020-12-07 14:00] yunikkk opened #3846 "RouteProgress still is updated after setting empty routes and stopping trip session"
**Android API:*
**Mapbox Navigation SDK version: 1.2.1

### Steps to trigger behavior

 1. Start trip session `mapboxNavigation.startTripSession()`
 2. Request routes `mapboxNavigation.requestRoutes`
 3. Reset routes `mapboxNavigation.setRoutes(emptyList())`
 4. Stop trip session `mapboxNavigation.stopTripSession()`
 5. Start trip session again `mapboxNavigation.startTripSession()`

### Expected b

[2020-12-07 20:07] wisalmuhammad opened #3847 "Android app crashes.(E/libEGL: call to OpenGL ES API with no current context (logged once per thread))"
**Android API:** 30
**Mapbox Navigation SDK version:** 0.43.0-alpha.1

### Steps to trigger behaviour

 1. First we show map fragment to choose another point of interest after which we draw route line between the two points.
 2. Now taking the current route to navigation ui which is also showing in fragment and it works well.
 3.Now when we pressed back button we received the above(title in red li

[2020-12-07 20:56] simon-the-shark opened #3848 "Extra voice instructions"
Is there any possibility to play some extra voice instructions? I know there's `SpeechAnouncemensListener` with `willVoice`, but from what I understand, it only allows to customize instructions that are about to fire. And I'm interested in the possibility of playing completely custom instructions, for example on reroute.

[2020-12-08 10:11] RingerJK opened #3849 "FeedbackFlowListener add feedback flow finished method"
#### Problem
Feedback flow include [Detailed](https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackDetailsFragment.kt) and [Arrival](https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackArrivalFragment.kt) feedback

[2020-12-08 17:12] RingerJK opened #3851 "FeedbackDetailedFragment screens navigating bug"
[FeedbackDetailsFragment](https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackDetailsFragment.kt) on back pressed doesn't hide detailed screen, but show again `Start` button only.

Detailed:
![gif](https://user-images.githubusercontent.com/16925074/101483303-43a93500-3958-11eb-87aa-8a4eca0779f9.gif)

**cc

[2020-12-08 17:32] RingerJK opened #3852 "FeedbackDetailedFragment and FeedbackArrivalFragment force user uses"
#### Problem
`FeedbackFlowListener` is passed as an argument directly to `FeedbackDetailedFragment` and `FeedbackArrivalFragment` which is mean it cannot be stored in view(screen rotation kicks listener). Implicitly we force users to store listener outside of view(like into ViewModel or smt like this).

https://github.com/mapbox/mapbox-navigation-android/blob/7f56d62164c226b1da499f99972a0e0c5c1680

[2020-12-08 22:13] RingerJK opened #3853 "Review logging of MapboxNavigationTelemetry"
Telemetries' TAG("MAPBOX_TELEMETRY") is used outside of `MapboxNavigationTelemetry` class, which is not right and confused.

[2020-12-08 22:55] mark-lapasa commented on #2337
blocked on this same issue too

[2020-12-09 13:21] karaipan opened #3854 "waypointIndicesList crash in reroute case?"
**Android API:**30
**Mapbox Navigation SDK version:**1.2.1

### Steps to trigger behavior

 1. Request route with coordinates list, and pick some coordinates to make waypointIndicesList. I also check waypointIndicesList contains first coordinate (0) at first element of list, and coordinate size at last element of list
 2. Request route works with first time
 3. Make off-route case, app crashes wit

[2020-12-09 15:39] zugaldia commented on #2337
/cc: @etl could you have a look?

[2020-12-09 15:41] SiarheiFedartsou commented on #2337
@LukasPaczos @Guardiola31337 this issue seems to be trivial to debug if we could obtain any route for which we have this exception. Is it possible to find one?

[2020-12-09 15:42] LukasPaczos commented on #2337
@mark-lapasa would you be able to share the coordinates you are using for the route request that produces this exception?

[2020-12-09 15:45] SiarheiFedartsou commented on #2337
@mark-lapasa and not only coordinates, but any parameters you are passing to Directions API, please

[2020-12-09 15:47] kmadsen commented on #3455
Yeah thanks for keeping it open, we haven't resolved this issue. It seems the solution could come from native or sdk.

But it seems we also want to [introduce an SDK api](https://github.com/mapbox/mapbox-navigation-android/blob/7f56d62164c226b1da499f99972a0e0c5c168030/libnavigation-core/src/main/java/com/mapbox/navigation/core/reroute/RerouteController.kt#L12), to be able to manually disable re-ro

[2020-12-09 15:50] kmadsen commented on #3298
Remove archived, this is still open.

[2020-12-09 15:51] #3849 closed

[2020-12-09 18:03] mark-lapasa commented on #2337
Hope the following helps:

[code]

[2020-12-09 20:01] mskurydin commented on #2337
@mark-lapasa Do you see this exception consistently on every run? Would it be possible for you to save the contents of `routes: List<DirectionsRoute>` into a file and attach to the issue? This would help a lot! [having trouble reproducing it with a route request]

[2020-12-09 20:07] mark-lapasa commented on #2337
@mskurydin This is a snapshot of what `routes` looks like. I just reproduced the issue again.

![image](https://user-images.githubusercontent.com/74388312/101681514-3a8b9700-3a30-11eb-8229-d8051d5c5648.png)

[2020-12-09 20:11] mark-lapasa commented on #2337
@mskurydin Also to add more specifics, these are exact MapBox classes used in my original `configureMapView()` [post](https://github.com/mapbox/mapbox-navigation-android/issues/2337#issuecomment-741175109):

![image](https://user-images.githubusercontent.com/74388312/101681803-bb4a9300-3a30-11eb-8429-6311f62596aa.png)

[2020-12-09 20:22] Guardiola31337 commented on #2337
@mark-lapasa for your own security going to remove the screenshot you shared that included potentially your access token 😬

Feel free to upload another screenshot hiding it or share plain text.

[2020-12-09 20:22] mskurydin commented on #2337
What are the coordinates for the route shown in the picture?
According to the encoded geometry, it shows Somalia (1 point):
lon/lat - [47.302239,3.75299],[47.302239,3.75299]

[2020-12-09 20:25] mark-lapasa commented on #2337
Thx - I was gonna refresh all the tokens when it was going to prod. Doesn't help I had committed that secret key into the repro, lol. I'm solo developer on this project.

[2020-12-09 20:30] mark-lapasa commented on #2337
@mskurydin @Guardiola31337 - Second attempt at capturing the breakpoint. Not sure how in Android studio how to dump to text file.

![image](https://user-images.githubusercontent.com/74388312/101683776-6a886980-3a33-11eb-8b29-514ec34fab44.png)

[2020-12-10 08:58] carstenhag commented on #2790
Would be good to remove this old picasso version which needs jetifier to build.

[2020-12-10 09:10] carstenhag commented on #3390
Updating Robolectric worked fine for us, I don't see any jetifier usage anymore on our own project.

[2020-12-10 11:29] LukasPaczos commented on #2337
@mark-lapasa could you call `routes[0].toJson()` and paste the route JSON here? Please make sure to remove the access token that's appended to the end of that JSON string.

[2020-12-10 12:53] mskurydin commented on #2337
We have found the exact route responses and see that the lon/lat are confused during the request:

From the request (it's over the ocean)
[code]

Our services follow the lon-first model most of the time.

--

In any case, we do the follow-up investigation of why we get a weird route and why it causes a crash.

[2020-12-10 18:09] mark-lapasa commented on #2337
@mskurydin yayyyyyyy! I am unblocked thanks to your tip. The problem was as you stated.

[code]

[code]

I was so used to the documentation going from latitude followed with longitude that I erroneously believed it was the same for `Point.fromLngLat()`

I have achieved my expected result. Thx all!

![image](https://user-images.githubusercontent.com/74388312/101811785-8732a900-3ae8-11eb-8a0a-336e6c

[2020-12-10 18:16] Guardiola31337 commented on #2337
BTW does the crash force close the app? If so, we should think about how to notify the user in this case (lat, lon is reversed) instead of bubble up the exception.

cc @LukasPaczos @mskurydin

[2020-12-10 18:22] mark-lapasa commented on #2337
@Guardiola31337 In my case, it leads to an unrecoverable crash because I'm not explicitly catching the Throwable.

`java.lang.Error: Any tile edge can only be used once as part of the geometry`

[2020-12-10 18:25] Guardiola31337 commented on #2337
Thanks for confirming @mark-lapasa 🙇‍♂️

[2020-12-10 19:33] cafesilencio opened #3860 "Port recent GeoJson tolerance options to route line/arrow 2.0 code base."
The recent changes from [this PR](https://github.com/mapbox/mapbox-navigation-android/pull/3819) should be ported to the 2.0 code base for the route line and route arrow implementations.

[2020-12-10 19:35] cafesilencio commented on #3860
I think I put this in the wrong place.

[2020-12-10 19:35] #3860 closed

[2020-12-10 22:11] Guardiola31337 commented on #3750
Noting that run into this while testing https://github.com/mapbox/mapbox-navigation-android/pull/3715 locally.

[2020-12-10 23:30] Guardiola31337 opened #3861 "2Tap Feedback comment box is covered by keyboard"
@baddleydone commented on [Thu Dec 10 2020](https://github.com/mapbox/navigation-sdks/issues/733)

When adding feedback comments, the box is covered by the keyboard.

![Screen Recording 2020-12-10 at 4 17 10 PM](https://user-images.githubusercontent.com/36256962/101841600-79d6e800-3b03-11eb-8052-e481584ec341.gif)

cc/ @Guardiola31337 @shvrm @geografa

[2020-12-11 16:49] Guardiola31337 commented on #3854
@Lebedinsky could you confirm if #3581 would fix this issue? 🙏

cc @RingerJK

[2020-12-11 16:54] #3848 closed

[2020-12-11 17:02] Guardiola31337 commented on #3844
Hey @peytonwupeixin thanks for your request here. Unfortunately, this is a limitation of the Directions API itself. It currently does not allow multiple `excludes` per request.

That said, our Directions team is actively thinking about this and we will be sure to update the SDK as soon as that work lands upstream. I do not have a solid timeline on that work at this time. Thank you for understandin

[2020-12-11 17:16] Guardiola31337 commented on #3844
My bad, I believe multiple `exclude`s is currently supported for `driving` and `driving-traffic` profiles. Make sure to include the types separated by commas through `RouteOptions.exclude`. Is that correct @danpat @danpaz?

[2020-12-11 17:23] Guardiola31337 commented on #3823
Hey @yeshmesh thanks for reaching out. From the snippets you shared it seems you're not integrating the Navigation SDK. Going to go ahead and move this issue to https://github.com/mapbox/mapbox-plugins-android

[2020-12-11 18:45] danpaz commented on #3844
Multiple excludes will work on the driving profile (though it's undocumented behavior), but not on the driving-traffic profile as of today. We do plan to roll out support for multiple excludes on the driving-traffic profile sometime early next year. No plans for a "mapbox/driving-commercial" routing profile that I'm aware of.

[2020-12-11 18:49] ArielSmoliar commented on #3844
@peytonwupeixin would you be available next week to jump on a quick call with @danpaz and me to discuss your use cases?

[2020-12-14 05:37] karaipan commented on #3854
@Guardiola31337
Thank you so much for check!
Could you please tell me by any chance if this issue will be fixed soon and released in the next version?
Because it seems that the same function works normally in iOS and I'm really looking forward to knowing how's about status in Android.

Thank you and hope you guys have a nice week!

[2020-12-14 16:15] EricGeiler commented on #3844
I would be very interested in this potential feature as well, we are struggling with the same use case in Canada.

-
Eric G.
A&B Courier Service.

[2020-12-14 16:42] jcloquell commented on #3844
Hi there! Thanks for sharing this, I was looking for the same thing and just tried to include multiple types separated by commas and it works fine with the "driving" profile, so you can exclude motorways, tolls and ferries at the same time 👍

However, I saw that there are 2 more values in the ``ExcludeCriteria`` - ``EXCLUDE_TUNNEL`` and ``EXCLUDE_RESTRICTED``.
I know it is not documented that they

[2020-12-15 05:37] carstenhag commented on #3555
Still relevant

[2020-12-15 10:39] RingerJK opened #3865 "Logging session"
2Tap feedback flow cannot be sent when TripSession has been stopped. We should logging that to notify external developers that it might happen.

Ref https://github.com/mapbox/mapbox-navigation-android/issues/3853

**cc** @LukasPaczos @Guardiola31337

[2020-12-17 12:04] #3865 closed

[2020-12-17 14:46] Lebedinsky commented on #3854
Yes, this issue fixed in [this PR](https://github.com/mapbox/mapbox-navigation-android/pull/3497)

[2020-12-17 14:55] #1781 closed

[2020-12-17 14:55] #3854 closed

[2020-12-18 11:42] diegolaballos commented on #3822
Same here, I wanted to adjust the off the route sensitivity and I could not find any configuration for that

[2020-12-19 07:33] carstenhag commented on #3571
Not stale

[2020-12-19 08:35] carstenhag commented on #3575
Still able to Reproduce the same thing with 1.1.0 core and ui

[2020-12-20 14:20] carstenhag commented on #3348
Not stale

[2020-12-20 20:47] dkpapo opened #3873 "java.lang.String java.lang.CharSequence.toString()' on a null object reference ThemeSwitcher"
**Android API: 29**
**Mapbox Navigation SDK version:5.7.0**

### Steps to trigger behavior

 1. init navigation turn by turn navigation

### Expected behavior

### Actual behavior

java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.String java.lang.CharSequence.toString()' on a null object reference
        at com.mapbox.navigation.ui.internal.ThemeSwitcher.retrieveMapSt

[2020-12-20 21:41] simon-the-shark opened #3874 "Wrong roundabout instructions image"
This bugged roundabout exit instruction image has been spotted during tests in the UK. Basically, it seems that most of the UK's roundabouts generate wrong instructions tiles
![IMG_20201220_222503_339](https://user-images.githubusercontent.com/28555148/102725061-49b5f300-4314-11eb-9506-a963d318967c.jpg)

[2020-12-20 22:35] simon-the-shark commented on #3874
![Screenshot_2020-12-20-23-25-14-844_com driving routes](https://user-images.githubusercontent.com/28555148/102726077-08294600-431c-11eb-9eba-a475047a89eb.jpg)
![Screenshot_2020-12-20-23-25-40-340_com driving routes](https://user-images.githubusercontent.com/28555148/102726080-0d869080-431c-11eb-8eb1-84eb73c4c25b.jpg)
![Screenshot_2020-12-20-23-27-52-909_com driving routes](https://user-images.git

[2020-12-21 11:49] RingerJK opened #3876 "UI module: remaining undocumented classes"
Staring with `dokka` 1.4+(https://github.com/mapbox/mapbox-navigation-android/pull/3757) we can track undocumented `java` classes.

#### List of undocumented java classes:
https://github.com/mapbox/mapbox-navigation-android/blob/5f5bf114d0baa283e23ac4f92429c2f6863f3ced/scripts/undocumented_classes.txt#L1-L53

#### How to trigger undocumented error:
- remove target class from the the list;
- from r

[2020-12-21 12:28] RingerJK commented on #1202
@Guardiola31337 A solution was merged https://github.com/mapbox/mapbox-navigation-android/pull/3867. Should we close the ticket?

[2020-12-21 16:24] Guardiola31337 commented on #1202
Sure thing 🚀

Thanks for taking care of this @RingerJK

Closing.

[2020-12-21 16:24] #1202 closed

[2020-12-21 17:00] cafesilencio commented on #3571
Thanks for the feedback @carstenhag. I agree with you. The naming can be improved and the method made more clear. Changing the name in the 1.x version would break SemVer but the name has already been changed for 2.x. The size annotation looks erroneous since passing an empty list is supposed to be a way to clear the routes. This can be updated in an upcoming release of 1.x.

[2020-12-21 17:29] Guardiola31337 commented on #3874
Hey @simon-the-shark thanks for reaching out and report your issue.

Could you share your requests setup / `RouteOptions` you're adding and the `DirectionsRoute`s that you get / use when you have a chance?

cc @RingerJK

[2020-12-21 17:35] Guardiola31337 commented on #3575
Hey @carstenhag 👋

Could you share your request setup / `RouteOptions` you're adding and the `DirectionsRoute` that you get / use when you have a chance?

cc @mskurydin @SiarheiFedartsou @etl

[2020-12-21 17:41] Guardiola31337 commented on #3853
Saw that this https://github.com/mapbox/mapbox-navigation-android/issues/3865 landed, are we good to close here @RingerJK? 🤔

[2020-12-21 17:45] zugaldia commented on #3876
@RingerJK this is GREAT. Should we include the validation step as part of our regular CI, so that new classes are always documented (unless explicitly added to the undocumented list)? Ignore me if we're already doing that.

[2020-12-21 17:46] Guardiola31337 commented on #3847
Hey @wisalmuhammad thanks for reaching out and report your issue.

`0.43.0-alpha.1` is an unmaintained release. Would you mind re-testing / confirming if OP is still an issue in 1.x (latest stable available is [`1.3.0`](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v1.3.0))? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) t

[2020-12-21 17:48] Guardiola31337 commented on #3815
Hey @aardvarkk 👋

Did you have a chance to follow up? Are we good to close here?

[2020-12-21 17:51] Guardiola31337 commented on #3589
Hey @rav005 and @zenyagami thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in 1.x (latest stable available is [`1.3.0`](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v1.3.0))? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navi

[2020-12-21 17:52] Guardiola31337 commented on #3828
cc'ing @RingerJK for visibility

[2020-12-21 17:53] Guardiola31337 commented on #3827
cc'ing @RingerJK for visibility

[2020-12-21 17:54] Guardiola31337 commented on #3826
cc'ing @RingerJK for visibility

[2020-12-21 17:56] Guardiola31337 commented on #3808
@abhishek1508 @cafesilencio could you chime in here when you have a chance? 🙏

[2020-12-21 17:58] Guardiola31337 commented on #3874
Refs. https://github.com/mapbox/mapbox-navigation-android/issues/3673

[2020-12-21 17:59] Guardiola31337 commented on #3743
Hey @markvanheerden and @ziadesm thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in 1.x (latest stable available is [`1.3.0`](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v1.3.0))? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbo

[2020-12-21 18:01] Guardiola31337 commented on #3277
Refs. https://github.com/mapbox/mapbox-navigation-android/issues/3647

[2020-12-21 18:04] Guardiola31337 commented on #875
Where are we here @RingerJK? Could you provide an update when you have a chance? 🙏

cc @Lebedinsky

[2020-12-21 18:05] Guardiola31337 commented on #3334
Where are we here @cafesilencio? Could you provide an update when you have a chance? 🙏

[2020-12-21 18:05] zugaldia commented on #3647
/fyi: @jyrigo

[2020-12-21 18:05] zugaldia commented on #3277
/fyi: @jyrigo

[2020-12-21 18:06] Guardiola31337 commented on #3572
cc'ing @cafesilencio for visibility

[2020-12-21 18:08] Guardiola31337 commented on #3443
Where are we here @cafesilencio? Could you provide an update when you have a chance? 🙏

[2020-12-21 18:09] Guardiola31337 commented on #2065
Refs. https://github.com/mapbox/mapbox-navigation-android/issues/2255

[2020-12-21 18:11] Guardiola31337 commented on #3576
Where are we here? It seems a pretty straightforward fix if not already addressed.

cc @cafesilencio @abhishek1508

[2020-12-21 18:13] Guardiola31337 commented on #2250
Where are we here @cafesilencio? Could you provide an update when you have a chance? 🙏

[2020-12-21 18:15] Guardiola31337 commented on #2644
A fix for https://github.com/mapbox/mapbox-navigation-android/issues/1781 landed 🎉

Are we good to close here @RingerJK @Lebedinsky?

[2020-12-21 18:16] Guardiola31337 commented on #3345
Where are we here? @RingerJK Could you provide an update when you have a chance? 🙏

[2020-12-21 18:22] Guardiola31337 commented on #3648
Hey @songyanho thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in 1.x (latest stable available is [`1.3.0`](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v1.3.0))? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navigation SDK v

[2020-12-21 18:23] Guardiola31337 commented on #3614
Hey @redavid7 thanks for reaching out and report your issue.

Would you mind re-testing / confirming if OP is still an issue in 1.x (latest stable available is [`1.3.0`](https://github.com/mapbox/mapbox-navigation-android/releases/tag/v1.3.0))? You can review the developer [documentation](https://docs.mapbox.com/android/beta/navigation/overview/) to start building with the Mapbox Navigation SDK v1

[2020-12-21 18:24] Guardiola31337 commented on #3565
Where are we here? @cafesilencio Could you provide an update when you have a chance? 🙏

cc @abhishek1508

[2020-12-21 18:26] Guardiola31337 commented on #3016
@kmadsen @carstenhag Where are we here? Are we good go close?

[2020-12-21 18:26] Guardiola31337 commented on #3524
cc'ing @SiarheiFedartsou @etl @LukasPaczos @truburt for visibility

[2020-12-21 18:28] Guardiola31337 commented on #3502
Are we good to close here @cafesilencio?

cc @abhishek1508

[2020-12-21 18:28] Guardiola31337 commented on #3469
Where are we here @kmadsen? Could you provide an update when you have a chance? 🙏

[2020-12-21 18:29] Guardiola31337 commented on #3450
Where are we here? Could you provide an update when you have a chance?

cc @RingerJK

[2020-12-21 18:30] Guardiola31337 commented on #3147
Where are we here @cafesilencio? Good to close?

[2020-12-21 18:31] Guardiola31337 commented on #3398
Where are we here @cafesilencio? Could you provide an update when you have a chance? 🙏

[2020-12-21 18:32] Guardiola31337 commented on #3347
Where are we here? Good to close?

[2020-12-21 18:32] Guardiola31337 commented on #3236
Where are we here @RingerJK? Could you provide an update when you have a chance? 🙏

cc @Lebedinsky

[2020-12-21 18:34] Guardiola31337 commented on #3187
Where are we here @kmadsen? Could you provide an update when you have a chance? 🙏

[2020-12-21 22:24] #3571 closed

[2020-12-21 22:39] carstenhag commented on #3571
Thanks for fixing this!

[2020-12-21 22:48] cafesilencio commented on #3147
The functionality exists for 2.x but not for 1.x.

[2020-12-21 23:07] cafesilencio commented on #2250
I don't believe this is still an issue, closing this.

[2020-12-21 23:07] #2250 closed

[2020-12-21 23:27] cafesilencio commented on #3334
I don't think this can be done in 1.x without breaking SemVer and as I commented before it would not be trivial. This is not an issue in the 2.0 API redesign.

[2020-12-21 23:29] cafesilencio commented on #3443
The documentation has been updated. Closing this.

[2020-12-21 23:29] #3443 closed

[2020-12-21 23:44] simon-the-shark commented on #3874
Sure! Here's an example of Map Matching request with 4 roundabouts along the route:
[code]

[2020-12-21 23:47] simon-the-shark commented on #3874
And generated DirectionsRoute:
[code]

[2020-12-22 11:45] RingerJK commented on #3853
@Guardiola31337 no, it's another problem. I linked because it's also an issue with logging

[2020-12-22 11:47] RingerJK commented on #3876
I cannot ignore 😄 we already check it 👍
https://github.com/mapbox/mapbox-navigation-android/blob/235339fd657a81a270b1dfd4fbbc4ba1efdbdc67/circle.yml#L301-L305

[2020-12-22 11:56] RingerJK commented on #875
we provide support of silent(via) waypoints: https://github.com/mapbox/mapbox-navigation-android/pull/3581(fix with reroute issue when we use silent waypoints), https://github.com/mapbox/mapbox-navigation-android/pull/3497(the instance how to use silent waypoints).
We should be good to close the issue.

cc @Guardiola31337 @richjhart

[2020-12-22 11:56] #875 closed

[2020-12-22 11:57] RingerJK commented on #2644
I would say yes, lets close it 🥳

[2020-12-22 11:57] #2644 closed

[2020-12-22 12:00] carstenhag commented on #3575
Sure, here's the info I have :). I can only give you the routeOptions, we don't get any DirectionsRoute back at the `routesRequestCallback`.
`Gson().toJson(routeOptions)`:
[code]

[code]

[code]

[2020-12-22 12:01] carstenhag commented on #3575
As we don't really know how to handle this, currently the app just loads and loads (but it never completes/aborts):
<img width="635" alt="Bildschirmfoto 2020-12-22 um 13 00 57" src="https://user-images.githubusercontent.com/3776997/102886638-c1d80200-4455-11eb-85ec-c9e75d0beecc.png">

[2020-12-22 12:01] RingerJK commented on #3345
@Guardiola31337 we need a new round of testing with new NavNative version. Can we set it to milestone, otherwise we have a chance lost the issue again?

[2020-12-22 12:13] RingerJK commented on #3450
@Guardiola31337 @korshaknn we frequently use methods like register/unregister(routeObserver/arrivalObserver), it looks consistently. I'm ok to run another way, but could you provide a samples/reasons to change API?

[2020-12-22 12:17] RingerJK commented on #3236
`RouteOptionsProvider` was replaced by [MapboxRouteOptionsUpdater](https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-core/src/main/java/com/mapbox/navigation/core/routeoptions/MapboxRouteOptionsUpdater.kt). Tests are also provided [MapboxRouteOptionsUpdaterTest](https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-core/src/test/java/com/mapbox/n

[2020-12-22 12:17] #3236 closed

[2020-12-22 15:03] mskurydin commented on #3575
@carstenhag Hey! This is a fairly long route and requires a good piece of the routing graph.

![image](https://user-images.githubusercontent.com/199848/102901144-5191a680-447e-11eb-9a98-87262c05db7a.png)

We currently maintain a small ambient cache of routing tiles in the area of driving and support the off-line routing in this area. We are working on a broader solution for pre-caching arbitrary a

[2020-12-22 15:14] peytonwupeixin opened #3881 "Navigation freezing unexpectedly."
**Android API:29**
**Mapbox Navigation SDK version:1.2.0**
### Background
 1.We have a activity called index page with a com.mapbox.mapboxsdk.maps.MapView and com.mapbox.mapboxsdk.maps.MapboxNavigation for requesting the route.We call com.mapbox.mapboxsdk.maps.MapboxNavigation#onDestroy() at the onDestroy() method of this activity.

 2.There is a button with "Ready to go" text on this page.It will

[2020-12-22 15:57] carstenhag commented on #3575
Agree, I think this includes my current location (I'm on vacation), but it also applied when I was still at home (Near Mering).

But as far as I understand, this is caused by there not being offline data cached and the device being offline. Then it was just a misunderstanding from my side, maybe the error message could be improved to hint how to handle that case? (eg, mention onRoutesRequestFailur

[2020-12-23 08:53] peytonwupeixin opened #3883 "Occasionally invalid memory reference exception"
**device:samsung SM-T510 **
**Android API: Android 10**
**Mapbox Navigation SDK version:1.2.0**

 ### Background:We have a navigation activity with NavigationView.We call NavigationView#stopNavigation() when user arrive the destination and NavigationView#onDestroy() when activity onDestroy().

### Steps to trigger behavior
If we close the navigation activity and open a new one to start a new navig

[2020-12-23 16:20] Guardiola31337 opened #3884 "Navigator#remainingWaypoints should only be called in Active Guidance"
Regression from https://github.com/mapbox/mapbox-navigation-android/pull/3581

Capturing from @averkhaturau

We should refactor `MapboxTripSession` / `TripStatus` / `MapboxNativeNavigatorImpl` logic so that `Navigator#remainingWaypoints()` is called only when in _Active Guidance_ (maybe it's as simple as checking if `MapboxNativeNavigatorImpl.route` is `null` and not calling it / returning `0` rem

[2020-12-23 16:21] Guardiola31337 commented on #3884
As discussed internally, noting that don't think this should be logged as an "error".

cc @averkhaturau

[2020-12-23 16:29] averkhaturau commented on #3884
Log level of this message will be changed to warning in next release of nav-native.
BTW, if possible by architecture it would be better to use [NavigationStatus.nextWaypointIndex](https://github.com/mapbox/mapbox-navigation-native/blob/be3d6fcd75975f378e781a985fa19430e632a922/bindings/navigator.mbg#L451) instead of `navigator!!.remainingWaypoints().size` from terms of performance if you know all w

[2020-12-23 16:52] RadicalMonkey opened #3885 "Convert Directions API JSON to DirectionsRoute object for Navigation"
Hi,

We are planning on building our app using MapBox but we would like to do all the API requests on our backend and simply provide the directions to the app to be visualised using the Navigation SDK for Android. However I have not been able to find a way to convert the JSON response from your Direction API (https://docs.mapbox.com/api/navigation/directions/#use-http-post-to-retrieve-directions)

[2020-12-24 03:07] peytonwupeixin commented on #3883
Our device:sumsung SM-T510
Anroid Vesion:Android 10
With same step,the log may be sometime as below:
[code]

[2020-12-24 10:01] mirecalu commented on #3885
Same here !
I've forked the repo and updated `DirectionsRoute` but the `Navigator#setRoute` return null with my updated `DirectionRoute` class.

As @RadicalMonkey says, hopefully there is a way to convert the JSON response from your Direction API.

Thanks!

[2020-12-24 11:23] skamal16 commented on #817
@danesfeder The link doesn't seem to work. Does this example still exist? I can't seem to find it anywhere.

[2020-12-24 11:32] skamal16 commented on #2489
@abhishek1508 I can't seem to find this file anywhere, has it been migrated? Can someone link me to this?

[2020-12-24 14:56] stevenm69 commented on #2489
--
Sent from Mail.ru app for Android Thursday, 24 December 2020, 06:33AM -05:00 from Syed Anas Kamal  notifications@github.com :

[2020-12-25 11:00] aryalprakash opened #3886 "App crashes with error "Terminating with uncaught exception of type jni::PendingJavaException" for this direction JSON string"
**Android API:**
10

**Mapbox Navigation SDK version:**
1.1.0

### Steps to trigger behavior

 1. Use direction JSON string from here: [Direction JSON string](https://gist.githubusercontent.com/aryalprakash/35521df10606f6f4e5c16f40b6dbc938/raw/6ba4927f84fc28d64d75d02077c4ea21335ac384/gistfile1.txt)
 2. Execute turn by turn navigation activity
 3.

### Expected behavior
Show turn by turn navigation

[2020-12-25 13:40] carstenhag commented on #3554
Seems to have been resolved by updating.

[2020-12-25 13:40] #3554 closed

[2020-12-25 16:26] #3419 closed

[2020-12-25 17:26] #2358 closed

[2020-12-25 19:26] #3087 closed

[2020-12-25 21:28] carstenhag commented on #3596
Still relevant

[2020-12-26 03:26] #3430 closed

[2020-12-27 21:00] RadicalMonkey commented on #3885
Bump

[2020-12-29 20:12] EricGeiler commented on #3874
following as we have seen this type of in-accurate roundabout instruction graphics displayed as well.

[2020-12-30 05:51] Vishal949 opened #3887 "Update com.android.tools.build:gradle: 4.0.1 to com.android.tools.build:gradle:4.1.0"
**Android API:**
**Mapbox Navigation SDK version:**

### Expected behavior
Success fully builds the project.

### Actual behavior
Cannot query the value of task ':libnavigation-core:generateDebugBuildConfig' property 'versionCode' because it has no value available

[2021-01-04 10:13] LukasPaczos opened #3888 "IndexOutOfBoundsException when rerouting"
**Mapbox Navigation SDK version:** `1.4.0-beta.1`

An exception caught by a crashlytics service, stacktrace:
[code]

Might be related to https://github.com/mapbox/mapbox-navigation-android/pull/3581.

/cc @Lebedinsky @RingerJK @Guardiola31337

[2021-01-04 10:30] RadicalMonkey commented on #3885
Happy New Year bump!

[2021-01-04 15:44] nesfeder commented on #3885
If you're using the [Java SDK](https://docs.mapbox.com/android/java/guides/), you can use [this](https://github.com/mapbox/mapbox-java/blob/master/services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/DirectionsRoute.java#L168) method.

Cheers 🍻

[2021-01-04 17:37] RadicalMonkey commented on #3885
Thank you! Thats just what I was looking for!

[2021-01-04 18:39] RadicalMonkey commented on #3885
@nesfeder  Also, is there an equivalent for iOS? Thanks :)

[2021-01-05 15:41] zugaldia commented on #3885
/cc: @mapbox/navigation-ios for the question above.

[2021-01-05 15:51] #3885 closed

[2021-01-07 10:02] fanwei930124 opened #3893 "ERROR: Could not GET 'https://api.mapbox.com/downloads/v2/releases/maven/com/mapbox/gradle/plugins/sdk-registry/0.4.0/sdk-registry-0.4.0.pom'. Received status code 403 from server: Forbidden"
**Android API:**
**Mapbox Navigation SDK version:**

### Steps to trigger behavior

 1.
 2.
 3.

### Expected behavior

### Actual behavior

[2021-01-07 10:34] KayHung opened #3894 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/mapbox/mapboxsdk/Mapbox;"
I use mapbox navigation ui sdk and build an aar for other app to use it.

My aar build.gradle

[code]

build.gradle(project)
[code]

My aar include a fragment
[code]

I create an app to use this aar.
There are some error occurred while running the app.
Process: com.nuro.sdktest1, PID: 6767
[code]

[2021-01-07 12:04] amalmadawa90 commented on #3888
I have disabled rerouting but I also having this issue when trying to navigate

[code]

[code]

[2021-01-07 12:47] LukasPaczos commented on #3894
Hey @KayHung, could you try enabling multidex support for your app? Check out https://developer.android.com/studio/build/multidex.

[2021-01-07 14:02] LukasPaczos commented on #3893
Hey @fanwei930124, if you're trying to build the project from source and contribute, please make sure to read [CONTRIBUTING.md](https://github.com/mapbox/mapbox-navigation-android/blob/master/CONTRIBUTING.md) which explains how to configure credentials.

[2021-01-07 14:02] #3893 closed

[2021-01-07 14:04] LukasPaczos commented on #3887
Hey @Vishal949, this is a known upstream issue - https://github.com/mapbox/android-sdk-versions-plugin/issues/29.

cc @alfwatt @mapbox/core-sdk

[2021-01-07 14:08] LukasPaczos commented on #3886
Hey @aryalprakash, could you provide a little more detail wrt to how you parse the route and initialize the navigation? Code samples would be great so that we can try to reproduce the issue.

[2021-01-07 14:12] LukasPaczos commented on #3883
Hey @peytonwupeixin, is the issue reproducible on the latest `v1.3.0`?

/cc @mapbox/navnative

[2021-01-07 14:55] LukasPaczos commented on #3881
Thanks for reporting the issue @peytonwupeixin. I'm able to reproduce a freeze where location updates stop being delivered when I follow your steps:
1. Enable "don't keep activities" dev option.
2. Apply this diff:
[code]
3. Open `SimpleNavigationActivityKt`.
4. Long click to set a route.
5. Click "start navigation"
6. The new activity with `NavigationView` loads frozen. Location updates are not b

[2021-01-07 15:03] LukasPaczos commented on #3873
Hey @dkpapo could you double-check the Navigation SDK version on which the issue was caught? There's no version `5.7.0`.

Also, could you provide reproduction steps? Are you providing a custom `navigationViewMapStyle` resource?

[2021-01-07 15:03] Guardiola31337 commented on #3881
Note that as soon as the session starts (and the maps is loaded) the status bar location icon disappears (like the location is disabled by the system somehow) 🤔

[2021-01-07 15:05] LukasPaczos commented on #3840
cc @etl @zugaldia @truburt @jyrigo

[2021-01-07 15:09] LukasPaczos commented on #3833
@kshehadeh would you be able to tag the right team/person here to help answer the question?

[2021-01-07 15:13] LukasPaczos commented on #3830
Hey @Vishal949, which navigation component are you using, `NavigationView`, `NavigationMapboxMap` or are you managing the `LocationComponent` manually? If you're manually managing the `LocationComponent`, do you stop pushing location updates after the map is destroyed?

Are you calling all of the `MapView` lifecycle methods correctly?

[2021-01-07 15:15] LukasPaczos commented on #3822
/cc @mapbox/navnative for visibility

[2021-01-07 15:19] LukasPaczos commented on #3678
Closing, please let us know if the above instructions were not enough to compile the project.

[2021-01-07 15:19] #3678 closed

[2021-01-07 15:26] Guardiola31337 commented on #3830
Also @Vishal949 do you mind sharing what version of the SDK you're using?

[2021-01-07 15:28] #3750 closed

[2021-01-07 16:30] kshehadeh commented on #3833
@danpat @danpaz

[2021-01-07 16:41] danpat commented on #3833
This bug was fixed in early December - @billyking991 can you please double-check you're now seeing the default voice being female again on your side, and close this ticket once confirmed?

[2021-01-07 20:02] Guardiola31337 opened #3896 "Weird speed limit view animation"
When testing the `examples` test app reproduced a weird animation when displaying the speed limit and the sub-banner views in combination 👀

![speed_limit_view_weird_animation](https://user-images.githubusercontent.com/1668582/103938927-fe178d80-50f8-11eb-9691-104db94024d1.gif)

Refs. https://github.com/mapbox/mapbox-navigation-android/pull/3838

cc @abhishek1508

[2021-01-08 01:31] fanwei930124 opened #3897 "ERROR: Could not GET 'https://api.mapbox.com/downloads/v2/releases/maven/com/mapbox/gradle/plugins/sdk-registry/0.4.0/sdk-registry-0.4.0.pom'. Received status code 403 from server: Forbidden Enable Gradle 'offline mode' and sync project"
Here is error，The master branch I pulled from github. The AS version is 3.4, the accesstoken is correct, but the compilation fails all the time. Report the above error
### Steps to trigger behavior

### Expected behavior

### Actual behavior

[2021-01-08 02:02] fanwei930124 commented on #3897
1,   I hava add  <string name="SDK_REGISTRY_TOKEN">pk.eyJ1IjoiZmFud2VpOTMwMTI0IiwiYSI6ImNramNhdmRqND....  to examples/src/main/res/values/mapbox-access-token.xml
2,  I hava add SDK_REGISTRY_TOKEN=pk.eyJ1IjoiZmFud2VpOTMwMT...  to  gradle.properties;
3,  dependencies.gradle add
      mapboxSdkRegistry  : '0.4.0',
      mapboxAccessToken  : '0.2.1',
4,  The following error occurred after compiling th

[2021-01-08 03:08] fanwei930124 commented on #3897
please help me solove this question.Thank you very much

[2021-01-08 03:21] fanwei930124 commented on #3897
in the source code
pluginVersion = [
  mapboxSdkRegistry : '0.4.0',
  mapboxAccessToken  :  '0.2.1'
]
why mapboxAccessToken is number? Didn't is apply access-token? Tks

[2021-01-08 07:36] KayHung commented on #3894
@LukasPaczos
I try enabling multidex support in my app, but still get same error.

[2021-01-08 21:33] aardvarkk commented on #3815
@Guardiola31337 This issue can be closed, thank you. You may want to look into adjusting the example nav app code so that it uses the non-deprecated style of view binding. It should now use Kotlin Data Binding instead of Synthetics in order to avoid deprecation warnings from Android Studio.

[2021-01-08 21:34] #3815 closed

[2021-01-08 22:09] Guardiola31337 commented on #3815
Hey @aardvarkk thanks for the update and glad you figured it out. BTW friendly reminder that PRs are more than welcome 😅

It'd be awesome if you can submit a PR fixing this 💯

Thanks again!

[2021-01-11 15:41] LukasPaczos commented on #3897
Hey @fanwei930124, your regular access token (which you added `mapbox-access-token.xml`) is not the same token that you need to use to download the SDK. Please give https://docs.mapbox.com/android/navigation/guides/install/#configure-credentials a read on how to obtain the downloads token.

Closing as resolved, let us know if this doesn't resolve your issue.

[2021-01-11 15:41] #3897 closed

[2021-01-12 01:01] aardvarkk opened #3898 "Unable to use a custom baseUrl for a routing server"
**Android API:** 30
**Mapbox Navigation SDK version:** 1.3.0

### Steps to trigger behavior

 1. Set up a server on a local network to act as the routing server (at the moment, I just have it sending a response I received directly from the Mapbox Directions API)
 2. Set the `baseUrl` on `RouteOptions` to point to the local server

[code]

 3. Call `requestRoutes` on the MapboxNavigation object pas

[2021-01-12 11:01] RingerJK commented on #3888
@amalmadawa90 could you provide version of the SDK as well?

[2021-01-12 20:06] Guardiola31337 opened #3900 "MockWebServer Request url is not handled"
An issue / flaky test caught by `instrumentation-tests` in https://github.com/mapbox/mapbox-navigation-android/pull/3899 https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/9967/workflows/056a598a-ce2f-46b1-9838-9ef5a9f95572/jobs/38326 https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.54eb2dd57e959221/matrices/5577302644484227501/

[2021-01-12 22:30] aardvarkk commented on #3898
I think the trouble I was running into was around bad JSON output from my server. As I mentioned in the issue, it's nearly impossible to debug because the error just bubbles up as a problem with the Onboard router, whereas the real problem in my case was malformed JSON in the Offboard router response.

[2021-01-12 22:30] #3898 closed

[2021-01-13 00:41] fanwei930124 commented on #3897
yes,Thank you very much.It solved my problem

[2021-01-13 05:26] KalaliEhsan commented on #1982
Hey everyone :)
I have same problem and I use your solution about resolve it. But don't resolve it :(

`
apply plugin: 'com.android.application'

android {
    compileSdkVersion 28

    defaultConfig {
        // TODO A_4 change packgename
        applicationId "test.test.com"
        minSdkVersion 16
        targetSdkVersion 27
        versionCode 1
        versionName "1.0.0"
        testInstrum

[2021-01-13 06:23] amalmadawa90 commented on #3888
@RingerJK  implementation "com.mapbox.navigation:ui:1.1.0"

[2021-01-13 08:41] NathanaelA opened #3901 "Crash: Attempt to invoke virtual method 'void com.mapbox.navigation.ui.MultiOnClickListener.clearListeners()' on a null object reference"
**Android API:**
Mapbox Navigation SDK version: **9.6.0** and Navigator **1.1.0** & **1.3.0**

### Steps to trigger behavior

 1. Basically I'm using the sample from here https://docs.mapbox.com/android/navigation/guides/install/   (however it is converted into a different language).
 2. Pause/Switch Application

### Expected behavior
No Crash

### Actual behavior
Crash

---

This occurs when I cl

[2021-01-13 09:53] amalmadawa90 commented on #3888
I have tried to implement 1.4.0 it's not working.
Failed to resolve: com.mapbox.navigation:ui:1.4.0

[2021-01-13 10:26] RingerJK commented on #3888
`1.4.0` hasn't been released. The only available is `1.4.0-beta.1`. See https://github.com/mapbox/mapbox-navigation-android/releases

[2021-01-13 10:27] LukasPaczos opened #3902 "Missing mock request handlers"
https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android/9967/workflows/056a598a-ce2f-46b1-9838-9ef5a9f95572/jobs/38326
[code]

An issue caught in our instrumentation test suite. The `Available handlers` list looks to be empty, so the issue might be in the initialization of the test itself.

[2021-01-13 10:28] LukasPaczos commented on #3888
@RingerJK the reported issue was also caught using `1.4.0-beta.1` (see the original post), so something else might be the culprit.

[2021-01-13 10:34] LukasPaczos commented on #3902
Duplicate of https://github.com/mapbox/mapbox-navigation-android/issues/3900.

[2021-01-13 10:34] #3902 closed

[2021-01-13 12:28] RingerJK commented on #3888
yes, top problem was addressed into https://github.com/mapbox/mapbox-navigation-android/pull/3899 , but https://github.com/mapbox/mapbox-navigation-android/issues/3888#issuecomment-756076302 is a bit different and might be not reproduced with 1.4.0.beta.1+

[2021-01-13 12:37] LukasPaczos commented on #3888
Gotcha, thanks @RingerJK :+1:

[2021-01-13 14:17] #3888 closed

[2021-01-14 14:00] OttyLab opened #3906 "Want to retrieve NavigationStatus provided by native module"
**Android API:**
**Mapbox Navigation SDK version:**
v1.3.0 and later

### Feature request
In some case `NavigatoionStatus` is useful in user code.

Latest code has a method to get `NavigatoionStatus` from native module [here](https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-core/src/main/java/com/mapbox/navigation/core/trip/session/MapboxTripSession.kt#L522). However,

[2021-01-14 16:46] tworkool commented on #438
The error occured for me when converting a vector asset into a Bitmap with BitmapFactory. The problem there was that the drawable was a vector asset and not an image. When using a .png the error was resolved! But I realized I had the same Exception later when setting a geojson source with same source ID twice. Maybe that helps.

[2021-01-16 21:52] rav005 commented on #3589
@Guardiola31337 The new navigation SDK works and found out why the old one wasn't working as well. The issue was the device I was using didn't have Gyroscope. Your navigation SDK should clearly log these errors.

[2021-01-16 21:55] #3589 closed

[2021-01-18 03:18] KayHung commented on #3894
@LukasPaczos
Do you have any ideas about this issue?

[2021-01-18 03:29] json-caoyapeng opened #3910 "希望修改下存在的问题"
手机亲测了一下。发现了一些问题。实际测试结果和我们现在的车载表现一致。问题有三个，第一个，地图方向问题，测试时候，地图方向不能实时转变。第二个，自己方向，自己无论怎么转，始终没有在地图上反馈出来（三角箭头）。三，不能及时纠错，我按照错误的路线跑，跑了100米，地图才反应出来，而且路线是重新规划的路线，不是原导航路线。
![微信图片_20210118112410](https://user-images.githubusercontent.com/75468120/104868972-b954e780-597f-11eb-8bc3-cd6a01d82281.jpg)
![微信图片_20210118112415](https://user-images.githubusercontent.com/75468120/104868992-c83b9a00-597f-11eb-9491-accdd0

[2021-01-18 10:49] zainriaz opened #3911 "Navigation Notifications"
When On/Off navigation notification from app settings and then start navigation view the notification showing again and again with notification sound,  it's annoying to users. how to fix it?

[2021-01-18 13:41] Jing-flyloveyin commented on #3910
let me translate @json-caoyapeng's problem withe more background information.

He is building an app for electronic scooters. And now it comes a problem about the direction of UI as shown below in the video.

https://user-images.githubusercontent.com/18397640/104922555-d7e5cd80-59d5-11eb-9473-ca2072bf6931.mp4

The navigation arrow is opposite to the direction of travel.

[2021-01-19 11:37] json-caoyapeng opened #3912 "一些导航问题希望得到解决"
问题有三个，第一个，地图方向问题，测试时候，地图方向不能实时转变。第二个，自己方向，自己无论怎么转，始终没有在地图上反馈出来（三角箭头）。三，不能及时纠错，我按照错误的路线跑，跑了100米，地图才反应出来，而且路线是重新规划的路线，不是原导航路线。第一个问题在手机上现在已经不存在了，但是在仪表上还是存在，剩下2给问题依然存在。
下面的视频和historyrecord是关于仪表的。

https://user-images.githubusercontent.com/75468120/105029061-cdd2d600-5a8c-11eb-952b-850cc74d9bb5.mp4

[2021_01_19_18_15_00.txt](https://github.com/mapbox/mapbox-navigation-android/files/5835576/2021_01_19_1

[2021-01-20 14:08] shoaibalisabir commented on #3726
public boolean allowRerouteFrom(Point offRoutePoint) {
        return false;
    }

[2021-01-20 19:11] kmadsen commented on #3016
MapboxDistanceFormatter is not following the options pattern. This ticket describes all the things we need to to do migrate it

We can close as won't do, but otherwise this ticket is open

[2021-01-20 20:16] kmadsen commented on #3469
History files will need all events to use a monotonic time value in order to do this..

Notice from this history file on from 1tap on [2021-01-20](https://github.com/mapbox/mapbox-navigation-android/files/5845053/2021-01-20.20_06_18_2021-01-20.20_06_24_free_drive_0_06f6edc9-ce8b-40d3-b8d2-a20623541503.json.gz). The setRoute event does not have a monotonic timestamp to use.

<img width="352" alt="S

[2021-01-20 20:23] kmadsen commented on #3187
https://github.com/mapbox/mapbox-navigation-android/issues/3016

The MapboxDistanceFormatter is still the thing that needs to be moved. As shown in the default function, it is still required in order to create a default object
https://github.com/mapbox/mapbox-navigation-android/blob/afdd8587b684cf7b82f44288cc2063444d96cfe5/libnavigation-core/src/main/java/com/mapbox/navigation/core/MapboxNavigatio

[2021-01-21 12:42] mirecalu opened #3917 "Speed up the replay navigation sample"
Hi,

I was using the ReplayActivity in the sample in order to simulate a GPS navigation.
The speed of my location updates is quite slow.

Is there a way to increase my speed during the simulation ?

[2021-01-22 21:53] kmadsen opened #3921 "Flaky firebase instrumentation tests FATAL EXCEPTION: MockWebServer"
https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.54eb2dd57e959221/matrices/5630447067179515230/executions/bs.68e6add9231c1702

~5/20 of the tests are failing with this stack trace. Not sure if it's Firebase or our tests 🤔

<img width="973" alt="Screen Shot 2021-01-22 at 2 51 48 PM" src="https://user-images.githubusercontent.com/3021882/105552580-5cc834

[2021-01-22 22:06] Guardiola31337 commented on #3921
Duplicated of https://github.com/mapbox/mapbox-navigation-android/issues/3900

Closing here.

[2021-01-22 22:06] #3921 closed

[2021-01-25 16:43] cafesilencio commented on #3805
This issue is addressed in 2.x and would be a difficult fix in 1.x. Closing this issue.

[2021-01-25 16:43] #3805 closed

[2021-01-25 17:00] cafesilencio commented on #3334
Since this issue is resolved in 2.x I'm closing this ticket.

[2021-01-25 17:00] #3334 closed

[2021-01-26 07:33] ShalevCohen2112 opened #3924 "crash while .startNavigation been called"
My application crash when I try to use the navigation function while my network connection is on data(4G), when the connection is wifi, the navigation is working.

using android 8.0, kotliin and com.mapbox.navigation:ui:1.1.0

**Code:**
 override fun onRoutesReady(routes: List<DirectionsRoute>) {
        if (routes.isNullOrEmpty()) {
            handleRouteError()
            return
        }

[2021-01-26 10:36] RingerJK commented on #3874
I was getting the same issue

![image](https://user-images.githubusercontent.com/8738058/105834235-47ae1680-5fdb-11eb-9594-90da9b175238.png)

Direction's response
[code]

[2021-01-26 13:20] LukasPaczos commented on #3894
Hey @KayHung, I pasted your library setup into a sample project and didn't run into any issues when inflating the map.

Would you be able to create a small, self-contained sample project that reproduces the issue and provide it here so that we can verify what are the differences?

[2021-01-26 14:49] Guardiola31337 commented on #3874
cc @abhishek1508 for visibility

[2021-01-27 01:14] benorgan opened #3925 "BannerInstructions not displaying on Android"
The `BannerInstructions` are showing up blank on Android, even though there are banner instructions in the directions and the `BannerInstructionsListener` is being triggered. Voice instructions play correctly. I also notice the maneuver instructions are blank too (but I don't actually want these anyway).

![image](https://user-images.githubusercontent.com/5031585/105927885-be5a0c80-5ff9-11eb-8a1b-

[2021-01-27 21:05] benorgan commented on #3925
There seems to be similar issues reported by others: https://github.com/mapbox/mapbox-navigation-android/issues/3648, https://github.com/mapbox/mapbox-navigation-android/issues/510, and https://github.com/mapbox/mapbox-navigation-android/issues/3815

[2021-01-28 03:14] NathanaelA commented on #3901
I have modified the code for both the Sound & Recenter button to be:
1. changed the `multiOnClickListener` to be a `final` in the definition
2. Modified this
[code]
3. Called onDestroy for both buttons from the NativigationView  shutdown function...

Would you like a PR for this, this seems to fix my issues with at least this problem?

[2021-01-28 14:27] palimad commented on #3746
Hello Lukasz,

could you please let me know how can I disable snap to route in Android
Navigation SDK and perhaps also in iOS Navigation SDK. I found something in
java services mapbox SDK, but I think it is completely different SDK than
what we use.

Thanks

On Wed, Nov 18, 2020 at 12:10 PM Łukasz Paczos <notifications@github.com>
wrote:

[2021-01-28 23:22] benorgan commented on #3925
I've also implemented this as an Activity and it works correctly with the banner instructions. However, we need the map to run inside a component rather than launching a new activity and I can't work out why it's not working when in a `FrameLayout` - this used to work in a previous version of the library (`mapbox-android-navigation-ui:0.42.0`)

[2021-01-29 16:17] #3846 closed

[2021-02-02 13:47] P-Zenker commented on #3822
I'am missing this feature too... In 0.42.6 we had very nice control over the off-route detection with the MapboxNavigationOptions.
[code]
Now I can't update to the newest version due of this :/

[2021-02-02 14:03] alagunas91 commented on #3676
@LukasPaczos I have the same problem.
I have also this line code:
E/Parcel: fcntl(F_DUPFD_CLOEXEC) failed in Parcel::read, i is 1, fds[i] is -1, fd_count is 2, error: Too many open files.

Any suggestions?

[2021-02-03 02:40] KayHung commented on #3894
@LukasPaczos
You have try to use my library to build an aar file and put the aar file into another project, it's can work well?

[2021-02-03 11:19] LukasPaczos commented on #3894
If you are using a raw AAR and adding it to another, it won't package transitive dependencies. The navigation SDK depends on [a lot of other projects](https://github.com/mapbox/mapbox-navigation-android/blob/master/gradle/dependencies.gradle) and when you're using Maven distribution, Gradle downloads them for you automatically. This is not the case when you manually import an AAR, then you need to

[2021-02-03 11:19] #3894 closed

[2021-02-03 11:59] LukasPaczos commented on #3676
Sorry @alagunas91, no additional info so far.

[2021-02-03 15:31] yunikkk opened #3926 "TurnLaneView does not handle some BannerComponents correctly"
**Android API:*any*
**Mapbox Navigation SDK version:*1.3.0*

[TurnLaneView](https://github.com/mapbox/mapbox-navigation-android/blob/release-v1.4/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/instruction/turnlane/TurnLaneView.java#L60) seem to skip some  BannerComponents values, that leads to invalid lane indicator displayed.

Some examples that we've seen that are not handled :
`slight

[2021-02-04 02:44] KayHung commented on #3894
@LukasPaczos
Because I need provide my AAR file to other people to use, if i also need to  implementation dependencies on project, I have to provide my secret token, so this is the only way for this case?

[2021-02-04 11:16] LukasPaczos commented on #3894
@KayHung you should distribute your library via Maven and all of the consumers should use their own Mapbox tokens, subject to the [Mapbox ToS](https://www.mapbox.com/legal/tos).

/cc @jyrigo @zugaldia @truburt

[2021-02-04 16:13] kmadsen opened #3927 "Remove context from DistanceFormatterOptions"
Follow up ticket from multiple discussions here https://github.com/mapbox/mapbox-navigation-android-internal/pull/91

**Mapbox Navigation SDK version:** 2.x

MapboxDistanceFormatter needs to support automatic detection of Locale. It has been able to do this with a dependency on the [application context](https://github.com/mapbox/mapbox-navigation-android/blob/efdd9fa4ce9252f59061ac560e0646bb7e2ac8

[2021-02-04 16:39] #3016 closed

[2021-02-04 16:39] #3187 closed

[2021-02-05 13:43] LukasPaczos commented on #3926
@abhishek1508 could you double-check whether this is resolved in v2?

[2021-02-05 16:14] abhishek1508 commented on #3926
Yeah I came across this issue and I am already working on resolving it.
cc @LukasPaczos

[2021-02-08 12:37] LukasPaczos commented on #3746
@palimad route snapping used for the turn-by-turn instructions is a core feature and cannot be disabled. You can use the raw location callback (from the `LocationObserver`) for presentation without snapping, but it won't impact TBT instructions generation.

[2021-02-08 19:51] 1ec5 opened #3934 "Dual-use lane icons are highlighted incorrectly"
In the lane view that appears below the turn banner, the icon for a dual use lane – a lane that can be used for multiple maneuvers – is highlighted incorrectly.

## Problem

If the user is supposed to turn left at an intersection and one of the lanes can be used for going straight or turning right, the lane icon is highlighted as if the user is supposed to turn right from that lane. It should not

[2021-02-08 19:56] 1ec5 opened #3935 "Highlight lanes based on active direction"
Lane indication icons should be highlighted correctly even at non-four-way-intersections, where the lane indications may not precisely match the overall maneuver’s direction.

## Rationale

Beyond a basic fix for #3934, we have an opportunity to make the logic for highlighting turn lane icons more robust. At forks and complex intersections, the lane indications may not literally match the directio

[2021-02-09 03:21] abhishek1508 commented on #3934
As you can see in v2.0 as well, we are supposed to show `SLIGHT RIGHT` instead of `STRAIGHT`, but we show the reverse.

<img width="311" alt="Screen Shot 2021-02-08 at 6 45 51 PM" src="https://user-images.githubusercontent.com/9770186/107311030-7cda5000-6a42-11eb-8ccb-98780d86efda.png">

I am using this URL > (https://api.mapbox.com/directions/v5/mapbox/driving/-121.971323,37.502502;-121.935586,37

[2021-02-09 07:24] bayram31051993 commented on #2027
**write like this maybe it helped u**

 @Override
    public void onPermissionResult(boolean granted) {
        if (granted) {
            enableLocationComponent(mapboxMap.getStyle());
            return;
        } else {
            AlertDialog alertDialog = new AlertDialog.Builder(this)
                    .setTitle("GPS Permission")
                    .setMessage("GPS is required for this app

[2021-02-09 09:08] carstenhag commented on #3390
FYI for anyone that wants to drop jetifier but doesn't want to wait til this is fixed, use this:

1. Download the specific picasso version from https://search.maven.org/artifact/com.squareup.picasso/picasso/2.71828/aar (at the right there's a download button, download the .aar)
2. Download jetifier-standalone
3. Run jetifier-standalone to produce the jetified version of the picasso lib
4. Import t

[2021-02-09 11:23] LukasPaczos opened #3938 "Flaky SignboardReadyCallback unit test"
@LukasPaczos commented on [Fri Feb 05 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/129)

https://app.circleci.com/pipelines/github/mapbox/mapbox-navigation-android-internal/624/workflows/13ff59d1-1a2a-499e-a6e3-4922e8f6c83b/jobs/2713

[code]

/cc @abhishek1508

[2021-02-09 11:24] LukasPaczos opened #3939 "Remove context from DistanceFormatterOptions"
@kmadsen commented on [Thu Feb 04 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/126)

Follow up ticket from multiple discussions here https://github.com/mapbox/mapbox-navigation-android-internal/pull/91

**Mapbox Navigation SDK version:** 2.x

MapboxDistanceFormatter needs to support automatic detection of Locale. It has been able to do this with a dependency on the [ap

[2021-02-09 11:25] LukasPaczos opened #3940 "MapboxRouteLineApiExampleActivity NullPointerException"
@kmadsen commented on [Thu Feb 04 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/125)

**Android API:**
**Mapbox Navigation SDK version:** https://github.com/mapbox/mapbox-navigation-android-internal/pull/91/commits/92dca22ebb935d60e2afa2a949b1ef28ae00a418

The crash is on a dev branch but, the crash is unrelated to the changes. I'm guessing this is happening on [master]

[2021-02-09 11:26] LukasPaczos opened #3941 "Expose newly available route alerts data"
@LukasPaczos commented on [Fri Jan 29 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/112)

Refs https://github.com/mapbox/mapbox-navigation-android-internal/pull/111. With Nav Native `v40+` we have access to more data fields in route alerts, we should expose them on the platform side in future iterations.

[2021-02-09 11:27] LukasPaczos opened #3942 "Remove Timber usage from the SDK"
@LukasPaczos commented on [Wed Jan 27 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/103)

Timber logs require a tree to be planted (on app's creation) in order to be able to capture and print the logs. This means, that if the SDK is using Timber, we're requiring users to plant the tree in their app, otherwise, they won't see any logs.

We should use our Mapbox `Logger`

[2021-02-09 11:28] LukasPaczos opened #3943 "RouteLineView requires location puck to initialize"
@LukasPaczos commented on [Wed Jan 27 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/102)

The RouteLine when initializes tries to generate the `route below ID` to assign a correct z-ordering on the map:
https://github.com/mapbox/mapbox-navigation-android-internal/blob/329428f8c6229ebeaab70c54a832eff843375a6f/libnavui-maps/src/main/java/com/mapbox/navigation/ui/maps/inte

[2021-02-09 11:28] LukasPaczos opened #3944 "Setup transifex for new UI modules"
@LukasPaczos commented on [Wed Jan 27 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/100)

The newly introduced UI modules do not have transifex set up. We should also look into transferring already translated strings from the legacy UI SDK project to the new ones if they match 1 to 1.

[2021-02-09 11:29] LukasPaczos opened #3945 "Navigation API and View implementation registry"
@LukasPaczos commented on [Wed Jan 27 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/98)

Refs https://github.com/mapbox/mapbox-navigation-android-internal/pull/82#discussion_r565260639.

To increase the discoverability of UI SDK components, the Nav SDK base module could ship with an empty object, where all default API and View implementations could register their instan

[2021-02-09 11:48] LukasPaczos opened #3946 "Recenter button"
@LukasPaczos commented on [Tue Jan 26 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/94)

Tracks the re-implementation of the sound control button available in the v1 into v2 - https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/RecenterButton.java.

We should follow the new API-View architecture and add

[2021-02-09 11:49] LukasPaczos opened #3947 "Sound control button"
@LukasPaczos commented on [Tue Jan 26 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/93)

Tracks the re-implementation of the sound control button available in the v1 into v2 - https://github.com/mapbox/mapbox-navigation-android/blob/master/libnavigation-ui/src/main/java/com/mapbox/navigation/ui/SoundButton.java.

We should follow the new API-View architecture and add ap

[2021-02-09 11:49] LukasPaczos opened #3948 "Camera-Puck synchronization with keypoints"
@LukasPaczos commented on [Mon Jan 25 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/92)

Location Puck and the Map Camera are animated independently but still should remain in a significant degree of synchronization when in the `FOLLOWING` mode during a turn-by-turn or free-drive experience. This creates a challenge when using keypoints generated by NN to make the puck

[2021-02-09 11:50] LukasPaczos opened #3949 "Camera bearing smoothing and pointing toward maneuver"
@d-prukop commented on [Mon Jan 25 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/90)

Currently, the camera during navigation in the following mode points in the direction of the vehicle's bearing. This ticket proposes pointing the camera toward the look ahead point as defined in #87.

Additional to this, a maximum bearing deflection property should be introduced to con

[2021-02-09 11:51] LukasPaczos opened #3950 "Camera to calculate zoom level based on intersection density"
@d-prukop commented on [Fri Jan 22 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/87)

Currently in the following mode the camera frames the entire route from the vehicle's location to the location of
the upcoming maneuver. On longer steps this results in zoom levels that are too far out to show details where those details may be nice to see. An example is traversing a l

[2021-02-09 11:52] LukasPaczos opened #3951 "UnitType in MapboxDistanceFormatter should be more type safe."
@cafesilencio commented on [Wed Jan 20 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/81)

MapboxDistanceFormatter.Builder.unitType takes a String as input but there are only 3 valid values.  Even though the method has an annotation of "@VoiceUnit.Type", the method will take any non-null string.  The input should be more type safe. Looking at the implementation,

`

[2021-02-09 11:54] LukasPaczos opened #3952 "Integrate refactored Location Plugin"
@LukasPaczos commented on [Fri Jan 15 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/78)

Refs https://github.com/mapbox/mapbox-maps-android/pull/945.

---

@LukasPaczos commented on [Tue Jan 26 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/78#issuecomment-767697650)

Blocked by https://github.com/mapbox/mapbox-maps-android-internal/issues/215

[2021-02-09 11:54] LukasPaczos opened #3953 "Route Line and Arrow instrumentation tests"
@LukasPaczos commented on [Tue Jan 12 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/71)

Tracks covering the RouteLine and RouteArrow APIs with higher-level instrumentation tests using tools from https://github.com/mapbox/mapbox-navigation-android/pull/3715.

[2021-02-09 11:55] LukasPaczos opened #3954 "Separate puck's position on screen from padding"
@LukasPaczos commented on [Mon Jan 11 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/68)

`NavigationCamera` and specifically the `MapboxViewportDataSource` that powers it allows for positioning the puck anywhere on the screen by manipulating the padding value of the map camera. This works for the use-case but also brings an unwanted consequence of adding the padding to

[2021-02-09 11:57] LukasPaczos opened #3955 "Feature: Speed Limit"
@abhishek1508 commented on [Fri Jan 08 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/61)

Show speed limit based on MUTCD/VIENNA convention.

---

@cafesilencio commented on [Wed Feb 03 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/61#issuecomment-772733195)

Currently blocked by https://github.com/mapbox/mapbox-navigation-native/issues/2288.

[2021-02-09 12:00] LukasPaczos opened #3957 "Feature: ManeuverInstructions"
@abhishek1508 commented on [Fri Jan 08 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/57)

Capturing from 1.0, `ManeuverInstructions` is analogous to `InstructionView` and looks like the view shown in the red box in the screenshot below:

<p float="left">
  <img src="https://user-images.githubusercontent.com/9770186/104083736-e5d96880-51f5-11eb-9dae-034188d29c1b.png" wid

[2021-02-09 12:04] LukasPaczos opened #3958 "Map-matching issues"
@Guardiola31337 commented on [Thu Jan 07 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/55)

When testing `MapboxSnapshotActivity` and `MapboxSignboardActivity` (as part of reviewing https://github.com/mapbox/mapbox-navigation-android-internal/pull/35 and https://github.com/mapbox/mapbox-navigation-android-internal/pull/40 respectively) noticed some map-matching issues 👀

[2021-02-09 12:04] LukasPaczos opened #3959 "Add tests for MapboxNavigationViewportDataSource"
@LukasPaczos commented on [Thu Jan 07 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/54)

Refs https://github.com/mapbox/mapbox-navigation-android-internal/pull/30.

This ticket tracks the addition of missing unit tests for the `MapboxNavigationViewportDataSource`.

[2021-02-09 12:05] LukasPaczos opened #3960 "Audit route line and arrow related classes for missing test coverage in 2.0 code base"
@cafesilencio commented on [Wed Jan 06 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/51)

Time should be taken to review the route line and arrow related classes in the 2.0 code base to look for missing test coverage and backfill testing as appropriate.

[2021-02-09 12:07] LukasPaczos opened #3961 "Snapshotter follow up work"
@abhishek1508 commented on [Tue Jan 05 2021](https://github.com/mapbox/mapbox-navigation-android-internal/issues/47)

- [ ] Handling PRECISION_5 routes.
- [ ] Snapshotter map style design, route line color and sky layer colors cc @d-prukop. The main `MapView` styles we are using is - mapbox://styles/mapbox/streets-v11
- [ ] Shifting geometry left/right depending on the maneuver
- [ ] **Support for

[2021-02-09 14:55] RingerJK commented on #3501
Dokka creates multi-module docs, with entry file `-modules.html`(how it looks https://github.com/mapbox/mapbox-navigation-android/pull/3908). Can we stay with it as is or have to rename `-modules.html` -> `index.html`(as with the version of the previous docs)? If we need renaming it means we must handle internal links that actually link to `-modules.html`

/cc @danswick

[2021-02-09 15:24] DmytroKhmil opened #3964 "Navigation UI stuck in “Rerouting...” state"
**Android API:**
no dependency
**Mapbox Navigation SDK version:**
implementation 'com.mapbox.navigation:ui:1.4.0'

### Steps to trigger behavior
1. Disable default rerouting through need to self-manage the process
[code]
    navigationView?.retrieveMapboxNavigation()?.let { mapboxNavigation ->
        mapboxNavigation.setRoutes(mapboxNavigation.getRoutes())
    }

now, through long experimentation

[2021-02-09 17:58] morethal opened #3965 "Call RerouteController#interrupt() when going OnRoute"
When going OFF_ROUTE, `RerouteController#reroute()` is called.

If the Rerouting is not yet finished and the user goes back on the route (e.g. minor GPS discrepancy), the `interrupt()` should be called to avoid changing the route (for example remove silent waypoints).

[2021-02-09 18:43] morethal opened #3966 "Make it easier to customize RerouteController"
Right now the RerouteController relies on a lot of internal classes of the NavigationSDK, that way it is pretty hard to change the implementation of the RerouteController.

[2021-02-10 03:35] developergirl53 opened #3969 "Wanted to custome the waypoint or stop while navigating"
Class required to change the stop or waypoint drawable with custom circle for android app

[2021-02-10 04:12] kmadsen opened #3970 "Native null pointer in libmatpbox-maps.so"
**Android API:**
**Mapbox Navigation SDK version:**

https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.a6f59f5d2c1849b4/matrices/8266098724130014556/executions/bs.2af6b5d9ccb4269b

Saving a `libmapbox-maps.so` stack trace from a firebase robo

<details closed>
<summary>Native crash of com.mapbox.navigation.test_app</summary>
<pre>
Build fingerprint: 'go

[2021-02-10 06:55] 1ec5 commented on #3934
Please see #3935, which tracks adopting `active_direction` when available.

This issue is simpler and smaller in scope, so I hope we can keep the two tasks separate. Modifying `setDrawMethodWithModifier()` to check whether `maneuverModifier` is contained in `laneIndications` won’t fix the particular example you point out above, but it will fix other cases that are more straightforward, such as the

[2021-02-10 11:40] diegolaballos opened #3971 "Crash MapboxNavigationTelemetry.java line 540"
**Android API:** Any
**Mapbox Navigation SDK version:** v.1.3.0

### Steps to trigger behavior

Happens randomly after setting a new route using a custom router.

### Actual behavior

App crashes
[code]

[2021-02-10 11:53] developergirl53 commented on #3969
plz help. Not getting from 5 days.

[2021-02-10 15:15] kmadsen opened #3974 "Crash from native SIGSEGV in libmapbox-maps.so"
**Android API:**
**Mapbox Navigation SDK version:** https://github.com/mapbox/mapbox-navigation-android/pull/3967

https://console.firebase.google.com/u/0/project/mapbox-navigation-android/testlab/histories/bh.a6f59f5d2c1849b4/matrices/4722045151363668515/executions/bs.f297af558ad81282

Saving a `libmapbox-maps.so` stack trace from a firebase robo

<details closed>
<summary>Native crash of com.map

[2021-02-10 20:04] 1ec5 commented on #3934
Here’s what we need to draw:

Lane | User turns left | User goes straight | User turns right
----|----|----|----
[<img src="https://upload.wikimedia.org/wikipedia/commons/6/62/MUTCD_R3-6L.svg" height="32" alt="straight and left" align="top">](https://commons.wikimedia.org/wiki/File:MUTCD_R3-6L.svg) | `DRAW_LANE_RIGHT_ONLY` (flipped) | `DRAW_LANE_STRAIGHT_ONLY` | _Unhighlighted straight-turn lane_

[2021-02-10 22:02] Guardiola31337 opened #3975 "Notification is not updated when re-routing"
When testing noticed that we aren't updating the notification UI when there's a re-route and it is stale / inaccurate from the previous route 👀

![notification_not_updated_when_reroute](https://user-images.githubusercontent.com/1668582/107578208-745c5380-6bc1-11eb-93d7-15ec1855671f.png)

cc @avi-c @d-prukop @1ec5

[2021-02-11 17:08] Guardiola31337 commented on #822
`MediaPlayer` docs suggest the opposite https://developer.android.com/guide/topics/media/mediaplayer#releaseplayer

Closing here as not necessary.

cc @LukasPaczos

[2021-02-11 17:08] #822 closed

[2021-02-11 23:04] Guardiola31337 opened #3982 "Show "0 ft" distance value"
I noticed while testing that right before getting a re-route we're displaying `0 ft` as distance remaining 👀

![0_ft_issue](https://user-images.githubusercontent.com/1668582/107708817-22373300-6c92-11eb-9582-6f5f33f9cdcc.png)

We didn't have "zero" values before but @cafesilencio confirmed that we made some modifications for the distance formatter because the minimum distance was always the value

[2021-02-11 23:41] 1ec5 commented on #3982
Is this the only scenario where one of the components says 0&nbsp;feet, or can it also occur when you’re between 0 and 50&nbsp;feet from the actual destination? For reference, 50&nbsp;feet is about four lane widths of distance, or about the length of a semi truck trailer. If you’re going 35&nbsp;miles per hour, you can cover 50&nbsp;feet in about a second, which on many phones is the location upda

[2021-02-12 02:47] #3957 closed

[2021-02-12 11:48] #3952 closed

[2021-02-12 22:21] kmadsen opened #3989 "Snapshotter example crash mapbox_route_token"
Why crash to make devs add `mapbox_route_token` here? Examples would be nice to require a single `mapbox_access_token`

[code]

[2021-02-12 22:22] kmadsen commented on #3989
[code]

I'm also confused by the comment, can see what it's doing but not really sure why we need it.

[2021-02-12 22:23] kmadsen commented on #3989
cc: @abhishek1508

[2021-02-12 23:14] abhishek1508 commented on #3989
You need a specific `route_access_token` as a part of your directions request for signboard and snapshot to work. This `access_token` is not the one you use for public access to maps. So just add `mapbox_route_token` to your `mapbox_access_token.xml` file with the correct token value and it will work.
cc @kmadsen

[2021-02-14 14:14] kheuch2018 opened #3991 "Turn by turn navigation for react-native"
Hi,
It might be very interesting to have Mapbox turn-by-turn navigation for react-native. At the moment there is no package that offers this possibility on react-native.

[2021-02-15 11:23] LukasPaczos opened #3992 "Route refresh only refreshes the initial primary route"
https://github.com/mapbox/mapbox-navigation-android/blob/a631f90ed355bad808440b68731536ea95bc0763/libnavigation-router/src/main/java/com/mapbox/navigation/route/internal/offboard/MapboxOffboardRouter.kt#L114-L117

Above is the code that creates the route refresh request, but as you can see it does not specify the `route_index` param. This means, that with refresh requests we always default to the

[2021-02-16 23:39] #3943 closed

[2021-02-17 16:33] LukasPaczos opened #4028 "Route refresh does not update the congestion in the route from RouteProgress"
In https://github.com/mapbox/mapbox-navigation-android/pull/3984 we refactored the trip session to use `updateAnnoations` when congestion changes instead of resetting the whole route, but we missed that this route instance is also shipped with `RouteProgress#route`.
https://github.com/mapbox/mapbox-navigation-android/blob/e1f0918b6e73ceaf8bd3d1ef3886c8600289b184/libnavigation-core/src/main/java/co

[2021-02-17 17:28] LukasPaczos opened #4029 "Upgrade Nav Native to v42 and integrate automatic tiles version switch"
This ticket track integration of Nav Native v42 in the `main` branch and a port of https://github.com/mapbox/mapbox-navigation-android/pull/3931.

/cc @mapbox/navigation-android

[2021-02-17 19:50] cafesilencio commented on #3955
One thing I'm confused about is what to do when a section of the route doesn't have speed limit data.  For a given route there are some roads that we have speed limit data for and some not.

For example when testing I am on the freeway and the speed limit value showing is 55 but when I exit (in my testing area) the street I exit onto doesn't have any speed limit data so the UI still shows 55 which

[2021-02-17 19:51] abhishek1508 commented on #3955
I think the UI itself should completely disappear as you mentioned showing 0 doesn't make sense.

@cafesilencio

[2021-02-17 19:57] cafesilencio commented on #3955
So would the UI view be responsible for hiding itself when there is no value for the speed limit? It gets a little tricky because then the UI view has a mind of it's own rather than the developer controlling it.  Would it make more sense for that task to be left to the developer to check when the speed limit value coming from core is null and hide it themselves?