[2017-10-18 21:49] cammace commented on #374
https://github.com/mapbox/mapbox-navigation-android/pull/398 finishes this round of fixes, going ahead and closing and proceeding with the release.

[2017-10-18 21:49] #374 closed

[2017-10-19 00:23] cammace opened #400 "Remove LineString 2 point min exception"
In MAS 3.0, I added a runtime exception to throw if you try creating a linestring with less than 2 points but this causes significant issues in the nav SDK, especially at the arrival event.

[2017-10-19 11:00] Guardiola31337 opened #402 "Move onProgressChange into NavigationService"
Ticket to keep track of @ericrwolfe and @cammace discussion

https://github.com/mapbox/mapbox-navigation-android/pull/382#discussion_r145511481
https://github.com/mapbox/mapbox-navigation-android/pull/382#discussion_r145512851

[2017-10-19 11:36] Danny-James opened #403 "Feature: Allow the user to press back when showing directions and not close UI"
When clicking the `^` icon to expand the directions if the user presses their back button it closes the `NavigationUI` could this be changed to just close the directions view first - also if the user accidentally pressed their back button maybe a Dialog Box asking do they want to exit navigation?

Maybe the navigation dialog confirmation would be good enough for both scenarios?

[2017-10-19 13:57] zugaldia commented on #284
Yesterday we released a new patch release in the 0.6.x series with a focus on stability fixes https://github.com/mapbox/mapbox-navigation-android/issues/385. Do you still observe any issues after upgrading?

[2017-10-20 11:37] Grsmto commented on #351
Is anyone working on this? For reference this is a duplicate of #395.

[2017-10-20 12:57] sparkle-sparkle commented on #351
I cannot reproduce the NPE. I am currently not working on it anymore.

[2017-10-20 13:36] Guardiola31337 commented on #351
As @palto-ccadoret reported in #395 NPE could also happen in [`sessionState.routeProgressBeforeReroute()`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java#L108).

@sparkle-sparkle
Thanks for trying to reproduce OP.

@Grsmto
Thanks for the heads up and if you want t

[2017-10-20 13:38] Guardiola31337 commented on #395
This is being tracked in #351

Thanks for reporting it @palto-ccadoret

Closing here.

[2017-10-20 13:38] #395 closed

[2017-10-20 18:05] Yanhenning commented on #284
i have the same problem that @samvgorode had, i upgraded my project and still the same

[2017-10-20 18:22] danesfeder opened #406 "Waypoint Location / Name Info for top banner"
For the drop-in UI, we should find a way to display waypoint information in the top banner on arrival (location address and name), which is available now in `DirectionsResponse` but not `DirectionsRoute`

[2017-10-20 22:19] danesfeder opened #407 "Add bearing for each point in NavigationRoute"
With MAS 3.0, if you don't provide a bearing for each `Point` added to a `NavigationRoute`, you'll get a failed response for the route.

We should add a bearing to any `Point` that doesn't have one so the request still comes back successful.  It looks like this only happens if you add one bearing value to one `Point`, but not the rest of the `Point`s.

cc @cammace

[2017-10-21 00:24] ericrwolfe commented on #407
This has lead to a few temporary workarounds that should be fixed:
* https://github.com/mapbox/mapbox-navigation-android/pull/408
* https://github.com/mapbox/mapbox-navigation-android/blob/79c9c4e023e04e8076d980872de7383c353ed89b/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java#L160

[2017-10-21 14:34] chanduram opened #410 "Indoor maps"
can i use this for indoor maps navigation.

[2017-10-21 20:46] danesfeder commented on #410
Hey @chanduram,
If you're using our core navigation library `libandroid-navigation`, you are able to use any style map you'd like using our Maps SDK https://www.mapbox.com/android-docs/map-sdk/overview/styling-map/.

If you're talking about our "drop-in UI", we are currently setting these map styles and don't offer the ability to provide your own style.  Stay tuned though, as we are looking to off

[2017-10-23 01:07] danesfeder opened #411 "NavigationRoute always retrieves driving-traffic profile"
`.build()` in `NavigationRoute` will always set the profile for the directions request to `this.directionsBuilder.profile("driving-traffic");` - currently not able to fetch walking or biking directions.

This was an oversight on my part making congestion changes.

cc @ericrwolfe

[2017-10-23 14:13] zugaldia commented on #284
@samvgorode @Yanhenning From reading this thread, looks like you both are hitting an issue using the Location Layer Plugin. This is a plugin for which we have a [test app](https://github.com/mapbox/mapbox-plugins-android/tree/master/plugins/app) that showcases the basic functionality of the plugin. When you have a chance, could you:

1. Check the [location-specific activities](https://github.com/m

[2017-10-23 14:42] palto-ccadoret commented on #351
Thanks @Guardiola31337

Another stacktrace :
`com.mapbox.services.android.navigation.v5.routeprogress.RouteProgress.distanceTraveled()' on a null object reference
                                                                                    at android.app.ActivityThread.handleStopService(ActivityThread.java:3344)

[2017-10-23 18:21] cammace commented on #411
I'll go ahead and fix this one up

[2017-10-23 20:17] cammace opened #412 "Directions API requests should be canceled when NavigationActivity is destroyed"
It's good practice to cancel any calls that Retrofits making if the activity gets destroyed. We can make use of the Lifecycle component

![screen shot 2017-10-23 at 4 16 31 pm](https://user-images.githubusercontent.com/5652865/31911102-933b79a4-b80d-11e7-9ad8-a08155084ee0.png)
 to automatically cancel the event.

@zugaldia @danesfeder

[2017-10-23 20:34] cammace opened #414 "Fix Direction Bearing being placed in order added rather than the meaning of coordinate"
If I define a destination first and then an origin, the bearing values should be switched to continue representing the order.

This is blocked upstream in MAS:
https://github.com/mapbox/mapbox-java/issues/614

[2017-10-24 07:52] xenazakharova opened #416 "Crash when using InstructionView in xml"
Platform: Android 6.0.1

build.gradle
dependencies {
 compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.3'
    compile ('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.3') {
        transitive = true
    }
}

I've got an exception

Caused by: android.view.InflateException: Binary XML file line #29: Error inflating class com.mapbox.services.android.navigation.ui.v5.instruction.Inst

[2017-10-24 12:34] Grsmto commented on #351
Hey sorry, I didn't figure out how to fix this so I'm not about to submit a PR :/

[2017-10-24 15:11] palto-ccadoret opened #417 "Reroute never appears if currentstep has only one geometry point"
Reroute never appears if current step has only one geometry point.

`https://github.com/mapbox/mapbox-navigation-android/blob/79c9c4e023e04e8076d980872de7383c353ed89b/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java#L119`

TurfMisc.pointOnLine returns a point with infinity coordinates {type='Point', coordinates=Position [longitude=Infinit

[2017-10-24 15:44] ericrwolfe opened #419 "Reroute causes infinite loop of departure announcements"
Driving with the current test app works fine until a reroute occurs, then the app starts an infinite loop of audio announcements for the departure step: "Head north on CA-1", "Head north on CA-1", etc.

This same announcement continues to repeat even as you drive through multiple steps. Even if the app reroutes again, the app repeats the original announcement. The rest of the app functionality (ba

[2017-10-24 16:08] P-Zenker opened #420 "NullPointerException: mapboxNavigation.startNavigation(directionsRoute)"
Hey,

my setup is:
[code]

and the code:
[code]

...results in this exception:
[code]

If I commend out `mapboxNavigation.startNavigation(directionsRoute);` everything is "fine".

I don't understand why there is a null pointer, because I receive a valid DirectionsRoute which I can display on the map:
` DirectionsRoute{distance=265909.2, duration=191870.4, geometry=mnfweBkvbkSjU~A|DvKvChIrAhDv]p}@h

[2017-10-24 16:21] danesfeder commented on #368
Closed with #404

[2017-10-24 16:21] #368 closed

[2017-10-24 16:45] ericrwolfe commented on #393
@danesfeder any ideas on what would cause this? I didn't have this problem with night mode on a Nexus 5x.

[2017-10-24 16:46] zugaldia commented on #412
Architecture components and Retrofit is explicitly mentioned on the official docs: https://developer.android.com/topic/libraries/architecture/guide.html#fetching_data

[2017-10-24 16:59] ericrwolfe opened #421 "Upgrade to Maps SDK 5.2.0-beta.3"
5.2.0-beta.3 will contain fixes for https://github.com/mapbox/mapbox-gl-native/issues/9529 and https://github.com/mapbox/mapbox-navigation-android/issues/301.

cc @cammace

[2017-10-24 19:52] ericrwolfe commented on #301
New possible fix was added to this branch by @kkaefer here https://github.com/mapbox/mapbox-gl-native/tree/geojson-query-fix, but @danesfeder wasn't able to verify the fix in the Navigation SDK.

@brunoabinader can you take a second look here and see how we can get this fix into a PR for Android 5.2.0-beta.3? @danesfeder can you update this ticket with any additional context?

cc @lilykaiser

[2017-10-24 20:33] danesfeder commented on #301
@brunoabinader I ported the changes from https://github.com/mapbox/mapbox-gl-native/tree/geojson-query-fix into https://github.com/mapbox/mapbox-gl-native/tree/dan-nav-debug and was seeing a native crash on startup of the navigation UI - not sure if there's something I need to do to compile the changed cpp

[2017-10-25 08:17] Danny-James commented on #344
This Seems To Have Been Resolved @cammace will report the directions as a new issue if it happens again.

[2017-10-25 08:17] #344 closed

[2017-10-25 08:19] Danny-James commented on #284
Navigation Movement Issue Fixed.

[2017-10-25 08:19] #284 closed

[2017-10-25 08:20] Danny-James commented on #381
@Guardiola31337 Any News On This?

[2017-10-25 18:19] ericrwolfe commented on #301
It sounds like this issue is caused by a race condition where `setStyle` was called before the `onMapReady` callback happened, and this can be resolved with a change to the XML file in the Navigation SDK.

https://github.com/mapbox/mapbox-gl-native/tree/geojson-query-fix is a separate issue that should be pulled into a PR and cherry picked into 5.2.0-beta.3.

cc @danesfeder @lilykaiser @Guardiola3

[2017-10-25 18:28] brunoabinader commented on #301
Cherry-pick PR in https://github.com/mapbox/mapbox-gl-native/pull/10280.

[2017-10-25 21:17] cammace commented on #420
The crash is occurring because you are using the new default milestone instructions which require your directions request to set `voiceInstructions()` to true. The alternative would be to disable the default milestones.

I've added a validation check which makes this more clear -> #424

[2017-10-25 21:21] cammace commented on #419
Since nothing else gets affected but the voice announcements, this sounds like it is coming from the `ApiMilestone` class.

[2017-10-25 21:28] danesfeder commented on #416
@xenazakharova Thanks for the feedback, can you please provide the full stack trace?  Thank you

[2017-10-25 21:28] cammace commented on #410
Nothing actionable here, closing.

[2017-10-25 21:28] #410 closed

[2017-10-25 21:29] cammace commented on #411
Should have fixed this in https://github.com/mapbox/mapbox-navigation-android/pull/413

[2017-10-25 21:29] #411 closed

[2017-10-25 21:30] cammace commented on #400
This has been removed upstream. Closing

[2017-10-25 21:30] #400 closed

[2017-10-25 22:01] #420 closed

[2017-10-25 22:06] ericrwolfe commented on #419
@cammace I do think @danesfeder enabled polly in my test build, so this should be easily reproduceable by adding a poolId to the test app and running the reroute activity.

[2017-10-26 10:33] xenazakharova commented on #416
Process: com.parko.android, PID: 27958
                                                                   java.lang.RuntimeException: Unable to start activity ComponentInfo{com.parko.android/com.parko.android.activities.RouteActivity}: android.view.InflateException: Binary XML file line #29: Binary XML file line #29: Error inflating class com.mapbox.services.android.navigation.ui.v5.instruction.In

[2017-10-26 11:34] P-Zenker opened #426 "VoiceInstructions with wrong unit"
Hey,

if I use the LegStep.voiceInstructions there is one issue:
`VoiceInstructions{distanceAlongGeometry=176.4, announcement=In 600 Fuß, leicht links abbiegen auf An der Untertrave, ssmlAnnouncement=...`

The distanceAlongGeometry is in meter, but the voice instruction in feed ("Fuß").

I don't know if it is a issue or not, but do you need the comma after the unit for a correct spoken voice instr

[2017-10-26 14:33] josephquzhou commented on #360
Same issue here. Wish someone from Mapbox can give an answer!

[2017-10-26 16:15] tobrun commented on #360
@nimesha95 @josephquzhou @deleonAndroid3 could you add which version of the maps sdk you are using? A no such method error indicates that you are overriding the maps sdk used for the navigation SDK with a newer version that has a different signature in methods as the nav sdk. We are currently trying to bring the 5.2.0 maps sdk to the nav sdk.

[2017-10-26 16:24] josephquzhou commented on #360
mapbox-android-sdk:5.2.0-beta.2@aar
mapbox-android-navigation:0.6.2
mapbox-android-navigation-ui:0.6.2

[2017-10-26 16:27] tobrun commented on #360
@josephquzhou for now you will have to downgrade to `5.1.4` for it to work.
We will update this ticket once we have updated the internal dependency to a 5.2.0 version.

cc @danesfeder

[2017-10-26 16:30] josephquzhou commented on #360
@tobrun Thanks! It is working!

[2017-10-26 21:01] koocbor commented on #269
I know this is closed but I don't think the issue is the 64k limit - it's because the multidex merge fails  because the `appcompat-v7` library includes the `android.arch.core:common:1.0.0` library and `com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.1.0` includes `android.arch.core:core:1.0.0-alpha3`.

I was able to get my project to build again once I added this:
[code]

As far as I ca

[2017-10-27 00:29] #419 closed

[2017-10-27 00:42] ericrwolfe commented on #421
5.2.0-beta.3 was released: https://github.com/mapbox/mapbox-gl-native/issues/10297

[2017-10-27 13:02] mpuchala opened #432 "[Support][Android] Custom turn by turn navigation"
Guys,

I'd like to implement my custom navigation view. Right now I'm using 0.7.0 snapshot. I guess I should based on `NavigationView` class and I have few question/issues.

As far as I see I have to implement my own `NavigationPresenter` what seems to be clear, but do you have any plans to allow using your view models like:
* `LocationViewModel`
* `RouteViewModel`
* `NavigationViewModel`

Some of

[2017-10-27 18:33] #265 closed

[2017-10-27 20:45] ericrwolfe opened #433 "Add vector LaneView assets"
Tail work to https://github.com/mapbox/mapbox-navigation-android/pull/362:

- [ ] Add LaneStyleKit and LaneView.
- [ ] Remove all usages of the old manuever views, i.e. in the NavigationNotification.
- [ ] Remove all vector drawables.

cc @danesfeder

[2017-10-27 21:24] #305 closed

[2017-10-28 00:51] ericrwolfe commented on #421
Fixed with #429.

[2017-10-28 00:51] #421 closed

[2017-10-28 00:53] ericrwolfe commented on #301
Context crash fixed in https://github.com/mapbox/mapbox-navigation-android/pull/423
Geojson query fixed in https://github.com/mapbox/mapbox-navigation-android/pull/429

[2017-10-28 00:53] #301 closed

[2017-10-28 00:54] ericrwolfe commented on #363
Fixed by #362.

[2017-10-28 00:54] #363 closed

[2017-10-28 03:54] hoangphan commented on #387
I am facing the same issue as well.

and the navigation UI ALWAYS crashes.

kindly hint if this issue is fixed?

[2017-10-28 07:31] hoangphan commented on #360
@tobrun and @josephquzhou : I am facing the same issue. and when i moved mapbox map sdk to 5.1.4, my activity is nolonger able to started.

can you please share if i missed anything?

i change my gradle to

[code]

thanks,
Hoang

[2017-10-28 15:50] josephquzhou commented on #360
@hoangphan try the following,
mapbox-android-sdk:5.1.4
mapbox-android-navigation:0.6.2
mapbox-android-navigation-ui:0.6.2

[2017-10-28 16:07] hoangphan commented on #360
@josephquzhou thanks for the response. i tried this before, but with no success :)

anyway, i am a little bit curious why a navigation crash issue would have link to the sdk version of a map? aren't they separated?

[2017-10-29 11:17] P-Zenker opened #436 "NullPointerException: NavigationService handleStopService"
Hey,

I don't know when this error occurs, because I couldn't reproduce it on my few devices.

The error occurs for e.g. on this devices:
Android: 6.0.1 (23)
Smartphone-Model: SM-G900F (Samsung)

Android: 7.1.1 (25)
Smartphone-Model: F8331 (Sony)

Android: 6.0 (23)
Smartphone-Model: LG-H815

[code]
Similar error:
[code]

I always check if the location is null before passing it to Mapbox inside:
-

[2017-10-30 02:01] hoangphan commented on #360
@josephquzhou @tobrun : update: only with 5.1.4 and 0.6.0 snapshot the NavigationLauncher.startNavigation is working. but still occasionally crashes :)

[2017-10-30 03:28] cammace opened #437 "Method lineWidth not found when creating NavigationMapRoute"
_Originally ticketed in Mapbox Java by @turey_

**Platform:**
LG-H871
Android 7.0

**Mapbox Services version:**
    compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.2.0-beta.1@aar') {
        transitive=true
    }
    compile 'com.mapbox.mapboxsdk:mapbox-android-services:2.3.0-SNAPSHOT'
    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0-SNAPSHOT'
    compile ('com.mapbox.mapboxsdk

[2017-10-30 05:36] ibnekhan opened #438 "Terminating with uncaught exception of type jni::PendingJavaException Fatal signal 6 (SIGABRT)"
Whenever i launched navigation activity my app crashed with this log.

E/libc++abi: terminating with uncaught exception of type jni::PendingJavaException
                                                                            --------- beginning of crash
 A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 27977 (carpooltoschool)
debuggerd: handling request: pid=27977 uid=10237 gid=10237 tid=2797

[2017-10-30 14:35] tobrun commented on #360
@hoangphan @nimesha95 @josephquzhou @deleonAndroid3
We released a new version of the [nav sdk 0.6.3](http://search.maven.org/#artifactdetails%7Ccom.mapbox.mapboxsdk%7Cmapbox-android-navigation%7C0.6.3%7Caar) that is compatible with the 5.2.0-beta.3 version of the map sdks. We hope that you test out this version and please provide any feedback you have on this version. I'm closing this issue as thi

[2017-10-30 14:35] #360 closed

[2017-10-30 15:02] josephquzhou opened #439 "Is turn-by-turn Navigation with multiple waypoints working in a non-simulation mode?"
It seems to me that turn-by-turn navigation with multiple waypoints only works in simulation mode. Whenever I switch to the non-simulation mode all waypoints are removed.

[2017-10-30 19:18] Grsmto commented on #436
I think that's the same issue as #351
I'm having this issue as well, now only when I stop the navigation service it seems like.

[2017-10-30 22:13] josephquzhou commented on #439
After some further study the code I think, in a non-simulation mode,  NavigationLauncher can take an initial route with waypoints for navigation. But it will soon reroute without waypoints. Is it a bug?

[2017-10-30 22:20] danesfeder commented on #393
@cammace @ericrwolfe this should be fixed with the banner work in #404

[2017-10-30 22:20] #393 closed

[2017-10-30 22:26] danesfeder commented on #335
This was a conflict in Voyage, not actionable in the navigation SDK.  We still need this dependency for the architecture components

[2017-10-30 22:26] #335 closed

[2017-10-31 03:52] cammace opened #447 "MockLocationEngine better handle Android lifecycle"
_Originally ticketed in https://github.com/mapbox/mapbox-java/issues/497 by @danesfeder_

Currently if you deactivate the MockLocationEngine (like on config change) you need a DirectionsRoute and user Position to re-activate and start sending updates again. If we can handle this within the class itself, dealing with state changes would be much easier

[2017-10-31 03:59] cammace opened #448 "Add Exclude to NavigationRoute"
Now that we support exclude in the directions request we need to expose this option in the NavigationRoute object. https://github.com/mapbox/mapbox-java/issues/611

[2017-10-31 11:26] no-body opened #449 "mapbox 5.2 alpha freeze when changing fragment"

[2017-10-31 11:34] no-body opened #450 "mapbox 5.2 alpha freeze when changing fragment"
Hi everyone,

I'm using a mapbox on an Android App and I have some bugs when I switch to my mapboxfragment and then I go back or go to another fragment quickly.

I have override all Lifecycle methods, but this seems doesn't change anythings.
In addition, I have no logs about this freeze..

I get this error:
activitymanager
Reason: Input dispatching timed out (Waiting to send key event because the

[2017-10-31 13:47] josephquzhou commented on #416
Same issue! Is there a workaound?

[2017-10-31 14:21] danesfeder commented on #416
Are you both using the `InstructionView` in your XML layouts? Or is this using the `NavigationLauncher`

[2017-10-31 14:52] josephquzhou commented on #416
I use InstructionView in my activity layout, and use it with MapboxNavigation (not NavigationLauncher). I don't use NavigationLauncher, because it seems to have problem with waypoints during rerouting.

[2017-10-31 15:04] josephquzhou commented on #416
Sorry. I forgot to mention. I also try to put InstructionView in a separate xml file and use LayoutInflater.

[2017-10-31 16:01] danesfeder commented on #416
@josephquzhou Looks like a bug in our initialization of the `InstructionView` by itself.  Will look into this when I get a chance.  And yeah, I should note in the docs that waypoints aren't currently supported by the `NavigationLauncher`

[2017-10-31 16:10] Grsmto opened #451 "Navigation Views activity crashes randomly when navigation starts"
Hi guys,
The `Navigation Views` activity seems to be crashing randomly at navigation launch or after a few minutes of navigation (especially if you play with the map, pan, pitch etc.).

Tested on latest commit of `master` branch on a Nexus 5X.

I'm aware that this seems to be an issue related to Mapbox GL but from my testing this happen only if you call `camera.start()`. If you don't have the came

[2017-10-31 16:39] Danny-James opened #452 "Android: Issue when using TrafficPlugin"
I'm Now Using The Following;

[code]

**ActivityNavigationMap**
[code]

If i comment out the following I don't get this error.
[code]

**Error**
[code]

[2017-10-31 17:07] palto-blubek commented on #351
Hey guys, I've also experienced the same NPE.

I notice that a null check is done on `routeProgress` before calling `cancelEvent` here:
https://github.com/mapbox/mapbox-navigation-android/blob/v0.6.3/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java#L105

This means it is expected that `routeProgress` can be null at this point.

However

[2017-10-31 17:19] danesfeder commented on #351
Thanks for the feedback everyone - we are working to resolve the issues being found in `NavigationMetricsWrapper` this week for the next release.  Thank you for your patience!

[2017-10-31 17:26] #449 closed

[2017-10-31 17:33] josephquzhou commented on #439
Confirmed by Mapbox. NavigationLauncher doesn't support waypoints at the moment.

[2017-10-31 17:33] #439 closed

[2017-10-31 17:42] cammace opened #454 "Provide MapboxOption for SSML default vs normal instruction"
Right now we only pass in the normal, non-marked up instruction inside milestoneEvent callback. We should provide an option for users to receive one or the other.

[2017-10-31 18:56] cammace commented on #432
Our plans are to gradually make the UI part of the SDK more modular as you mention, making the different views available to users rather than an entire activity or view like it's current state. We don't have any specific timeline for this though and for now, as you suggest, copying the classes or using them as reference are your best options.

We are tracking the splitting up of the views internal

[2017-10-31 18:56] #432 closed

[2017-10-31 21:16] Danny-James commented on #439
Why has this been closed? Should this not be a feature request, it's important NavigationLauncher.startNavigation should allow waypoints for my case.

I was under the impression adding a route with waypoints to the Navigation Launcher works. @tobrun can you confirm this?

[2017-10-31 21:18] Danny-James commented on #439
@tobrun is their a way to turn off rerouting I'm developing a routing application where a Crane needs to stay on a specific route signed off by the authorities so if the waypoints don't stay (I use waypoints to navigate around low tunnels/weak bridges) can we prevent rerouting with NavigationLauncher?

[2017-10-31 21:29] josephquzhou commented on #439
I agree NavigationLauncher should support waypoints in a non-simulation mode.

The reason I closed this discussion was because my original question was just to ask whether this feature exists or not.

[2017-10-31 21:39] csjames opened #458 "DEX Errors when combining SDK dependancies with navigation in build.gradle"
Whether I use 0.7.0-SNAPSHOT or 0.6.3, I get the following dex error:

Error:com.android.tools.r8.errors.CompilationError: Program type already present: com.almeros.android.multitouch.gesturedetectors.RotateGestureDetector

I am not sure what I can do to solve this as I need to use these versions to avoid other issues, namely #437
`
    compileSdkVersion 26
    buildToolsVersion '26.0.2'

    defa

[2017-10-31 21:48] tobrun commented on #439
@Danny-James i'm not involved in the development of the nav sdk so I'm unable to answer.

cc @cammace @danesfeder

[2017-10-31 22:47] Danny-James commented on #439
Sorry @tobrun I was supposed to tag @cammace I mixed the two of you up.

[2017-11-01 00:06] ericrwolfe opened #459 "Location bearing resets to 0 after arrival"
![screenshot_20171029-115217](https://user-images.githubusercontent.com/664805/32254419-e0b63b14-be5d-11e7-82ba-c118d8a26e45.png)

cc @cammace

[2017-11-01 09:43] kuja2007 commented on #437
The same issue on my side

[2017-11-01 09:45] Danny-James commented on #437
I have this same issue.

[2017-11-01 09:49] kuja2007 commented on #437
Hi guys,

Do you need additional data to reproduce this issue?
If yes please let me know.

[2017-11-01 10:40] kuja2007 commented on #437
Simple fix.
If you include class "NavigationMapRoute" locally to the project issue is fixed.

[2017-11-01 15:35] josephquzhou commented on #416
@danesfeder  Hope the InstructionView initialization bug can be fixed soon. Currently I am stuck in turn-by-turn navigation display without InstructionView or NavigationLauncher. Thanks!

[2017-11-01 17:26] ericrwolfe opened #460 "Post-reroute feedback"
Immediately after a reroute, a "Report Problem" button should slide down from under the turn banner and stay on screen for 10s.

Tapping this button will open the feedback UI, but we should set the `source` property to `reroute` instead of the default `user` value.

cc @danesfeder

[2017-11-02 10:17] palto-blubek opened #461 "The maneuver icon to indicate "turn sharp left" shows a right arrow"
This icon:
https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/res/drawable/ic_maneuver_turn_75_left.xml
Is used in `ManeuverMap` to mean turn sharp left.
But the drawing actually is a sharp **right** icon (actually it is the same as `ic_maneuver_turn_75`).

[2017-11-02 14:51] Danny-James commented on #437
@cammace Any News On This? As I'm Unable To Continue Development Until This Issue Is Resolved.

[2017-11-02 15:38] Danny-James opened #462 "[Question] Problems With 0.7.0-SNAPSHOT"
When changing from `0.6.3` to `0.7.0-SNAPSHOT` I get all sorts of problems requiring me to change code, an example is below.

[code]

are required to be changed to:

[code]

I am now not able to use Positions in the origin, destination and waypoint im required to use Points.

I have a problem with the following;

[code]

This is saying im unable to use LostLocationEngine with Location Engine, can

[2017-11-02 18:22] palto-blubek opened #463 "Maneuver icons for roundabout are smaller than the other ones"
We are using `ManeuverUtils.getManeuverResource()` to show the maneuver icon to the user.

For some reason, these icons don't all have the same sizes, for instance,

https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/res/drawable/ic_maneuver_turn_0.xml : 50dp * 50dp

https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/sr

[2017-11-02 18:40] danesfeder commented on #463
@palto-blubek Our icons were not ideal or optimized as you've found - in https://github.com/mapbox/mapbox-navigation-android/pull/445 we've included a custom `ManeuverView` that draws each icon dynamically and should scale to the width / height you set.

[2017-11-03 09:57] muditagarwal commented on #360
@tobrun - I am trying the above-mentioned config for testing [5.2.0-beta.3 and 0.6.3] but app is still crashing. Below is the crash log

`11-03 15:23:44.431 8760-8760/navigation.sample.com.mapboxsdktest E/AndroidRuntime: FATAL EXCEPTION: main
                                                                                   Process: navigation.sample.com.mapboxsdktest, PID: 8760

[2017-11-03 10:14] tobrun commented on #360
we recently identified that the location layer plugin hasn't been updated, this is resulting in a dependency mismatch and thus api mismatch. To unblock further development, you need to use the snapshot versions of all dependencies. We are working on releasing stable versions of these. Let us know if you run into any more issues!

[2017-11-03 12:13] Danny-James opened #464 "Android: NoSuchMethodError"
http://crashes.to/s/4c0d0af7ec4

I've now changed my gradle to use the following:

[code]
I was previously using `navigation-ui:0.6.3` & `navigation:0.6.3`

**Error**
[code]

See below my entire Activity - I've used the following as a guide [NavigationViewActivity.java](https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/java/com/mapbox/services/android/navigation/testapp/

[2017-11-03 12:15] Danny-James commented on #462
I think i have answered the majority of my questions in #464, however, when will this be moved into a stable version? or is the changed way such as using Points instead of Positions in `0.6.3`?

[2017-11-03 14:09] Grsmto commented on #464
The lastest commits on master are breaking changes as they have update a dependency (https://github.com/mapbox/mapbox-java) and both this SDK and Mapbox GL have to be updated for it to work.
I think there is nothing you can do apart from waiting for the guys to update Mapbox GL with latest changes of MAS.

[2017-11-03 14:33] Danny-James commented on #464
@Grsmto Thanks for the reply. 👍

[2017-11-06 00:27] rheng001 commented on #437
Facing same issue as well

[2017-11-06 10:59] P-Zenker commented on #450
I had the same issue. My workaround is a flag which indicates, if the Map is ready or not. If not, I don't allow `super.onBackPressed();` inside `@Override public void onBackPressed() { ... } `.
But this clearly doesn't fix the issue ;)

[2017-11-06 13:49] guraymumun commented on #222
@johnwallco can you share (copy/paste) your gradle here?

[2017-11-06 18:45] csjames commented on #360
@tobrun Please can you advise the exact snapshot versions to use?

Thanks for your time,
James

[2017-11-07 11:23] OksanaZakharova commented on #416
I also wait impatiently when the bug will be fixed, I really want to use InstructionView  in my development. Thanks!

[2017-11-07 13:35] Grsmto commented on #436
Hey @electrostat just testing the PR that has been merged and it seems like I'm still experiencing this bug with the following stack trace when I stop the navigation:

[code]

Thanks!

[2017-11-07 14:54] danesfeder commented on #461
@palto-blubek Can you confirm this is fixed with #445?

[2017-11-07 14:56] danesfeder commented on #458
@csjames are you still finding this in the latest 0.7.0-SNAPSHOT?

[2017-11-07 15:01] danesfeder commented on #436
@Grsmto Do you have a way to consistently reproduce this?  Looks like we still aren't properly shutting the service down with our metrics class in some scenarios. Thanks!

[2017-11-07 15:02] csjames commented on #458
I've sorted this issue. I am now using the snapshots of all libraries required. The thing I don't understand is that when I use the NavigationLauncher, I do not get instructions or any indication that the navigation is working, just a world map with a marker on it. This happens when using the reference code as shown below (I replace awsPoolId with null)

Position origin = Position.fromCoordinates(

[2017-11-07 15:02] danesfeder commented on #433
Added in #466

[2017-11-07 15:02] #433 closed

[2017-11-07 15:16] DerGav commented on #438
I'm getting a similar error following [this tutorial](https://www.mapbox.com/help/android-navigation-sdk/#getting-started)

[2017-11-07 15:26] danesfeder commented on #416
Hey @xenazakharova @OksanaZakharova @josephquzhou, this bug is due to our use of theming now in these custom `View`s.  When the XML tries to inflate, it looks for the custom `?attr/` tags from the set style for the colors to use for the background, text color, etc.  I'm assuming you haven't set a theme including colors for these attributes.

To fix this, simply add: `setTheme(R.style.NavigationVie

[2017-11-07 16:01] cammace commented on #437
As @kuja2007 mentioned, this seems to be a mistake in the documentation rather than a bug existing in the codebase since running the testapp doesn't show this crash. Please review your code and if you are still having issues, please provide a way for me to reproduce the crash.

[2017-11-07 16:01] #437 closed

[2017-11-07 16:06] cammace commented on #464
We have reverted the API breaking changes in master inside the map, Mapbox Java, and nav SDKs. LocationEngine related issues should be resolved now.

[2017-11-07 16:06] #464 closed

[2017-11-07 16:07] cammace commented on #463
#445 has been merged, should we still fix the drawable @danesfeder or are we safe to close here?

[2017-11-07 16:16] cammace commented on #351
With #457, this issue should be resolved now, closing.

[2017-11-07 16:16] #351 closed

[2017-11-07 16:20] cammace commented on #462
Starting with 0.7 we have begun using Mapbox Java 3.0 which removes Position in favor of GeoJSON Point object. You can create a Point using the same static factory Position offered, `Point.fromLngLat();`.

Note that since you are using a SNAPSHOT, we don't have documentation for this and would advise using the stable version of the Nav SDK rather than a nightly build. When you use SNAPSHOT, your s

[2017-11-07 16:24] hoangphan commented on #360
@csjames : i'm using 0.6.0 snapshot + 5.1.4 and it seems fine.

[2017-11-07 16:47] csjames commented on #458
Fixed, I now have an issue where when starting the NavigationActivity through the NavigationLauncher, the route shows, but I can not see instructions, nor does the map rotate with my device.

[2017-11-07 17:07] Danny-James opened #467 "[Android]: No Route Being Returned"
I don't seem to be getting a route returned now i'm using the following dependencies;

[code]

See Below My Code On Retrieving A Route.
[code]

My current imports
[code]

[code]

I believe the `validRouteResponse` is returning false at the following part `&& response.body().routes().size() > 0;`

Can you see what I am doing wrong?

[2017-11-07 18:10] tobrun opened #468 "Release stable version with location layer 0.2.0"
Once [location layer 0.2.0](https://github.com/mapbox/mapbox-plugins-android/issues/148) is released we need to do a follow up release of the nav-ui-sdk. This solves crashes as [this one](https://github.com/mapbox/mapbox-gl-native/issues/10101#issuecomment-342568409) with using the library in conjunction with a 5.2.0 maps sdk.

[2017-11-07 18:46] cammace commented on #467
Hey @Danny-James, If you have specific code questions about the stable version of the Navigation SDK please reach out through our [support page](https://www.mapbox.com/contact/). This issue queue is meant to only track issues with the SDK.

You are using the snapshot version of our SDK currently which is likely to contain unstable code which changes everytime we merge into master. It is best to wa

[2017-11-07 18:46] #467 closed

[2017-11-07 23:57] josephquzhou commented on #416
@danesfeder Thank you! After adding setTheme(R.style.NavigationViewLight); the initialization of InstructionView is working. I think the reason we made such a mistake is due to lack of examples. Are there code examples of using InstructionView? Thanks!

[2017-11-08 04:30] muditagarwal commented on #360
@hoangphan - Can you please post exact gradle dependency versions. My code is not compiling at all while using 0.6.0 snapshot and 5.1.4

Gradle:
`compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.4@aar') {
        transitive = true
    }
    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.0-SNAPSHOT'
    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.0-SNAPSHOT'
`

G

[2017-11-08 16:35] csjames commented on #360
@hoangphan @tobrun Can confirm I am getting the same error as @muditagarwal when using those versions

[2017-11-08 21:25] steven-haddad opened #474 "Navigation API diplay white screen"
I am beginner on Mapbox.

I'm trying to calculate a trip with multiple point. My app calculated the best trip on the map view, but when i'm trying to display the trip on navigation API, the API display me white screen. However i debug my app and every seems to be fine .

To lauch the navigation API i called this function:
`` NavigationLauncher.startNavigation(test3.this, optimizedRoute, null, fals

[2017-11-09 04:38] rheng001 commented on #360
`compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.4@aar') {
        transitive=true
    }`
    `compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.3'`
    `compile ('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.1') {`
        `exclude group: 'android.arch.core'
        transitive = true
    }`

Works for me. You need to add the exclude group as above to get rid of the

[2017-11-09 09:02] muditagarwal commented on #360
@rheng001 - thanks so much! android studio 3.0 was giving build errors with the above so here is the fixed version, in case someone needs it.

[code]

[2017-11-09 10:27] tobrun commented on #360
Thank you all for chiming in on working configurations!
We are planning to release new versions of the library that will not require you to exclude anything.

[2017-11-09 17:12] #468 closed

[2017-11-09 18:45] Grsmto commented on #451
Closing this for now as it doesn't seem to happen when I test on the test activity (still getting this on my custom implementation but can't figure out the origin of the bug).

[2017-11-09 18:45] #451 closed

[2017-11-09 19:27] danesfeder commented on #451
@Grsmto You're using the core navigation SDK with your own custom views correct?  In which version of the Maps SDK are you experiencing this?  Are you using any other plugins / UI from us?  Thanks!

[2017-11-10 17:13] konskons5 commented on #438
same issue here. Any solution?

[2017-11-11 12:12] BoD opened #485 "ANR/Crash on Android 8 when notification is not enabled"
On Android 8, if you use `startForegroundService`, you must also call `startForeground` with a notification within 5 seconds, otherwise you get an ANR - and a crash when the service stops.
( https://developer.android.com/about/versions/oreo/background.html#services )

This is done in `NavigationService` [[1]](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src

[2017-11-11 18:03] guraymumun94 opened #486 "Offroute issue"
The problem is at navigation.addOffRouteListener(this):

    @Override
    public void userOffRoute(Location location) {
    myLocation = location;
    myLocationPosition = Point.fromLngLat(location.getLongitude(), location.getLatitude());

    navigationRouteBuilder.origin(myLocationPosition);
    navigationRouteBuilder.destination(destination);

    navigationRouteBuilder.build().getRoute(new Ca

[2017-11-13 01:22] josephquzhou opened #488 "NullPointException in rerouting"
I am using navigation:0.6.3 and navigation-ui:0.6.3

E/AndroidRuntime: FATAL EXCEPTION: main
                                                                     Process: edu.cmu.jqz.joe_test5, PID: 2464
                                                                     java.lang.NullPointerException: Attempt to invoke virtual method 'long android.location.Location.getTime()' on a null object re

[2017-11-13 02:03] eric-hartwell commented on #269
I just ran into the same error using `mapbox-android-navigation:0.6.2`, and koocbor's fix works for the navigation SDK as well.

[code]
The `mapbox-android-navigation` library shouldn't depend on an alpha or beta version since that interfere's with gradle's automatic version reconciliation. Should I open a new Issue or will someone see this?

[2017-11-13 10:27] palto-blubek opened #489 "Crash (NullPointerException) in VoiceInstructionMilestone"
We are in the process of trying out `com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0-SNAPSHOT`

We encounter this crash:
[code]

And indeed, when I add a breakpoint and inspect this line [[1]](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java#L81) I see that `vo

[2017-11-13 11:03] tobrun commented on #269
@eric-hartwell fwiw 0.7.0 was released with the latest stable versions

[2017-11-13 15:22] danesfeder commented on #488
@josephquzhou This is a known issue we unfortunately released with `0.6.3` - it should be fixed in `0.7.0-SNAPSHOT`

[2017-11-13 15:28] danesfeder commented on #486
Hey @guraymumun94 it looks like you're storing your `navigationRouteBuilder` as a field in this class - if this is the same builder that you used to make your original route request (to start navigation), adding another `origin` and `destination` in an off route scenario will cause you to go over our 3 coordinate max.

I'd recommend creating a new builder for each request.  This can also be made m

[2017-11-13 15:32] danesfeder commented on #474
@steven-haddad would you be able to record a gif or screenshot of the behavior you're seeing?  Also, what dependency are you using to compile the navigation UI?

[2017-11-13 16:44] danesfeder commented on #489
Hey @palto-blubek, thanks for raising this issue - we are currently working on a fix upstream in our directions API.  The `distanceAlongGeometry` should pass a number (in this case 0).

[2017-11-13 20:21] danesfeder opened #495 "Release 0.7.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.7.0`

### Includes

* Updated to Mapbox Java 3.0 [#373](https://github.com/mapbox/mapbox-navigation-android/pull/373)
* Update InstructionView with secondary TextView [#404](https://github.com/mapbox/mapbox-navigation-android/pull/404)
* Fixed issue with bearing values in route requests [#408](https://github.com/mapbox/mapbox-navi

[2017-11-13 20:27] langsmith commented on #495
@danesfeder , opened some prs related to release ticket ☝️

[2017-11-14 10:09] steven-haddad commented on #474
Also the navigation work fine when i dont passe the coordinates on parameter

The dependency:
"compile('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.1')"

The fist step when the Api calculate the optimized route:
![1](https://user-images.githubusercontent.com/25587457/32774218-e1d75c0c-c92b-11e7-8483-863684064ba8.jpg)

The second step, when the navigation API display me white screen
![2](

[2017-11-14 13:17] palto-blubek opened #498 "Voice instructions are incorrectly translated (mixed english / other language) and with imperial units"
Starting from v0.7.0 (and v0.10.0 on iOS, if I'm not mistaken), the voice instructions come from the Mapbox backend.

Unfortunately, the texts returned are mixed with english and the language requested. For instance, this call:

[code]
(replace ACCESS_TOKEN by a valid one)

returns sentences like this:

- "**Head** le nord-est on Rue Cadet **for 0.5 mile**"
- "**In** 600 pieds, tourner à droite su

[2017-11-14 13:18] jameslshannon commented on #266
It should always be possible to override the units - for instance cyclists in the UK commonly prefer metric units and navigation instructions. Ideally the locale default could therefore be overridden via MapboxNavigationOptions so the user could configure in their app?

[2017-11-14 13:19] palto-blubek commented on #489
Thanks for replying.  Is there a public issue for this so we can follow it?

Also, I've just submitted another issue related to the voice instructions/directions API here: https://github.com/mapbox/mapbox-navigation-android/issues/498

[2017-11-14 14:59] danesfeder commented on #489
@palto-blubek the fix has been merged upstream and I'll close this ticket when it's deployed.  (should be today / tomorrow)

[2017-11-14 15:22] danesfeder commented on #495
Javadoc updated and merged

[2017-11-14 15:22] #495 closed

[2017-11-14 15:23] danesfeder commented on #488
@josephquzhou We released `0.7.0` which should fix this issue.  Please update to this version and confirm it has been fixed.  Thanks!

[2017-11-14 15:23] #488 closed

[2017-11-14 15:41] danesfeder commented on #498
@palto-blubek looking into the mixed languages issue.  There is a query param for imperial v. metric: `voice_units` which should address the issue with the imperial distances you're seeing.

[2017-11-14 15:51] palto-blubek commented on #498
Thanks for replying.  I do not see this argument in `MapboxDirections.Builder` (at least, in version `3.0.0-SNAPSHOT` that `0.7.0` depends on).

[2017-11-14 16:04] danesfeder commented on #498
@palto-blubek Yeah, we weren't exposing this, but it was just added in https://github.com/mapbox/mapbox-java/commit/a4ef7b2. Once the new `SPANSHOT` builds you should refresh the dependency and see this.

[2017-11-14 16:06] cammace opened #499 "Setup CircleCI to run our instrument test"
Right now, our script only runs robo test, the instrument test are being ignored.

cc: @Guardiola31337

[2017-11-14 18:33] josephquzhou commented on #488
navigation:0.7.0 depends on com.mapbox.mapboxsdk:mapbox-java-services-directions:3.0.0-SNAPSHOT.
Is it normal?

[2017-11-14 19:28] ericrwolfe commented on #460
This shipped in 0.7.0.

[2017-11-14 19:28] #460 closed

[2017-11-14 22:48] 1ec5 commented on #266
Agreed. This is what we’re tracking on iOS in mapbox/mapbox-navigation-ios#589, and it would be good to have parity on Android with that feature.

[2017-11-15 13:25] chean5143 opened #503 "Navigation Launcher Issues"
When I try to call **NavigationLauncher.startNavigation(this, route, null, true)**
it show the error below:

11-15 21:18:38.295 1764-1764/com.example.chean.atsc E/AndroidRuntime: FATAL EXCEPTION: main
                                                                      Process: com.example.chean.atsc, PID: 1764
                                                                      java.lang.Runtim

[2017-11-16 01:12] dotPilot opened #508 "Custom InfoWindow appears only on 2nd launch on Android 6,7,8"
I customized InfoWindow and set it in onMapReady()
`mMapboxMap.setInfoWindowAdapter(new PoiInfoWindowAdapter());`
Adapter:
`public class PoiInfoWindowAdapter implements MapboxMap.InfoWindowAdapter {

    @Nullable
    @Override
    public View getInfoWindow(@NonNull Marker marker) {
        View infoWindow = LayoutInflater.from(mContext).inflate(R.layout.info_window, null);
        ....
        re

[2017-11-16 08:25] rheng001 opened #509 "Release 0.7.0 Gradle Compile issues"
Hi' I'm trying to update my project to the recent 0.7.0 release and I'm getting gradle build errors. Here is the gradle I'm building with.

`compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.2.0-beta.3@aar') {
        transitive=true
    }`
`compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0'`
`compile ('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.7.0') {
        transitive = t

[2017-11-16 17:39] wedi commented on #509
It took a while to figure out. You need add
`maven { url "http://oss.sonatype.org/content/repositories/snapshots/" }`
to your repositories as the failing artifacts are only available there...

[2017-11-16 18:38] csjames opened #510 "NavigationLauncher not working, no instructions or zoom to location"
I have added NavigationActivity to my manifest to solve crash due to not being able to find class
     <activity android:name="com.mapbox.services.android.navigation.ui.v5.NavigationActivity"/>

but when I launch the NavigationActivity using the NavigationLauncher with the following example code

` Point origin = Point.fromLngLat(-77.03613, 38.90992);
									Point destination = Point.fromLngLat(

[2017-11-16 18:50] rheng001 commented on #509
@wedi

Thanks! That solved the problem. Makes sense now. :)

[2017-11-16 18:50] #509 closed

[2017-11-16 19:06] danesfeder commented on #509
@wedi @rheng001 Sorry about this - you shouldn't have to compile our snapshot repo.  Working on fixing this and doing a `0.7.1` release

[2017-11-16 19:08] danesfeder commented on #510
@csjames looking into this - which dependency for the `navigation-ui` are you compiling?

[2017-11-17 08:32] trinhvanminh2009 opened #512 "Can't start activity with mapbox"
How to resolve this problem?
 java.lang.NoClassDefFoundError: Failed resolution of: Lcom/mapzen/android/lost/api/LostApiClient$ConnectionCallbacks;

  Caused by: java.lang.ClassNotFoundException: Didn't find class "com.mapzen.android.lost.api.LostApiClient$ConnectionCallbacks" on path:

[2017-11-17 09:16] csjames commented on #510
It was some sort of compiler/gradle issue. I am working on quite an old application which had some legacy gradle/manifest entries. Once I migrated the code to a fresh application it worked fine. Thanks for your time!

[2017-11-17 09:16] #510 closed

[2017-11-17 10:11] trinhvanminh2009 commented on #512
Error in this line :`  Mapbox.getInstance(DirectionShipper.this,getString(R.string.mapbox_token));`

[2017-11-17 15:06] palto-blubek commented on #489
Any update on this?

[2017-11-17 15:08] danesfeder commented on #489
@palto-blubek Unfortunately, ran into some delays on the deploy for this.  Will keep you updated - looking like early next week at this point.

[2017-11-17 21:04] danesfeder opened #516 "Expose NavigationTelemetry VendorId method"
Expose `NavigationTelemetry` `vendorId` for developers looking to display this information elsewhere (i.e. - Settings page).

cc @ericrwolfe

[2017-11-20 15:43] palto-blubek commented on #485
Hi!  I'm sorry to nag, but has anyone seen this issue?

As this crash happens consistently, I think it should have a high priority (also, it is easy to reproduce and the cause is clear).

Thanks a lot.

[2017-11-20 15:53] danesfeder commented on #485
Hey @palto-blubek, you are getting this crash with the notification disabled?

[2017-11-20 15:57] palto-blubek commented on #485
That's correct @danesfeder .  This happens because when calling `startForegroundService` you *must* show a notification.

[2017-11-20 16:56] josephquzhou opened #518 "InstructionView.show() method doesn't work in 0.7.0"
@danesfeder Hi can you help me with this. After upgraded to 0.7.0 my InstructionView's show() method does't work any more. Thanks!

[2017-11-20 17:24] danesfeder commented on #518
Hey @josephquzhou yeah I'm sorry we actually removed the `show()` method and animation in `0.7.0`.  You would be able to recreate it pretty easily though.  Just like hiding / showing any view - just bind the view and load / start the animation.  https://stackoverflow.com/questions/19765938/show-and-hide-a-view-with-a-slide-up-down-animation

[2017-11-20 18:04] danesfeder commented on #508
Thanks for the feedback @dotPilot.  @tobrun I believe this is a Maps SDK issue, should I move it to the gl-native repo?

[2017-11-20 18:08] danesfeder commented on #512
Per our release notes, you will need to compile a `3.X.X` version of the lost location library to resolve this https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v5.2.0

[2017-11-20 18:09] tobrun commented on #508
Yes, follow issue created in https://github.com/mapbox/mapbox-gl-native/issues/10510

[2017-11-20 18:09] #508 closed

[2017-11-20 18:11] danesfeder commented on #485
@palto-blubek So are you trying to implement the SDK without a notification at all?  It is my understanding that if you implemented your own notification (to replace ours), this crash would be fixed.

[2017-11-20 18:34] Guardiola31337 commented on #512
Hey @trinhvanminh2009 👋
Are you using Lost? As @danesfeder mentioned per https://github.com/mapbox/mapbox-gl-native/pull/9488 the location provider is optional (we're not including Lost within the SDK anymore) and in https://github.com/mapbox/mapbox-gl-native/pull/10355 we bumped the Lost version to `3.0.4` https://github.com/mapbox/mapbox-gl-native/blob/ffea8e145f5b67bbeb7aec46c77d73b95ef6ea31/pl

[2017-11-20 20:28] josephquzhou opened #519 "NullPointException with MockLocationEngine in 0.7.0"
@danesfeder Could you help me with this? Thanks!

java.lang.NullPointerException: Attempt to invoke virtual method 'double android.location.Location.getLatitude()' on a null object reference
                                                                           at com.mapbox.services.android.navigation.v5.navigation.NavigationMetricsWrapper.rerouteEvent(NavigationMetricsWrapper.java:118)

[2017-11-20 20:28] palto-blubek commented on #485
We currently wish not to use the SDK's notification (which is the reason we call `.enableNotification(false)` on `MapboxNavigationOptions`.

We actually show our own notification currently, but this is not enough to avoid this crash.  Even if a notification is shown, the rule is that if `startForegroundService` is called to start a Service, then `startForeground` must be called on this same servic

[2017-11-20 21:01] danesfeder commented on #485
@palto-blubek Yeah you are correct on all points here.  We would technically be able to provide a way to customize the API to allow anyone to pass a custom notification, but this is not available at this time.

You see this crash with devices < Android O + notification disabled?  For APIs less than O, we start the service without calling `startForegroundService`:
https://github.com/mapbox/mapbox-n

[2017-11-20 21:26] palto-blubek commented on #485
No, sorry I wasn't clear.  We only see the crash on Android O devices.   What I meant is that our app targets api level 25.  Sometimes new Android behaviors are only enabled for apps that target the level in which the changes have been introduced - which is why I wanted to mentioned this.

[2017-11-20 22:03] danesfeder commented on #485
Oh okay no problem, I see now.  I will work with the rest of the team to prioritize this.  Our notification in general has some bugs that need to be addressed (including this).  I will update this ticket with prioritization once we determine where it lands in our queue of work.

I appreciate the clarification and you pointing this issue out.

[2017-11-20 22:45] josephquzhou commented on #519
@danesfeder This sounds like a bug to me. No matter I do it keeps occurring.

[2017-11-21 00:34] danpat commented on #489
We've rolled out the server-side fix for this.  The request above is now returning the exepcted `0` value for `distanceAlongGeometry`.

[code]

[2017-11-21 00:34] #489 closed

[2017-11-21 00:42] danpat commented on #498
Translations for `language=fr` have been updated, this request now contains:

[code]

[code]

also note that when the `voice_units=metric` parameter is available in the SDK, you should be able to see the following:

[code]

(I simply added `&voice_units=metric` to the example URL above)

@danesfeder I'm not sure whether to close this now, or wait until the `voice_units` parameter is properly expos

[2017-11-21 01:28] ericrwolfe opened #520 "Add NavigationMapRoute above road layers"
The Android Maps SDK didn't used to expose the [`sourceLayerIdentifier`](https://github.com/mapbox/mapbox-gl-native/issues/8663), which meant that layer IDs were hardcoded in [the traffic plugin (fixed)](https://github.com/mapbox/mapbox-plugins-android/issues/14) and [for the route line](https://github.com/mapbox/mapbox-navigation-android/blob/3a8be52a98032743b5b9672f56c1026386ce3ece/libandroid-na

[2017-11-21 09:23] palto-blubek commented on #498
Thank you, confirming it looks good on our side.

[2017-11-21 10:40] konskons5 commented on #438
Made it work by:

    compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.4@aar') { transitive=true }
    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.3'
    compile ('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.1') {
        exclude group: 'android.arch.core'
        transitive = true
    }

[2017-11-21 11:03] deleonAndroid3 opened #521 "Crash when launching Navigation UI"
I get this error whenever I try to launch navigation

                                                                                    at com.mapbox.services.android.navigation.ui.v5.NavigationActivity.onCreate(NavigationActivity.java:21)
                                                                                    at android.app.Activity.performCreate(Activity.java:6001)

[2017-11-21 11:34] #403 closed

[2017-11-21 11:35] Danny-James commented on #403
This has now been released in `0.7.0`

[2017-11-21 11:48] Danny-James opened #522 "Android: LostLocation DeadObjectException"
I'm Now Using The Following Gradle Setup
[code]

I'm recieving the below error.

**Error**
[code]

[2017-11-21 11:52] Danny-James commented on #522
I Also Keep Getting The Following Error.

[code]

[2017-11-21 12:59] tobrun commented on #521
Thank you for the report, could you list your `build.gradle` dependency section?
This looks like a dependency mismatch issue.

[2017-11-21 13:14] deleonAndroid3 commented on #521
[code]

[2017-11-21 13:45] tobrun commented on #521
could you try updating `mapbox-android-sdk` to use 5.2.0 stable?

[2017-11-21 20:11] danesfeder commented on #520
@tobrun is there a reliable way to do this?

I'm looking at https://github.com/mapbox/mapbox-plugins-android/blob/master/plugin-traffic/src/main/java/com/mapbox/mapboxsdk/plugins/traffic/TrafficPlugin.java#L198 wondering if that's a viable solution (you mention it might not always be accurate).

[2017-11-21 20:18] Victorgf87 commented on #438
Thank you, @konskons5 it worked for me!

[2017-11-21 22:11] josephquzhou commented on #519
@danesfeder @tobrun
This is what I found in MockLocationEngine.java.

  private class LocationUpdateRunnable implements Runnable {
    @Override
    public void run() {
      // Calculate the next steps points if the list becomes empty
      // so that the mock location continues along the route
      if (points.isEmpty()) {
        calculateStepPoints();
      }

      if (!points.isEmpty()) {

[2017-11-21 22:33] danesfeder commented on #519
@josephquzhou Yeah you're right - queue'd up a PR to fix this:  https://github.com/mapbox/mapbox-navigation-android/pull/523 Thanks for debugging this!

[2017-11-21 22:56] #519 closed

[2017-11-21 23:36] trinhvanminh2009 commented on #512
@Guardiola31337 Thanks for the support, I'm using 0.7.0.
`    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0'
    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.1-SNAPSHOT'`

[2017-11-22 00:10] danesfeder commented on #522
@Danny-James Yeah sorry about this, `5.2.0` of the Maps SDK made the location code we provide completely optional.  This should now be fixed in the `0.7.1-SNAPSHOT`.  If you are using the navigation UI, you would only need the following to include everything you have listed above:
[code]

We are working hard to release `0.7.1` stable ASAP.  Thanks for working with us on figuring this out!

[2017-11-22 00:14] danesfeder commented on #521
Thanks @tobrun!

@deleonAndroid3 For the navigation UI, you should _only_ need:
[code]
This will include the location layer plugin, the map SDK, and the core navigation logic and will prevent any dependencies from getting tangled causing these kinds of errors.  We are working hard to release `0.7.1` ASAP - stay tuned!

[2017-11-22 00:39] danesfeder opened #525 "Allow passing of only destination in NavigationViewOptions"
If a `Point` destination is the only coordinate passed into `NavigationViewOptions`, we should wait for the device current location and use that as the origin.

[2017-11-22 00:44] danesfeder opened #526 "Use device Locale to infer NavigationUnitType"
If a `NavigationUnitType` isn't passed into the drop-in UI, we should look at the device locale settings to infer the type that should be used.

[2017-11-22 00:44] deleonAndroid3 commented on #521
I still get the same issue when I change to `0.7.0` and when I use `5.2.0` I get this error
[code]

Pointing to this line

[2017-11-22 03:50] AnvayMTL commented on #503
Any update ?

[2017-11-22 03:59] danesfeder commented on #503
This NPE was in the Maps SDK and was fixed in the latest `5.2.0` update.  This is now available in the latest navigation UI `0.7.1-SNAPSHOT` and we are working hard to release a stable `0.7.1` ASAP.  Stay tuned for this update

[2017-11-22 10:26] tobrun commented on #520
Afaik this is the only way for now, I would be nice if we could add this kind of functionality to core instead of writing it on the binding side.

[2017-11-22 11:53] Danny-James commented on #522
@danesfeder Just to confirm i will only require the following gradle

[code]

[2017-11-22 12:00] Danny-James opened #527 "Android: Choice of Navigation UI Buttons"
What i'm looking for is an option to specifiy which buttons are visible when the NavigationUI is shown, the reason for this is in the application I have developed we have an internal routing department where the user is able to submit feedback to, they can then amend the route the user is using.

However, the new Navigation UI shows a feedback button, this may get confusing, could you please provi

[2017-11-22 12:10] Danny-James opened #528 "Request: Vehicle Weight Limits"
Would it be possible to pass through an optional vehicle weight limit which would then impact on the DirectionsRoute returned, this would help with Trucks and Large Vehicles where the Navigation is trying to take me down very small side streets.

This could then possibly prevent the vehicle from going down streets where their are weak bridges/low tunnels if the height is also passed through?

Rega

[2017-11-22 12:33] Danny-James opened #529 "Request: Display Speed Limits"
Would it be possible to display the max speed limit of the road the user is currently navigating on?

See Example Below;
![screenshot_211](https://user-images.githubusercontent.com/32104383/33127663-51206da0-cf81-11e7-8f24-2d6e70bd8fad.jpg)

[2017-11-22 15:10] Danny-James commented on #329
After Much Investigate This Seems To Be Correct, As I'm Actually In The Building, Once I Move Closer To The Road It Does Snap.

[2017-11-22 15:10] #329 closed

[2017-11-22 15:17] Danny-James commented on #452
@danesfeder - Any News On Investigating This?

This issue is still present with the below gradle config

[code]

See Latest Error Below

[code]

[2017-11-22 15:21] Danny-James commented on #381
I'm Going To Monitor This Since Updating To `MAP SDK - 5.2.0` and `NAV SDK 0.7.1-SNAPSHOT`

[2017-11-22 15:47] Danny-James commented on #522
@danesfeder i'm now using the above Gradle, Android O 8.0.1 is now working Fine, I'm still getting the below error on Android 4.1.2 Motorol TC55.

[code]

[2017-11-22 16:30] danesfeder commented on #522
@Danny-James Can you try again with this gradle setup?
[code]

[2017-11-22 17:01] Danny-James commented on #522
@danesfeder, I require the MapBox SDK, for one of my activities which shows a MapView and an overview of the Route.

Are you saying i don't need to include the dependency below?

[code]

[2017-11-22 17:36] Danny-James commented on #521
@deleonAndroid3, I believe @danesfeder is saying to remove the following from your gradle configuration

[code]

Your gradle will only contain the following

[code]

The LostLocationEngine I believe has been removed from the Map SDK but has been included in the `0.7.1-SNAPSHOT`

[2017-11-22 17:43] danesfeder commented on #522
@Danny-James yeah we include the Maps SDK `5.2.0` in the `navigation-ui` dependency: https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/build.gradle#L37

So your code should still compile fine and you'll still be able to use `MapView` throughout your project

[2017-11-22 17:44] Danny-James commented on #380
@danesfender this looks like it has now been included in the `0.7.1-SNAPSHOT` release however, is their going to be away to allow us to set the options shown below;

setMinimumHighAlertDistance
setMaximumDistanceOffRoute
setMaxTurnCompletionOffset

etc..

[2017-11-22 17:47] Danny-James commented on #522
@danesfeder Do i need to exclude the following:

[code]

[2017-11-22 17:48] danesfeder commented on #522
@Danny-James we do this in the `build.gradle` for `navigation-ui` to ensure there aren't other dependency conflicts and everything is properly setup.  You won't need to do that in your gradle file.

[2017-11-22 17:51] Danny-James commented on #522
@danesfeder Cheers, will give this a try tomorrow and report back.

[2017-11-22 22:27] rheng001 opened #531 "removed"
-removed

[2017-11-23 11:22] Danny-James opened #532 "Android: java.lang.ClassNotFoundException"
I seem to be getting the below in my Logcat, could anyone provide some information on this? - Android O 8.1.0 - Google Pixel

**Logcat Error**
[code]

**Gradle Config**
[code]

**(ActivityNavigationMap.java:120)**
[code]

[2017-11-23 11:27] palto-blubek commented on #485
Just a followup.  To avoid the crash we're going to enable the notification.  But the texts are in english only and the units are imperial only.

[2017-11-23 11:30] deleonAndroid3 commented on #521
After removing
[code]
I still get the same error
[code]
and another one
[code]

[2017-11-23 11:44] Danny-James opened #533 "Android 4.1.2: can't find source for layer 'mapbox-location-bearing-layer'"
This only seems to be happening on Android 4.1.2 Device see Logcat Below

**Logcat**
[code]
This is just constantly filling up the logcat.

**Gradle Config**
[code]

[2017-11-23 11:46] Danny-James commented on #522
@danesfeder Still getting the error mate.

[2017-11-23 12:29] nileshinfograins commented on #458
yes my issue is same as above.
i'm using

dependencies {
    implementation fileTree(include: ['*.jar'], dir: 'libs')
    implementation 'com.android.support:appcompat-v7:26.1.0'
    implementation('com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.4@aar') {
        transitive = true
    }
    implementation 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.3'
    implementation('com.mapbox.mapboxsdk:

[2017-11-23 12:43] Danny-James opened #534 "Android 4.1.2: NavigationUI Not Opening"
When trying to Launch the Navigation UI on Android 4.1.2 Device It's crashing my activity.

**Gradle Config**
[code]

**Code to Launch Navigation UI**
[code]

**Logcat**
[code]

See GIF's Below;

Android 4.1.2 (Not Working)
![navigationui_crash_4 1 2](https://user-images.githubusercontent.com/32104383/33173328-a3901d90-d04b-11e7-8995-fa74a0c1dafe.gif)

Android 8.1.0 (Working)
![navigationui_nocras

[2017-11-23 12:48] Danny-James commented on #458
@nileshinfograins Take out the following in your gradle

[code]

Replace with only

[code]

[2017-11-23 12:51] Danny-James commented on #439
@cammace could you take a look at the above [comment](https://github.com/mapbox/mapbox-navigation-android/issues/439#issuecomment-340909797) please.

[2017-11-24 23:00] josephquzhou opened #535 "null sessionState.eventLocation() passed to NavigationMetricsWrapper.rerouteEvent"
@danesfeder I noticed that you have done some changes to MockLocationEngine. However I still get the following error.

 java.lang.NullPointerException: Attempt to invoke virtual method 'double android.location.Location.getLatitude()' on a null object reference
                                                                           at com.mapbox.services.android.navigation.v5.navigation.Navigati

[2017-11-25 17:29] MehdiFal commented on #509
@danesfeder is it a viable option when going to prod? if it's not, what would be the alternative?
Thanks.

[2017-11-25 20:14] guraymumun94 commented on #486
OK, Problem is solved with new NavigationRouteBuilder object in the userOffRoute method, but now it's not working again. Why?

implementation 'com.mapbox.mapboxsdk:mapbox-android-services:2.3.0-SNAPSHOT'
    implementation('com.mapbox.mapboxsdk:mapbox-android-sdk:5.2.0-SNAPSHOT@aar') {
        transitive = true
    }
    implementation 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.1-SNAPSHOT

[2017-11-25 20:31] guraymumun94 commented on #486
Problem is solved with using 0.7.0 instead of 0.7.1

[2017-11-27 11:38] lim996 commented on #503
I included the 0.7.1-SNAPSHOT but I still get the same error.. any update?

[2017-11-27 14:52] Danny-James commented on #396
@cammace this still seems to be an issue, in the UK we drive on the left side of the road, the images are showing as if we drive on the right hand side of the road see the image below this is showing for take the third exit.

The image actually looks like take the first exit if driving on the right side of the road.

See 2nd Instuction in Screenshot Below.

![screenshot_20171122-135352](https://us

[2017-11-27 15:05] cammace commented on #396
OSRM supports different side of the road driving with the `left_hand_driving` boolean (set to true if driving on the lefthand side). This isn't yet supported by the directions API though which means we can't fix this issue yet. Since this is something that needs to be worked out in the directions API before resolving here, we will keep tracking progress there.

[2017-11-27 15:14] cammace commented on #486
NavigationRoute is just a wrapper class around `MapboxDirections`, when building an instance, everytime you set a new origin or destination,[it overrides](https://github.com/mapbox/mapbox-java/blob/master/services-directions/src/main/java/com/mapbox/directions/v5/MapboxDirections.java#L402) its previous value. We do add a bearing value to the list which might be causing issues ( https://github.com

[2017-11-27 15:18] cammace commented on #439
https://github.com/mapbox/mapbox-navigation-android/pull/515 should allow for setting `reroute` to false.

[2017-11-27 15:19] cammace commented on #380
https://github.com/mapbox/mapbox-navigation-android/pull/515 hasn't been merged yet https://github.com/mapbox/mapbox-navigation-android/pull/515 thus, it isn't avaliable yet

[2017-11-27 15:20] danesfeder commented on #534
@Danny-James it looks like this is a crash in our Maps SDK `11-23 12:42:11.925 22994-26195/uk.co.ainscough.routeinfo A/libc: Fatal signal 11 (SIGSEGV) at 0x00000230 (code=1), thread 26195 (Thread-4739)` -- can you reproduce and set logcat to `No Filter` and see if you can get some more information for us to work with?  Thanks!

[2017-11-27 16:00] konskons5 commented on #438
I'd like to use 0.7.0 though. Any solution how to make it work?

[2017-11-27 16:06] tobrun commented on #438
using `com.mapbox.mapboxsdk:mapbox-android-sdk:5.2.0@aar` should work with `0.7.0`

[2017-11-27 16:09] konskons5 commented on #438
I get following errors:

Error:Failed to resolve: com.mapbox.mapboxsdk:mapbox-java-services-directions:3.0.0-SNAPSHOT

Error:Failed to resolve: com.mapbox.mapboxsdk:mapbox-java-services-turf:3.0.0-SNAPSHOT

:/

[2017-11-27 16:14] tobrun commented on #438
Have you added this [line](https://github.com/mapbox/mapbox-gl-native/blob/master/platform/android/build.gradle#L14) to resolve SNAPSHOT dependencies?

[2017-11-27 16:17] konskons5 commented on #438
I forgot! Thank you so much!!

[2017-11-27 16:18] Danny-James commented on #396
@cammace no problem thanks for looking at this issue 👍

[2017-11-27 16:19] Danny-James commented on #534
Yes, I Can Reproduce This In My App Everytime I Try to Launch Navigation UI on Android 4.1.2 - I Will Put The Logcat Into A File And Upload Here, Cheers @danesfeder

[2017-11-27 16:20] Danny-James commented on #380
@cammace No Problem 👍

[2017-11-27 16:31] Danny-James commented on #534
@danesfeder  See Attached - [GitHub_Logcat_534.log](https://github.com/mapbox/mapbox-navigation-android/files/1506687/GitHub_Logcat_534.log)

[2017-11-27 19:13] josephquzhou commented on #535
@danesfeder Even with both navigation:0.7.1-SNAPSHOT and navigation-ui:0.7.1-SNAPSHOT I still get the same crash.

[2017-11-27 19:35] josephquzhou commented on #535
@danesfeder after some code changes, with both 0.7.1-SNAPSHOT, I get a different error (see below)

com.mapbox.mapboxsdk.style.layers.CannotAddLayerException: Layer mapbox-navigation-route-shield-layer-1 already exists
                                                                           at com.mapbox.mapboxsdk.maps.NativeMapView.nativeAddLayer(Native Method)

[2017-11-27 22:45] sstolz commented on #521
Hi guyz,

Same problem for me when calling a NavigationLauncher object with startNavigation method (in Kotlin) :

[code]

The NavigationActivity is launched with a "click me" button in a MainActivity and then the route come from a NavigationRoute.builder() call (that is good because I displayed the route on the map).

Got only the navigation-ui in 0.7.1-SNAPSHOT as U recommend :

[code]

[2017-11-28 09:34] trinhvanminh2009 opened #541 "How I can set navigation follow by GPS tracking."
I have the problem. The icon inside map Navigation Mapbox autoruns, not follow my GPS. I want my phone tracking by GPS and the icon navigation follow my location.

[2017-11-28 12:45] Danny-James commented on #541
@trinhvanminh2009  Set `shouldSimulateRoute = false`, this can be done in the following way:

[code]

[2017-11-28 14:22] danesfeder commented on #541
@trinhvanminh2009 Yep thanks @Danny-James!  That's your solution above ^ you just need to set that boolean to false (which is the default in the `builder()` as well).

[2017-11-28 14:24] MehdiFal commented on #503
Using `0.7.1-SNAPSHOT` and I still get this exception as well. Any workaround?

[2017-11-28 14:24] danesfeder commented on #527
Thanks @Danny-James, we can look into adding this as options in `NavigationViewOptions` @ericrwolfe Does iOS have an equivalent of this?

[2017-11-28 14:26] danesfeder commented on #535
@cammace not related to the original issue, but this looks like an issue with the `NavigationMapRoute` - I haven't run into this myself.  Any idea what could be causing an attempt to add the route shield layer twice?

[2017-11-28 14:28] Grsmto commented on #535
Hey, just to confirm that the issue of this thread is gone using 0.7.1-SNAPSHOT. 👍

[2017-11-28 14:28] trinhvanminh2009 commented on #541
Thank you guys so much!

[2017-11-28 14:35] danesfeder commented on #503
@tobrun It looks like in certain initialization scenarios, https://github.com/mapbox/mapbox-gl-native/blob/master/platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java#L419 --> `nativeMapView` is null.  I think this may be when we start up the UI and immediately re-create it to go into "dark mode"

[2017-11-28 14:57] MehdiFal opened #542 "Caused by: java.lang.ClassCastException: Please ensure that the provided Context is a valid LifecycleOwner"
I'm facing something pretty odd. I've included the Libraries successfully etc...

However, when launching a navigation Event, I experience a ~10 seconds delay then a crash with following stacktrace.

[code]

Any idea? (I have included the Mapbox Navigatui / ui as project dependencies so I can tweek the code if needed)

[2017-11-28 14:59] lim996 commented on #503
Is dark mode the style of the map after the sunset? Because I used navigation yesterday evening and it crashed, but now (in the morning) it’s working... how can I fix it?

[2017-11-28 15:29] Danny-James commented on #527
Cheers @danesfeder 👍

[2017-11-28 16:49] MehdiFal commented on #542
My bad. It was a mistake from my side.

[2017-11-28 17:00] josephquzhou commented on #535
@cammace I agreed with Dan that the problem is a new problem which is related to NavigationMapRoute. It happens right after the second time I call NavigationRoute.getRoute() and successfully get a response. Please have a look at it. Basically I got stuck because of this. Thanks!

[2017-11-28 17:07] josephquzhou commented on #535
@cammace Also this problem only happens when navigation is running.

[2017-11-28 17:14] danesfeder opened #543 "NavigationMapRoute CannotAddLayerException"
Capturing from https://github.com/mapbox/mapbox-navigation-android/issues/535#issuecomment-347300581

With `0.7.1-SNAPSHOT`, I get a different error (see below)
[code]

[2017-11-28 17:14] danesfeder commented on #535
Closing in favor of https://github.com/mapbox/mapbox-navigation-android/issues/543

[2017-11-28 17:14] #535 closed

[2017-11-28 17:16] danesfeder commented on #541
@trinhvanminh2009 let me know if you still have trouble with this, thanks - closing for now

[2017-11-28 17:16] #541 closed

[2017-11-28 17:18] danesfeder commented on #522
@Guardiola31337 With the update to LOST `3.0.4` this exception occurs after a different exception from something else and isn't actually fatal correct?

[2017-11-28 20:43] ericrwolfe opened #545 "Pass requestIdentifier to metrics"
Now that MAS exposes the directions request identifier (uuid), we need to pass this off to our metrics events as `requestIdentifier` and `originalRequestIdentifier`.

cc @cammace @danesfeder @drboyer

[2017-11-28 21:50] Halpph commented on #503
Same probem here, it crashes in the night navigation

[2017-11-29 00:28] trinhvanminh2009 commented on #541
@danesfeder I have the problem when I tried it.
1. I compiled `  compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.1-SNAPSHOT'
  compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0'`
2. NavigationViewOptions not found.
3. Where to put these code (Example: onRunning, onProgressChange,.. etc )
Sorry I'm beginner using Mapbox

[2017-11-29 03:49] MehdiFal commented on #542
Reopening it as it's still occurring, with the same exact code of the demo project.
Any thoughts?
Thanks.

[2017-11-29 04:07] MehdiFal commented on #542
Hi everyone,

The trick was to implement the new Arch component `LifecycleOwner` on the activity.

So my activity's code becomes:

[code]

[2017-11-29 06:45] tobrun commented on #503
Thank you for looking into this @danesfeder, you use-case seems to be valid. One question though, is your day/night theming setup with the appcompat theming?

[2017-11-29 08:35] ritup22 opened #546 "Navigation Multiple Routes"
I want to have multiple routes on map of navigation view also, is this possible in Mapbix currently like google map shows?

[2017-11-29 14:54] danesfeder commented on #546
@ritup22 Unfortunately, we currently don't offer this capability for the turn-by-turn navigation UI.  The `NavigationMapRoute` now does support multiple routes, so you'd be able to build something with our core SDK and custom views.

[2017-11-29 17:22] josephquzhou commented on #543
@cammace Have you got time to have a look at this problem? Thanks！

[2017-11-29 17:56] danesfeder commented on #542
@MehdiFal Yeah we require the `Activity` or `Fragment` you use to launch the turn-by-turn UI to be a `LifecycleOwner` - let us know if you run into any other issues and thanks for checking out the SDK!

[2017-11-29 17:56] #542 closed

[2017-11-29 18:15] cammace commented on #545
Note that this is currently blocked by https://github.com/mapbox/mapbox-java/issues/668

[2017-11-30 05:04] ritup22 commented on #546
Thanks for reply

I NavigationMapRoute provides but still with my custom views I am not able to select route runtime & also not all the functionality like re-routing re-calculating route is coming & working as per turn by turn navigation

[2017-11-30 07:30] #531 closed

[2017-11-30 07:31] rheng001 opened #549 "NavigationLauncher Walking Reroute Issue"
I have set my NavigationRoute.builder profile to "walking". I can launch the NavigationLauncher with walking directions just fine but whenever a reroute occurs the new route displayed automatically is for DRIVING. Is this a bug or as intended? I want the reroute to display a new walking route only since I've set the profile to only do walking directions and not driving. Can I get some help?

[2017-11-30 13:48] konskons5 commented on #467
facing the same Issue on 0.7.1-SNAPSHOT

[2017-11-30 13:50] Danny-James commented on #467
@konskons5 - my issue was due to having the Longitude and Latitude the wrong way around on one waypoint.

[2017-11-30 14:31] konskons5 commented on #467
Thats weird..
Im not getting any response from:

        NavigationRoute.builder()
                .accessToken(Mapbox.getAccessToken())
                .origin(Point.fromLngLat(10.2070987, 53.480987))
                .addWaypoint(Point.fromLngLat(10.257714, 53.511522))
                .addWaypoint(Point.fromLngLat(10.28692, 53.51617))
                .destination(Point.fromLngLat(10.3157625, 53.5

[2017-11-30 14:39] danesfeder commented on #467
@konskons5 is the `onFailure()` retrofit callback firing?

[2017-11-30 14:48] konskons5 commented on #467
good call!

It says:
java.lang.Throwable: Too many coordinates; maximum number of coordinates is 3.

And the docs say: "Note that if you are using the DirectionsCriteria.PROFILE_DRIVING_TRAFFIC that the max number of waypoints allowed in the request is currently limited to 1."

Solved my Issue. Thanks for the support!

[2017-11-30 22:27] cammace commented on #549
This is happening because when a reroute occurs we are building a new navigation route entirely rather than just modifying the users current origin and bearing using the `toBuilder` method.

https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java#L118-L132

[2017-11-30 22:36] cammace commented on #545
mapbox/mapbox-java#668 has been fixed and this is now unblocked.

[2017-12-01 14:52] cammace commented on #545
https://github.com/mapbox/mapbox-navigation-android/pull/550/files#diff-733123be2c829f809339b109270cae0dR147 looks to include the UUID info in the metrics. Not sure if we want to pass in `""` when the value is null (which should never happen) or `null` as in a JsonObjectNull? If the former, this tickets safe to close.

[2017-12-01 18:01] josephquzhou opened #556 "Default milestone identifier is always one. Is it correct?"
According to documents there are several types of default milestones. Why their identifiers are always one?

[2017-12-01 20:10] Alamgir commented on #438
@tobrun I've also got this issue with the following gradle dependencies:

[code]

You should also know that I'm extending the MapView class but am calling all appropriate lifecycle methods on it already. The map appears to render it's beige FrameLayout but then crashes

[2017-12-01 22:59] ericrwolfe commented on #529
@Danny-James Thanks for the feedback. Our Directions API doesn't currently support this. We'll update this ticket if this changes in the future.

[2017-12-01 22:59] #529 closed

[2017-12-01 23:04] ericrwolfe commented on #528
Thanks for the feature request @Danny-James! This is helpful context and this is a problem our directions team is thinking about, but we don't have a concrete timeline for this specific type of routing support. We'll update this ticket if this changes in the future.

[2017-12-01 23:04] #528 closed

[2017-12-01 23:20] danesfeder opened #559 "Release 0.7.1-beta.1"
- [x] Change version name to `0.7.1-beta.1` in `gradle.properties`
- [x] Publish `0.7.1-beta.1` artifact to Maven Central
- [x] Change version name back to `0.7.1-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `0.7.1-beta.1` in GitHub

/cc: @mapbox/navigation

[2017-12-01 23:21] ericrwolfe commented on #559
Lol not an `rc.1`? 😝

[2017-12-02 02:56] rheng001 commented on #549
@cammace

Oh that's what was happening. Thank you for clarifying that. I'll just wait until this get resolved.

Thanks again.

[2017-12-02 14:51] chean5143 opened #561 "DirectionRoute could not resolved"
I had included below compile into dependency.

    compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.1-SNAPSHOT'
    compile ('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.7.1-SNAPSHOT') {
        transitive = true
    }

Just morning my code is still working, now suddenly it said DirectionRoute could not resolved when I import

[2017-12-02 15:37] chean5143 commented on #561
I have solved the problem by changing the import
`import com.mapbox.api.directions.v5.models.DirectionsRoute`

However, below 3 statements of code still in error due to
`import com.mapbox.directions.v5.models.DirectionsRoute` cannot be applied to `import com.mapbox.api.directions.v5.models.DirectionsRoute`

1.

`navigationMapRoute.addRoutes(response.body().routes())`

2.
[code]

3.
[code]

[2017-12-03 01:24] #561 closed

[2017-12-03 16:40] pjankowski90 opened #562 "NullPointerException: MapboxNavigationEvent buildRerouteEvent"
Hi,

Sometimes when I want to finish running navigation, NPE occur.

[code]

Used libraries:
[code]

[2017-12-04 07:31] deleonAndroid3 opened #563 "Navigation Activity from Navigation UI"
![capture](https://user-images.githubusercontent.com/20215889/33540876-dbf915a0-d907-11e7-9aa6-6667e056bc20.PNG)

[code]

[2017-12-04 11:00] mlorenz2 commented on #532
I've got similar warnings:
Phone: Pixel 2 XL - Android 8.0
**Logcat**
[code]

**Gradle Config:**
[code]

Any information about this?

[2017-12-04 14:39] danesfeder commented on #562
Hey @pjankowski90, thanks for bringing this to us - will look into it and then update this ticket.

[2017-12-04 14:40] #559 closed

[2017-12-04 14:40] danesfeder commented on #545
Landed in #550

[2017-12-04 14:41] danesfeder commented on #522
@Danny-James are you still getting this?  You may need to reset your gradle cache to make sure there is no longer a conflict here.

[2017-12-04 14:42] danesfeder commented on #512
This should be fixed in `0.7.1-SNAPSHOT`, please let us know otherwise.  Thanks!

[2017-12-04 14:42] #512 closed

[2017-12-04 14:43] zugaldia commented on #559
@ericrwolfe On the Navigation SDK we're following the same naming we've traditionally been following with the Maps SDK, where all pre-releases are [named `betas`](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.mapbox.mapboxsdk%22%20AND%20a%3A%22mapbox-android-sdk%22). This is something that we might reconsider in the future but, for now, we're signaling the stability of the pre-release in

[2017-12-04 14:45] danesfeder commented on #563
Hey @deleonAndroid3, which version of the SDK are you adding in your `build.gradle`?

This view ID should exist: https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/res/layout/activity_navigation.xml#L9

I would suggest a `Clean` --> `Build` to make sure your project is synced with the dependency files.  Thanks!

[2017-12-04 15:01] danesfeder commented on #258
This has been fixed for a while - was related to using custom attributes to color drawables

[2017-12-04 15:01] #258 closed

[2017-12-04 15:03] danesfeder commented on #266
Support for metric landed for both core navigation and the drop-in UI in #500 and #521

[2017-12-04 15:03] #266 closed

[2017-12-04 15:04] danesfeder commented on #160
Landed in #424

[2017-12-04 15:04] #160 closed

[2017-12-04 15:05] danesfeder commented on #220
Fixed in #502

[2017-12-04 15:05] #220 closed

[2017-12-04 15:09] danesfeder commented on #268
Fixed in #484

[2017-12-04 15:09] #268 closed

[2017-12-04 15:10] danesfeder commented on #498
Thanks for the update here @danpat and @palto-blubek for bringing this to us.

[2017-12-04 15:10] #498 closed

[2017-12-04 15:11] danesfeder commented on #518
Closing, as this method no longer exists for `InstructionView`

[2017-12-04 15:11] #518 closed

[2017-12-04 15:11] danesfeder commented on #436
Should be fixed with #511 - please let us know otherwise

[2017-12-04 15:11] #436 closed

[2017-12-04 15:14] danesfeder commented on #426
Added in #500, the `voiceUnit` param in the request should properly fix thishttps://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java#L368

[2017-12-04 15:14] #426 closed

[2017-12-04 15:16] danesfeder commented on #458
@Danny-James has the right suggestion here ^

Noting that the SNAPSHOT will include all the libraries need to create the drop-in navigation experience and will ensure there aren't any conflicts between these libraries.

[2017-12-04 15:16] #458 closed

[2017-12-04 15:18] danesfeder commented on #450
This looks to be an issue with the Maps SDK.  Can you please try to reproduce with `5.2.0` (non-beta) and if the issue persists, raise an issue in https://github.com/mapbox/mapbox-gl-native/issues?  Thanks!

cc @tobrun

[2017-12-04 15:18] #450 closed

[2017-12-04 15:21] danesfeder commented on #96
@cammace is this done now in the new `3.0.0` services?

[2017-12-04 15:22] danesfeder commented on #209
Added with MAS 3.0.0, also no longer a concern with voice instructions from the API

[2017-12-04 15:22] #209 closed

[2017-12-04 15:23] danesfeder commented on #327
@samvgorode please let us know if you run into this, but this should be updated in our latest code without conflict.  Thanks!

[2017-12-04 15:23] #327 closed

[2017-12-04 15:24] danesfeder commented on #463
Should be fixed with #445

[2017-12-04 15:24] #463 closed

[2017-12-04 15:26] danesfeder commented on #292
Landed in #180 - check out https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#custom-views to see how to do this in a `Fragment` implementation.  Thanks!

[2017-12-04 15:26] #292 closed

[2017-12-04 15:27] danesfeder commented on #299
@cammace this landed in #373 right?

[2017-12-04 15:41] danesfeder commented on #562
Can you update your dependencies to just:
[code]
Both `android-services` and the `locationlayer` are included when you do this and ensure you have the correct versions.  Please let me know if you can reproduce after do this.  Thanks!

[2017-12-04 16:25] deleonAndroid3 commented on #563
[code]

@danesfeder This is what I currently have in my `build.gradle`

[2017-12-04 16:33] danesfeder commented on #563
@deleonAndroid3 Sorry, in your project `build.gradle`, where you are adding the dependency for our SDK

[2017-12-04 16:36] #299 closed

[2017-12-04 16:38] #96 closed

[2017-12-04 16:39] deleonAndroid3 commented on #563
@danesfeder I'm using

[code]

[2017-12-04 19:59] #562 closed

[2017-12-05 09:59] Danny-James commented on #522
@danesfeder Will Check This Now.

[2017-12-05 10:13] konskons5 commented on #521
Launching the Navigation I get:

FATAL EXCEPTION: main
                                                                     Process: com.klab.klabclient, PID: 30113
                                                                     java.lang.NullPointerException: Attempt to invoke virtual method 'double android.location.Location.getLongitude()' on a null object reference

[2017-12-05 10:45] Danny-James commented on #522
@danesfeder I'm unable to check as I'm getting the unable to resolve errors on the following imports.

[code]

[code]

[2017-12-05 11:43] karim-ro commented on #380
Do you plan to add language to NavigationViewOptions in 0.7.1 ? When the phone is set to a non-english language it uses non-english TextToSpeech to speak english instructions.

[2017-12-05 14:07] trinhvanminh2009 commented on #512
@danesfeder Thanks. Here is everything.
https://github.com/trinhvanminh2009/FindTheShipper/blob/master/app/src/main/java/com/minh/findtheshipper/Shipper/DirectionShipper.java
I have to comment it, because I can't build it.

[2017-12-05 14:40] danesfeder commented on #512
@trinhvanminh2009 https://github.com/trinhvanminh2009/FindTheShipper/blob/master/app/build.gradle#L76-L77 you need to remove line 76, then set line 77 like so:
[code]

[2017-12-05 14:43] trinhvanminh2009 commented on #512
@danesfeder Thanks, I'll do that.

[2017-12-05 19:00] danesfeder commented on #556
Hey @josephquzhou, our docs will be be updated this week as those default milestones have been removed - we have one milestone https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java that fires for each voice instruction given along the route.

You can add your own `Milest

[2017-12-05 21:28] ericrwolfe opened #567 "Expose navigation listeners while using drop-in UI"
On iOS, developers can listen in on core navigation lifecycle events while using the drop-in UI (NavigationView), such as arrivals, reroutes, feedback events, etc:
* https://www.mapbox.com/mapbox-navigation-ios/navigation/0.11.0/Protocols/NavigationViewControllerDelegate.html
* https://www.mapbox.com/mapbox-navigation-ios/navigation/0.11.0/Protocols/RouteControllerDelegate.html

Currently, Android

[2017-12-05 23:55] EvangelosG commented on #532
I experience the same on my Pixel 2 XL using:
[code]

[2017-12-06 12:33] trinhvanminh2009 commented on #512
DirectionsResponse of (MapBox) It doesn't have any more! After I compile again. Do you have any Solution?

[2017-12-06 15:12] Danny-James commented on #534
@danesfeder any news on this?

[2017-12-06 15:15] Danny-James commented on #533
@danesfeder do you know who would investigate this?

[2017-12-06 15:16] Danny-James commented on #532
Is this a Google Pixel Only Issue?

[2017-12-06 15:20] danesfeder commented on #534
@Danny-James I tested out the UI with API 19 and it launched fine - I'm wondering if this is related to the device.  Can you provide the device info that you're able to produce this on?  Thanks!

[2017-12-06 15:22] #380 closed

[2017-12-06 15:31] danesfeder commented on #532
With the Maps SDK `5.2.0` update, we made the LOST library optional in case you wanted to use other location services as noted in our release docs https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v5.2.0

You should not be seeing this with the `0.7.1-SNAPSHOT` of the navigation-ui, and you may need to refresh your remote dependencies / clean your project if stale.

cc @Guardiola31337

[2017-12-06 15:32] Danny-James commented on #532
@danesfeder could you take a look at #522 - I'm unable to test this due to the issue [#comment](https://github.com/mapbox/mapbox-navigation-android/issues/522#issuecomment-349272380)

[2017-12-06 15:42] Danny-James commented on #534
@danesfeder I could send you a device via post? - But I'm currently using

**Model:** `Motorola/Symbol/Zebra TC55 (Android 4.12.2)`
**SE 13 Version:** `12 Jan 2015`
**QCN Version:** `00 15 02 05 00 00 00 00`
**HW Version:** `0x02`
**TP FW Version:** `02.00.000E`
**Baseband Version:** `Pl-20015326.31`
**Kernel Version:** `3.4.0-g6b0a9a5 gits@Fuji) ) #1 SMP PREEMPT Thu Mar 12 10:41:25 CST 2015`
**Bu

[2017-12-06 16:19] ericrwolfe opened #571 "Allow drop-in activity to be themable"
Right now if you use a NavigationView, you can add your own style.xml themes to change the colors in navigation.

We should extend that ability to the drop-in navigation activity/launcher so that developers can style the UI without needing to create a new activity with a NavigationView.

cc @danesfeder

[2017-12-06 16:23] danesfeder opened #572 "Release 0.7.1"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.7.1`

### Includes

* Expanded the width of route lines when zoomed out [#484](#484)
* Added support for displaying alternative routes on map [#484](#484)
* Adds exclude, voiceUnits, and banner instruction info to request/response [#500](https://github.com/mapbox/mapbox-navigation-android/pull/500)
* Add Imperial / Metric support

[2017-12-06 16:53] Danny-James commented on #522
@danesfeder I Deleted The Cache And Was Still Getting The Error Shown Above, I Added `changing = true` to my gradle and it has now pulled through the latest SNAPSHOT - Will see if i still get the issue.

[2017-12-06 17:10] Danny-James commented on #522
I'm Not Getting The Original Error Reported On Google Pixel Device,  However, I'm Unable To Test on Android 4.1.2 Device Due To Crash When Starting Navigation UI.

**See Full Logcat**
[LogCat_Export_GitHub_522.txt](https://github.com/mapbox/mapbox-navigation-android/files/1536158/LogCat_Export_GitHub_522.txt)

Crash Is Around: `Line 151 (12-06 16:58:28.199)`

[2017-12-06 18:41] #572 closed

[2017-12-06 20:35] danesfeder commented on #485
@palto-blubek Once https://github.com/mapbox/mapbox-navigation-android/pull/564 lands, you'll be unblocked here for Android O

[2017-12-06 21:04] danesfeder commented on #549
@rheng001 PR in progress https://github.com/mapbox/mapbox-navigation-android/pull/575

[2017-12-06 21:19] josephquzhou commented on #543
After using the stable release 0.7.1 I still got the exact same error. Please have a look at the issue. Thanks!

[2017-12-06 21:32] danesfeder commented on #543
@cammace is this issue just a matter of guarding against trying to add a layer twice with the same Id?

[2017-12-06 21:37] josephquzhou commented on #543
It seems that I only have this issue on the mock navigation mode.

[2017-12-06 21:41] danesfeder commented on #543
@josephquzhou you're using `NavigationLauncher`?

[2017-12-06 21:45] josephquzhou commented on #543
@danesfeder No, I don't use NavigationLauncher, because I have multiple way points. It seems that NavigationLauncher doesn't support way points.

I use MapboxNavigation.startNavigation with a MockLocationEngine.

[2017-12-06 21:48] danesfeder commented on #543
@josephquzhou Yeah not at the moment.  It seems like this could be related to multiple waypoints -  if the second leg is trying to be added to the same layer?

[2017-12-06 21:52] josephquzhou commented on #543
@danesfeder Thanks! I think I might have a clue. Let me try to figure it out.

[2017-12-06 22:34] josephquzhou commented on #543
@danesfeder No, it doesn't work. I think the problem is related to multiple routes support of NavigationMapRoute, which is added in 0.7.1.  For my app I need to generate new route during navigation automatically with additional way points.

It seems that I have to stay with 0.7.0

[2017-12-06 22:52] vladgheorghe opened #576 "Crash after reopening app after force power off or when battery dies out"
Greetings, I'd like to report a crash found in both 0.7.0 release and 0.7.1 release.

While in app if the device runs out of battery or is forcefully closed, upon reboot when entering the app it crashes with the below stacktrace. The crash reproduces everytime and the only way to make it dissapear is to forcefully close the process of the app. Any ideas as to why this is happening ?

[code]

[2017-12-06 23:05] danesfeder commented on #576
@tobrun Have you seen anything like this with the Maps SDK?

[2017-12-06 23:13] vladgheorghe commented on #576
@danesfeder after testing a little bit it seems to have something to do with this line of code

`map.setStyleUrl(MAPBOX_DAY_STYLE_URL);`

If needed I can provide the full implementation

[2017-12-07 00:18] ericrwolfe opened #577 "Add other_map_issue to feedback types"
We should add `other_map_issue` to the list of feedback types.

By default, feedback events without a specified category should use `general`. This includes the feedback event that gets sent after a reroute occurs, a user taps the "Report Problem" button but does not tap a specific feedback category.

The `other_map_issue` feedback type would only apply to the similarly named icon at the bottom ce

[2017-12-07 00:43] ericrwolfe commented on #361
Fixed with https://github.com/mapbox/mapbox-navigation-android/pull/540.

[2017-12-07 00:43] #361 closed

[2017-12-07 00:47] ericrwolfe opened #578 "Implement slight turn completion heuristic"
Android version of https://github.com/mapbox/mapbox-navigation-ios/pull/378, supersedes https://github.com/mapbox/mapbox-navigation-android/issues/35.

Maneuver completion is triggered prematurely along off ramps, continue steps, and other steps where the in and out bearing are approximately the same.

From the iOS implementation:

cc @cammace @danesfeder @bsudekum

[2017-12-07 00:48] ericrwolfe commented on #35
Closing in favor of https://github.com/mapbox/mapbox-navigation-android/issues/578.

[2017-12-07 00:48] #35 closed

[2017-12-08 08:59] konskons5 commented on #549
Similar issue occurs when rerouting a route that had waypoints in it. After the reroute event, the waypoint are ignored.

[2017-12-08 12:47] Niduank opened #580 "MockLocationEngine & onProgressChange"
I report a bug when using MockLocationEngine->setRoute to simulate a navigation.
Look at my log :

First navigation :
12-08 13:33:11.259 32363-32363/ E/MapboxActivity: onProgressChange
12-08 13:33:12.252 32363-32363/ E/MapboxActivity: onProgressChange
12-08 13:33:13.230 32363-32363/ E/MapboxActivity: onProgressChange
12-08 13:33:14.247 32363-32363/ E/MapboxActivity: onProgressChange
onProgressChan

[2017-12-09 06:53] #549 closed

[2017-12-10 21:52] vladgheorghe opened #581 "Bug LocationLayerPlugin in navigation"
Greetings, I have noticed a bug related to the location layer plugin while in navigation. For now at least we have determined that this bug is on all Vodafone Smart Prime 6 devices (over one thousand devices).

At all times: the location layer does not animate fluidly on the map.

While in navigation: the location layer sometimes dissapears (it's still there if you zoom in or out) or gets left beh

[2017-12-10 21:54] vladgheorghe commented on #576
It looks like the crash occurs in scenarios where you call` setStyleUrl` twice before the map finishes loading the first style. Hope this helps

[2017-12-11 12:55] #176 closed

[2017-12-11 14:49] danesfeder commented on #581
@vladgheorghe thanks for the feedback - I'm going to move this ticket over to https://github.com/mapbox/mapbox-plugins-android where the `LocationLayerPlugin` is worked:
https://github.com/mapbox/mapbox-plugins-android/issues/215

[2017-12-11 14:49] #581 closed

[2017-12-11 15:41] #485 closed

[2017-12-11 16:17] #416 closed

[2017-12-11 16:33] danesfeder commented on #461
Closed with #445

[2017-12-11 16:33] #461 closed

[2017-12-11 16:35] #556 closed

[2017-12-11 16:48] danesfeder commented on #454
Will be addressed in #584

[2017-12-11 16:48] #454 closed

[2017-12-11 16:59] danesfeder commented on #114
Closing - instructions are now provided by the directions API

[2017-12-11 16:59] #114 closed

[2017-12-12 13:36] palto-blubek commented on #417
It's hard to know if this issue is resolved, as it has a milestone of 0.7.1, which has been released.  Any idea?

[2017-12-12 15:30] cammace commented on #417
[This PR](https://github.com/mapbox/mapbox-navigation-android/pull/422) adds code that specifically checks for this issue. Looking to get this merged today which should resolve the issue.

[2017-12-12 17:47] cammace commented on #385
This happened awhile back, closing.

[2017-12-12 17:47] #385 closed

[2017-12-12 23:09] danesfeder commented on #520
@ericrwolfe

@cammace baked the same logic from the traffic plugin:
https://github.com/mapbox/mapbox-plugins-android/blob/master/plugin-traffic/src/main/java/com/mapbox/mapboxsdk/plugins/traffic/TrafficPlugin.java#L198

into the `NavigationMapRoute`:
https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/r

[2017-12-12 23:16] danesfeder commented on #567
@ericrwolfe do you mind creating a list of listeners you'd like to add for `0.8.0`?

We can always expand these in later releases as needed. Thanks!

[2017-12-12 23:20] danesfeder commented on #578
@ericrwolfe is this the roundabout / on ramp off-route issue or unrelated?

[2017-12-12 23:44] ericrwolfe commented on #567
@danesfeder @devotaaabel Here are the main events developers should be able to hook into while using the NavigationView.

General lifecycle:
- location/routeProgress did update
- did arrive at waypoint
- did cancel/exit navigation

Reroute lifecycle:
- should reroute
- will reroute
- did reroute
- did fail to reroute

Feedback:
- did open feedback UI
- did cancel feedback UI
- did send feedback

[2017-12-13 00:17] ericrwolfe commented on #578
This is unrelated to roundabouts and off-routes. Instead, this is related to voice announcements happening ~50m before where they should because we think the maneuver is complete, when in reality the user has only just entered the maneuver radius.

We currently mark the maneuver as complete at the red dot, and should instead consider the maneuver complete at the black dot:
![image](https://user-im

[2017-12-13 00:19] ericrwolfe commented on #520
Yeah, I think this might be due to the ROUTE_BELOW_LAYER code. We should remove that and instead make sure that the NaivgationMapRoute code is hit.

[2017-12-13 03:10] ericrwolfe commented on #545
Looks like `originalRequestIdentifier` is being set correctly, but `requestIdentifier` in the json payloads is still always set to `null`. @danesfeder Can we look back into this?

cc @srividyacb

[2017-12-13 16:33] ericrwolfe opened #586 "User should not be re-routed automatically due to lack of GPS updates when known to be on the current route"
Android version of https://github.com/mapbox/mapbox-navigation-ios/pull/910.

If an off-route is detected, we should check if the user is close to any future step along the route before triggering a reroute request. In some cases like tunnels, parking lots, or certain types of road geometries, the user might actually still be along their intended route (just a few steps ahead), and we shouldn't co

[2017-12-13 16:36] ericrwolfe commented on #365
@danesfeder ran into this again this weekend and it made driving unusable after the UI got stuck. Even as I drove back into good cell service and I continued to follow the route line, the UI never returned back to normal and I had to close navigation.

[2017-12-13 16:37] #417 closed

[2017-12-13 16:37] danesfeder commented on #545
Fixed with #585

[2017-12-13 16:37] #545 closed

[2017-12-13 16:41] ericrwolfe opened #587 "Prefetch audio instructions"
Android version of https://github.com/mapbox/mapbox-navigation-ios/pull/724

After each maneuver, we should prefetch the next set of instructions (and potentially more if a set of instructions are close together) to prevent latency from Polly requests or falling back to the default voice if out of cell service.

cc @cammace @danesfeder @bsudekum

[2017-12-13 16:46] ericrwolfe opened #588 "Failed Polly requests should fall back to system audio"
Related: pre-fetching voice audio https://github.com/mapbox/mapbox-navigation-android/issues/587

Right now, if a driver enters an area without cell connection, navigation will not play any audio until cell connection returns. If this happens many miles later, all of the voice announcements that had been passed will be played all at once.

We should time out any polly requests taking longer than [

[2017-12-13 17:45] danesfeder commented on #520
Closed with #590

[2017-12-13 17:45] #520 closed

[2017-12-13 18:04] safecrossing opened #591 "ArrayIndexOutOfBoundsException when calling MapboxNavigation.startNavigation() to pass an updated route"
This is what happened after using 0.7.1. It seems this is related to the changes in MapboxNavigation.startNavigation().
    } else {
      // Update telemetry directions route
      navigationTelemetry.updateSessionRoute(directionsRoute);
    }

                                                                       java.lang.ArrayIndexOutOfBoundsException: length=10; index=-1

[2017-12-13 18:23] danesfeder commented on #591
Hey @safecrossing thanks for the report.  #589 just landed to address this.

[2017-12-13 18:23] #591 closed

[2017-12-13 18:37] #577 closed

[2017-12-14 20:38] langsmith commented on #571
👍  +1

[2017-12-15 06:18] nileshinfograins commented on #521
yes i'm getting same issue with LostLocationEngine
art: Rejecting re-init on previously-failed class java.lang.Class<com.mapbox.services.android.telemetry.location.LostLocationEngine>
AndroidRuntime: FATAL EXCEPTION: main
                                                           Process: com.offerak, PID: 1843
                                                           java.lang.NoClassDefFoundErr

[2017-12-15 09:16] nileshinfograins commented on #521
now is downgrade the dependencies and getting this issue when starting navigation :-

FATAL EXCEPTION: main
                                                             Process: , PID: 27579
                                                             java.lang.ClassCastException: com.mapbox.mapboxsdk.plugins.locationlayer.LocationLayerPlugin_LifecycleAdapter cannot be cast to android.arch.lifecyc

[2017-12-15 10:35] nileshinfograins opened #596 "when i getting route information using"
When geting route information using :-
NavigationRoute.builder().accessToken(Mapbox.getAccessToken()).origin(origin).destination(destination).build().getRoute(new Callback<DirectionsResponse>() {
            @Override
            public void onResponse(@NonNull Call<DirectionsResponse> call, @NonNull Response<DirectionsResponse> response) {
                Log.e(TAG, "Response code ======> " + res

[2017-12-15 10:35] nileshinfograins opened #597 "when i getting route information using"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do something, or to understand why something isn't working the way you expect it to, use Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox+android

 - [ ] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests get fixed. In a

[2017-12-15 12:41] sarahthe opened #598 "Missing translations in libandroid-navigation-ui"
The buttons in the navigation-ui are only available in English, translations are missing.
This includes the buttons for route issues as well as the buttons on screen (re-center, mute etc.).

![grafik](https://user-images.githubusercontent.com/27763767/34042482-342ac9ba-e19d-11e7-9b9f-87c31a93a7be.png)

[2017-12-15 14:20] #597 closed

[2017-12-15 14:31] danesfeder commented on #596
@nileshinfograins thanks for the feedback - are you able to determine at which point the code above fails?

[2017-12-15 14:33] danesfeder commented on #598
Thanks @sarahthe, you are correct here and we are currently prioritizing our localization work.  Please stay tuned  - as this progresses, I will update this ticket.

[2017-12-15 15:55] danesfeder opened #599 "Refactor InstructionView"
With the addition of the "then step", secondary text, and directions list, the [InstructionView](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java) grew, turning into a "god class".  The view should be refactored with unit / instrumentation tests added.

cc @ericrwolfe

[2017-12-15 18:00] ericrwolfe opened #600 "Jittery location puck animation"
The animation of the location puck along the route line can be jittery on certain devices, especially those with older hardware.

![2017-12-15 09_54_59](https://user-images.githubusercontent.com/664805/34054055-1b0fd3ae-e17e-11e7-9ff4-a9b04e535748.gif)

@danesfeder is going to do some CPU profiling and dig in more, but we suspect this could be related to the runtime-styling based location puck not

[2017-12-15 18:06] ericrwolfe opened #601 "Dynamic camera, first pass"
_Android version of https://github.com/mapbox/mapbox-navigation-ios/issues/773_

The camera should:
* Be more dynamic, communicating maneuver urgency by camera distance/zoom level
* Be timed with voice announcements: what's communicated on screen should match audio cues
* Provide ample context for maneuvers

As a rough first pass, we should implement basic stepped camera movements achieving the fo

[2017-12-15 18:08] ericrwolfe opened #602 "Zoom default level back by one"
As a first step in implementing https://github.com/mapbox/mapbox-navigation-android/issues/601, we should be able to easily set custom zoom levels in navigation.

As a quick win, we should zoom the default camera out by one zoom level for parity with the default camera on iOS.

cc @mapbox/navigation-android

[2017-12-15 18:12] ericrwolfe commented on #129
As part of this, we should also send a new `navigation.fasterRoute` event.

[2017-12-15 18:13] zugaldia commented on #601
cc: @tobrun who looked into camera animation in the context of https://github.com/mapbox/mapbox-gl-native/issues/9808#issuecomment-324274671.

[2017-12-15 18:17] ericrwolfe opened #603 "Frequent rerouting on curved onramps"
I've noticed that curved onramps such as the one below frequently trigger reroutes in the Android SDK. The GPS locations seem to match the road geometry in these cases.

![image](https://user-images.githubusercontent.com/664805/34054721-139e4aa8-e181-11e7-8244-217c590f6ef8.png)

Could this be something related to bearing?

cc @mapbox/navigation-android

[2017-12-15 18:25] ericrwolfe opened #604 "User should see an upcoming maneuver arrow on the route line"
Similar to the one on iOS:
![img_0420](https://user-images.githubusercontent.com/664805/34054954-f6f201be-e181-11e7-8329-14194e2939a6.jpg)

iOS creates a line segment 30m before and after the maneuver point, and then [adds this arrow shaft as a runtime styling layer](https://github.com/mapbox/mapbox-navigation-ios/blob/9a2517e832dc2a64f38e46d73357306214ea5288/MapboxNavigation/NavigationMapView.swi

[2017-12-15 18:28] ericrwolfe opened #605 "Setting a custom location puck should be easier"
Currently, it requires a custom init of LocationLayerPlugin with new style.

cc @cammace @danesfeder

[2017-12-15 18:29] danesfeder commented on #605
@ericrwolfe is this specific to the drop-in UI?

[2017-12-15 19:12] #571 closed

[2017-12-15 19:41] danesfeder opened #607 "Release 0.8.0-beta.1"
- [x] Change version name to `0.8.0-beta.1` in `gradle.properties`
- [x] Publish `0.8.0-beta.1` artifact to Maven Central
- [x] Change version name back to `0.7.2-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [ ] Tag `0.8.0-beta.1` in GitHub

/cc: @mapbox/navigation

[2017-12-15 20:21] ericrwolfe commented on #605
The NavigationView.

The LocationLayerPlugin init method (where you'd normally define the style), is hidden within this init function, so to customize, I think you'd need to subclass + override this function in NavigationView:
https://github.com/mapbox/mapbox-navigation-android/blob/7ea236b29cdba3591212af305975a3972d1fcf37/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigati

[2017-12-15 20:25] danesfeder commented on #605
Yeah setting it in the `NavigationView` theme then initializing the plugin with the provided theme would be pretty straightforward.  We already do the same deal for the `NavgationMapRoute`:

https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java#L371

[2017-12-15 21:10] #607 closed

[2017-12-16 16:06] konskons5 opened #609 "Reroute drops waypoints in new route"
I want to navigate along a route with 2 additional waypoints. All goes well until a reroute event occurs. Unfortunately the newly generated route does not contain these waypoints anymore. The new route leads straight to the destination ignoring the waypoints.

Bug occurs using:

[code]

[code]

[2017-12-16 17:35] tobrun commented on #600
I wouldn't spend too much time profiling this. We need to change the way navigation mode works in location layer. We need to take the same approach as iOS, when navigating we need to replace the runtime-style setup with a fixed ImageView at the bottom. Besides a better user experience but this also improves battery consumption as we don't waste cpu cycles animating something in place. This issue h

[2017-12-18 03:33] JavierDiaz500 opened #610 "Error on NavigationLauncher.startNavigation"
im following the tutorial of this page: https://www.mapbox.com/help/android-navigation-sdk/

and i have 3 errors on the code

line1: NavigationLauncher.startNavigation(MainActivity.this, origin, destination,
                                awsPoolId, simulateRoute);
on the oncreate method

line2: NavigationRoute.builder()
                .accessToken(Mapbox.getAccessToken())
                .origi

[2017-12-18 14:53] ritup22 opened #611 "Alternative routes issue"
I am just getting 2 routes with source & destination, passing alternative(true) in NavigationBuilder.
IS that possible with Mapbox to get more than 2 routes?

Please help me fast if any one knows

[2017-12-18 15:05] danesfeder commented on #610
Hey @JavierDiaz500, thanks for bringing this to our attention.  It looks like our help tutorial is a little out of date - please see https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#launch-the-navigation-ui for the recent updates using `NavigationViewOptions`.

For `NavigationRoute` we now also use `Point` instead of `Position`.  You can use `Point.fromLngLat()` to create a n

[2017-12-18 18:07] #610 closed

[2017-12-18 18:11] danesfeder commented on #563
@deleonAndroid3 You need to add the `NavigationView` class to your XML and assign a resource ID - if you haven't done this, the result you are seeing will occur.

[code]

[2017-12-18 18:11] #563 closed

[2017-12-18 18:12] danesfeder commented on #532
This was a result of upgrading the Navigation UI to `5.2.0` Maps SDK and should be resolved in the latest version of the UI dependency.

[2017-12-18 18:12] #532 closed

[2017-12-18 18:13] danesfeder commented on #521
This was a result of upgrading the Navigation UI to 5.2.0 Maps SDK and should be resolved in the latest version of the UI dependency.

[2017-12-18 18:13] #521 closed

[2017-12-18 18:15] danesfeder commented on #503
Was fixed in the Maps SDK with https://github.com/mapbox/mapbox-gl-native/pull/10589, which is now available in the `0.7.1` release.  Thanks for your help with this @tobrun

[2017-12-18 18:15] #503 closed

[2017-12-18 18:16] danesfeder commented on #355
This was re-worked again in #564 @Kahtaf please let us know if you see it again.

[2017-12-18 18:16] #355 closed

[2017-12-18 18:21] danesfeder commented on #358
Should be fixed with `0.7.1`

[2017-12-18 18:21] #358 closed

[2017-12-18 18:23] danesfeder commented on #345
The default milestones have been removed from the core navigation logic.

You can use the `LegStep` maneuver type to detect this if needed:
[code]

[2017-12-18 18:23] #345 closed

[2017-12-18 18:31] #330 closed

[2017-12-18 18:33] danesfeder commented on #326
Should be fixed in `0.7.1` by #564

[2017-12-18 18:33] #326 closed

[2017-12-18 18:35] danesfeder commented on #438
Feel free to open if this is still found with > `0.7.1`

[2017-12-18 18:35] #438 closed

[2017-12-18 18:37] danesfeder commented on #402
This was fixed with #511 in favor of a dedicated metrics listener and removing any telem related logic from `NavigationService`

[2017-12-18 18:37] #402 closed

[2017-12-18 18:39] danesfeder commented on #387
Should be fixed in `0.7.1` with #511, feel free to re-open if you run into this again

[2017-12-18 18:39] #387 closed

[2017-12-19 05:21] rheng001 opened #615 "Map crashing when closing background app"
Hi, I seem to be getting this error every time I load the map and then close the app via closing background apps in my phone. When I would go back to reopen the app I would get a white screen that just hangs there for a few seconds and then crashes and closes the app. Afterwards however when I reopen the app it loads back as normal.  I have implemented the mapbox map via a **fragment**. My guess i

[2017-12-19 08:58] SidMorad commented on #381
@Danny-James I've add following dependency into my build and that help me to see less logs, which some of them were kind of similar to yours.

`api 'com.google.android.gms:play-services-location:11.6.0'`

and here is my current Mapbox dependencies:
[code]
Moreover I did follow [this documentation](https://www.mapbox.com/help/android-navigation-sdk) and by changing some parts I was successful to ma

[2017-12-19 16:35] danesfeder commented on #615
Thanks for bringing this to us @rheng001, we will look into it.  @Guardiola31337 @electrostat have either of you run into something like this with the telemetry library?

[2017-12-19 17:39] danesfeder commented on #609
@konskons5 thanks for the feedback.  At this time, the "turn-by-turn-UI" that is shown when using `NavigationLauncher` does not support multiple waypoints, only an origin / destination.  Stay tuned, as waypoint support is something we are looking to integrate.

[2017-12-19 20:07] danesfeder commented on #615
@rheng001 Also, which version of the navigation SDK are you using?

[2017-12-19 22:44] rheng001 commented on #615
@danesfeder

This is what I'm currently using. However the problem still arises even if I'm using the **0.7.1** versions.

`compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.2.1@aar') { transitive = true }`
`compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.8.0-beta.1'`
`compile ('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.8.0-beta.1') {
        transitive = true
    }`

[2017-12-19 23:21] Halpph opened #616 "Can't find how to set the unitType in my Navigation"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do something, or to understand why something isn't working the way you expect it to, use Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox+android

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests get fixed. In a

[2017-12-19 23:22] Halpph commented on #616
Before last commitments i used
`NavigationViewOptionsoptions = NavigationViewOptions.builder() .origin(getOrigin()) .destination(getDestination()) .awsPoolId(null) //.unitType(NavigationUnitType.TYPE_METRIC) .shouldSimulateRoute(false) .build();`
but now the `//.unitType(NavigationUnitType.TYPE_METRIC)` is not present in the Class.
How can i set the unit Type in metrical instead of Imperial?

[2017-12-20 10:49] Danny-James commented on #534
@danesfeder Still Getting This Issue On The Latest Stable Version `0.7.1` .

Any news on this?

[2017-12-20 11:37] kirtan-inexture commented on #561
@chean5143 How did you solved it?

[2017-12-20 14:49] chean5143 commented on #561
I just restarted Android Studio then it worked.

[2017-12-20 17:17] ericrwolfe commented on #567
This landed in https://github.com/mapbox/mapbox-navigation-android/pull/614 (SDK v0.8.0) 🎉

[2017-12-20 17:17] #567 closed

[2017-12-20 18:02] danesfeder commented on #616
Hey @Halpph, we moved the unit type to `MapboxNavigationOptions` which you can pass to `NavigationViewOptions` - we did this so if you aren't using the turn-by-turn-UI, you can still convert to metric for the notification / voice announcements we provide.  Let us know if you have any other questions!

[2017-12-20 18:03] #616 closed

[2017-12-20 18:04] danesfeder commented on #616
The site docs will also be updated today to reflect this change

[2017-12-20 18:34] danesfeder opened #618 "Release 0.8.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.8.0`

### Includes

- [ ] Update after CHANGELOG updates

### Release checklist @danesfeder

- [x] Run through testapp/demo app and test all activities
- [ ] Change version name to `0.8.0` in `gradle.properties`
- [ ] Publish `0.8.0` artifact to Maven Central
- [ ] Change version name back to `0.8.1-SNAPSHOT`
- [ ] Update `CHANGEL

[2017-12-20 18:51] danesfeder commented on #618
Android docs update - https://github.com/mapbox/android-docs/pull/277

[2017-12-21 15:49] konskons5 commented on #609
@danesfeder thanks for the info. Waypoint support is crucial for my app. Can you give me an idea, when it will be supported? I hope, I do not need to change to a different navigation-ui provider as I really like your work.

[2017-12-28 16:06] Kahtaf opened #621 "IndexOutOfBoundsException in NavigationLifecycleMonitor.calculateForegroundTime()"
Noticed this in Crashlytics. I haven't been able to reproduce it consistently yet so I am not exactly sure what's causing it.

[code]

[code]

Android 8.1, Nexus 6P.

[2018-01-01 07:18] kirtan-inexture opened #622 "Crash on navigation.getRoute()"
While calling getRoute method on navigation instance, I am having following error:

[code]

Dependecies I am using:

[code]

Android Version: 8.1

**UPDATE:**

It seems device specific. My Custom ROM's kernal name includes unicode "TM" symbol. That is causing crash!

[2018-01-02 09:29] m-harisqurashi commented on #292
@danesfeder [NavigationView](https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#navigationview) needs `onCreate`, `onBackPressed `and `onRestoreInstanceState` which doesn't allowed inside fragment implementation. As far as i understand given example is for activity only but for fragment we are unable to use NavigationView life cycle methods.

As we can not call `navigationView.

[2018-01-02 09:35] m-harisqurashi opened #623 "NavigationView compatibility with Fragment"
[NavigationView ](https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#navigationview)needs `onCreate`, `onBackPressedand ` and `onRestoreInstanceState` which doesn't allowed inside fragment implementation. As far as i understand given example is for activity only but for fragment we are unable to use NavigationView life cycle methods.

As we can not call `navigationView.onCreate

[2018-01-02 10:45] Danny-James commented on #534
@danesfeder I'm now using the below gradle config.

[code]

I'm still getting the crash on open for the Navigation UI.
[code]

See below the error i'm recieving.

[code]

[2018-01-02 16:03] slm opened #624 "NavigationView can draw route just once time."
What kind of issue is this?
 - [X] Question.
 Navigation SDK Version : 0.8.0
 MapBox Sdk       : 5.2.1
 MapboxServices : 2.2.9
 MapboxSdkServices: 3.0.0-beta.1
 LocationLayerPlugin: '0.2.0'

NavigationView can draw route just once time. I used navigationView in a fragment in [there](https://gist.github.com/slm/b78d15e203660b78bad2b31e171224d3).
I set route before show that fragment in activity wit

[2018-01-02 18:37] Jose4gg commented on #615
@rheng001 Do you have any updates on this?

[2018-01-03 03:20] rheng001 commented on #615
@Jose4gg No same problem. Are you facing the same problem?

[2018-01-03 12:30] Jose4gg commented on #615
Yes, I'm using react-native-mapbox-gl which wrap this library, but same, same issue.

[2018-01-03 14:49] danesfeder commented on #621
Hey @Kahtaf thank you for bringing this to us - I'll look into it and update this issue after some digging.

[2018-01-03 15:00] danesfeder commented on #622
Thanks for bringing this to us @kirtan-inexture.  @cammace this looks like an issue with with our Android services, but more specifically Retrofit?

[2018-01-03 15:03] danesfeder commented on #624
Hey @slm is the issue here that you'd like to draw alternative routes in addition to the route being traveled when you begin navigation with `NavigationView`?

[2018-01-03 15:07] danesfeder commented on #621
@electrostat This looks like an intermittent crash on https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/NavigationLifecycleMonitor.java#L114

In this case, `tempResumes` should be fine but maybe we should also make a copy of the pauses as well or check for IndexOutOfBounds in that for loo

[2018-01-03 15:15] danesfeder commented on #623
Hey @m-harisqurashi thanks for bringing this to us.  You're right, we need to add some documentation for how to implement the `NavigationView` in a fragment.

It's not immediately obvious, but this is how you can call `onCreate` and `onRestoreInstanceState`:

[code]

Back pressed is tricky as there isn't a way to listen to this in a `Fragment` directly, but not adding this won't crash your app.  W

[2018-01-03 15:32] electrostat commented on #621
I see the problem. If pauses.size == 0, we could potentially have a mismatch in resumes v pauses size. I recommend adding an else after that if check and return 100 for the percent. That should prevent this specific crash.

[2018-01-03 16:54] #621 closed

[2018-01-03 17:44] langsmith commented on #623
@danesfeder , I also think that `onDestroyView()` might need to be added/addressed as well

It's missing from these `NavigationView` overrides: https://github.com/mapbox/mapbox-navigation-android/blob/630b38ba8d847cf5cd0fe9f58808a42e58dc1b83/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java#L541-L564

Related https://github.com/mapbox/mapbox-gl

[2018-01-03 17:45] danesfeder commented on #615
@rheng001 Are you using our react library as well?  Having trouble deciphering that stack trace other than the fact it's being caused by `TelemetryService`.  Also, are you using our `navigation-ui` library at all?  It seems this is an issue in our Maps SDK (not related to navigation).

[2018-01-03 17:54] danesfeder commented on #615
Can you try https://github.com/mapbox/mapbox-gl-native/issues/10809#issuecomment-354536693 and see if that helps?

[2018-01-03 19:29] rheng001 commented on #615
@danesfeder That fixed it! Such a simple mistake but it makes sense now. Thanks.

[2018-01-03 19:29] #615 closed

[2018-01-04 08:43] davols opened #628 "Feature Request - NavigationView - Use smaller increments for rounding small distances"
Small feature request.

After testing a bunch with the NavigationView, it seems that it always will round to 50 meters regardless of the distance left. This feels quite weird when the distance to the upcoming step is less than 100m.

At first I thought about the idea to have 25 meter intervals, but in iOS it seems to be even lower increments. Maybe use the same setup with rounding and the interval

[2018-01-04 08:52] davols commented on #601
Don't want to hijack this at all. Thought about the camera and its zoom levels the other day. But having basic camera movements in relation to maneuvers sound great. My two thoughts were:

* Allow the user to set the zoom level (don't override it when pressing re-center)
* Zoom levels depending on speed

Both might be fixed with camera movement on voice announcement, but as of now the first one fe

[2018-01-04 10:42] slm commented on #624
No. I try to explain an example:
1-) I call setNavigation method(It's same NavigationLauncher.startNavigation but don't start activity) with route options from my location to B city. And show navigationview inside of fragment.

2-) After ı remove fragment from activity. And call setNavigation method again with route options my location to Z city.(I checked route options its correct)  And show navi

[2018-01-05 01:45] dgadelha commented on #450
Just in case someone also ends up here trying to find a fix, try this: https://github.com/mapbox/mapbox-gl-native/issues/10809

[2018-01-05 09:42] Danny-James commented on #534
@danesfeder The Navigation UI Seems to go a little further than previously see below compared to the ScreenGrab Above.

![navigationui_crash_4 1 2](https://user-images.githubusercontent.com/32104383/34603642-b83a1638-f1fc-11e7-8f5f-a07e5d0ee499.gif)

[2018-01-05 14:17] danesfeder commented on #534
@Danny-James Do you mind sending the stack trace from the above gif?  Or is it the same  `signal 11 (SIGSEGV)` deal?

[2018-01-05 14:33] danesfeder commented on #623
The destroy issue is being worked https://github.com/mapbox/mapbox-navigation-android/pull/632

[2018-01-05 14:50] danesfeder commented on #624
@slm It looks like this may be an issue with your `SharedPreferences` being updated correctly the second time before you commit the `Fragment` again (just my hunch).

Can you verify that the _second_ time the fragment is being added, the `DirectionsRoute` is the correct one here https://gist.github.com/slm/b78d15e203660b78bad2b31e171224d3#file-gistfile1-txt-L127?

[2018-01-05 14:55] danesfeder commented on #609
@konskons5 We don't have a specific timeline for this in regards to the UI, but I will update this ticket as soon as the work comes into the pipeline.  It's a matter cacheing the waypoints (and removing them as you arrive at each) along the `DirectionsRoute` as was outlined in https://github.com/mapbox/mapbox-navigation-android/pull/630

[2018-01-05 14:57] Danny-James commented on #609
@danesfeder do we have the ability to turn off rerouting with the new NavigationOptions? as this can be a work around for the timebeing?

[2018-01-05 14:58] Danny-James commented on #534
@danesfeder yes the signal 11 error is the error from the above GIF.

[2018-01-05 15:23] danesfeder commented on #534
@Danny-James Yeah I think this may be device specific.  Just tried to reproduce with API 16, without any luck:

<img width="434" alt="screen shot 2018-01-05 at 10 19 36 am" src="https://user-images.githubusercontent.com/8434572/34615236-2d4d2cd0-f202-11e7-9fc1-8300056ba5df.png">

@tobrun this looks like a native crash specific to this device when starting up the nav UI.  Anything you can get out o

[2018-01-06 15:29] slm commented on #624
@danesfeder I checked that issue a lot of times.
[code]
these route completely different. Map must show second route. But it's show first route.
I tried to `commit` instead of `apply` with `SharedPreferences`. `apply` runs asynchronous. But it could not fix this error.

[2018-01-06 18:39] #605 closed

[2018-01-07 23:16] darkwizzard opened #633 "[Bug report] OffRoute recalculate change language of instructions"
Hello, the issue appears when i choose a language for route and in navigation mode the user off route and trigger recalculate, the language of the route change automatically to english.

[2018-01-07 23:22] darkwizzard opened #634 "[Question] How can i hide alert view and feedback?"
Hello, i need to hide the "Report Problem" alert and the feedbacks. There is a work around for do that? Thanks.

[2018-01-08 10:24] Danny-James commented on #534
@danesfeder What does this mean? Device Specific Issue, Can this be fixed and would you like me to send you one of our device to you?

[2018-01-08 14:05] m-harisqurashi commented on #623
When click on `cancelBtn` it doesn't close `NavigationView` as well Notification. What we are doing is to hide the `NavigationView` but what about notification, how can we cancel that notification in statusbar.

[2018-01-08 14:40] danesfeder commented on #623
@m-harisqurashi can you share your `Fragment` code?  The notification should be destroyed when the `Service` that runs the navigation processing is destroyed and this happens when you click the `cancelBtn`

[2018-01-08 14:42] danesfeder commented on #634
Hey @darkwizzard - we currently don't provide a way to show / hide the UI components.  We are looking to add boolean flags in `NavigationViewOptions` or something of this nature to do this eventually.  But unfortunately, we don't have a set timeline for this work at the moment.

[2018-01-09 09:52] m-harisqurashi commented on #623
I've created a `MapNavigationPresenter`. This model can use in both `Activity `and `Fragment`. Below is my code for MapboxNavigation.

[code]

[2018-01-09 10:36] m-harisqurashi opened #639 "IndexOutOfBoundsException"
When using `NavigationView ` and start navigation, app crashes a lot. Check below for crash log.

[code]

[2018-01-09 10:44] m-harisqurashi commented on #639
The crash issue happens when it is opened a second time and it is happening in some other scenarios as well.

[2018-01-09 14:31] danesfeder commented on #639
@m-harisqurashi Thanks for bringing this to us.  https://github.com/mapbox/mapbox-navigation-android/pull/637 landed yesterday and should address this issue.  It's currently available with the `0.8.1-SNAPSHOT` and will be available in our upcoming stable release.

[2018-01-09 14:31] #639 closed

[2018-01-09 14:51] danesfeder commented on #534
@Danny-James it means this may be specific to the Motorola device you are producing the crash on and not necessarily the API `4.1.2`.  We are looking into this with our Maps SDK team and will report back with findings.

[2018-01-09 16:57] danesfeder commented on #624
@slm It looks like this was an error involving the route extraction on our side.  Once #640 lands, please see if your issue is resolved using the `0.8.1-SNAPSHOT` cc @devotaaabel

[2018-01-10 11:36] m-harisqurashi commented on #623
According to `NavigationService`

But incase of fragment we may or may not destroy `Fragment` and service keeps running in background, there should be a way to call `MapboxNavigation.onDestroy` from `NavigationView` or through any wrapper class

[2018-01-10 14:45] danesfeder commented on #623
@m-harisqurashi Yeah you're right, good catch here.  Found the issue and should be addressed in https://github.com/mapbox/mapbox-navigation-android/pull/643

[2018-01-11 15:12] danesfeder commented on #596
Hey @nileshinfograins I'm not able to determine your issue with the details provided.  Feel free to open this ticket again if you're able to provide some more information surrounding your issue.

[2018-01-11 15:12] #596 closed

[2018-01-11 19:46] slm commented on #624
I tested. Its works. Thank you.👍  But there a little bug. The first route marker is still visible.
<img width="370" alt="screen shot 2018-01-11 at 22 42 03" src="https://user-images.githubusercontent.com/5596316/34843929-ef62daa4-f720-11e7-82b3-fc49cc87f7ce.png">

[2018-01-11 19:55] danesfeder commented on #624
@slm Yeah we found that as well and will be addressed in https://github.com/mapbox/mapbox-navigation-android/pull/641/ (we will clear existing markers on `NavigationView#startNavigation`)

[2018-01-11 19:57] danesfeder commented on #624
Closing this as the original issue was solved.   Feel free to open any other issues as you run into them @slm.  Thanks again for the feedback here.

[2018-01-11 19:57] #624 closed

[2018-01-11 19:58] #623 closed

[2018-01-11 20:51] vladgheorghe commented on #602
How about an option for the camera to toggle automatic zooming depending on the speed at which the device is navigating ?

[2018-01-12 02:58] AlexeyIke commented on #542
Hello,
has same error on run navigation from my app:
Unable to start activity ComponentInfo{ru.vl.map.debug/com.mapbox.services.android.navigation.ui.v5.NavigationActivity
... Binary XML file line #8: Error inflating class com.mapbox.services.android.navigation.ui.v5.NavigationView
... ClassNotFoundException: Didn't find class "android.arch.lifecycle.ViewModelProviders" on path: DexPathList
it hap

[2018-01-12 14:59] danesfeder commented on #203
Closing as this isn't requirement that's going to be worked in our future.

[2018-01-12 14:59] #203 closed

[2018-01-12 15:00] #407 closed, assigned to nobody

[2018-01-12 15:04] #486 closed

[2018-01-12 15:05] danesfeder commented on #452
@Danny-James is this still an issue for you?

[2018-01-12 15:05] danesfeder commented on #414
Closed with https://github.com/mapbox/mapbox-java/issues/614

[2018-01-12 15:05] #414 closed

[2018-01-12 15:18] danesfeder commented on #522
Hey @Danny-James this isn't specific to the Android crash you're seeing on your 4.1.2 Motorola - this issue was part of a transition we made to our new Java library.

[2018-01-12 15:18] #522 closed

[2018-01-12 15:35] danesfeder commented on #328
Hey @kirtan-inexture - @samvgorode is correct here.  Also, please try adding a `LocationEngineListener` and `mLocationEngine.requestLocationUpdates();` inside of the `LocationEngineListener#onConnected` callback.

[2018-01-12 15:35] #328 closed

[2018-01-14 21:31] SaeedIsa90 opened #649 "[Bug report] Simple navigation app crashes"
Hi Guys,

I'm trying to do a very simple navigation app, but it crashed and not starting up due to this error:
Error:(40, 35) error: method startNavigation in class NavigationLauncher cannot be applied to given types;
required: Activity,NavigationViewOptions
found: MainActivity,Position,Position,String,boolean
reason: actual and formal argument lists differ in length

My gradle file:
apply plugin:

[2018-01-15 15:15] mayardb opened #650 "[Android] missing NavigationConstants#STEP_MANEUVER_TYPE_EXIT_ROTARY"
Hello,

While testing the sdk, we found out that `exit rotary` maneuver type does not exist (with modifier = right).

Do you have any documentation for maneuver types ?

Thanks for your work.

[2018-01-16 15:29] #633 closed

[2018-01-16 21:29] danesfeder commented on #611
@ritup22 We currently only support 1 alternative route when setting `NavigationRoute#alternatives` to true and unfortunately this isn't configurable.

[2018-01-17 10:09] palto-ccadoret opened #651 "Crash appears after ending navigation"
Crash appears after ending navigation :

Device:
Samsung Galaxy j5
Android API level: 24

Its seems that you have a synchronization issue on NavigationLifecycleMonitor.

https://github.com/mapbox/mapbox-navigation-android/blob/d4a3ea0eb2ce5be7f3696fa1c6ee2b7589ef2673/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/NavigationLifecycleMonitor.java#L11

[2018-01-17 15:42] danesfeder commented on #651
Hey @palto-ccadoret, thanks for bringing this to us.  Do you mind providing the version of the SDK you are using?  https://github.com/mapbox/mapbox-navigation-android/pull/625 landed a couple weeks ago, preventing this crash.  We hope to get out `0.8.1` asap which will include this fix.

[2018-01-17 19:11] palto-blubek commented on #651
(@palto-ccadoret's teammate here) we are using `0.8.0`.

[2018-01-17 19:23] danesfeder commented on #651
@palto-blubek thank you, I'll update this ticket once the `0.9.0` release lands (sorry I was incorrect saying `0.8.1` and updated the comment above).  In the meantime, you can test that this fix works correctly with the `0.8.1-SNAPSHOT`, where the fix is currently implemented.

[2018-01-17 23:08] danesfeder commented on #649
Hey @SaeedIsa90, sorry for the confusion here - https://www.mapbox.com/help/android-navigation-sdk/#install-the-navigation-sdk is a little out of date and we are working on updating it asap.

Launching the UI now looks like this and our latest release is `0.8.0` https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#launch-the-navigation-ui

[2018-01-17 23:08] #649 closed

[2018-01-17 23:11] danesfeder commented on #628
Hey @davols, we are going to be working on our distance formatter in the coming weeks.  We are mainly going to be focused on localization but I can also look into adding some customization in regard to what you're pointing out here.   I'll be sure to update this ticket as the work progresses.

[2018-01-18 06:56] SaeedIsa90 commented on #649
Hi @danesfeder,Thanks I will give it a try, but as I see you don't support turn-by-turn navigation in my area (Israel), when will you ? is there any estimated time ? or an plans to ?

Thanks,

[2018-01-18 13:06] Danny-James commented on #609
@danesfeder any chance of an update on turning off re-routing within `NavigationOptions`?

[2018-01-18 13:07] Danny-James commented on #534
@danesfeder Thanks For Looking Into This.

[2018-01-18 13:08] Danny-James commented on #452
@danesfeder I've not manage to check this with latest SDK, will come back to you.

[2018-01-18 19:26] 1ec5 commented on #598
A Transifex project was set up for this SDK in #28, but that was back before we added UI to the SDK.

/cc @langsmith

[2018-01-18 19:38] langsmith commented on #598
https://github.com/mapbox/mapbox-navigation-android/blob/master/.tx/config

[2018-01-19 23:18] sarahlensing opened #658 "Verify NavigationCamera#resume values"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do something, or to understand why something isn't working the way you expect it to, use Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox+android

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests get fixed. In a

[2018-01-19 23:36] #129 closed

[2018-01-20 01:16] ericrwolfe opened #659 "Add support for Map Matching"
The Map Matching API now supports a `waypoints` url parameter (https://github.com/Project-OSRM/osrm-backend/pull/4732):

By setting `waypoints=0,<coordinates.length-1>`, the response will return a route with a single leg similar to a normal directions route, and will allow for turn-by-turn navigation along a custom route.

In theory, you should be able to start navigation with a custom route as wi

[2018-01-22 02:20] cammace commented on #142
Stale, closing since you can now just listen to the off route listener and force an announcement when rerouting if desired.

[2018-01-22 02:20] #142 closed

[2018-01-22 02:36] cammace commented on #412
@danesfeder, I remember a few weeks ago you asked about canceling the request? Did this issue get worked out?

[2018-01-22 02:38] cammace commented on #274
@Grsmto, are you still seeing this issue using the latest SDK version?

[2018-01-22 14:32] danesfeder commented on #412
@cammace I didn't have a chance to add this to `NavigationRoute` but should be a quick PR to expose that API

[2018-01-22 15:01] zugaldia commented on #659
cc: @osana for visibility on any required MAS changes.

[2018-01-22 15:11] nafis042 opened #660 "FileSource: Failed to read the storage key"
I am getting the following error when moving from main to any activity:
01-22 20:42:47.667 11041-11041/com.mapbox.services.android.navigation.testapp E/FileSource: Failed to read the storage key:

                                                                                            java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.os.Bundle.getBoolean(java.lan

[2018-01-22 15:36] danesfeder commented on #660
@nafis042 thanks for bringing this us.  This is from our Maps SDK and shouldn't be fatal.  Many times it shows in the logs after a crash that has happened elsewhere.  Can you confirm this is the only stacktrace in your logs when transitioning activities?  cc @tobrun

[2018-01-22 15:41] nafis042 commented on #660
below is the full log before the error happened.

01-22 20:42:35.707 11041-11041/com.mapbox.services.android.navigation.testapp D/ContextRelationMgrBrdg: loadKlass() : caller=com.samsung.android.bridge.multiscreen.common.ContextRelationManagerBridge.<clinit>:28 android.app.LoadedApk.makeApplication:840
01-22 20:42:35.714 11041-11041/com.mapbox.services.android.navigation.testapp I/InstantRun: star

[2018-01-22 16:42] danesfeder commented on #658
@sarahlensing Thanks for the report and yes `NavigationCamera#resume` should only be triggered after rotation.  When it was being triggered unexpectedly, were you able to tell if it was from every location update?  We have a flag to ensure it isn't, but I'm wondering if this is getting out of sync somehow.

[2018-01-22 21:19] cammace commented on #659
I opened individual tickets on what needs to happen in Mapbox Java to unblock this.

[2018-01-23 14:07] Grsmto commented on #274
@cammace I just pulled the latest code from Master on my fork and tested again the MockNavigationActivity with the same setup and the off route is still being triggered.

My starting location is `51.51427783320443, -0.15708893537521362` if that can help.

[2018-01-23 16:14] #650 closed

[2018-01-23 16:16] danesfeder opened #662 "Release 0.9.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.9.0`

### Includes
* Update Maps and Services dependencies [#661](https://github.com/mapbox/mapbox-navigation-android/pull/661)
* Add Maneuver type exit rotary constant [#653](https://github.com/mapbox/mapbox-navigation-android/pull/653)
* Moved WaypointNavigationActivity from the SDK to the test app [#652](https://github.com/mapb

[2018-01-23 16:44] ericrwolfe commented on #659
Upstream tickets in Mapbox Java:
* Add missing params to Mapbox Map Matching builder: https://github.com/mapbox/mapbox-java/issues/704
* Util to convert MapMatchingMatching object to DirectionsRoute: https://github.com/mapbox/mapbox-java/issues/705

[2018-01-23 18:17] #611 closed

[2018-01-23 18:18] danesfeder commented on #576
@vladgheorghe can you try to reproduce this with our latest `0.9.0` release?

[2018-01-23 18:34] danesfeder commented on #662
Docs update https://github.com/mapbox/android-docs/pull/288

[2018-01-23 18:39] danesfeder commented on #662
README --> #664

[2018-01-24 16:09] #662 closed

[2018-01-25 01:21] kkaefer commented on #534
This could be similar to https://github.com/mapbox/mapbox-gl-native/pull/10253. We've blacklisted Adreno 3 chipsets for VAO support, but this backtrace indicates that this device uses an Adreno 2 chipset. The backtrace actually doesn't contain any Mapbox-specific symbols, just the regular Android EGL context destruction routines, which fail when destroying a VAO. It could be possible that there is

[2018-01-25 02:05] darkwizzard opened #666 "[Bug] Can't compile release with proguard"
Hello, I'm trying make a release with proguard but i can't build it success, the error:

![imagen](https://user-images.githubusercontent.com/5554787/35366910-867f4b5a-015a-11e8-8202-aee2d77a2ff8.png)

How can i get it work?

Thanks.

[2018-01-25 19:10] nafis042 opened #669 "Error: Could not find method sonarqube() for arguments"
I am trying to add mapbox navigation project to my existing project. I copied build.gradle file from here to my project. I also added multiple gradle files like sonarqube.gradle ..... into my project's gradle folder just like here. Then Qhen I try to buildgradle it shows me this error:

`Error:(45, 0) Could not find method sonarqube() for arguments [build_8vmrorljellx2q8gjrzwbuf8h$_run_closure2@56

[2018-01-26 19:35] nafis042 opened #671 "SensorManager: unregisterListener :: 14, MPL Rotation Vector"
When I first press the  start navigation button with or without simulation route, it shows me this:
D/SensorManager: unregisterListener :: 14, MPL Rotation Vector,
the app doesnot crash. It just initializes view and stays that way.

![27535332_2001922499824602_310233552_o](https://user-images.githubusercontent.com/26213218/35457168-33d49b86-0302-11e8-8130-e2bc81c5a29b.png)

after i go back and pre

[2018-01-26 20:00] danesfeder commented on #671
@nafis042 Thanks for bringing this to us - to confirm, this is with Navigation SDK `0.9.0`?  Also, does it only happen with dark-mode enabled like in the screenshot?  Thanks!

[2018-01-26 20:09] nafis042 commented on #671
I have cloned master branch of the repository and yes it only happens in AppCompatDelegate.MODE_NIGHT_AUTO. other modes seem to work fine

[2018-01-26 22:00] langsmith commented on #452
Traffic plugin should be working now. Any report @Danny-James ?

[2018-01-26 22:01] langsmith opened #673 "Outdated location layer plugin code in MockNavigationActivity"
The test app's `MockNavigationActivity` has outdated code for the location layer plugin. Not hard to fix, but just making a ticket for future tracking. Low priority

[2018-01-26 22:14] langsmith commented on #673
![screen shot 2018-01-26 at 2 14 09 pm](https://user-images.githubusercontent.com/4394910/35462971-3b334f62-02a3-11e8-858c-b17fc97925e9.png)
![screen shot 2018-01-26 at 2 14 02 pm](https://user-images.githubusercontent.com/4394910/35462972-3b525416-02a3-11e8-964b-536385cb2802.png)
![screen shot 2018-01-26 at 2 13 57 pm](https://user-images.githubusercontent.com/4394910/35462973-3b698a46-02a3-11e8-

[2018-01-27 05:03] rheng001 commented on #671
I have the same issue as well.

[2018-01-28 12:00] AliKhoshraftar opened #674 "arrive event nothing happen"
I'm working on mapbox android navigation sdk. only problem is arrive event, i found all the arrive event logic but i don't know what is happening in this case. i also checked the default without any change but nothing happens when user arrive in specific destination. any one know what is the problem ? it's hard to debug it because it needs a laptop with a in hand car with huge traffic always and n

[2018-01-28 22:33] briandilley opened #675 "Native (OpenGL related?) crash when leaving navigation screen"
I get the following crash when leaving the navigation view (sometimes).  I can't seem to be able to tie it to a specific series of events, it just sometimes happens.  I'm using the navigation view in a fragment.

Device: Google Pixel 2
OS Version: 8.1.0
library versions:
[code]

[code]

[2018-01-28 22:48] briandilley opened #676 "Navigation gets stuck sometimes at start"
Sometimes the navigation seems to get stuck at start.  I'm able to back out and the UI is responsive, it just doesn't navigate:

![Image of Crash](https://i.imgur.com/yfSNzcP.png)

And just to show that it's not only a problem with short routes:

![Image of Crash](https://i.imgur.com/p21Getc.png)

If i leave it long enough it eventually crashes, but never with anything interesting in the logs.  I

[2018-01-28 23:04] briandilley commented on #675
I noticed that i can get this to happen by quickly going to and leaving the navigation screen over and over again.  Sometimes takes longer than others though.

[2018-01-29 01:22] danesfeder commented on #675
Hey @briandilley, we have some known quirks with our Maps SDK used in a `Fragment` implementation that we are working on.  Are you calling `NavigationView#onDestroy` in `Fragment#onDestroyView`?

[2018-01-29 01:23] danesfeder commented on #674
Hey @AliKhoshraftar - how are you using the navigation SDK?  Are you using our `navigation-ui` library?  Or the core SDK?

[2018-01-29 01:26] danesfeder commented on #676
Thanks for bringing this to us @briandilley -- I've also noticed the navigation UI sometimes fails to initialize properly if we have a weak / or no GPS signal.  I'll dig into this further - appreciate the logs and observations.

[2018-01-29 01:26] danesfeder commented on #651
Fixed in `0.9.0`

[2018-01-29 01:26] #651 closed

[2018-01-29 01:29] briandilley commented on #675
@danesfeder here's my fragment:
[code]

[2018-01-29 07:39] m-harisqurashi opened #677 "NavigationView cancelBtn doesn't close navigationView and navigation notification"
While using `NavigationView` if we cancel navigation it does't work as expected. It doesn't cancel/hide the `NavigationView` and neither stops the foreground notification.

[code]

It should hide/close the `NavigationView` and should call the (same) method call sequence inside `onDestroy ` so that Navigation foreground notification and view close.

[code]

[2018-01-29 14:37] danesfeder commented on #677
Hey @m-harisqurashi, how are you using the navigation UI?  With `NavigationLauncher`?

[2018-01-29 14:46] danesfeder opened #678 "Add test coverage for SimpleCamera"
@sarahlensing worked on a new system to drive camera logic from `libandroid-navigation`.  We should still add tests for this logic as she originally outlined:
- [ ] Verify correct values returned
- [ ] Verify initial values cached

[2018-01-29 15:16] #602 closed

[2018-01-29 16:01] danesfeder commented on #622
@kirtan-inexture can you check this issue with `0.9.0`?

[2018-01-29 16:06] danesfeder commented on #674
I believe I know what you're talking about.  This is a bug that occurs after an arrival event and there is no longer a route to be navigated along.  This should be fixed in #667.  To detect an arrival event you can use our public util method https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils

[2018-01-29 17:10] danesfeder commented on #534
@Danny-James the Maps team cooked up a build of the SDK that has a potential fix for the issue seen in this ticket: https://www.dropbox.com/s/6s667gorh7qiatt/MapboxGLAndroidSDK-release.aar?dl=0  Can you use this version of the library locally and see if you're still able to reproduce the issue?

[2018-01-30 07:00] m-harisqurashi commented on #677
We are using `NavigationView.startNavigation(navigationViewOptions)` with build number 0.9.0.

[2018-01-31 09:10] tobrun commented on #534
any updates @Danny-James?

[2018-01-31 09:20] Danny-James commented on #534
Sorry @tobrun @danesfeder I've been on out of the office Monday and Tuesday, I'm hoping to look at this today and will update you.

Sorry again for the delay.

[2018-01-31 09:33] tobrun commented on #534
Np @Danny-James, looking forward to the results 🙏

[2018-01-31 10:15] Danny-James commented on #534
@tobrun I Get The Following Message on DropBox - `"The owner hasn’t granted you access to this link."`

[2018-01-31 10:17] tobrun commented on #534
Apologies, updated the link settings, can you try again?

[2018-01-31 10:22] Danny-James commented on #534
@tobrun, What's the best way to include the dependency locally I've only every worked with external dependencies.

[2018-01-31 10:33] Danny-James commented on #534
@tobrun my current gradle config is below;
[code]

Will the local library I've just imported take priority over the dependencies I'm compiling.

The way I imported the Library is; `File > New > New Module > Import .JAR/.AAR Package`

[2018-01-31 10:53] tobrun commented on #534
For easy of testing, I'm building a SNAPSHOT version with that change. Will ping here when the build has finished building.

[2018-01-31 11:32] tobrun commented on #534
To resolve the SNAPSHOT build add the following to your top build.gradle file:

[code]

Afterwards change your maps sdk dependency to:

[code]

[2018-01-31 11:33] Danny-James commented on #534
@tobrun I don't currently compile the Maps SDK as this comes with the Navigation UI, by adding the dependency in the gradle will this take priority?

[2018-01-31 11:36] tobrun commented on #534
you can verify that by running `./gradlew :your_app_module_name:dependencies`:

This will show you a which dependency is bringing in which and which are beeing overriden by other versions. Since the navigation SDK comes with 5.3.2 it should overwrite but better to be sure and double check with above.

[2018-01-31 11:38] Danny-James commented on #534
@tobrun thanks for you patience, will report back soon just compiling my application.

[2018-01-31 11:53] Danny-James commented on #534
@tobrun Absolutely fantastic this has solved this issue and also solved [#10030](https://github.com/mapbox/mapbox-gl-native/issues/10030) - I would like to thank everyone involved with this and for your patience with me throughout the month's trying to get this working myself and the company really appreciate all your help.

I have one issue remaining and I can then get this application released t

[2018-01-31 11:54] Danny-James commented on #534
@tobrun, when will this Version be included in the Navigation UI Dependency? @danesfeder

[2018-01-31 12:25] Danny-James opened #681 "Android: error: package does not exist"
Hi Guys,

I've been using `navigation-ui-0.8.0` I've now changed my gradle to use `navigation-ui-0.9.0` but I seem to have some issue see below;

[code]

See Below Imports That Are Failing
[code]

Any changes I'm not aware of I need to change?

[2018-01-31 12:34] Danny-James commented on #681
Problem Resolved, Cleared Cache and All Working.

[2018-01-31 12:34] #681 closed

[2018-01-31 12:38] Danny-James commented on #634
@danesfeder this is something I would also like, Hiding of Feedback buttons, audio button etc.

[2018-01-31 13:16] Danny-James opened #682 "Android: Number of bearing elements must match number of coordinates provided."
I Seem to be getting the following error, I think this could be at the drawRoute Section and only happens when I forceStop the Application and go back in.

`01-31 13:14:19.481 12296-12296/uk.co.ainscough.routeinfo E/ainscough.routeinfo: Error: Number of bearing elements must match number of coordinates provided.`

Would you know where this error is coming from?

[2018-01-31 13:20] Danny-James commented on #682
Below is my BuildRoute method;

[code]

[2018-01-31 13:36] Danny-James commented on #682
I've narrowed it down to the Current Position Variable, this is NULL, however I'm requesting a Location before I build the Route.

I've noticed the following in my LogCat

[code]

Not sure if this will have anything to do with this?

The following code below is returning no Location with the getLastLocation();
[code]

lastLocation is NULL, do you know what could be causing this?

[2018-01-31 15:02] Danny-James commented on #682
Upon hard setting the currentPosition variable I no longer get this issue and receive a validRoute.

`currentPosition = Point.fromLngLat(-2.649998, 53.594176);`

Can you see any issue on the way I am retrieving the current position?

[2018-02-01 16:10] danesfeder commented on #634
@Danny-James are you using `NavigationLauncher`?

[2018-02-01 16:14] danesfeder commented on #682
Sometimes, if from a cold start of the GPS, your location engine may not have a last GPS update.  Your code needs to wait for a GPS update to request the route if you don't have a last location

[2018-02-01 16:17] Danny-James commented on #634
Yes Mate, `NavigationLauncher.startNavigation();`

[2018-02-01 16:19] Danny-James commented on #682
No problem do you have any good practice for this or how this has been done before? - I'm going to have to show some kind of AlertBox to the user to say obtaining location, but is their any demos with something like this already?

[2018-02-01 16:28] danesfeder commented on #634
@Danny-James I haven't created the boolean options to hide / show these just yet unfortunately.  But, if you used `NavigationView` like we do in `NavigationActivity` https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java

you can do it now by binding `View feedbackFab = findViewById

[2018-02-01 16:32] Danny-James commented on #634
@danesfeder so would I have to create all my own activities with this and wouldn't be able to use the navigation UI?

[2018-02-01 16:37] danesfeder commented on #634
`NavigationLauncher` eventually launches `NavigationActivity` (inflates `NavigationView`) but limits the amount of customization you can do.  If you include / inflate `NavigationView` in your own `Activity` modeled after the `NavigationActivity` you'll have a lot more options as far as customization.  Like hiding the feedback button.

[2018-02-01 16:38] Danny-James commented on #634
No Problem, So If I Create The NavigationActivity Like You Referenced I Will Basically Have The Acitivty When Calling `NavigationLauncher.startNavigation();`, or is their more to it than that?

[2018-02-01 16:50] danesfeder commented on #634
This isn't in our work pipeline right now but it's a pretty simple PR.  I'll see if I can sneak it into our next release

[2018-02-01 16:53] Danny-James commented on #634
@danesfeder thanks buddy.

[2018-02-02 20:27] danesfeder commented on #677
@m-harisqurashi Are you calling `NavigationView#onDestroy`?  In the `Fragment` or `Activity` that's inflating it?

[2018-02-02 20:32] danesfeder commented on #675
@briandilley Yeah thanks for your code, everything there looks fine to me.  This is a native crash happening in our Maps SDK.

@tobrun does this native stack trace give you any hints or do we need to symbolicate it?

[2018-02-02 21:01] briandilley commented on #675
probably need to symbolicate - but i've moved to an activity.

On Fri, Feb 2, 2018 at 12:32 PM, Dan Nesfeder <notifications@github.com>
wrote:

[2018-02-02 21:52] danesfeder commented on #671
Found the issue and pending fix with https://github.com/mapbox/mapbox-navigation-android/pull/683.  This was not related to the sensor manager originally mentioned.

[2018-02-04 01:29] kozyr opened #686 "Navigation doesn't start if you're too far off the road"
I live in an apartment complex about 300 meters away from nearest OSM road. When testing the navigation from my house, included navigation UI just doesn't do anything - it doesn't show next waypoint, doesn't show the route, doesn't update my location.

If I try the same from the road, everything works just fine.

Expected - navigation should work from anywhere.

[2018-02-05 15:10] gonzalt03 commented on #451
With `com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.9.0`, same problem. Freeze and this log :

[code]

[2018-02-05 17:59] danesfeder commented on #682
@Danny-James going to go ahead and close this as, the location code isn't related to the original issue.  Feel free to open a new issue if found.

[2018-02-05 17:59] #682 closed

[2018-02-05 19:04] danesfeder commented on #686
Hey @kozyr, thanks for the feedback.  Testing from inside your apartment may result in issues with your GPS updating correctly / frequently.  300 meters is definitely more than our off-route threshold and should immediately trigger a off-route event with `OffRouteListener`.

If you're using our core library, it's up to you on the client to then call for a new route: https://www.mapbox.com/android-

[2018-02-05 19:33] kozyr commented on #686
Hi @danesfeder , thing is, my garage is right by my house, and the tiny roads that lead out to a main road there are not in OSM:
![image](https://user-images.githubusercontent.com/993879/35824357-3a09222e-0a78-11e8-941e-87b5ad901a5e.png)
I'm right near the center of the image where the marker is. So when I start the UI, it's completely blank, and it's a pretty bad user experience. I guess it will

[2018-02-05 19:58] danesfeder commented on #686
@kozyr Yeah this issue stems from our need to be exactly on the route for navigation to begin.  It isn't a great UX but we are working with our directions team to determine the best solution.  (i.e. - handling parking lots and the scenario you are encountering here)

[2018-02-06 06:35] m-harisqurashi commented on #677
Yes i'm but problem is that when i click on `NavigatonView`'s cancel button, it does nothing but when i destroy Fragment t works fine. Problem is that when we click on cancel button it only calls `onNavigationFinished `and `onNivigatonCanceled `.

[2018-02-06 14:40] sstolz commented on #598
Hi,

Don't know if my problem is the same but I try to have all my navigation in french (in a Kotlin application) and I've got :
- voice in french ;
- voice instruction mixed french / english (streets in french, instructions in english) ;
- instructions displayed in english ;
- the time of arrival is in 12h format instead of 24h ;
- distance en metric system ;
- all data in API response is in fren

[2018-02-08 17:52] tuyen-vuduc opened #688 "MapboxOptimization - DirectionsRoute not compatible with NavigationView"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do something, or to understand why something isn't working the way you expect it to, use Stack Overflow. https://stackoverflow.com/questions/tagged/mapbox+android

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests get fixed. In a

[2018-02-09 21:56] #671 closed

[2018-02-10 01:17] cammace opened #692 "Localize banners"
_Originally opened by @daniel-j-h_

Similar to our units _always_ being in miles and feet at the moment, our banners always assume we're in the US. Check out the screenshots below from a route I took over the weekend in germany, the Mapillary dashcam images and the OpenStreetMap data.

Here is the motorway junction node with the ref you see in the screenshow below:
http://www.openstreetmap.org/nod

[2018-02-12 14:24] cammace opened #693 "Navigation UI feedback causing crash when screen rotated"
_reported originally by @daniel-j-h_

When navigating along a route, clicking the feedback button and then rotating the screen causes the app to crash.

cc: @danesfeder

[2018-02-12 15:33] sm-azure opened #694 "Not receiving Milestone and ProgressChange Events"
Following the example here - https://www.mapbox.com/help/android-navigation-sdk/

Application works as described. Implemented the interfaces MilestoneEventListener, ProgressChangeListener in the MainActivity and passed to NavigationLauncher as part of the NavigationViewOptions. No callback occurs.

Here is the NavigationViewOption being passed.
`NavigationViewOptions options = NavigationViewOption

[2018-02-12 22:14] cammace opened #698 "Zooming out shows end of the world"
_Originally reported by @daniel-j-h_

OnePlus 3T

Zooming out shows the end of the world - we probably should pan around. At the same time when zooming out that far and starting navigation the screen flickers really heavily because it's zooming in really fast.

![screenshot_20171030-122134](https://user-images.githubusercontent.com/527241/32188347-ed43dfc0-bd7d-11e7-8fa1-cd221f7499b9.jpg)

[2018-02-12 22:45] danesfeder commented on #692
This should be improved now that:
- Banners instructions come from the API
- The "then" banner shows only with 70 seconds remaining on a step also opened #696
- And you can change the units in the UI :)

[2018-02-12 22:45] #692 closed

[2018-02-12 22:47] danesfeder commented on #666
This looks like an issue with your `build.gradle` - not sure how to help you here.

[2018-02-12 22:47] #666 closed

[2018-02-12 22:50] danesfeder commented on #622
This error is occurring in our services library.  I've opened this ticket https://github.com/mapbox/mapbox-java/issues/720

[2018-02-12 22:50] #622 closed

[2018-02-13 10:43] daniel-j-h commented on #692
Yay thank you! 🎉

[2018-02-13 18:24] ericrwolfe commented on #659
This missing params were added to Mapbox Matching Builder in https://github.com/mapbox/mapbox-java/pull/718

[2018-02-13 20:57] cammace opened #701 "On map click, route line gets placed on top of markers"
when the route is first drawn and you tap the map, the origin and destination markers get placed below the route layer.

![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/5652865/36173281-76ce70b0-10d6-11e8-812a-d5a4c696e9d7.gif)

[2018-02-14 01:49] briandilley opened #702 "NullPointerException in NavigationView causing crash"
[code]

[2018-02-14 07:14] m-harisqurashi commented on #677
@danesfeder any update on this issue?

[2018-02-14 16:22] danesfeder opened #704 "Drawing larger routes with NavigationMapRoute freezes UI thread"
![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/8434572/36215157-53751b3e-1179-11e8-8b31-99fba53a7182.gif)

[2018-02-14 16:23] danesfeder commented on #702
Hey @briandilley thanks for the feedback.  Any context as to when you're seeing this?  And which version of the SDK? Thanks

[2018-02-14 16:25] danesfeder commented on #688
Hey @tuyen-vuduc, having trouble in regard to the issue you're seeing here.  You're having trouble retrieving a `DirectionsRoute`?

[2018-02-14 18:50] #693 closed

[2018-02-15 20:10] #701 closed

[2018-02-16 11:44] skienzl opened #705 "Set primary route via method call in NavigationMapRoute"
It would be useful if you could set primary routes via a method on the NavigationMapRoute next to switching via a map click. I would like to make a kind of viewpager which can swipe through all the alternative routes as well.

[2018-02-16 17:27] #609 closed

[2018-02-16 17:32] Danny-James commented on #609
@danesfeder good job!! .. will the ability to turn off re routing be in the v10.0 release? the Boolean navigation option you spoke about.

[2018-02-16 17:39] danesfeder commented on #609
@Danny-James Are you using `NavigationView` implementation or `NavigationLauncher`?  I think we talked before and you converted to the `View`?  If so, you can pass `MapboxNavigationOptions` with `enableOffRouteDetection(false)` to `NavigationViewOptions#navigationOptions` before you call `NavigationView#startNavigation`

[2018-02-16 17:41] Danny-James commented on #609
@danesfender I didn't end up converting to the view as I need to get this version of the app out I'm well over due, so once this is out and working I plan on moving to the `NavigationView` as i'll have more time to understand how to implement this.

[2018-02-16 20:47] danesfeder commented on #688
Not sure what the issue is here, going ahead and closing.  Feel free to re-open and provide more context if you'd like

[2018-02-16 20:47] #688 closed

[2018-02-16 21:29] #603 closed

[2018-02-16 23:15] danesfeder opened #707 "Release 0.10.0-beta.1"
- [x] Change version name to `0.10.0-beta.1` in `gradle.properties`
- [x] Publish `0.10.0-beta.1` artifact to Maven Central
- [x] Change version name back to `0.9.1-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `0.10.0-beta.1` in GitHub

/cc: @mapbox/navigation

[2018-02-19 08:40] Harshjain2094 opened #709 "Turn by Turn navigation query?"
Turn by Turn Navigation

I am using your SDK for turn by turn navigation in android. I need to ask how to navigate in real time getting the real-time location. Right now what's happening is when I start the turn by turn navigation it goes to the destination automatically but I want when the user moves it should show the navigation according to it. How to do in-app programmatically.
And also I need

[2018-02-19 16:52] skienzl commented on #704
Seems like the iteration through the routeCoords in the boundCameraToRoute is responsible for the freezing and blocks the UI: https://github.com/mapbox/mapbox-navigation-android/blob/08a5230006df13b263f43f134255278effde2a71/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java#L328) takes

[2018-02-19 16:57] devotaaabel commented on #600
See https://github.com/mapbox/mapbox-plugins-android/issues/215

[2018-02-19 16:57] #600 closed

[2018-02-19 20:46] tuyen-vuduc commented on #688
@danesfeder It's the holiday over here.

The context is that I want to use results from Mapbox OptimizedTrips API in NavigationView.
[code]

The above script is written in C#, however, I did test it in Java.

Thanks.

[2018-02-20 05:42] brsbl commented on #578
Closed by https://github.com/mapbox/mapbox-navigation-android/pull/667

[2018-02-20 05:42] #578 closed

[2018-02-20 11:35] #707 closed

[2018-02-20 19:16] Guardiola31337 opened #713 "Navigation notification should show correct information and end navigation when tapped"
- We should revisit/refactor [`MapboxNavigationNotification`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java) (a foreground service like [`NavigationService`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/c

[2018-02-20 20:43] Guardiola31337 opened #714 "Clean test app examples"
Found some issues in the test `app` examples that would be great to fix 👀

- The [layout](https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/res/layout/activity_navigation_view.xml#L22-L52) located at the top of the [`NavigationViewActivity`](https://github.com/mapbox/mapbox-navigation-android/blob/master/app/src/main/java/com/mapbox/services/android/navigation/testapp/ac

[2018-02-22 10:00] danesfeder opened #715 "Use BannerComponent text as placeholder for shield before loading"
We currently use two spaces `"  "` as a placeholder for an `ImageSpan` that is created for showing shield images inline with banner text --> https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionLoader.java#L175

We should use the actual text provided by the directions API (that can

[2018-02-23 11:19] danesfeder commented on #709
Hey @Harshjain2094, would you be able to provide the version of the SDK you're using and a code snippet of how you are using the SDK?  Thanks!

[2018-02-23 11:31] Harshjain2094 commented on #709
Hey, @danesfeder

I have implemented these files in gradle file of app:

  _**implementation('com.mapbox.mapboxsdk:mapbox-android-sdk:5.4.1@aar') {
        transitive = true
    }
    implementation 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.9.0'
    implementation('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.9.0') {
        transitive = true
    }**_

And the code to start navigati

[2018-02-23 11:42] danesfeder commented on #709
@Harshjain2094 Yeah, you are correct, you can remove `.shouldSimulateRoute()` completely (the default is false).

As far as not getting update when this is false, are you in a building?  Have you been driving / outside?  GPS can struggle in indoors, regardless of our settings.  Other than that, I would make sure you have the correct location permissions requested `ACCESS_FINE_LOCATION` and `ACCESS

[2018-02-23 11:45] Harshjain2094 commented on #709
@danesfeder So, I should remove this line and could when I start navigation it would give real-time directions and navigate with it?

I just need to ask one more thing when the travel is finished i.e the rider has reached the destination if there any method to get information about time, distance and ride fully completed or not?

[2018-02-23 12:01] danesfeder commented on #709
@Harshjain2094 Yes, that's correct.  We start up a `LocationEngine` that begins pushing `Location` updates to the SDK for processing.

To listen to the `NavigationVew`, you can use https://www.mapbox.com/android-docs/navigation/overview/navigation-ui/#listening-to-the-navigationview

In particular, `ProgressChangeListener` and run `RouteUtils#isArrivalEvent(RouteProgress)` -- this will be true onl

[2018-02-23 12:02] Harshjain2094 commented on #709
okay, thanks it'll help a lot.
@danesfeder Thanks a ton.

[2018-02-23 16:19] vishalkharat opened #716 "NavigationActivity not found error while launching navigation from activity."
While launching NavigationLauncher from Activity its throwing following error:

E/AndroidRuntime: FATAL EXCEPTION: main
                                                           Process: com.testapp, PID: 24590
                                                           android.content.ActivityNotFoundException: Unable to find explicit activity class {com.testapp/com.mapbox.services.android.naviga

[2018-02-23 16:25] danesfeder commented on #716
Hey @vishalkharat, do you mind sharing a code snippet where you are using `NavigationActivity`?

[2018-02-23 16:25] danesfeder commented on #709
@Harshjain2094 no problem, should be good to close here.  Feel free to create a new ticket if you run into any other issues.

[2018-02-23 16:25] #709 closed

[2018-02-23 16:33] vishalkharat commented on #716
NavigationLauncher.startNavigation(MapboxActivity.this, options);
using above code in following Activity on button click event

public class MapboxActivity extends AppCompatActivity implements LocationEngineListener, PermissionsListener {

    private MapView mapView;

    // variables for adding location layer
    private MapboxMap map;
    private PermissionsManager permissionsManager;
    priva

[2018-02-24 22:02] briandilley opened #717 "Crash in completely unrelated activity."
In my app the flow is: `StartupActivity` -> `LoginActivity` -> `ShuttleListActivity` -> `RidesActivity` -> `NavigationActivity`.  The user bounces between the `RidesActivity` and `NavigationActivity` most of the time.  There is 0 usage of any mapbox code until the `NavigationActivity` - nowhere else does the code use mapbox (well, except to initialize it with the access token / keys / etc. in the

[2018-02-24 22:03] briandilley commented on #717
I would be willing to invite some mapbox engineers to our Crashlytics an github repo(s) if it'll help solve the problem.  We _are_ paying customers :)

[2018-02-26 02:02] danesfeder commented on #717
Hey @briandilley thanks for bringing this to us.  Looks like this is a bug in how we initialize some of our metrics - I queued up #718 to fix.

[2018-02-26 10:12] mf-mindcrewtech opened #720 "HANG MAp :: navigationMapRoute.addRoute(currentRoute);"
Everytime, when I getRoute of long distance points, my map goes hang and app not responding until the route is create. I already tried in background but still the same result.

[2018-02-26 12:38] #720 closed

[2018-02-26 14:19] danesfeder commented on #720
Yeah @mf-mindcrewtech this is a duplicate of #704

[2018-02-26 14:51] danesfeder commented on #273
Currently copying the raw location attributes in `master` https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java#L50-L61

[2018-02-26 14:51] #273 closed

[2018-02-26 17:41] #702 closed

[2018-02-26 18:58] danesfeder commented on #717
@briandilley Could you provide a code snippet of how you are using `NavigationActivity`?  Are you using it by itself or via `NavigationLauncher`?  Also, are you seeing this crash consistently or intermittently?

[2018-02-26 19:00] briandilley commented on #717
It's our own `NavigationActivity` actually.  I'd be happy to share the code with a mapbox developer as long as it's not shared with the rest of the world.  There's actually not much to it.

[2018-02-26 20:22] #717 closed

[2018-02-26 21:00] danesfeder opened #722 "Release v0.10.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.9.0`

### Includes
- Fix NPE with MapRoute click listener #721
- Null check camera tracking #719
- Initialize metric session state in constructor #718
- Clean dependencies exposed #711
- Fix Javadocs so that supports JDK 8 #712
- Clear features so DirectionsRoute isn't redrawn when new style loads #706
- Fix bug with MapRoute onCl

[2018-02-26 22:42] #722 closed

[2018-02-27 02:11] tonyc10 commented on #452
I seeing this error, too.  I just tried to put the plugin into my project.  This plugin worked fine for me 6-8 months ago on a different project.

From my log:
Fatal signal 6 (SIGABRT), code -6 in tid 1077
                                                  [ 02-26 20:02:53.586   375:  375 W/         ]

From my gradle:
[code]

From my Activity:
[code]

Any ideas?

[2018-02-27 02:25] danesfeder commented on #452
@tony-cj Yeah thank you for the feedback.  This issue is currently being tracked in the plugins repo: https://github.com/mapbox/mapbox-plugins-android/issues/274

[2018-02-27 02:25] #452 closed

[2018-02-27 17:52] vladgheorghe opened #725 "NavigationCamera package private ??"
I just checked out the new 0.10.0 release and I have noticed that NavigationCamera is now package private. This breaks my build as I have a custom implementation of the sdk where the user can choose when to lock the camera in navigation, am I missing something ? Modified [here](https://github.com/mapbox/mapbox-navigation-android/commit/860f270d87bb565177c15becfacea7b237874525)

[2018-02-28 14:59] danesfeder opened #726 "API-Voice Integration"
- [x] API requests
- [ ] Pre-fetching / caching system

- Long-term, requires MAS addition (extracted from first pass in Nav SDK): https://github.com/mapbox/mapbox-java/issues/703

[2018-02-28 16:12] danesfeder commented on #725
@vladgheorghe Yeah, this was on us.  https://github.com/mapbox/mapbox-navigation-android/pull/679 will land this week and make it `public` again and I'm planning a `0.10.1` patch release before the week is over.  Sorry about that!

[2018-03-01 10:14] nsuryanarayanareddyn commented on #677
I am also facing same issue. I can able to hide this button.

[2018-03-01 11:00] nsuryanarayanareddyn opened #727 "Custom NavigationView cancelBtn doesn't close navigationView and not translated expected arrival time"
Hello Team,

I am implementing turn by turn navigation in one of our project and I am using NavigationView with an Activity. When I click on cancel button it does not close the activity.

please find the attached screen shot.
![navigationview_close](https://user-images.githubusercontent.com/4735046/36841058-1449ac2c-1d6d-11e8-9c4b-86f7e32dff09.png)

I would like to support for multiple languages,

[2018-03-01 14:20] danesfeder commented on #677
With the `NavigationView` implementation, you must add a [`NavigationListener`](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java#L77) to the `NavigationViewOptions` prior to `NavigationView#startNavigation`

https://github.com/mapbox/mapbox-navigation-android/blob/master/liban

[2018-03-01 14:27] danesfeder commented on #727
@nsuryanarayanareddyn Please see https://github.com/mapbox/mapbox-navigation-android/issues/677#issuecomment-369605916 regarding the the cancel button not closing the view.

As far at the ETA localization, we do need to provide an option for 12 / 24hr time display if that's what you mean?  In this case it would read `16:04`?

[2018-03-02 04:40] nsuryanarayanareddyn commented on #677
Thank you, the cancel button works well...

[2018-03-02 06:59] #534 closed

[2018-03-02 10:29] m-harisqurashi commented on #677
@danesfeder `cancelBtn` works well but if we implement callbacks in `Activity `and `Fragment` but it doesn't close ongoing notification and navigation voice playback.
It should do the following
[code]

[2018-03-02 15:44] danesfeder commented on #677
@m-harisqurashi are you calling? https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java#L68-L72

[2018-03-02 15:50] danesfeder commented on #526
Landed in #668

[2018-03-02 15:50] #526 closed

[2018-03-02 15:51] danesfeder commented on #459
No longer and issue, fixed with #667

[2018-03-02 15:51] #459 closed

[2018-03-02 16:34] #601 closed

[2018-03-05 08:10] roxic8 opened #735 "When i use this code in mapbox there is no voice instruction"
Point origin = originPosition;
        Point destination = destinationPosition;

        // Pass in your Amazon Polly pool id for speech synthesis using Amazon Polly
        // Set to null to use the default Android speech synthesizer
        String awsPoolId = null;

        boolean simulateRoute = true;

        NavigationViewOptions options = NavigationViewOptions.builder()
                .ori

[2018-03-05 08:14] nsuryanarayanareddyn opened #736 "Voice instructions not translating as per device language"
Hello Team,

I am building turn by turn navigation app and I need to provide for different countries. The voice instructions are not translating as per device language.

Here I am passing Locale
  NavigationViewOptions.Builder optionsBuilder = NavigationViewOptions.builder()
                                .shouldSimulateRoute( simulateRoute );
                        optionsBuilder.directionsRout

[2018-03-05 09:58] nsuryanarayanareddyn opened #737 "exclude method does not work for highway's -- while drawing route"
Hi Team,

While I am drawing route , I need to provide an option to user to avoid toll and highway. The exclude method works well in case of toll , but if I pass exclude parameter as "highway" I am getting the following error message.

failed to draw route: java.lang.Throwable: exclude value must be one of  toll, motorway, ferry
bellow code I am using
 NavigationRoute.builder()
                .ac

[2018-03-05 14:32] danesfeder commented on #736
Hey @nsuryanarayanareddyn, which version of the SDK are you using?  In `0.10.0`, the `Locale` for the instruction pronunciation is actually done with `MapboxNavigationOptions#locale`, sorry for the confusion here.

@devotaaabel can you confirm this is the issue here?  I believe you removed `NavigationViewOptions#directionsLanguage` in your instruction locale work.

[2018-03-05 14:36] danesfeder commented on #735
Hey @roxic8, which version of the SDK are you using?  With simulation set to true, navigation should begin and you should start to hear instructions for the default `TextToSpeech` engine..

[2018-03-05 14:50] roxic8 commented on #735
sdk version is 5.3.1 and the navigation is 0.10.0 and also the navigation-ui is 0.10.0 what do you think is wrong ???

[2018-03-05 14:50] danesfeder commented on #737
Hey @nsuryanarayanareddyn, the exclude `String` that you're looking for here is https://github.com/mapbox/mapbox-java/blob/master/services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsCriteria.java#L130.  That will exclude highways while fetching the route

[2018-03-05 14:51] roxic8 commented on #735
yes it navigate but there is no voice speaking the direction

[2018-03-05 15:10] roxic8 commented on #735
@danesfeder sdk version is 5.3.1 and the navigation is 0.10.0 and also the navigation-ui is 0.10.0 what do you think is wrong ???

[2018-03-05 15:10] roxic8 commented on #735
@danesfeder yes it navigate but there is no voice speaking the direction

[2018-03-05 20:55] danesfeder commented on #238
Added in #667

[2018-03-05 20:55] #238 closed

[2018-03-05 20:57] danesfeder commented on #674
Feel free to re-open if the above solution isn't sufficient.

[2018-03-05 20:57] #674 closed

[2018-03-05 22:44] hakobast commented on #623
Hi guys calling `navigationView.onDestroy()`  in `Fragment's onDestroyView` throwing fatal error.

[2018-03-05 22:48] danesfeder commented on #623
@hakobast do you mind opening a new issue to track this?  Can you please include the version of the SDK you're using and a stack trace for the error?  Thanks!

[2018-03-06 05:44] nsuryanarayanareddyn commented on #736
Hello @danesfeder  Thank you for your quick reply, I am using 0.9.0 and setting the locale as bellow.

 NavigationViewOptions.Builder optionsBuilder = NavigationViewOptions.builder()
                                .shouldSimulateRoute( simulateRoute );
                        optionsBuilder.directionsRoute( currentRoute );
                        optionsBuilder.navigationOptions( options1 );

[2018-03-06 08:17] hakobast commented on #623
@danesfeder yes i can open new issue. SDK version is `'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.10.0'` here is the stack trace.

`A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x7 in tid 10070 (pachage-name), pid 10070 (package-name)`

maybe this is related to issue
`03-06 12:13:50.786 10397-10397/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
03-06 1

[2018-03-06 11:17] nsuryanarayanareddyn commented on #727
@danesfeder  Hi Thank you for your reply , yes I am looking out 24hr time format. When can we expect this change.

Thanks in advance...

[2018-03-06 14:41] danesfeder commented on #736
@nsuryanarayanareddyn yes in `0.10.0` you can use `MapboxNavigationOptions#locale` and then pass it to `NavigationViewOptions#navigationOptions`:

[code]

Let me know if you have more questions 👍

[2018-03-06 14:41] #736 closed

[2018-03-06 14:44] danesfeder opened #740 "Add NavigationViewOption for 12 / 24 hr time formatting"
Captured from https://github.com/mapbox/mapbox-navigation-android/issues/727#issuecomment-369608072

We currently only format arrival time in 12 hr format.  We should offer the option to set this to 24 hr time too: https://user-images.githubusercontent.com/4735046/36841058-1449ac2c-1d6d-11e8-9c4b-86f7e32dff09.png

[2018-03-06 14:45] danesfeder commented on #727
Thanks @nsuryanarayanareddyn.  This isn't in our immediate pipeline of work, but I opened a ticket to begin tracking the work:
https://github.com/mapbox/mapbox-navigation-android/issues/740

[2018-03-06 14:45] #727 closed

[2018-03-06 16:28] #737 closed

[2018-03-06 16:28] danesfeder commented on #725
Closed with #679

[2018-03-06 16:28] #725 closed

[2018-03-06 16:29] danesfeder commented on #678
Closed with #679

[2018-03-06 16:29] #678 closed

[2018-03-07 13:05] baversjo opened #742 "NavigationViewOptions with .awsPoolId("cognito-id") not working"
I'm using `com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.11.0-SNAPSHOT` (as I couldn't get 0.10.0 to work due to the okhttp issue).
I'm launching a separate navigation activity using `NavigationLauncher.startNavigation`.
When I specify `.awsPoolId(null)`, I can hear the default android voice instructions fine (in contrary to #735 ).
However, when I specify the pool id `.awsPoolId("us-east-1:

[2018-03-07 18:36] danesfeder commented on #742
@baversjo Yeah this looks like an issue with the permission of your IAM identity.  I'd check out https://docs.aws.amazon.com/polly/latest/dg/using-identity-based-policies.html and see if you have everything set up correctly for your AWS account.

[2018-03-07 19:50] danesfeder opened #744 "Release v0.11.0"
### Includes

* Fix same point being added twice for LatLngBounds [#741](https://github.com/mapbox/mapbox-navigation-android/pull/741)
* Fix Recent Distances from maneuver Off-Route [#739](https://github.com/mapbox/mapbox-navigation-android/pull/739)
* Update MAS Dependencies [#738](https://github.com/mapbox/mapbox-navigation-android/pull/738)
* Update LocationLayerPlugin to 0.4.0 [#734](https://g

[2018-03-07 19:54] danesfeder commented on #744
@colleenmcginnis no breaking changes in this release 💯

[2018-03-07 20:33] danesfeder commented on #744
Doc updates ✅ https://github.com/mapbox/android-docs/pull/346
Javadoc ✅ https://github.com/mapbox/android-docs/pull/347

[2018-03-08 13:49] tobrun opened #746 "Usage of mapboxServices vs mapboxSdkServices"
We are including two different versions of [mapbox-java](https://github.com/mapbox/mapbox-java/) in this project. See [here](https://github.com/mapbox/mapbox-navigation-android/blob/master/gradle/dependencies.gradle#L12-L13) and [here](https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/build.gradle#L46-L48). Considering that we are using the `Maps SDK v5.5.0` we

[2018-03-08 15:44] #744 closed

[2018-03-08 17:26] baversjo commented on #742
1 character copy paste typo of key caused this. Sigh.. Thanks @danesfeder

[2018-03-08 17:26] #742 closed

[2018-03-08 17:30] danesfeder commented on #742
@baversjo ahh the worst - no problem, thanks for checking out the SDK!

[2018-03-08 18:54] tobrun commented on #746
cc @danesfeder @zugaldia

[2018-03-08 19:05] danesfeder commented on #746
@tobrun removing `mapbox-java v3.0.0-beta.3` would make us revert all the `3.0` code in the Nav SDK?

[2018-03-08 19:13] zugaldia commented on #746
I think that ideally we'd work to remove `2.2.10` so that we only use the most recent version of MAS moving forward. Capturing from chat with @danesfeder, looks like this the goal of https://github.com/mapbox/mapbox-navigation-android/pull/697.

cc: @Guardiola31337 who is actively working on that PR and can comment on whther there's anything else needed to resolve the versions conflict.

[2018-03-12 09:38] Danny-James commented on #527
@danesfeder Did this ever get included in any of the latest releases? also just another quick question did you manage to include the `boolean` value in the `NavigationOptions` to disable re-routing?

Cheers!

[2018-03-12 15:25] jeffwasher opened #750 "NavigationView does not reroute if phone screen is off"
Navigation works when the phone screen is off, so I assume this is an intended use case. However if the User goes off route while the screen is off, no reroute action happens.  Since NavigationViewModel.offRouteEvent and NavigationViewModel.isOffRoute are MutableLiveData, the reroute action won't fire and my RouteListener doesn't receive a call to onOffRoute.

[2018-03-12 15:29] danesfeder commented on #750
Hey @jeffwasher, what version of the SDK are you using?  Also, can you post the code you're using to set up the off-route listener you're talking about here?  Thanks!

[2018-03-12 15:39] jeffwasher commented on #750
Hi @danesfeder, I'm using mapbox-android-navigation-ui:0.11.0

Here's where I set the RouteListener (I've got an Activity holding a NavigationView):
`    @Override
    public void onNavigationReady() {
        final NavigationViewOptions.Builder options = NavigationViewOptions.builder();
        final MapboxNavigationOptions.Builder navigationOptions = MapboxNavigationOptions.builder();
        sw

[2018-03-12 16:01] danesfeder commented on #750
@jeffwasher you're only seeing this issue when the app is in the background?

[2018-03-12 17:15] jeffwasher commented on #750
That's correct.  The screen is off.  The voice instructions continue to work until you go off route.  Then silence.

[2018-03-12 19:55] danesfeder opened #752 "onProgressChange not working"
Copied from: https://github.com/mapbox/mapbox-java/issues/745

I have an onProgressChange method that just isn't getting called when my progress is is changing.
This is my code:
`        @Override
        public void onProgressChange (Location location, RouteProgress routeProgress){
            Toast.makeText(getBaseContext(), "Progress changing ", Toast.LENGTH_SHORT).show();
            Toast.mak

[2018-03-12 20:01] A1ecm commented on #752
I just have this method written. Is that nog enough? Do I have to call it somewhere? I'm using version 5.5.0

[2018-03-13 00:11] cammace opened #754 "Cycling profile working in route but not in the navigation itself"
Originally opened by @A1ecm.

For my navigation builder I set the profile like this:
NavigationViewOptions options = NavigationViewOptions.builder() .directionsProfile(DirectionsCriteria.PROFILE_CYCLING) .origin(origin) .destination(destination) .awsPoolId(awsPoolId) .shouldSimulateRoute(simulateRoute) .build();
It works for the route, but when I start the navigation it goes back to a driving prof

[2018-03-13 16:42] A1ecm commented on #752
Im also using 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.11.0'

[2018-03-13 18:47] danesfeder commented on #293
Fixed with #629

[2018-03-13 18:47] #293 closed

[2018-03-13 18:48] danesfeder commented on #274
Fixed with #667

[2018-03-13 18:48] #274 closed

[2018-03-13 18:48] danesfeder commented on #698
Fixed with #679

[2018-03-13 18:48] #698 closed

[2018-03-13 18:49] danesfeder commented on #673
Being worked in #697

[2018-03-13 18:49] danesfeder commented on #379
Being worked in #690

[2018-03-13 20:12] danesfeder opened #755 "Release v0.11.1"
- Will track the release of `v0.11.1` to include:
    - MAS `beta.4`
    - Bug fixes, minor updates

- [x] TODO: include changes and release checklist in this ticket (example: #744)

### Release checklist @devotaaabel

- [ ] Run through testapp/demo app and test all activities
- [x] Change version name to `0.11.1` in `gradle.properties`
- [x] Publish `0.11.1` artifact to Maven Central
- [x] Change