[2017-04-14 15:58] zugaldia opened #2 "Add CI support"
Once https://github.com/mapbox/mapbox-navigation-android/pull/1 lands, and before we publish the first release, we need to integrate this project with our CI system.

cc: @Guardiola31337 @tobrun

[2017-04-14 15:58] zugaldia opened #3 "Add Maven functionality"
Once https://github.com/mapbox/mapbox-navigation-android/pull/1 lands, and before we publish the first release, we need to add Maven functionality (for both local and remote installs).

cc: @Guardiola31337 @tobrun

[2017-04-14 16:01] zugaldia opened #4 "Release v0.1"
In order to be able to release the first version of the Mapbox Navigation SDK for Android as a standalone project, the following things need to happen:

- [x] Land https://github.com/mapbox/mapbox-java/pull/439
- [x] Fix the fixture paths for OSRM text instructions tests
- [x] Land https://github.com/mapbox/mapbox-navigation-android/pull/1
- [x] Update to MAS _without navigation classes_ (this wil

[2017-04-19 00:56] cammace opened #5 "Handler could be null"
Original ticket opened by @Guardiola31337 in MAS https://github.com/mapbox/mapbox-java/issues/436.

[`handler`](https://github.com/mapbox/mapbox-java/blob/master/mapbox/app/src/main/java/com/mapbox/services/android/testapp/location/MockLocationEngine.java#L86) could be `null` which would make the app to crash.

Following snippet will fix the issue.
[code]

[2017-04-19 01:03] cammace opened #6 "Optional units for routeUtils"
Original ticket: https://github.com/mapbox/mapbox-java/issues/233

For routeUtils, we should allow the user to specify which units they want to use for distance values. Currently we are just using the default value.

[2017-04-19 01:06] zugaldia commented on #4
Thank @1ec5 , added the item to OP and made the repo public at the same time.

Once https://github.com/mapbox/mapbox-navigation-android/pull/1 landed, code is effectively moved. We're now getting ready for a Maven release.

[2017-04-19 15:52] cammace opened #9 "Add gradle script for generating developer_config.xml file"
While our other SDK testapps generate the access token file, we currently have to do this manually in the nav testapp.

cc: @Guardiola31337

[2017-04-19 16:17] #2 closed

[2017-04-19 17:49] #3 closed

[2017-04-20 14:38] #9 closed

[2017-04-20 19:31] zugaldia commented on #4
@langsmith @cammace The Navigation SDK is now available on Maven. All that we need to do to close this ticket is to update the `README.md` file with a basic SDK description, link to [latest docs](https://www.mapbox.com/android-docs/mapbox-navigation/2.1.0/navigation/) (version should be updated to 0.1), and installation instructions.

The snippet to add to your `build.gradle` to consume this SDK i

[2017-04-20 19:59] langsmith commented on #4
Ok, I will make those changes @zugaldia

[2017-04-24 17:18] cammace opened #16 "Add RxJava Support"
Similar to how we have created a module for RxJava specific support in Mapbox-Java, we should consider doing the same for the navigation SDK.

[2017-04-24 18:32] cammace commented on #4
Noting here that similar to our services SDK, you don't have to include the transitive part in your gradle file.

[code]
works the same.

[2017-04-25 19:43] cammace opened #18 "MapboxNavigationOptions"
Introduce the `MapboxNavigationOptions` to allow developers to set their own constant values if needed.

cc: @zugaldia @danesfeder

[2017-04-25 19:48] cammace opened #19 "Background Thread"
The background handler thread can be removed and logic can be calculated directly in the `NavigationService` object. The NavigationService however, needs to be running on a separate thread to keep performance intact

cc: @zugaldia @danesfeder

[2017-04-25 19:52] cammace opened #20 "Improve the monitoring of step progress"
Breakup [monitorStepProgress](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/LocationUpdatedThread.java#L137) method into smaller, more testable, methods and easier readability. Currently it is a direct port from the Swift [function found here](https://github.com/mapbox/mapbox-navigation-ios/b

[2017-04-25 21:52] 1ec5 commented on #20
Sounds great. It’s a sprawling method that should be refactored on the Swift side too.

[2017-04-28 11:50] LukasStancikas opened #21 "Navigation UI like in iOS"
Is there, and/or will there be a separate Activity with a mapview with some style, that would take 'Route' object and show built in navigation with distance,estimated time, next maneuver etc. UI. iOS has NavigationViewController (MBNavigationViewController) that can be easily presented.

[2017-04-28 14:55] cammace commented on #21
The idea is to match up with what iOS exposes and eventually release UI elements that can easily be added inside your application. for the map items such as route lines or the user icon/puck we plan to introduce a plugin system for the maps sdk. For other views such as search widgets, instruction cards, etc. they will be located inside the Mapbox-Java `libandroid-ui` dependency.

[2017-04-28 14:55] #21 closed

[2017-04-28 14:56] cammace commented on #4
Look like the readme is up to date and v0.1 has been released, closing this ticket.

[2017-04-28 14:56] #4 closed

[2017-04-28 19:19] cammace opened #23 "Add toString, hashcode, and equalTo methods to NavigationOptions object"
Useful for many reasons but hasn't been implemented since https://github.com/mapbox/mapbox-java/pull/450 hasn't been decided yet.

[2017-04-28 19:28] cammace opened #24 "Allow other direction profiles for navigation"
iOS added the ability for different profiles such as biking for a navigation session.

[2017-04-28 19:30] #18 closed

[2017-04-28 19:45] cammace opened #25 "Navigation notification improvement"
We don't allow much customization for the notification currently being offered in the SDK, we should add a default notification but also allow devs to pass in their own notifications or even disable the notifications.

The NavigationService onProgressChance can be used for updating the notification.

[2017-05-01 07:50] MahmoudSabbah opened #26 "Nnavigation not work why, there is no error"
when I click start route, no thing happen the navigation not work why, there is no error

[2017-05-01 14:10] cammace commented on #26
Could you provide more information? Sounds like it might be an issue with your location engine not being set properly. The navigation starts, it just doesn't receive any location updates.

[2017-05-01 14:13] MahmoudSabbah commented on #26
No I check it the location is exists

On May 1, 2017 5:10 PM, "Cameron Mace" <notifications@github.com> wrote:

[2017-05-01 14:17] MahmoudSabbah commented on #26
This is my code

On May 1, 2017 5:13 PM, "Mahmoud Sabbah" <mahmouds639@gmail.com> wrote:

[2017-05-01 19:00] cammace commented on #20
I've been looking over best solutions for splitting up the monitorStepProgress, here are the steps I'm thinking of taking to refactor it.
- [ ] Move logic into it's own class and get rid of `LocationUpdateThread` (see https://github.com/mapbox/mapbox-navigation-android/issues/19).
- [ ] Have routeProgress handle more logic, currently in `monitorStepProgress()` we are doing conversions and calculat

[2017-05-01 19:03] cammace commented on #26
I think you forgot to post your code @MahmoudSabbah, not seeing it on Github.

[2017-05-02 07:01] MahmoudSabbah commented on #26
All things work fine only the step " navigation.startNavigation(route); "
not work
note "route" has value

2017-05-01 22:03 GMT+03:00 Cameron Mace <notifications@github.com>:

[2017-05-02 08:06] MahmoudSabbah commented on #26
Please what exactly happen when I "startNavigation(route);"

[2017-05-02 15:22] LukasStancikas opened #27 "Navigating through Waypoints stops at first coordinate"
Hi, i have implemented a simple navigation UI, from the information that "RouteProgress" object gives. this is how i create "MapboxDirection" object:
[code]

coords are a list of coordinates, where the first element in the list is my current location, the last element is the destination, and <21 points in between are waypoints (not stopovers). But the RouteProgress + onAlertLevelChange seems to th

[2017-05-03 03:15] cammace commented on #26
I'm not sure what `not working` means, there could be several issues you are running into or it might be that you are not actually navigating along the route (it doesn't simulate the route but rather expects you to actually traverse along it). Without any additional information such as where your codes coming from I'm unable to help troubleshoot the issue. Going ahead and closing this issue but pl

[2017-05-03 03:15] #26 closed

[2017-05-03 05:22] MahmoudSabbah commented on #26
I send my code I implement all things
`import android.graphics.Color;
import android.location.Location;
import android.os.Bundle;
import android.support.annotation.NonNull;
import android.support.design.widget.BaseTransientBottomBar;
import android.support.design.widget.Snackbar;
import android.support.v7.app.AppCompatActivity;
import android.util.Log;
import android.view.View;
import android.widg

[2017-05-04 14:57] 1ec5 commented on #27
Also tracking on iOS in mapbox/mapbox-navigation-ios#204.

[2017-05-04 15:07] 1ec5 opened #28 "Add localizations"
The following files contain translatable messages that should be localized at Transifex:

https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/app/src/main/res/values/strings.xml
https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/main/res/values/strings.xml

We’ll want to set up a separate project under the Mapbox organization

[2017-05-04 15:17] langsmith commented on #28
thanks @1ec5 . I believe you're the only one who can set up a new project in our Transifex account. Wanna' create `Mapbox Navigation SDK for Android` so that we can take it from there?

[2017-05-04 15:24] 1ec5 commented on #28
@tobrun is already an administrator, and I’ve added you as well.

[2017-05-07 14:40] phfeitosaa opened #31 "Can I use mapbox navigation to create an indoor navigation?"
How could i use sdk navigation to create a navigation inside an indoor map? Let me explain better, I need to create a navigation application for internal locations that shows the route and navigates from one place to another. To make the location of the user without using the gps, I will use qr codes scattered throughout the building to give me the exact location of the user and then show the rout

[2017-05-09 06:44] davols opened #32 "NPE on MapboxNavigationOptions.getMinimumHighAlertDistance() in example"
Sometimes while running the demo app and the Navigation example it crashes after you have started a route. Does not happen all the time. I tried 5-10 times without a crash yesterday but later I got 5 crashes in a row.

Tested on Google Pixel XL running 7.1.2 and navigation 0.1.

Should make sure options are not null for that entire method. Seeing that options is used later in that method `(monitor

[2017-05-10 15:18] Floreturns opened #33 "Troubles with Routes on Cycling profile"
Hello MapBox !

**Platform: Android**
**Mapbox SDK version: 4.2.2**

I need to find a route for cycling users so my app is on Cycling profile, but this profile allow parking and private roads.

For now I use Driving profile to avoid these problems, but one way roads and cycling ways are not allowed in this mode.

Do someone have to solve this problem or someones know how to deal with it ?

![image

[2017-05-11 22:39] cammace commented on #31
Hey @phfeitosaa, while indoor navigation would be awesome to implement, several issues would need to be resolved and I'm not sure how it would work with QR codes instead of GPS. Since we are in the early days with this project, its safe to say that in the near future, we have no plans to support indoor navigation.

[2017-05-11 22:39] #31 closed

[2017-05-11 22:39] ericrwolfe opened #34 "Prevent abrupt re-routing / immediate u-turns"
Occasionally during rerouting, the SDK will return a maneuver that's too close to the user's current location and can lead to a missed turn and frequent + repeated re-routing.

As a first pass suggestion by @danpat, we can validate that a re-route is reasonable before presenting to the user:

If it is "too quick" (threshold to be determined), use the intersections object to predict the driver's pr

[2017-05-11 22:43] cammace commented on #32
Thank you for reporting this issue @davols, with the recent refactoring I've been doing in https://github.com/mapbox/mapbox-navigation-android/pull/30, the `LocationUpdateThread` doesn't exist anymore and pretty much the entire navigation internals have been rewritten to make much more sense (also easier to add test). Is there any chance you could check out https://github.com/mapbox/mapbox-navigat

[2017-05-11 22:45] cammace commented on #33
This issue seems to be a duplicate of https://github.com/mapbox/mapbox-navigation-android/issues/24 which points out that we need to add support for multiple direction profiles (i.e. cycling). Going ahead and closing, but keep on the lookout for an update on this soon :)

[2017-05-11 22:45] #33 closed

[2017-05-11 22:45] ericrwolfe opened #35 "Premature maneuver completion announcements"
Sometimes, maneuver completion announcements can happen prematurely.

An example of a driver that's told to make a left turn:

@1ec5 proposed a more sophisticated model for determining maneuver state:

Android version of https://github.com/mapbox/mapbox-navigation-ios/issues/222

cc @cammace

[2017-05-11 23:04] 1ec5 commented on #35
Thinking out loud about ways to model a turn: The user is in “approach” mode as they near the maneuver point and “exit” mode as they move away from the maneuver point. The [local minimum](https://en.wikipedia.org/wiki/Local_minimum) of the distance to the maneuver point is approximately where the user performs the maneuver. (Depending on the size of the intersection, that local minimum distance ma

[2017-05-12 16:58] kimosabi77 opened #36 "Running Navigation in Fragment"
I can't seem to get the navigation to start from a fragment.

All is fine on the routing front, draws the route. But it seems that the line below is where nothing happens:

`navigation.startNavigation(route);`

No Errors, nothing back from the navigation listeners.

Here is my code
[code]

[2017-05-12 20:20] cammace commented on #36
Hey, this sounds like your running into an issue that was introduced right before the `0.1.0` release. Could you try using the SNAPSHOT dependency. I plan on merging https://github.com/mapbox/mapbox-navigation-android/pull/30 PR soon which brings a number of additional fixes to navigation.

[2017-05-12 20:30] cammace opened #37 "Reroute refactor"
The current implementation can be significantly improved; we offer the option to consider the user's bearing when first creating a route but not when rerouting. Additionally, the rerouting should find the user's future position x time in the future (using dead reckoning). Potentially lower the off-route threshold when already detected off-route at first.

[2017-05-12 21:36] ericrwolfe commented on #34
Also related: #37

[2017-05-12 22:32] kimosabi77 commented on #36
This is in my build.gradle, already using SNAPSHOT

compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.2.0-SNAPSHOT'

[2017-05-13 00:05] kimosabi77 commented on #36
I think this may be the cause.

See attached crashlytics log
[crashlytics.txt](https://github.com/mapbox/mapbox-navigation-android/files/998210/crashlytics.txt)

[2017-05-13 00:35] cammace opened #38 "Restore locationEngine state to what user had before nav session"
When a navigation session begins, we take the instance of the locationEngine passed in and force the updating to happen more frequently. After a nav session, the locationEngine is automatically set to a lower battery consumption settings but this isn't necessarily what the developer had before they started navigating. Perhaps this is an API we should include in locationEngine, thoughts @zugaldia?

[2017-05-13 00:37] cammace opened #39 "snapUserBearing logic can be split/cleaned up"

[2017-05-13 01:51] cammace opened #40 "Throw exception when origin and destination positions are the same"
Causing a crash on Firebase, temporarily fixed it in the testapp activity, this might need to be fixed in mapbox-java too @zugaldia?

[2017-05-13 04:43] cammace opened #41 "Add annotations to RouteProgress object"
Now that RouteProgress has moved to an Android project, we can take advantage of the annotations to further ensure parameters, methods, classes, etc. are correct.

[2017-05-15 14:22] zugaldia commented on #40
@cammace yeah, could you please ticket it?

[2017-05-15 14:32] zugaldia commented on #38
How would the new API look like?

[2017-05-15 20:04] cammace commented on #5
We are no longer using a separate thread, closing

[2017-05-15 20:04] #5 closed

[2017-05-15 20:05] cammace opened #43 "Remove RouteUtils"
RouteUtils is no longer needed and can be removed in favor of placing the logic directly where it is needed.

[2017-05-15 20:06] cammace commented on #6
Due to removing routeUtils in the next release, https://github.com/mapbox/mapbox-navigation-android/issues/43 this ticket's no longer relevant.

[2017-05-15 20:06] #6 closed

[2017-05-15 20:08] cammace commented on #20
Refactoring of this took place in https://github.com/mapbox/mapbox-navigation-android/pull/30. Closing.

[2017-05-15 20:08] #20 closed

[2017-05-16 23:02] cammace commented on #32
Not able to reproduce this, I've added a [test for this](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/MapboxNavigationOptionsTest.java#L72) and haven't been running into any issues. Might have indirectly gotten fixed while refactoring `monitorStepProgress`. If this is still an issue, please

[2017-05-16 23:02] #32 closed

[2017-05-16 23:10] cammace opened #46 "Add testapp activity using Lost Location"
Currently, the navigation example in the testapps using mock location engine, a separate activity should be created using the LOST location provider.

[2017-05-18 17:54] cammace opened #47 "Navigation.start should return an initial routeProgress object"
cc: @danesfeder

[2017-05-18 22:33] ericrwolfe commented on #37
Closed with #44.

[2017-05-18 22:33] #37 closed

[2017-05-18 22:35] ericrwolfe commented on #34
Initial re-routing improvements added in #44 via #37. We'll keep this open pending some further testing.

[2017-05-19 22:13] cammace opened #48 "Once off-route, we measure from the same snapped position causing an endless loop."
[code]

[2017-05-19 22:13] cammace opened #49 "Throw exception if either origin or destination are null"

[2017-05-22 09:23] olheimer commented on #46
There is a documentation: https://www.mapbox.com/android-docs/navigation/latest/getting-started/
But unfortuanetley for me it doesn't work.
After calling the LocationEngine with activate it seems to request/receive location updates. But when I call endNavigation() in onDestroy (the navigation is runnning in a Service) the locationEngine does not quit requesting location updates (GPS notfication ic

[2017-05-23 03:00] cammace commented on #46
Sounds like the same issue that's being reported in https://github.com/mapbox/mapbox-gl-native/issues/9068. If I recall, this is an issue on Mapzen's end.

[2017-05-23 15:30] Grsmto opened #51 "Javadoc url doesn't exist"
Hi guys, first of all, thanks for the great work on this, I'm testing it right now and it's really cool.

It seems like the url to the Javadoc is wrong on the documentation page:
https://www.mapbox.com/android-docs/navigation/latest/getting-started/#api-reference

Thanks.

[2017-05-23 15:55] Grsmto commented on #51
Sorry I realised I posted this on the wrong repo. Closing.

[2017-05-23 15:55] #51 closed

[2017-05-23 18:06] cammace opened #53 "Integrate OSRM and navigation"
Currently, OSRM text instructions aren't being exposed inside the navigation sdk.

[2017-05-23 23:43] #48 closed

[2017-05-24 00:08] cammace opened #54 "Kalman Location Engine"
In order to better control when location updates occur, a Kalman filter can be used to force location updates between real GPS updates.

cc: @zugaldia

[2017-05-24 13:54] PatrickZenker opened #55 "Crash if smartphone localization is disabled"
Hey,

I don't know if this is a navigation issue or a general mapbox-java issue.

My setup on a Google Nexus 6 with Android 6.0 is:

If the user has allowed the smartphone to locate himself, everything work fine (app permissions for localisation are granted).

But if he disables the localisation, and I run the following code, the app crashes after I activate the location engine:

[code]

Best rega

[2017-05-26 08:23] PatrickZenker opened #57 "MockLocationEngine and setLocationSource"
Hey,
I'm using your pretty cool MockLocationEngine from the demo project. I noticed that the myLocationEnabled state is resettet after the LocationEngine is set (@ mapbox-android-navigation:0.2.0).

If I use only this code, the myLocation-Dot at the map doesn't move (even if I had set myLocationEnabled to true and MyLocationTracking.TRACKING_FOLLOW).
`mapboxMap.setLocationSource(mockLocationEngine

[2017-05-26 10:28] Grsmto commented on #57
Hi,
I'm not sure to understand your problem but it seems to be coming from the Map SDK, so it's not related to this repository but more to [this one](https://github.com/mapbox/mapbox-gl-native/).
Thanks!

[2017-05-26 10:39] PatrickZenker opened #58 "Additional route calculation parameter"
Hey,

is there a plan to add different route calculation parameters?
For example:
- car
- bicycle
- pedestrian

- fastes route
- shortest route

- language (for maneuver instructions)

Best regards,
Patrick

[2017-05-26 10:45] PatrickZenker opened #59 "Language setting for maneuver instructions"
Hey,

is there a way to get instructions in another language? If not, do you plan to include it?

Best regards,
Patrick

[2017-05-26 11:32] Grsmto commented on #59
Hi patrick, there is already an issue about that I think: #28 !

[2017-05-26 11:36] PatrickZenker commented on #59
You are right, sry :)

[2017-05-26 11:39] Grsmto opened #60 "App crashes on end of navigation if speed is higher than step length"
**Platform:** Android 7.1.2
**SDK version:** Latest SNAPSHOT

### Steps to trigger behavior

 1. Open the `RerouteActivity.java`
 2. Set speed of the MockEngine to `60` on [this line](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java#L78)
(2.1. Set destination coordinate to be su

[2017-05-26 12:01] PatrickZenker commented on #59
No, this is only for App strings. Not directly for maneuver instructions

[2017-05-26 12:07] #59 closed

[2017-05-26 19:18] cammace commented on #60
Interesting, thanks for reporting, I'll look more into this over the weekend.

[2017-05-26 21:13] Grsmto commented on #60
Ok have a great weekend then :)
I had a closer look to this and I figured out that when the user goes further than the very last step of the route, his location is snapped to the very last coordinate points of the last step, which is normal.
But, when `onLocationChanged` is called on `NavigationEngine`, the final `[RouteProgress](https://github.com/mapbox/mapbox-navigation-android/blob/master/navi

[2017-05-28 15:10] aliumujib opened #64 "Options"
Hello,
Is there a drop in controller that can has been implemented for android just like the one in the iOS repository here? https://github.com/mapbox/mapbox-navigation-ios

I would like to use map box and I just want to know if there is already one in the works before I start doing any heavy lifting.

[2017-05-28 22:17] Grsmto commented on #58
This will be supported once #63 is merged.

[2017-05-29 08:11] PatrickZenker commented on #58
Yeah, a part of this is duplicate. But is there a roadmap / schedule - especially for multiple language support?

[2017-05-29 08:25] #58 closed

[2017-05-29 20:13] #24 closed

[2017-05-30 01:21] graemebates opened #65 "Test App fails to run any of the activities other than MainActivity."
I'm having issues running the test application. OnCreate in each activity fails to load when setting the view.

setContentView(R.layout.activity_navigation_activity);

android.view.InflateException: Binary XML file line #12: Binary XML file line #12: Error inflating class com.mapbox.mapboxsdk.maps.MapView

I'm at a loss to what the issue is, as I'm running the entire project cloned.

Thanks for an

[2017-05-31 15:40] cammace commented on #65
Like @aliumujib mentioned, the full log would be useful. It sounds like you are missing the access token. Can you make sure your Mapbox access tokens inside the `developer-config.xml` file:

![screen shot 2017-05-31 at 11 39 29 am](https://cloud.githubusercontent.com/assets/5652865/26640526/f4a6f90a-45f5-11e7-8650-2296a235d191.png)

[2017-05-31 18:07] cammace commented on #64
On Android, this will be part of our plugin system. Track https://github.com/mapbox/mapbox-plugins-android/issues/12 to follow the latest progress.

[2017-05-31 18:07] #64 closed

[2017-06-01 14:13] cammace commented on #65
Going ahead and closing this issue, feel free to comment back if you are still having issues and I can reopen.

[2017-06-01 14:13] #65 closed

[2017-06-01 14:26] cammace opened #67 "Stop emiting alert levels besides arrival when close enough to destination"

[2017-06-01 16:32] cammace commented on #60
Was this the crash you were seeing?

[code]

The directions response would sometimes give the last step with only one coordinate. This would cause `TurfMisc.lineSlice()` to fail since the points were identical. I added an if statement checking for this case, fixed up other methods to return correct info in this case, and added a test to confirm the issues fixed. Fix was added to https://github.com

[2017-06-01 16:34] Grsmto commented on #60
That's exactly that! Good catch! :)

[2017-06-05 16:42] cammace opened #68 "Second navigation session not initializing correctly"

[2017-06-05 20:41] #60 closed

[2017-06-05 21:00] cammace opened #70 "Release Mapbox Navigation 0.3.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.3.0`. The leading feature in this release are listed below:

### Highlights
* Support for [other direction profiles](https://github.com/mapbox/mapbox-navigation-android/pull/63) (cycling and walking) added.
* Fixed [issue with step and leg indexes](https://github.com/mapbox/mapbox-navigation-android/pull/52) not getting restarted

[2017-06-05 21:00] #68 closed

[2017-06-05 21:47] cammace commented on #70
The release is now live and all steps have been finished (PRs opened). Going ahead and closing.

[2017-06-05 21:47] #70 closed

[2017-06-06 21:47] #41 closed

[2017-06-06 21:51] cammace commented on #36
Sorry for the delay, `Crashed: LocationUpdatedThread: 0 0 0x0000000000000000`, the locationUpdatedThread class doesn't exist anymore and many bug fixes have taken place since this issue was first opened, can you test using 0.3.0 or master and see if you are still running into the issue?

[2017-06-06 21:56] cammace opened #75 "Move to CircleCi"
Following in the footsteps of the Map SDK, we should switch CI to use CircleCi instead of Bitrise

cc: @Guardiola31337 @zugaldia

[2017-06-06 21:59] cammace commented on #55
@zugaldia is this one of the LOST issues we've been seeing? Looks like in any case, this issue belongs in the Mapbox-Java repo.

[2017-06-07 13:40] zugaldia commented on #55
@PatrickZenker Just a hunch, but I believe this is happening because you're including an incompatible version of LOST (per `exclude module: 'lost'` above). In its latest version, the `onProviderDisabled` method was removed from the LOST-provided interface. This is something `LocationSource` used to implement to comply with the older interface. I believe this is fixed in the upcoming 5.1 release.

[2017-06-07 13:54] PatrickZenker commented on #55
Okay, thank you!

[2017-06-07 13:54] #55 closed

[2017-06-08 15:35] cammace opened #77 "Remove mock location engine"
Once https://github.com/mapbox/mapbox-java/pull/476 merges, use this implementation instead.

[2017-06-08 15:42] cammace commented on #57
I'm not sure I understand your issue, but I have a setup using both the Mapbox Map, Mock location, and Navigation SDK [here](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockLocationEngine.java). Closing issue but if you still are having issues, happy to help.

[2017-06-08 15:42] #57 closed

[2017-06-08 15:44] cammace commented on #36
Going ahead and closing, report back if you are still having issues.

[2017-06-08 15:44] #36 closed

[2017-06-08 20:05] cammace commented on #23
Added with AutoValues Closing https://github.com/mapbox/mapbox-navigation-android/pull/74

[2017-06-08 20:05] #23 closed

[2017-06-08 20:10] cammace opened #78 "Release Mapbox Navigation 0.3.1"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.3.1`. This release brings many improvements to the RouteProgress objects and significantly increases performance.

### Highlights
* Use AutoValue inside RouteProgress objects.
* Directly use direction distance measurements instead of calculating them.

### Release checklist @cammace @zugaldia

- [x] ~Finish merging PRs that exist

[2017-06-08 20:32] cammace commented on #78
Should show up on Maven within the hour. Finished checklist, closing!

[2017-06-08 20:32] #78 closed

[2017-06-08 21:07] cammace opened #79 "Remove hardcoded constant"
the constant found on [this line](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/NavigationEngine.java#L127) needs to be switched out for the `options.get...` method.

[2017-06-12 15:12] OlafStaf opened #80 "Navigation stops 30 meters before the destination."
Hi, thanks for MapBox, and also for MapBox Navigation.
I have a strange problem with navigation. Navigation stops 30 meters before the destination, and stops updating the user's location.
My version of map-box-navigation is 0.3.0.

[2017-06-12 20:21] cammace commented on #80
Are you using the Mock Location or is this happening in the real world?

[2017-06-13 06:00] OlafStaf commented on #80
@cammace I am using Mock Location (Lockito application) with speed 10 km per hour. Is this related to this?

[2017-06-13 14:02] Grsmto opened #81 "Remove Android-apt dependency"
Hi,
It seems like Android-apt dependency has been added in [this commit](https://github.com/mapbox/mapbox-navigation-android/commit/0af5c85c1a90a35b590a00b0102b085ecd341af1).
From what we can read on [their doc](https://bitbucket.org/hvisser/android-apt/wiki/Migration), the lib is now deprecated (and will be breaking change with Gradle 3.0). For such a new project I think it would be good to keep

[2017-06-13 17:57] cammace opened #82 "Move OSRM-text-instructions to independent repo"
Similar to Swift, https://github.com/Project-OSRM/osrm-text-instructions.swift the Java equivalent should live in its own repo for easier maintaining.

cc: @mapbox/navigation @freenerd

[2017-06-13 18:00] 1ec5 commented on #82
For reference, we put the Swift port in a separate repository because iOS package managers (Carthage in particular, but also potentially SPM in the future) lack support for monorepos, preferring the modularity that comes with a one-to-one relationship between packages and repositories.

[2017-06-13 18:53] cammace opened #83 "Check if coords list size is greater then 0"
An NPE will occur occasionally when trying to snap the user location to an empty route line, https://github.com/mapbox/mapbox-java/blob/master/mapbox/libjava-services/src/main/java/com/mapbox/services/api/utils/turf/TurfMisc.java#L90

[2017-06-13 18:57] zugaldia commented on #82
@1ec5 thanks for pointing this out. On Android we don't have that restriction so it could be a folder withing https://github.com/Project-OSRM/osrm-text-instructions. That way we wouldn't need to [manually copy](https://github.com/mapbox/mapbox-navigation-android/blob/master/Makefile#L1-L8) fixtures and translations, but I'll defer to @freenerd to decide the best location.

[2017-06-15 12:02] #80 closed

[2017-06-15 22:52] graemebates opened #85 "Walking navigation"
Hi there,

I'm not sure where to ask this but I was wondering whether the navigation API can be used for non-driving navigation.

Thanks,
Graeme

[2017-06-16 00:03] Grsmto commented on #85
Yes it supports every navigation type that the Direction API supports.

[2017-06-16 00:06] graemebates commented on #85
Is the way to configure it:

`navigation.getMapboxNavigationOptions().setDirectionsProfile(DirectionsCriteria.PROFILE_WALKING);`?

[2017-06-16 00:13] Grsmto commented on #85
Not sure, but this should work:
[code]

[2017-06-16 00:19] graemebates commented on #85
Wow that makes a lot more sense. Do you know if it will affect how the map decides to draw routes as well? From my understanding the navigation object acts as a wrapper for Directions API calls, so if its configured for walking, it should return a walking route right?

[2017-06-16 02:35] Grsmto commented on #85
Yes that's right. Under the hood, this library is just calling the same function as the Direction SDK to retrieve the route.

[2017-06-16 09:47] srinath2468 opened #86 "Incorrect path shown in the map"
![prob](https://user-images.githubusercontent.com/25114497/27221518-eb7bd606-5299-11e7-96d2-87def3643551.png)

@tobrun

I am relatively new to app development and mapbox. As you can see above, the polyline does not indicate the exact route for navigation. Is there any way i can increase the number of coordinates so that the route becomes more accurate?

[2017-06-16 09:48] srinath2468 commented on #86
As you can see above, the polyline does not indicate the exact route for navigation. Is there any way i can increase the number of coordinates so that the route becomes more accurate?

[2017-06-16 16:15] cammace opened #87 "Make the offroute counter constant part of MapboxNavigationOptions"

[2017-06-18 18:36] bindu623 opened #88 "cannot resolve method setLocationSource"
In MockNavigationActivity.java,inside method onMapReady(),I am getting error in this line
        locationEngine = new MockLocationEngine();
        mapboxMap.setLocationSource(locationEngine);
It is saying "cannot resolve method setLocationSource"
I am using same gradle dependencies as mentioned in documents.
Kindly help to resolve this issue

[2017-06-20 07:50] davols commented on #86
What is your call to get the route? If you use The MapboxDirections client you might be missing
`.setOverview(DirectionsCriteria.OVERVIEW_FULL)`

[2017-06-20 08:11] tobrun commented on #86
cc @cammace

[2017-06-20 08:26] srinath2468 commented on #86
@davols  it worked!
@tobrun @cammace
thank you so much

On a totally unrelated note. I am using Mapbox' geocoding widget to get the latitude and longitude of my destination. Most of the locations present in india does not show up in Mapbox's widget so is there any integration that can be done between a google geocoder and mapbox' geocoder?

[2017-06-20 10:34] retuner87 opened #89 "NoSuchMethodError: No static method formatCoordinate(D)"
Hi, I'm trying to implement this library on my application but, when I try "MockNavigationActivity.java" I find this runtime message:

java.lang.NoSuchMethodError: No static method formatCoordinate(D)Ljava/lang/String; in class Lcom/mapbox/services/commons/utils/TextUtils; or its super classes (declaration of 'com.mapbox.services.commons.utils.TextUtils' appears in ...

when I try:

navigation.get

[2017-06-20 17:10] cammace commented on #86
if you use `MapboxNavigation.getRoute()` you shouldn't run into this issue since it handles the directions request for you. We do not offer any out of the box solutions for integrating Google's geocoder with the Mapbox Geocoder.

[2017-06-20 17:10] #86 closed

[2017-06-20 17:14] cammace commented on #89
The stack trace goes back to [these methods](https://github.com/mapbox/mapbox-java/blob/master/mapbox/libjava-core/src/main/java/com/mapbox/services/commons/utils/TextUtils.java#L57-L84) but getRoute isn't using that method and I am unable to reproduce. Are you using the latest code found in Master?

[2017-06-20 17:16] cammace commented on #88
Can you try switching the Map SDK version to 5.1.0-beta.4 and see if it resolves the issue?

[2017-06-20 21:10] cammace opened #90 "Rearchitect how listeners/object list get passed from MapboxNavigation to NavigationEngine"
The approach currently being used is passing the list from `MapboxNavigation`, `NavigationService` and finally to `NavigationEngine`. This is causing a bunch of additional code that might not be necessary. If we find a solution to directly pass to the NavigationEngine.

[2017-06-20 23:45] cammace opened #91 "Setup Basic SDK ProGuard"

[2017-06-21 01:24] cammace commented on #81
Thanks for linking me to the docs, autoValues docs still say to use `apt` instead of `annotationProcessor`. I've made the fix and removed the dependency in #92

[2017-06-21 01:28] Grsmto commented on #81
😅

Awesome, can't wait to see the Navigation UI module!

[2017-06-21 18:43] bindu623 commented on #88
I have  changed sdk  to-com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.0-beta.4@aar
it is showing error-
Error:Could not find com.mapzen.android:lost:3.0.1-20170607.212149-4.
Required by:
    MapboxApp:app:unspecified > com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.0-beta.4@aar

[2017-06-21 19:15] cammace commented on #88
[code]

[2017-06-22 01:01] cammace opened #93 "Simplify line at low zoom levels"
When the maps camera zoom level is below a certain value, we should start simplifying the route line for better performance since at a certain point, road geometry seems to get less distinguishable.

[2017-06-22 06:22] 1ec5 commented on #93
If the line is represented by a GeoJSON source, it should get simplified automatically by mbgl.

[2017-06-22 17:59] bindu623 commented on #88
This solution worked.Thanks a lot for your help.

[2017-06-22 18:00] #88 closed

[2017-06-22 18:00] #93 closed

[2017-06-23 11:56] geolyth opened #94 "How to set annotations on Mapbox with Navigation SDK?"
Hi,
I already read Mapbox Android Navigation SDK documentation but I don't understand if when I use it I can also put annotations on the same map.

Thank you,
Fabio

[2017-06-23 21:42] ericrwolfe opened #95 "Current location heading resets when speed=0"
Went on a test drive and noticed that when the current speed drops to zero, the heading also resets to zero and the map orients itself due north rather than staying fixed on the current route.

@cammace

[2017-06-23 22:40] cammace commented on #94
The navigation SDK currently doesn't offer annotation to directly place on top of a map, this would require a dependency on the Map SDK. Instead, we provide the geometry and necessary `Position` objects that can be used to draw on the map (this is currently done manually).

In the near future, we will be releasing a navigation UI SDK which handles these situations for you. You can follow progress

[2017-06-23 22:40] #94 closed

[2017-06-26 16:03] cammace opened #96 "Navigation UI resolve route equal"
Right now we are checking if two direction routes are equal to each other which will rarely be true since it is just checking the addresses rather than the true object values. This is an issue in mapbox-Java but most likely will need to be resolved for now. Another option would be to check if the routes geometry strings are equal to each other which should work.

[2017-06-26 16:16] #81 closed

[2017-06-27 01:28] cammace commented on #89
Going ahead and closing this issue, if you are still running into issues, please comment and I'll be happy to help out.

[2017-06-27 01:28] #89 closed

[2017-06-27 10:17] retuner87 commented on #89
Yes, thanks for the reply!

[2017-06-27 18:05] cammace opened #100 "Snap to grid"
https://github.com/mapbox/mapbox-navigation-android/pull/97 unblocks the possibility to implement different snap to route logics (although an API needs to be exposed to switch these out). With this possibility, we can add snap to grid/road logic inside the navigation-ui SDK which snaps the user puck to the road grid even when the users off route or no routes drawn but they are just driving around.

[2017-06-27 18:39] cammace commented on #95
This should be fixed in https://github.com/mapbox/mapbox-navigation-android/pull/97.

[2017-06-27 18:39] #95 closed

[2017-06-27 20:30] danesfeder opened #101 "Default Text Instructions are hardcoded"
We are currently creating text instructions with hardcoded constants in our `DefaultInstructionEngine` --> this should be in a resource file that can be translated.  Problem is we don't have `Context` to extract those `String`s in the `DefaultInstructionEngine`

[2017-06-27 22:26] cammace opened #102 "Add support for congestion along the route"

[2017-06-28 13:26] danesfeder opened #103 "Custom Instructions for a given milestone"
Right now if the user wants to add an instruction they'd need to implement their own instruction engine or handle the string building inside MilestoneEvent callback.  We should provide a way for a user to subclass Instruction and give it to their milestone builder

[2017-06-28 13:29] danesfeder opened #104 "Instructions rounded to the mile"
We currently provide mile instructions like "In 3.2 miles...."
Would be a better UX to say "In 3 miles...."

[2017-06-28 16:59] danesfeder commented on #103
Discussed this with @cammace and we came up with the idea that the SDK could provide an `abstract` `Instruction` class that would require `setInstruction(RouteProgress progress)` which would return a `String` -- this would ultimately be the `String instruction` passed in the `MilestoneEventLisenter`

A user of the SDK would be able to create custom instructions like this
[code]

And then you'd be

[2017-06-30 08:04] carocad opened #107 "feature request: support custom directions objects"
I dont know if this is already supported but I guess not since in the documentation it says only car, bicycle and foot.

My question/feature request is: would it be possible for the mapbox navigation engine to accept a `directions` object that has the same shape as that of Mapbox but that provides a custom routing?

For example:
- multi-modal routing (foot + public transport)
- route based on scen

[2017-06-30 14:53] Grsmto opened #108 "Engine consider end of first leg as arrival (multi-legs navigation doesn't work)"
**Platform:** Android 7.1.2
**SDK version:** Latest SNAPSHOT

### Steps to trigger behavior

 1. Set a route with more than 1 leg
 2. Navigation stops at the end of the first leg

This is closely related to the PR I sent about waypoint support, as multi-legs routes are often routes with waypoints (but I believe there is other scenarios where a route can have multiple legs).
I will soon land a PR f

[2017-06-30 15:47] cammace opened #110 "Upgrade MAS to 2.1.3"

[2017-06-30 18:16] ericrwolfe opened #112 "Off route detection + rerouting not working"
From a test walk yesterday, I noticed that the location continuously snaps to the route, even when traveling significantly off route. Rerouting doesn't seem to work any more, it seems.

Could this be related to the recent location snapping changes or the milestone updates?

cc @cammace

[2017-06-30 18:17] ericrwolfe opened #113 "Integrate metrics"
Initial ticket to start integrating metrics in the navigation SDK: https://github.com/mapbox/mapbox-java/pull/489

cc @cammace

[2017-06-30 22:37] cammace commented on #107
You can indeed build your own `DirectionsRoute` and pass it into the navigation SDK using `mapboxNavigation.startNavigation(myRoute);`. As for supporting other means of transportation, this is more directions based rather than navigation. I'll be sure to pass along the suggestions though. Going ahead and closing but feel free to comment on this issue if you have any additional questions.

[2017-06-30 22:37] #107 closed

[2017-06-30 22:38] cammace commented on #102
https://github.com/mapbox/mapbox-navigation-android/pull/106 adds support for this. Going ahead and closing.

[2017-06-30 22:38] #102 closed

[2017-07-01 01:14] 1ec5 opened #114 "DefaultInstructionEngine is unlocalizable"
#98 adds some hard-coded format strings such as `MILES_STRING_FORMAT` in `DefaultInstructionEngine`. These strings should be extracted into strings.xml so that translators can access them on [Transifex](https://www.transifex.com/mapbox/mapbox-navigation-sdk-for-android/). As it is, the user could hear [code-switching](https://en.wikipedia.org/wiki/Code-switching) involving [OSRM Text Instructions]

[2017-07-01 01:14] 1ec5 commented on #28
We set up [a Transifex project](https://www.transifex.com/mapbox/mapbox-navigation-sdk-for-android/) and pulled in some initial translations in #61. Next steps in #114.

[2017-07-01 01:14] #28 closed

[2017-07-01 10:38] carocad commented on #107
That is great to hear/read !

Here is where I am rather concerned. The response that you get from the Mapbox directions API specifies a `mode` parameter. The `cycling` mode seems to be the more fitting one here since it contains `train` option. My question is rather, what happens if I pass an option that is not supported in the mode, for example `bus` for `walking` mode? Or should I simply pass th

[2017-07-01 16:34] cammace commented on #114
duplicate ticket to https://github.com/mapbox/mapbox-navigation-android/issues/101, closing that one since this one provides more information. I recall the issue with placing the strings inside the `string.xml` was the lack of `Context` need to acquire the string from the resources. While we continue efforts towards making a clean instruction API (see https://github.com/mapbox/mapbox-navigation-an

[2017-07-01 16:34] cammace commented on #101
duplicate of #114

[2017-07-01 16:34] #101 closed

[2017-07-03 13:15] zugaldia commented on #103
Would/could this be used to implement OSRM Text Instructions too?

[2017-07-03 14:05] cammace commented on #103
As far as I understand, OSRM Text Instructions serve little need since `languages` is [now a parameter](https://github.com/mapbox/mapbox-java/issues/474) for the directions API. iOS is keeping it around on their side since it is still useful to insert SSML into the instruction (something this API could handle). I'd like to remove the OSRM dependency if possible thus removing the need to maintain a

[2017-07-03 14:08] cammace commented on #107
Tagging @danpat since he would know much more about the directions API itself.

[2017-07-03 14:40] cammace commented on #104
Gave this more thought and realized that if a user wants the announcement to be 3 miles, they'd set the milestone to trigger at that exact moment rather then rounding an uncertain value. Thus this ticket isn't needed, the milestone just needs to be set properly.

[2017-07-03 14:40] #104 closed

[2017-07-03 18:33] 1ec5 commented on #103
It’s the responsibility of the client library to insert SSML into the instruction, since the specific SSML tags may vary by text-to-speech engine. The server API needs to be TTS vendor-neutral.

[2017-07-03 18:37] cammace commented on #103
Right, in that case, since the instructions are being implemented in the core navigation SDK (not UI) it doesn't make sense to mark up the text since we don't know what engine they are using.

Eventually, this can be handled inside the Navigation UI SDK when we add support for polly.

[2017-07-03 18:55] 1ec5 commented on #103
Another reason to use OSRM Text Instructions on the client side is to omit certain details in order to make the instruction fit in the allotted time: mapbox/mapbox-navigation-ios#331.

[2017-07-06 02:55] cammace commented on #110
MAS has been updated and pushed to master.

[2017-07-06 02:55] #110 closed

[2017-07-06 02:56] cammace commented on #67
Alert levels have been stripped out and replaced by Milestones. Closing.

[2017-07-06 02:56] #67 closed

[2017-07-06 15:38] cammace commented on #112
Fixed and confirmed working on the past two test drives. Closing.

[2017-07-06 15:38] #112 closed

[2017-07-06 15:39] cammace commented on #77
removed and replaced with the mock location engine in MAS.

[2017-07-06 15:39] #77 closed

[2017-07-06 22:05] cammace commented on #87
duplicate of #79 closing and tracking there.

[2017-07-06 22:05] #87 closed

[2017-07-08 10:51] mecoFarid commented on #80
I'm using mock location and `OffRouteListener` always triggered even I am on route.

[2017-07-08 18:35] mecoFarid opened #123 "RouteProgress.getCurrentLegProgress().getStepIndex() always returns 0."
So I have implemented Mapbox Navigation. And now, I want to test it with mock-location-route, unfortunately my step index not changing. What could be the problem. Code snippet is as below:

[code]

[2017-07-08 19:27] cammace commented on #80
Not quite sure why that would be happening since the Mock LocationEngine doesn't go off-route by default. We have an example in our testapp which uses the engine and handles everything as expected. I suggest [checking the code out there](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivi

[2017-07-08 19:31] cammace commented on #123
You mentioned in [another comment](https://github.com/mapbox/mapbox-navigation-android/issues/80#issuecomment-313848799) that off-route kept occurring. If this is the case and you are getting a new route, the step index will be reset. Also, It appears that you are using 0.3.1 of the navigation SDK? I'd recommend trying to make the switch to the latest SNAPSHOT version which contains a huge amount

[2017-07-09 05:22] 1ec5 commented on #108
Duplicate of #27.

[2017-07-09 05:22] #108 closed

[2017-07-09 08:47] mecoFarid commented on #80
I meant Mock location as App (Fake GPS) not MockLocationEngine provided in SDK.

[2017-07-09 08:51] mecoFarid commented on #123
No, I'm not requesting new route.

[2017-07-09 11:57] mecoFarid opened #124 "RouteProgress.getDistanceTraveled() returns length of first step in first leg."
Whichever step I am in along the route, `RouteProgress.getDistanceTraveled()` returns length of first step of first leg.
P.S. even I'm on route `userOffRoute()` being called.
NOTE: I'm not testing in real world, using Fake GPS (App) instead.

[2017-07-09 14:38] mecoFarid commented on #26
@MahmoudSabbah Did it work?

[2017-07-09 14:58] mecoFarid commented on #27
@LukasStancikas could you post code snippet (non-confidential parts), so I could implement it in my App. I'm unable to get it work as of problems listed https://github.com/mapbox/mapbox-navigation-android/issues/124 and https://github.com/mapbox/mapbox-navigation-android/issues/123. Thanks a lot.

[2017-07-10 12:02] mecoFarid commented on #34
@ericrwolfe If you have implemented navigation could you post code snippet (non-confidential parts), so I could implement it in my App. I'm unable to get it work as of problems listed #124 and #123. Thanks a lot.

[2017-07-10 12:04] mecoFarid commented on #35
Please if anyone have working example post it so we could get use of it, since there is no proper integration documentation, only testapp with MockLocationEngine and I'm unable to convert it to LostLocationEngine or like.

[2017-07-10 17:23] cammace commented on #124
[This test](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgressTest.java#L123-L130) is currently passing on master confirming that `routeProgress.getDistanceTraveled()` is working as expected. Many of the issues you are running into have been resolved on master and are c

[2017-07-10 17:23] #124 closed

[2017-07-10 19:38] mecoFarid opened #126 "Error using SNAPSHOT."
[code]

[2017-07-10 22:35] cammace commented on #35
@mecoFarid please only open new issues rather than commenting on issues that aren't related.

@danesfeder and I haven't had many issues with this lately on our test drives. I'm removing this from the 0.4.0 milestone for now since this change (if any's needed) won't make it into the next release.

[2017-07-10 22:38] cammace commented on #126
This sounds more like an issue with the Map SDK rather than the navigation SDK since we aren't directly using LOST in this project. Try adding this snippet inside your `build.gradle` file:
[code]

[2017-07-10 22:38] #126 closed

[2017-07-10 22:40] cammace commented on #123
Fake GPS providers will work just fine with the navigation SDK, though they do not reflect real life driving conditions. The issue you are running to isn't reproducible on `master`.

[2017-07-10 22:40] #123 closed

[2017-07-11 19:58] 1ec5 commented on #27
Fixed in #111.

[2017-07-11 19:58] #27 closed

[2017-07-11 20:48] cammace commented on #43
https://github.com/mapbox/mapbox-navigation-android/pull/127 removed route Utils.

[2017-07-11 20:48] #43 closed

[2017-07-11 22:29] #79 closed

[2017-07-11 22:29] cammace commented on #83
Fixed in #111

[2017-07-11 22:29] #83 closed

[2017-07-11 22:30] cammace commented on #53
Going ahead and closing this ticket in favor of https://github.com/mapbox/mapbox-navigation-android/issues/82.

[2017-07-11 22:30] #53 closed

[2017-07-11 22:31] cammace commented on #82
@zugaldia @ericrwolfe should I hold off on moving OSRM over (and remove from 0.4.0 milestone) since we aren't sure if we still need it?

[2017-07-11 22:34] cammace commented on #34
I think we are safe to close here. @danesfeder and I have done a few test drives and haven't run into too many issues with rerouting, the issues we ran into were oftentimes edge cases that can be tracked in a different ticket. @ericrwolfe is there anything further actionable here?

[2017-07-11 23:53] cammace opened #128 "Navigation UI route line not being drawn under symbol layers"

[2017-07-11 23:53] ericrwolfe commented on #34
Nope, I think we're good to close.

[2017-07-11 23:53] #34 closed

[2017-07-11 23:59] ericrwolfe commented on #82
I don't see moving this as a high priority item right now, so we should remove from 0.4.0 and we can revisit later.

That being said, OSRM text instructions will remain around for the time being, so I'll defer to @zugaldia on the best end approach.

[2017-07-12 13:53] zugaldia commented on #82
Agreed on punting here if this isn't a priority right now. I'll assign it to myself and take care of it at a later milestone.

[2017-07-12 17:51] cammace commented on #128
This is occurring when using the location layer plugin in addition to the navigation ui sdk. If you construct the locationLayer before NavigationMapRoute it places the route line below locationLayer instead of the correct layer.

[2017-07-13 00:28] #103 closed

[2017-07-13 06:12] 1ec5 commented on #82
At some point, we’ll need to bring this Java port of OSRM Text Instructions up to date with the JavaScript and Swift versions. To facilitate that merge, we’ll need to know roughly which commit to osrm-text-instructions the Java port and its text fixtures are currently based on. The code was originally ported in mapbox/mapbox-java#374, which would’ve been shortly before [v0.2.0](https://github.com/

[2017-07-13 07:37] davols commented on #114
Not sure about the best place to document this (another issue, PR, email?). The v5 text instructions in Swedish are somewhat incorrect, mostly found in terms of prepositions like on a tunnel instead of through/in a tunnel.

[2017-07-13 10:53] 1ec5 commented on #114
@davols, the localized instructions themselves are part of the [OSRM Text Instructions](https://github.com/Project-OSRM/osrm-text-instructions/) project. Please feel free to help maintain the Swedish translations [in Transifex](https://www.transifex.com/project-osrm/osrm-text-instructions/). If there are any systemic issues that require software changes, the cross-platform [osrm-text-instructions

[2017-07-13 19:28] ericrwolfe opened #129 "Background rerouting based on current traffic"
Automatically reroute the user in the background based on current traffic.

iOS ref: https://github.com/mapbox/mapbox-navigation-ios/pull/346

cc @cammace

[2017-07-13 22:12] ericrwolfe commented on #35
iOS added some logic that helps with early completion announcements, especially on maneuvers that generally go straight: https://github.com/mapbox/mapbox-navigation-ios/pull/378

[2017-07-14 19:25] cammace opened #130 "Last step trigger bug fix"
`Trigger.eq(TriggerProperty.LAST_STEP, TriggerProperty.TRUE)` isn't working properly since the last step is always a maneuver with no geometry (just a single point).

[2017-07-16 22:10] cammace opened #131 "Reroute snap logic causes location puck issue"
When a reroute occurs, the snap to route logic tries to snap the location back to the previous route for one location update before moving back to the correct location.

[2017-07-19 00:40] cammace opened #133 "re-add tweaked default milestones"
Add the changes made to default milestones and add a fallback trigger for urgent that is distance based.

[2017-07-19 00:53] cammace opened #134 "Add better review process inside CI"
As part of the circle ci transition, I'd like to implement some of the suggestions inside [this article](https://medium.com/square-corner-blog/surfacing-hidden-change-to-pull-requests-6a371266e479) to assist in the review process. Highly recommend reading it @mapbox/android.

[2017-07-19 21:57] #128 closed

[2017-07-19 22:07] #47 closed

[2017-07-19 22:07] #130 closed

[2017-07-19 22:07] #131 closed

[2017-07-19 22:07] #133 closed

[2017-07-21 02:31] cammace commented on #39
Snap logic has been refactored, closing.

[2017-07-21 02:31] #39 closed

[2017-07-21 14:57] cammace opened #136 "Improve MapboxNavigationOptions"
With some of the options, they are only set-able when the MapboxNavigation object hasn't been created yet. For example, disabling the default milestones will only work if `MapboxNavigation` hasn't been initialized otherwise, even setting this to false will result in the milestones still being attached to the navigation service.

[2017-07-21 15:09] cammace opened #137 "Add support for lifecycle observer"

[2017-07-21 17:41] cammace opened #138 "remove ManeuverZoneRadius and MaxTurnCompletionOffset in favor of milestones"
With milestones, we can handle special use cases depending on the type of maneuver rather than having a set radius and offset for each maneuver type.

[2017-07-21 18:43] cammace opened #139 "Look into using AutoValues for MapboxNavigationOptions class."

[2017-07-25 02:29] cammace opened #142 "Create reroute Milestone"
Currently, no announcement happens when a reroute occurs.

[2017-07-25 02:30] cammace opened #143 "Get compass orientation to start route"
If the user's speed is zero at the beginning, a compass value should be used to point the camera and ui in the correct direction.

[2017-07-25 02:32] cammace opened #144 "force departure announcement right at beginning"
the departure announcements currently being handled when the user first begins moving. In many cases, departure announcement should happen right when the navigation session begins.

[2017-07-25 16:06] ericrwolfe commented on #142
Is this something that's compatible with the concept of milestones since they're predictive?

Do we need a separate reroute announcement after a reroute occurs, or should we rather reuse the departure step of the new route?

[2017-07-25 18:29] cammace opened #146 "rename getCurrentLegProgress to currentLegProgress"
we currently have `getCurrentLegProgress` but then `currentLegProgress` for the other progress object. To follow the standard of AutoValue we should remove the `get` part in the method name.

[2017-07-25 21:52] cammace opened #147 "add check before slicing line in navigation engine"
https://github.com/mapbox/mapbox-navigation-android/blob/b6296d4a8da2f3a3602766b379c1c5665711e269/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/NavigationEngine.java#L207

[2017-07-27 01:01] ericrwolfe opened #148 "Filter inaccurate GPS"
GPS locations are not guaranteed to be accurate. We should filter out any locations with poor accuracy (>= 100m horizontal, <= 0m horizontal, >= 30m vertical, <= 0m vertical).

cc @mapbox/navigation-android

[2017-07-27 20:54] zugaldia commented on #134
Love it - and it'd definitely apply to other projects too.

[2017-07-27 23:20] ericrwolfe commented on #148
Additional discussion/context over in https://github.com/mapbox/mapbox-navigation-ios/issues/433

[2017-07-29 19:26] nicomazz opened #149 "TurfException during navigation with mock position app"
During a navigation, after short time, the following exception is always thrown. It seems this problem always occurs immediately before a turn.
I'm using version 0.4.0 and an app to simulate navigation path (not MockLocationEngine)
[code]

[2017-07-31 12:02] samvgorode opened #150 "Crash after navigation comes to finish marker"
I have a crash when navigation finishes. How to finish it correctly? In onRunning I do the next if is not running:
[code]
And have a crash:
[code]

[2017-08-01 03:49] cammace commented on #150
It is an issue with the default milestones trying to get a null upcoming route. https://github.com/mapbox/mapbox-navigation-android/pull/145 should have fixed the issue and _will_ be in the 0.4.0 release. Sorry about this fellas.

[2017-08-01 18:56] cammace opened #152 "Release 0.4.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.3.1`. This release brings many improvements to the RouteProgress objects and significantly increases performance.

### Highlights
* Add new alert level concept called, milestones [#84](https://github.com/mapbox/mapbox-navigation-android/pull/84)
* Multiple way point support added [#76](https://github.com/mapbox/mapbox-navigation-a

[2017-08-01 23:45] langsmith commented on #152
All done @cammace  🎊

[2017-08-01 23:45] #152 closed

[2017-08-02 15:12] tobrun opened #156 "Line-join value must be a valid enumeration value"
A user reported in gl-native that he is seeing:

[code]

Since he is not using this property himself, the root cause can be found in this repo.

Original ticket [here](https://github.com/mapbox/mapbox-gl-native/issues/9684)

[2017-08-02 15:20] slm commented on #156
I tried with 5.1.2v mapbox and navigation plugin 0.4.0v and got this error again.

[2017-08-03 05:57] samvgorode commented on #149
The same for me
[code]

[2017-08-03 06:03] samvgorode commented on #149
**nicomazz**, man, what app do you use for the fake navigation? I use "Lockito".

[2017-08-03 09:21] nicomazz commented on #149
I use "Mock Locations (fake GPS path)"

[2017-08-03 09:56] samvgorode commented on #149
Today I've noticed that crashes are almost before rotaries on the road, like a circle traffic. What do you think? Do you have the same situation?

[2017-08-03 12:51] nicomazz commented on #149
Yes, same situation! I've the same problem with some gpx "running" on the emulator. I'll try soon if with the real GPS signal the problem persist.Il 03 ago 2017 11:56, Eugene <notifications@github.com> ha scritto:Today I've noticed that crashes are almost before rotaries on the road, like a circle traffic. What do you think? Do you have the same situation?

—You are receiving this because you auth

[2017-08-04 14:51] PatrickZenker opened #157 "StepManeuver getType doc outdated"
Hey,

I'm currently building my own translation for LegStep Instuctions. I noticed that the documentation for LegStep.getType() is outdated (e.g. ramp changed to on ramp / off ramp).

Perhaps it would be good if an enum is created for the types.

[2017-08-04 14:54] PatrickZenker commented on #157
Sry, wrong repo ;)

[2017-08-04 14:54] #157 closed

[2017-08-05 10:41] tobrun opened #158 "Disable bitrise email notifications"
Every time CI has build successfully, the team is getting an email.
For other projects we have disabled this integration.

<img width="1236" alt="screen shot 2017-08-05 at 12 39 20" src="https://user-images.githubusercontent.com/2151639/28994930-3b152ace-79db-11e7-9ec4-b221d44c91ec.png">

[2017-08-06 20:09] nicomazz commented on #149
I have tested the navigator with a real gps signal in the car (with a passenger).
Initially, for the first half hour, as long as I was on the highway, no crash.
Exiting the highway, near a few turns the problem reappeared.

[2017-08-07 19:23] cammace opened #160 "Check that a valid directions route was passed into startNavigation"
Verify DirectionsRoute being passed into `startNavigation` contains steps and other critical content before a navigation session starts.

[2017-08-07 21:10] danesfeder commented on #148
@ericrwolfe First pass of this is only to consider horizontal accuracy (as discussed in mapbox/mapbox-navigation-ios#433 just want to confirm).

And also to be clear, this filter means we are looking at location updates and checking to see if they are accurate (based on your criteria above) - if they are, we are using them for calculation and acting on them as we normally would.  If not, we just i

[2017-08-07 21:30] ericrwolfe commented on #148
Yeah, so we should factor them out for things like off-route detection/rerouting and distance remaining calculations, but we should still keep the raw locations around for metrics.

[2017-08-08 02:06] cammace commented on #148
I added several checks in the thread PR I have open. For your suggestions, accuracy is required to be a value below 100 meters. Vertical accuracy doesn't exist for Android API levels below 26 nor do I think it's that critical to include in this check.

[2017-08-08 07:04] daniel-j-h commented on #148
Related: slack conversation about location jumping around because of same ssids:
https://mapbox.slack.com/archives/C21AYEN5N/p1502138791745705

[2017-08-08 23:18] cammace commented on #148
Merged the thread PR which I mentioned above, you can see the [check here](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java#L174) which causes us to ignore the raw location if the accuracy is above 100 meters. Closing.

[2017-08-08 23:18] #148 closed

[2017-08-08 23:23] cammace commented on #149
I'm thinking I might have fixed this issue in https://github.com/mapbox/mapbox-navigation-android/pull/151 but to confirm, could either of you guys provide the rotary/circle location coordinates so I can write some test?

[2017-08-09 01:20] #85 closed

[2017-08-09 01:22] cammace commented on #90
In https://github.com/mapbox/mapbox-navigation-android/pull/151, we've added the `NavigationEventDispatcher` which simplifies things quite a bit. Going ahead and closing.

[2017-08-09 01:22] #90 closed

[2017-08-09 01:24] cammace commented on #139
https://github.com/mapbox/mapbox-navigation-android/pull/151 uses autoValues for options class.

[2017-08-09 01:24] #139 closed

[2017-08-09 01:24] cammace commented on #146
Renamed in https://github.com/mapbox/mapbox-navigation-android/pull/151

[2017-08-09 01:25] #146 closed

[2017-08-09 01:29] cammace opened #161 "Simplify RouteProgress object"
With https://github.com/mapbox/mapbox-navigation-android/pull/151 merged, it required a bunch of changes to routeProgress in order to run most of the logic in the background thread. Since this is the case, it no longer makes sense to have 3 different models for progress updates. Combining all the progress information into one class will:
 1. clean up the chain of methods required to get leg or ste

[2017-08-09 02:45] cammace opened #162 "Implement parceable in options and routeProgress"

[2017-08-09 06:25] samvgorode commented on #149
Do we need to add another version of 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.4.0'? what version is actual for now?

[2017-08-09 06:37] samvgorode commented on #149
LAT 48.620852692441055 LON 22.28801448740184 here I have the crash.
`java.lang.NullPointerException: Attempt to invoke virtual method 'com.mapbox.services.api.directions.v5.models.StepManeuver com.mapbox.services.api.directions.v5.models.LegStep.getManeuver()' on a null object reference`
That happens when I use 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.4.0-SNAPSHOT'

[2017-08-09 06:45] samvgorode commented on #149
For '**com.mapbox.mapboxsdk:mapbox-android-navigation:0.4.0**' (without SNAPSHOT) I have this:
[code]

[2017-08-09 14:52] #156 closed

[2017-08-09 17:31] cammace commented on #162
Note that this is blocked until MAS 3.0 gets released with support for autovalues and parcelable

[2017-08-09 18:43] ericrwolfe commented on #19
@cammace Can this be closed with the background thread PR #151?

[2017-08-10 03:31] #19 closed

[2017-08-10 11:41] nicomazz commented on #149
Steps to reproduce my problem (0.4.0-SNAPSHOT):

1. Get the route
   from: LatLng [latitude=45.649085, longitude=12.309151, altitude=0.0]
   to: LatLng [latitude=45.6108265, longitude=12.4517827, altitude=0.0]
2. mockLocationEngine.setRoute(route)
3. start navigation

Once started, it immediately crash with
[code]

My start navigation:
[code]

[2017-08-11 07:54] davols opened #168 "0.5.0 snapshot not uploaded"
The README mentions `  compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.5.0-SNAPSHOT'` for the latest release.
0.5.0 isn't uploaded on sonatype so the gradle sync fails.

[2017-08-11 10:27] davols commented on #149
Started to get this issue as well.

Using 0.4 snapshot. Yesterday I did around 20 plays in Lockito with a route and it never crashed. However that route in lockito got bugged so I create a new one, that is the same street and length wise it have started to crash. Seems to be related to the path and lockito for me.

[2017-08-11 14:20] uburoiubu opened #169 "Setting language property has no effect."
Hi, I'm following[ this example](https://github.com/mapbox/mapbox-android-demo/blob/83a0b3c18f56cc549d68a28f23e3c2026e904e7c/MapboxAndroidDemo/src/main/java/com/mapbox/mapboxandroiddemo/examples/styles/LanguageSwitchActivity.java):

[code]

I confirm that mapText is not null. After this code is executed, the default language didn't change. What could be an issue here?

[2017-08-11 14:35] Grsmto commented on #150
I just updated to 0.4.0 and the issue seems to persist.

[2017-08-11 17:51] langsmith commented on #168
Hi @davols , thanks for bringing this to our attention. The nightly build failed to upload to Maven and we need to tweak some things so that keys are correctly fetched for upload. We should be good to go by next Mon/Tues.

[2017-08-12 05:01] najmisyahir opened #170 "Failed to Resolve snapshot dependecies"
I'm using the snapshot dependecies and when i try to sync my android studio, i got failed to resolve error message for that dependecies. Any idea on how to fix this?

[code]

[2017-08-12 05:24] najmisyahir commented on #170
OK so i've seen from previous issue that the snapshot isn't uploaded yet. So i will close this issue.

[2017-08-12 05:24] #170 closed

[2017-08-14 15:23] Grsmto commented on #150
I fixed that specific issue but ended up with another one:

[code]

`return coords.size() > 1 ? coords.get(coords.size() - 1) : coords.get(coords.size());``

This line of code breaks if `coordsSize()` is 1 as it will try to do `coords.get(1)` which is null.
It should be:
`return coords.size() >= 1 ? coords.get(coords.size() - 1) : coords.get(coords.size());`

I probably send a PR for this.

[2017-08-15 00:57] cammace commented on #169
Quickly glancing over your snippet, I don't see any issues. Could you reach out through our contact page or on stack overflow so others on the team can also help you? This repo is responsible for navigation code only.

[2017-08-15 00:57] #169 closed

[2017-08-15 05:01] dgadelha commented on #168
@langsmith isn't navigation-ui also supposed to be uploaded? so we can access the resources without duplicating them? also, when turn-by-turn will be available for android?

[2017-08-15 12:24] P-Zenker opened #172 "SnapToRoute.getSnappedLocation only modifies input Location"
Hey,

in v0.4.0 new SnapToRoute(routeProgress).getSnappedLocation returns a modified input Location object. It would be better if you make a copy of the object and return it - maybe someone would like to further process the location himself.

Otherwise it is not necessary to return a object or to check if the result is null (like in your [SnapToRouteActivity](https://github.com/mapbox/mapbox-navig

[2017-08-15 13:53] #75 closed

[2017-08-15 13:53] #158 closed

[2017-08-15 14:11] #161 closed

[2017-08-15 14:16] davols commented on #168
Uploaded now on sonatype. Closing.

[2017-08-15 14:16] #168 closed

[2017-08-15 15:09] cammace opened #173 "Adjust release.py script for circleci"

[2017-08-15 19:34] cammace opened #174 "finish up notification layout"

[2017-08-17 08:25] davols opened #176 "Translation issue - Ignoring instructions (Exit numbers)"
I'll start with a 'sorry'. I scratched my head a bit on where to report this issue but ended up with this repo since it uses all of the services that are related.

Using 0.5.0-SNAPSHOT and translating to Swedish.

**Issue** While the legstep.maneuver have `instructions` in the response from the directions API. (Like "Take exit 113") but that is ignored when compiling a translated instruction based

[2017-08-17 09:51] davols commented on #176
Right, OSRM demo page does not currently have the re-write. So that's why you get that english string like that. But taking the same route within our android app also gives the incorrect (without exit info, just the way_name) translation.

[2017-08-17 22:52] cammace commented on #150
Thanks to @Grsmto for the fix in https://github.com/mapbox/mapbox-navigation-android/pull/175, we should be good here, closing but will reopen if you guys are seeing the issue still.

[2017-08-17 22:52] #150 closed

[2017-08-18 08:11] samvgorode commented on #150
finishing the navigation still crashes for me, what navigation version is relevant?
[code]

[2017-08-19 02:32] cammace commented on #176
This is the perfect place for OSRM questions, well for now :)

To make things more consistent across platforms (iOS, Javascript, and Android) I'm actually in the process of porting OSRM-Text-Instructions over to https://github.com/Project-OSRM/osrm-text-instructions.java where it will permanently live. I'm also currently working on updating the text instructions to match the behavior iOS and Javas

[2017-08-19 02:42] cammace commented on #172
You should still be able to get the raw location object from a location engine listener which you can then alter however you'd like. Taking this a step further, in 0.5.0, you'll be able to implement your own SnapToRoute logic by extending the Snap class and building out your own logic for this.

[2017-08-20 17:10] mKenfenheuer commented on #149
same problem here

`FATAL EXCEPTION: main
                                                                                 Process: com.kenfenheuer.whereismydevice, PID: 26704
                                                                                 com.mapbox.services.api.utils.turf.TurfException: Start and stop points in Turf lineSlice cannot equal each other.

[2017-08-20 17:14] nicomazz commented on #149
With 0.5.0-SNAPSHOT I've never run into the problem again

[2017-08-21 07:46] samvgorode commented on #149
**nicomazz**, I can't find `navigation.getRoute` method with callback,  in the new `0.5.0-SNAPSHOT` , could you please help me with this? Also, I can't find `NavigationMapRoute` and `LocationLayer`, do you use smth esle instead of this? How do you draw your route on map? With polyline?

[2017-08-21 08:14] samvgorode commented on #149
Oh, I've found an answer for `navigation.getRoute`, this is it
[code]
But, still question about `NavigationMapRoute` and `LocationLayer`, does anyone know how to import these classes?

[2017-08-21 09:00] samvgorode commented on #149
I still have a crash in the finish of the navigation in **0.5.0-SNAPSHOT**
[code]

[2017-08-21 09:23] samvgorode opened #178 "DafaultMilestones IndexOutOfBoundsException"
I have a crash at the end of the navigation in `0.5.0-SNAPSHOT`
Mapbox team, please check `DafaultMilestones` line 37,
`int followUpStepIndex = routeProgress.currentLegProgress().stepIndex() + 2;`
For final step `followUpStepIndex` is not exist.
[code]

[2017-08-21 10:12] mKenfenheuer commented on #178
I can confirm this. same here:

08-21 12:11:07.877 9541-9541/com.kenfenheuer.whereismydevice E/AndroidRuntime: FATAL EXCEPTION: main
                                                                               Process: com.kenfenheuer.whereismydevice, PID: 9541
                                                                               java.lang.IndexOutOfBoundsException: Index: 9, Size: 9

[2017-08-21 13:40] cammace commented on #149
@samvgorode, you shouldn't be getting a crash when using the `NavigationRoute` builder, can you post a logcat output here so I can troubleshoot this. Essentially the `NavigationRoute` class is a wrapper around the MapboxDirections ensuring some of the parameters are setup correctly.

[2017-08-22 10:49] samvgorode commented on #150
today, when I have 6 meters before finish marker. 0.5.0-SNAPSHOT.
[code]

[2017-08-22 11:19] Grsmto commented on #150
Hey @samvgorode if you want I got a fork with a fix for this https://github.com/Grsmto/mapbox-navigation-android/tree/grsmto-fix-app-crash-end-nav?files=1
This bug is awaiting for cammace to rework my own fix.

[2017-08-22 11:34] samvgorode commented on #150
I appreciate your work, but, please, let me know when it will be fixed сompletely.

[2017-08-22 14:59] kiklenain opened #181 "Fatal signal 11 (SIGSEGV), code 1"
Hi,

Currently, I develop an Android application which use MapBox. On the MapBox map I have many Marker  (added dynamically) and 5 MarkerView. I move camera to a specific position oftenly.

To import Mapbox, I use
` compile('com.mapbox.mapboxsdk:mapbox-android-sdk:5.1.1@aar') {
        transitive = true
}`

Sometime I get this error. I didn't found out what was the problem so I post the native bac

[2017-08-22 15:45] P-Zenker commented on #181
Do you use the LocationLayer plugin?

[2017-08-22 15:48] kiklenain commented on #181
No, we don't

On 22.08.2017 17:45, P.Z. wrote:

Links:
------
[1]
https://github.com/mapbox/mapbox-navigation-android/issues/181#issuecomment-324067941
[2]
https://github.com/notifications/unsubscribe-auth/AD8akeov8BXN0yNaG-MJT5kT-IJimJQhks5saveTgaJpZM4O-wA0

[2017-08-22 15:49] kiklenain commented on #181
No, we don't.

We use our custom location manager

On 22.08.2017 17:45, P.Z. wrote:

Links:
------
[1]
https://github.com/mapbox/mapbox-navigation-android/issues/181#issuecomment-324067941
[2]
https://github.com/notifications/unsubscribe-auth/AD8akeov8BXN0yNaG-MJT5kT-IJimJQhks5saveTgaJpZM4O-wA0

[2017-08-25 14:54] Grsmto commented on #178
This has already been PR there https://github.com/mapbox/mapbox-navigation-android/pull/171
As said in #175 they already know about this issue.

Again in the meanwhile you can use my fork using Jitpack like so:
`compile 'com.github.grsmto.mapbox-navigation-android:mapbox-android-navigation:fix-build-SNAPSHOT'`

[2017-08-28 21:54] K-Leon opened #183 "Route not rendering on mapbox-native-gl 5.1.3"
I tried running NavigationMapRoute but i couldn't manage getting it rendering the route at all. Is there some kind of regression that prevents rendering this layer? The actual function in NaviagationMapRoute gets called, but nothing is rendered. I'm running latest Location Provider - it's more or less the same setup like in DemoApp

[2017-08-29 10:25] samvgorode commented on #181
It helped me with the same problen
[code]

[2017-08-29 10:36] samvgorode commented on #149
Now everything is good with `NavigationRoute`. Problem dissapeared by itself.

[2017-08-29 10:38] #149 closed

[2017-08-29 11:53] samvgorode opened #184 "onProgressChange getManeuver().getInstruction() wrong instructions"
In onProgressChange method `routeProgress.currentLegProgress().currentStep().getManeuver().getInstruction()` and `routeProgress.currentLegProgress().upComingStep().getManeuver().getInstruction()` on circle traffic give me wrong info. "At the roundabout turn left" instead of "At the roundabout turn right" there LAT 48.60834754947365 LON 22.26712001255102. Please check this.

[2017-08-29 11:56] samvgorode commented on #178
It solved that problem, thenk you, @Grsmto !

[2017-08-29 17:42] LoveMobile opened #186 "I got "Bad notification posted from package..." when start navigation."
Hi, MapBox Support Team.

I got "Bad notification posted from pakage..." when start navigation.
`@Override

    public void onResponse(Call<DirectionsResponse> call, Response<DirectionsResponse> response) {

        Log.e(TAG, "Get Route");

        Log.e(TAG, String.valueOf(response.body()));

        if (response.body() != null) {

            if (response.body().getRoutes().size() > 0) {

[2017-08-29 21:12] #174 closed

[2017-08-30 00:35] cammace commented on #186
Interesting, could you provide a bit more information for which version of the SDK you are using and the actual log when the crash occurs.

BTW, you should reverse this statement so the log happens after the null check.

[code]

[2017-08-30 08:04] Guardiola31337 opened #187 "Explore CircleCI Git Tag Job Execution to better support automated releases"
First class tag support for Workflows in CircleCI was announced recently 🎉
We could take advantage of [CircleCI Git Tag Job Execution](https://circleci.com/docs/2.0/workflows/#git-tag-job-execution) to better support our automated releases and make the process more pleasant/easier.

Related ticket #173

cc/ @cammace

[2017-08-30 13:02] davols commented on #176
Could just give a brief update. Updated the strings in transifex and got it merged last week. Which have proper handling (at least in transifex and testing) for exits et al.
https://github.com/Project-OSRM/osrm-text-instructions/pull/138

[2017-08-30 14:28] cammace commented on #183
I'll need more information to help you debug this issue such as the map style you are using, navigation version, and a snippet of code where you are initializing and/or passing in the route geometry into the NavigationMapRoute object.

[2017-08-30 14:36] cammace commented on #181
Since this ticket does not show any issues with the navigation SDK but rather, the Map SDK, I have moved this ticket upstream in https://github.com/mapbox/mapbox-gl-native/issues/9890. Closing here.

[2017-08-30 14:36] #181 closed

[2017-08-30 14:36] ericrwolfe commented on #184
@samvgorode thanks for the feedback.

This is an upstream issue in either the Directions API or in OpenStreetMap with this particular roundabout. I looked at other roundabouts in the area and they seem to be correct.

I've reached out to our directions team and will post back with an update when we have a fix on our end.

[2017-08-30 14:38] cammace commented on #172
Stale, closing.

[2017-08-30 14:38] #172 closed

[2017-08-30 14:40] cammace commented on #147
This snippet of code has been moved to using the `Snap` class logic, closing.

[2017-08-30 14:40] #147 closed

[2017-08-30 15:19] K-Leon commented on #183
I just found the reason - i passed a tour requested with polyline and not polyline6. Causing a route that was on the wrong location.

[2017-08-30 15:19] #183 closed

[2017-08-30 15:21] BoD opened #189 "Test on location.getSpeed() makes it impossible to test with the Android emulator"
I'm trying to start a navigation using the Android emulator.

I am not receiving any callbacks.

After debugging a bit, I find that this line is always returning `true`:
https://github.com/mapbox/mapbox-navigation-android/blob/v0.4.0/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/NavigationEngine.java#L86

The problem is I don't know with the Android emula

[2017-08-30 15:23] BoD commented on #189
Related to #118 apparently.

[2017-08-30 15:51] #178 closed

[2017-08-30 18:02] cammace opened #191 "Release 0.5.0"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.5.0`. This brings significant performance improvements and the persistent notification.

### Highlights
* use followonstep inside routeprogress for instruction - [#188](https://github.com/mapbox/mapbox-navigation-android/pull/188)
* Persistent notification [#177](https://github.com/mapbox/mapbox-navigation-android/pull/177)
* Fixe

[2017-08-31 08:07] BoD opened #195 "Crash in NavigationEngine for certain routes"
I experience a crash in `NavigationEngine` when trying to navigate to a particular route.

The crash happens here:
https://github.com/mapbox/mapbox-navigation-android/blob/v0.4.0/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/NavigationEngine.java#L214

A `TurfException` is thrown with the message `Turf lineSlice requires a LineString made up of at least 2

[2017-08-31 08:59] BoD commented on #191
Is this really normal?
https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/dependencies.gradle#L20

[2017-08-31 09:03] davols opened #196 "0.6.0-Snapshot not uploaded - Don't update README before build"
Related to #193 and similar issue that happened to 0.5.0-SNAPSHOT.

The readme is updated now to 0.6.0-SNAPSHOT but it's not uploaded to sonatype. Maybe tweak the release process? Not the biggest issue but at least I got really excited to see a notification with 0.6.0 mentioned and sad when it wasn't uploaded.

cc @langsmith
Similar to #168

[2017-08-31 10:09] AnuragKataria opened #197 "How to enable voice announcement button in navigation. I'm unable to find any solution Please help me to get it out."
@Override
  public void onMilestoneEvent(RouteProgress routeProgress, String instruction, int identifier) {
    Timber.d("Milestone Event Occurred with id: %d", identifier);

    Log.i("Instruction : " , instruction);
    switch (identifier) {

      case NavigationConstants.URGENT_MILESTONE:

        Toast.makeText(this, "Urgent Milestone", Toast.LENGTH_LONG).show();
        break;
      case Nav

[2017-09-04 12:27] davols commented on #197
Afaik @AnuragKataria you need to implement this yourself. The navigation sdk is still in progress. And right now, at least in snapshot, the code handles all the under the hood stuff. (Not inputs, gui or voice outputs). You would need to implement that yourself.

You would need to look at #180 and possibly others if you want the drop in feature.

[2017-09-05 16:43] cammace opened #200 "NullPointerException when notifications disabled and endNavigations called"
If we disable the notification via MapboxNavigationOptions and will call endNavigation, then a NullPointerException occurs, because you call "onDestroy" on your not initialized "notificationManager" in the "NavigationService"-class

cc: @ericrwolfe @danesfeder

[2017-09-05 19:55] #191 closed

[2017-09-05 19:55] #200 closed

[2017-09-05 20:01] cammace commented on #197
Drop in UI is currently being worked on by @danesfeder in #180 and will be released in the comming weeks. This will add voice announcements as @davols mentions above. Closing.

[2017-09-05 20:01] #197 closed

[2017-09-05 20:04] cammace commented on #196
Sorry for the confusion, you can always check the snapshot versions on [Sonatype](https://oss.sonatype.org/content/repositories/snapshots/com/mapbox/mapboxsdk/mapbox-android-navigation/). 0.6.0-snapshot is released now.

[2017-09-05 20:04] #196 closed

[2017-09-05 20:18] danesfeder opened #202 "Use IntentBuilder to launch Navigation Drop-In UI"
Create / Use intent builder for users to launch the drop-in UI

[2017-09-05 20:24] danesfeder opened #203 "Add AlertView to Drop-In UI in bad route scenario"
Show a message to the user if the API call fails or we get a bad route response from the server

[2017-09-05 20:49] cammace commented on #195
This has already been pointed out in https://github.com/mapbox/mapbox-navigation-android/issues/149 and fixed in 0.5.0. I suggest upgrading to the latest version.

[2017-09-05 20:49] #195 closed

[2017-09-05 20:59] cammace commented on #186
I changed our remote views to use match_parent rather than wrap for the height in #205. Since I don't have an s3 and haven't been able to reproduce the issue I'm not sure if this resolves the issue you are seeing. Closing once merged but if you still have issues please comment on this ticket with additional information.

[2017-09-05 23:15] davols commented on #196
@cammace checked the sonatype every day. the issue is that the readme mentions a newer snapshot (it's updated) several days before the actual snapshot is released. Imo it (change readme task) should be done later. So that the readme is updated with sonatype builds.

(Not sure if it's related to #168 but looks like it)

[2017-09-06 17:02] palto-ccadoret opened #206 "Unable to use OffRouteListener since it uses precision 6 to decode current step"
When using the MapboxDirections Api to retrieve a route, the route computed has a precision of 5.

Unfortunately, the OffRouteDetector uses a precision of 6 to decode the current step.
https://github.com/mapbox/mapbox-navigation-android/blob/88b313411ae825c4465e93f1b28ae9914cc22b03/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.ja

[2017-09-06 19:38] #186 closed

[2017-09-06 19:57] cammace commented on #206
You can request precision 6 when making the directions API call using the geometry parameter. If you're on 0.5.0 I'd recommend using the `NavigationRoute` class to get the route which will handle all the required stuff for you.

[2017-09-06 19:57] #206 closed

[2017-09-06 19:59] cammace commented on #136
Making MapboxNavigation immutable has resolved this issue. Users cannot modify the options once passed into the MapboxNavigation instance which was the original issue. Closing.

[2017-09-06 19:59] #136 closed

[2017-09-06 20:00] cammace commented on #173
Circle CI has been added to our release.py and we plan to further improve upon this in the future (being tracked internally), closing.

[2017-09-06 20:00] #173 closed

[2017-09-06 23:57] ericrwolfe commented on #35
@cammace might be worth taking another look at this given the recent milestone work

[2017-09-07 00:03] ericrwolfe opened #209 "Add support for highway classes"
For milestone triggers in particular.

Highways should use fixed distance milestones of 2 miles and 0.25 miles.

cc @cammace

[2017-09-07 02:26] ericrwolfe opened #210 "Remove duplicate polyline decoding"
Polylines are decoded 6 times on every new location update (9 times if a new step!) in `NavigationEngine.handleRequest`:

https://github.com/mapbox/mapbox-navigation-android/blob/05a2f5653318ceda8864c065e44d27f09ea8513f/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java#L63-L72

* 3-6x in `generateNewRouteProgress()`:
     * 1x

[2017-09-07 16:58] mecoFarid opened #211 "Version 0.4.0 calls onProgressChange(), while version 0.5.0 and 0.6.0-SNAPSHOT fails on that."
I've implemented version 0.4.0 and MapboxNavigation successfully fires onProgressChange() when user's location changes. But version 0.5.0 and 0.6.0-SNAPSHOT won't trigger onProgressChange(), even though the user moves with speed over 0(zero).

[2017-09-08 20:11] mecoFarid opened #213 "Version 0.4.0 works smoothly, while on MockLocationEngine(), but fails in real life scenario."
I've implemented version 0.4.0 that works perfectly when MockLocationEngine() is deployed. When switched to real life, navigation fails ass seen in screenrecord hereunder.
NOTE: I haven't implemented any LocationEnige() while real life navigating, so I believe it would not rise a problem as one below:
**ERRORLOG**
[code]
![ezgif com-gif-maker](https://user-images.githubusercontent.com/17815721/302

[2017-09-09 10:59] samvgorode commented on #213
Yes, in my case the same situation, when I used fake navigation route everything was great, but while real car driving marker is frozen, it isn't updating at all.

[2017-09-09 11:23] samvgorode commented on #213
**Real car navigation experiments**
_version 0.5.0_
`locationLayerPlugin.forceLocationUpdate` inside `onMyLocationChange`
do nothing.
`locationLayerPlugin.forceLocationUpdate` inside `onProgressChange`
do nothing.
_version 0.6.0-SNAPSHOT_
`locationLayerPlugin.forceLocationUpdate` inside `onMyLocationChange`
works good.
`locationLayerPlugin.forceLocationUpdate` inside `onProgressChange`
do nothing.

[2017-09-09 11:27] samvgorode commented on #211
Yes it is true. I've written about it in this comment https://github.com/mapbox/mapbox-navigation-android/issues/213#issuecomment-328271145

[2017-09-09 17:51] K-Leon opened #214 "Navigation Fails on the Street after 18 Minutes"
I'm experimenting with latest Master - on Simulator everything works fine, but as soon as it is running in the Wild on a real Device the whole thing get's slower over time and around Minute 18 it slows so down, that the device goes black and "hangs in Lock Screen". There is no error Message - nothing. Just a Device freeze. If you stop the car and wait for about 2-3 Minutes everything recovers. It

[2017-09-09 19:48] K-Leon commented on #214
[code]

[2017-09-11 07:11] davols commented on #214
Interesting. I haven't reproduced it myself. However I've been running street tests with LG G6, Pixel XL and OnePlus 3 (They do get hot, at least the Pixel). But we've recently rolled out (small staged rollout) a version of our app with navigation and shall see if this pops up in the crash logs.

I definitely think it could help to have an implementation like #54 in order to make the UX better in

[2017-09-11 07:44] K-Leon commented on #214
You won't see this popping up in Crashlogger like Fabric. The Device stalls and eventually catches up if the driver stops or goes in an endless crash loop because it can't restore Basic OS Activities. So It usually brings the whole device down.

We could reproduce it with an two year old Sony Xperia Z5.

[2017-09-11 19:46] cammace opened #217 "Change from percentage arrival detection to distance"

[2017-09-11 22:35] #210 closed

[2017-09-12 19:30] danesfeder opened #220 "Fix Broken Tests"
The use of the telemetry in #216 caused navigation tests to break when trying to initialize the telem library - need to be fixed, as they are now being annotated with `@Ignore`

[2017-09-13 17:24] johnwallco opened #222 "Drop in navigation UI"
I've had pretty good success with the iOS drop in navigation UI.

For Android, I'm using the Mapbox Optimization API to get a route. I'm able to get a route from the API, but I'm not sure how to start navigation with the route response.

How do I start navigation once I have a route?

I'm using `'com.mapbox.mapboxsdk:mapbox-android-navigation:0.5.0'`

Thanks in advance.

[2017-09-13 18:10] danesfeder commented on #222
Hey @johnwallco - glad to hear it!

The Android drop-in UI landed in master last Friday https://github.com/mapbox/mapbox-navigation-android/pull/180, so it's actually not in `com.mapbox.mapboxsdk:mapbox-android-navigation:0.5.0`.

You can still start using it with:
`compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.0-SNAPSHOT'`
`compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:

[2017-09-13 20:42] johnwallco commented on #222
Hey @danesfeder, thanks for the info.

I get the following error when trying to launch navigation UI from an activity:

`java.lang.NoSuchMethodError: No static method setAutoSizeTextTypeUniformWithConfiguration(Landroid/widget/TextView;IIII)V in class Landroid/support/v4/widget/TextViewCompat; or its super classes (declaration of 'android.support.v4.widget.TextViewCompat' appears in /data/app/com.

[2017-09-13 20:52] danesfeder commented on #222
@johnwallco We are using https://developer.android.com/guide/topics/ui/look-and-feel/autosizing-textview.html for the top instruction text, so your app will need to target API 26.  I'll be sure to specify that in the docs / javadoc

[2017-09-13 21:03] johnwallco commented on #222
@danesfeder I hate to keep bugging you (thanks for all the help), but I believe I'm targeting API 26.

Here's my build.gradle:

[code]

[2017-09-13 21:24] danesfeder commented on #222
@johnwallco No problem, I want to make sure this doesn't happen to everyone.

I believe forcing the support library to use `26.0.0-alpha1` is the issue.

I have my `appcompat` dependency as:
`compile 'com.android.support:appcompat-v7:26.0.2'`

Maybe change that and run a `./gradlew --refresh-dependencies`  If it's still crashing, I'll look into this a bit further.  Could be something on my end and

[2017-09-14 00:21] johnwallco commented on #222
@danesfeder It looks like 26.0.2 for `appcompat` did the trick on that error.

There's a new one. There's a NoClassDefFoundError for LocationLayerPlugin:

` java.lang.NoClassDefFoundError: Failed resolution of: Lcom/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin;`

<img width="756" alt="screen shot 2017-09-13 at 8 05 12 pm" src="https://user-images.githubusercontent.com/15603363/304063

[2017-09-14 02:10] danesfeder commented on #222
@johnwallco Yeah that's on me, it looks like something is wrong with the dependencies compiling for the SNAPSHOT.

I'll look into it tomorrow - in meantime, you can manually add the `LocationLayerPlugin` with:
`compile 'com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.1.0'`

It also looks like there's an issue compiling `MapView` XML attributes if you don't manually include the Map SDK.

[2017-09-14 05:40] johnwallco commented on #222
Thanks, @danesfeder. Things are going in the right direction over here.

I have several other issues at the moment, but I'll try to make sure they're not my implementation mistakes before bugging you guys again.

[2017-09-14 05:40] #222 closed

[2017-09-15 13:31] danesfeder commented on #213
@samvgorode Thank you for the feedback - in the gif above, that was a recording of a real test drive correct?  Or was it using `MockLocationEngine`?

[2017-09-15 13:38] danesfeder commented on #211
@mecoFarid Can you debug the same question I asked @samvgorode in https://github.com/mapbox/mapbox-navigation-android/issues/213#issuecomment-329783383

[2017-09-15 13:52] danesfeder commented on #222
@johnwallco no problem, happy to help

[2017-09-16 19:48] mecoFarid commented on #213
@danesfeder Yes, I recorded it while on real test drive.

[2017-09-16 22:32] K-Leon opened #228 "Anticipate Movement"
While making life runs on real devices I'm seeing a constant lag between the real location and the displayed location ( it's clear that it exists - max update frequency about 1-2 seconds plus processing time ). If your're mvoing fast this can add up to 50 meters and more the UI is lagging behind.

Is there anything that speaks again adding 2*currentspeed to Route snapped location? Is there an easy

[2017-09-18 08:40] samvgorode commented on #213
@danesfeder sorry, I cant debug it while real driving.

[2017-09-18 12:12] mf-mindcrewtech opened #229 "Import Navigation UI"
Can anyone please let me know how can i import the gradle for (libandroid-navigation-ui), as I am facing in adding the module. What is the gradle for this, I already tried
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.5.0'
but no success.

Thanks

[2017-09-18 12:50] davols commented on #229
Are you looking for the drop-in UI? Assuming you are with the following answer.

According to a comment over at #222 over here: https://github.com/mapbox/mapbox-navigation-android/issues/222#issuecomment-329251070

That comment mentions how to get it working and also that `0.5.0` does not have the drop in UI. And you should try `0.6.0`. But if you're looking to get the dropin UI working that entir

[2017-09-18 13:27] danesfeder commented on #229
Yeah, thank you @davols!

@mf-mindcrewtech Just a heads up, we are working on some issues with compiling the UI dependency (as you can see in that thread).

The issue is `libandroid-navigation-ui` needs to be compiled with `transitive = true` so you can compile all of the necessary dependencies (like `LocationLayerPlugin`).  Unfortunately, we are seeing some issues when you do this - working today

[2017-09-18 13:27] danesfeder commented on #222
cc @johnwallco https://github.com/mapbox/mapbox-navigation-android/issues/229#issuecomment-330220064

[2017-09-19 06:12] mf-mindcrewtech commented on #229
Hi, what I want is draw a route from my current location to destination and when i start driving my car , it needs to show me directions with remaining distance and time. Do you guys provide me any code for this as I am facing issue regarding to achieve this. Any help really appreciate.

[2017-09-19 06:16] mf-mindcrewtech opened #233 "AutoValue_MapboxNavigationOptions"
I am getting error on "AutoValue_MapboxNavigationOptions", when i compile both projects.
compile project(':libandroid-navigation')
compile project(':libandroid-navigation-ui')

I am unable to build my project.

Error:Execution failed for task ':libandroid-navigation:compileReleaseJavaWithJavac'.

Anyone plzz help.

[2017-09-19 12:31] franciskim opened #234 "[Question] Custom navigation routes with GeoJSON"
Hi guys, sorry about raising a question here, but I'm in need of some help.

I have a large number of routes that can be exported in GeoJSON - can the Navigation SDK made to provide turn-by-turn directions based on predefined routes?

[2017-09-19 12:38] mf-mindcrewtech opened #235 "Navigation with list of Position"
Hi, how can I add my list of position/coordinates for navigation. I am using
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.0-SNAPSHOT'
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.0-SNAPSHOT@aar'

the only access for NavigationRoute class is something like this
NavigationRoute.builder()
                .accessToken(Mapbox.getAccessToken())
                .origin(or

[2017-09-19 13:21] danesfeder commented on #235
To get a `DirectionsRoute` with multiple legs you can add `Position` waypoints to your builder.  These are considered stops in between the origin and destination `Position`s (in the order that you add them - first waypoint is the first stop):

[code]

[2017-09-19 13:44] mf-mindcrewtech commented on #235
Hii Thanks @danesfeder , is there any way to add waypoints in for loop? for some size (dynamically) as I don't want to add as hardcoded waypoints

[2017-09-19 13:59] danesfeder commented on #235
You can create the builder and then add the waypoints to the builder in a for loop:

[code]

For better visibility of these questions, in the future, if you don't mind asking them on StackOverflow (rather than raising an issue) we would appreciate it.  That way more developers can more easily find the solution when searching for the same question.

[2017-09-19 15:18] danesfeder commented on #229
You can now compile the UI with:

[code]

and

[code]

^ added to your project `build.gradle`

[2017-09-19 19:26] #235 closed

[2017-09-19 19:34] cammace commented on #234
Answered on Stack Overflow, closing https://stackoverflow.com/questions/46302840/mapbox-navigating-a-custom-route-turn-by-turn/46308471#46308471

[2017-09-19 19:34] #234 closed

[2017-09-19 19:37] cammace commented on #233
Is this an issue with Android Studio just not resolving `AutoValue_MapboxNavigationOptions`? AutoValue generates code during compile time.
[code]

This looks like your building from the project rather than using the Maven dependency or SNAPSHOT which isn't recommended unless your contributing.

[2017-09-19 19:39] cammace commented on #228
This sounds like your looking for a user location prediction model. The idea for this is being tracked in https://github.com/mapbox/mapbox-navigation-android/issues/54 using a Kalman filter. Correct me if you meant something else.

[2017-09-19 19:42] K-Leon commented on #228
You're right - but I thought about s minimal Version. Going from the current Position n Meter along the route could be nearly enough. But Kalman would be the icing on the take. ;)

[2017-09-19 19:45] danesfeder opened #238 "Increase Step Index when isCloseToUpcomingStep"
When a user is determined "off-route" but they are within an acceptable radius of the upcoming step, we do not send an off-route.

In this scenario we should still be incrementing the step index:
https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java#L43

[2017-09-20 00:19] kimosabi77 opened #239 "Use Kilometres instead of miles"
Is there a way to switch the routing and Drop In UI navigation to show Kms to next route step instead of miles?

I've looked around but can't find this is any of the route options.

[2017-09-20 05:01] mf-mindcrewtech commented on #233
Hi @cammace , I am using gradle dependency
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.0-SNAPSHOT'
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.0-SNAPSHOT@aar'

Still facing the same issue, can you plzzz let me know as I am unable to navigate runtime navigation while driving with my car.

[2017-09-20 05:11] mf-mindcrewtech commented on #233
Hi @cammace , I am using gradle dependency
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.0-SNAPSHOT'
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.0-SNAPSHOT@aar'

Still facing the same issue, can you plzzz let me know as I am unable to use InstructionView class to show navigations.

[2017-09-20 06:05] mf-mindcrewtech commented on #235
Hi @danesfeder , thanks but this is not giving any route response

My code is as

origin :: Position [longitude=75.891441, latitude=22.742855, altitude=NaN]
destination :: Position [longitude=75.893737, latitude=22.744398, altitude=NaN]
Waypoints Position List
0 = {Position@5519} "Position [longitude=75.892879, latitude=22.743369, altitude=NaN]"
1 = {Position@5548} "Position [longitude=75.894274,

[2017-09-20 06:43] mf-mindcrewtech opened #240 "Real-time Navigation"
Hi, from this demo we have navigation from current location to destination (some marker) but not in real-time.

How can I achieve real-time navigation, something like these::
1) Created a route from current location to destination.. DONE
2) Start navigation ** when i actually start moving in car with my phone. (Not like showing in demo)

For this I updated my onLocationChanged to this ::

  if (cu

[2017-09-20 06:54] mf-mindcrewtech commented on #213
@samvgorode, i also want real-time navigation from current location to some destination, but i don't know how achieve it. can you please help me in this. Thanks

[2017-09-20 06:55] mf-mindcrewtech commented on #213
@samvgorode, i also want real-time navigation from current location to some destination, but i don't know how achieve it. can you please help me in this. Thanks

NOTE :: I follow every single steps from this github demo but this is not working in real-time scenario.

[2017-09-20 07:35] mf-mindcrewtech opened #241 "setAutoSizeTextTypeUniformWithConfiguration -- InstructionView class"
TextViewCompat.setAutoSizeTextTypeUniformWithConfiguration is not accessible in InstructionView class with dependencies ::

compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.0-SNAPSHOT'
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.6.0-SNAPSHOT@aar'

Can you guys please check..

[2017-09-20 07:40] samvgorode commented on #213
@mf-mindcrewtech yes I can help you. my skype: samvgorode (Eugene Prokopenko)

[2017-09-20 07:44] mf-mindcrewtech commented on #213
@samvgorode thanks, please check your skype, i sent you request

[2017-09-20 08:05] davols commented on #240
Are you using the `MockLocationEngine` for real life driving? If so, you need to change it and use another locationengine. `LostLocationEngine` or from Google.
If you want to use LOST you can use it like so.
`locationEngine = LostLocationEngine.getLocationEngine(this);`

[2017-09-20 08:44] mf-mindcrewtech commented on #240
Thanks @davols, for pointing out the correct locationEngine.
Can you please also look at anther issue (https://github.com/mapbox/mapbox-navigation-android/issues/241). I need instructions in my app.

[2017-09-20 09:33] davols commented on #240
I don't want to step on any toes, or put words in anyones mouth. (Please reach out if you don't want me to answer low hanging questions @cammace or @danesfeder or anyone else).
But I believe you @mf-mindcrewtech should move these questions to stackoverflow for visibility as mentioned in https://github.com/mapbox/mapbox-navigation-android/issues/235#issuecomment-330548298

[2017-09-20 09:57] #241 closed

[2017-09-20 09:58] mf-mindcrewtech commented on #241
I resolved it on my end..

[2017-09-20 09:59] mf-mindcrewtech commented on #240
okay i will resolved it by myself thanks

[2017-09-20 09:59] #240 closed

[2017-09-20 15:12] cammace commented on #240
Thanks for all your help and feedback guys

[2017-09-20 15:58] cammace commented on #25
https://github.com/mapbox/mapbox-navigation-android/pull/177 adds a default notification for navigation, right now there's little reason for providing a way to pass in developers own notification layout and this would take significant work on our end to make sure things get updated, If the developer wants a custom notification, they can disable the default notification and use their own `onProgres

[2017-09-20 15:58] #25 closed

[2017-09-20 16:01] cammace commented on #16
This was originally opened when I didn't know you could wrap listeners in RxJava. I now see no reason for us supporting this since the demand isn't high and would require more overhead on our end. Closing.

[2017-09-20 16:01] #16 closed

[2017-09-20 16:07] cammace commented on #46
With the Navigation UI work, we now have a testapp activity which can either use mock location or LOST. Closing.

[2017-09-20 16:07] #46 closed

[2017-09-20 18:45] Snipedown opened #249 "Navigation fails to reroute after a U-Turn"
After a U-Turn, the puck continues to point in the old direction and the route just extends back out, when it should reroute now that you are facing a new direction.

Edit: I forgot to mention that it eventually rerouted when I passed over a "possible turn" as in an actual road that can be turned on instead of like a driveway. This may be some NavigationConstant I can change, but I was driving the

[2017-09-20 19:13] cammace commented on #40
This is actually not an issue for navigation anymore when the navigation session starts with the same positions, it is treated as though you have instantly arrived (as it should 😄).

[2017-09-20 19:13] #40 closed

[2017-09-20 19:17] cammace commented on #49
This is no longer an issue since the user must request the route using navigationRoute first and we don't allow null positions.

[2017-09-20 19:17] #49 closed

[2017-09-20 19:43] #138 closed

[2017-09-20 19:50] cammace commented on #213
Sounds like you guys were able to work together to resolve the issue? It sounds like an issue with your setup for the locationEngine and I haven't observed any issues with navigation during driving.

[2017-09-20 19:50] #213 closed

[2017-09-20 19:55] cammace commented on #228
hmmm, you could try increasing the dead reckoning value inside MapboxNavigationOptions. Otherwise, this will have to wait till the Kalman filter arrives.

[2017-09-20 19:55] #228 closed

[2017-09-20 19:57] cammace commented on #214
@danesfeder resolved a number of performance issues in https://github.com/mapbox/mapbox-navigation-android/pull/219 which seems to have fixed this issue. Closing but if the same observation is made in a future test drive, please let us know.

[2017-09-20 19:57] #214 closed

[2017-09-20 20:00] cammace commented on #211
Should be resolved in https://github.com/mapbox/mapbox-navigation-android/pull/236 which fixes an issue with routeProgress not getting updated after a reroute.

[2017-09-20 20:00] #211 closed

[2017-09-20 20:01] cammace commented on #184
https://github.com/mapbox/mapbox-navigation-android/pull/242 adds the fix which was introduced upstream.

[2017-09-20 20:01] #184 closed

[2017-09-21 05:48] ericrwolfe opened #253 "Session state total distance update reset prematurely"
@cammace It looks like the session state distance update happens after the route progress is reset to 0 distance completed.

https://github.com/mapbox/mapbox-navigation-android/blob/7aed54217bd244b4e8a7ad450a6cdb35b0aeae52/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java#L99-L112

The distance updates should be moved before t

[2017-09-21 12:34] P-Zenker opened #254 "Drop-in UI: LocationLayer below instruction"
Hey,

I've downloaded your [sample project](https://github.com/mapbox/mapbox-navigation-android/tree/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity) today.

Running on a Google Nexus 6 the Navigation View (Drop-in UI) looks like this:

![2017-09-21 14 20 04](https://user-images.githubusercontent.com/23097192/30695351-2db0c3b2-9ed8-11e7-8773-3807d98f41ed

[2017-09-21 12:35] P-Zenker opened #255 "Sample project outdated"
Hey,

I've downloaded your [sample project](https://github.com/mapbox/mapbox-navigation-android/tree/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity) today.

There are two outdated methods in NavigationMetricsWrapper:

`Error:(13, 66) error: method buildArriveEvent in class MapboxNavigationEvent cannot be applied to given types;
required: String,String,S

[2017-09-21 12:43] P-Zenker opened #256 "Wrong rotation of LocationLayer inside Drop-in UI"
Hey,

I've downloaded your [sample project](https://github.com/mapbox/mapbox-navigation-android/tree/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity) today.

I don't know if this issue belongs here or rather to mapbox-plugins-android. I think the rotion should be counter-clockwise instead of clockwise in such cases, where the rotation angle is > 180 degr

[2017-09-21 12:55] P-Zenker opened #257 "Real position outside of LatLngBounds after route calculation (Drop-in UI)"
Hey,

I've downloaded your [sample project](https://github.com/mapbox/mapbox-navigation-android/tree/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity) today.

Running on a Google Nexus 6 (Android 7.1.1  | 2560 x 1440 | 5,96 Zoll (large) | 493 (xxxhdpi)) or on a Ulefone Be Touch 2 (Android 5.1 | 1920 x 1080 | 5,5 Zoll (large)) the Navigation View (Drop-in

[2017-09-21 13:33] danesfeder commented on #254
Hey @P-Zenker,

Thanks for your feedback - I'll try to get my hands on a physical Nexus 6.

Running in a Nexus 6 emulator, the navigation puck position seems to be located okay.  Looks like this may not be the case with the actual device.

![screen shot 2017-09-21 at 9 30 26 am](https://user-images.githubusercontent.com/8434572/30698393-d4774b90-9eaf-11e7-85c7-176ecf093c79.png)

[2017-09-21 14:46] P-Zenker opened #258 "Drop-in UI crash with Android 4.2.2-4.4.2 devices"
Hey,

I've downloaded your [sample project](https://github.com/mapbox/mapbox-navigation-android/tree/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity) today.

Running on a

- Google Nexus 6 (Android 7.1.1)
- MOBISTEL Cynus E4 (Android 5.1)
- Ulefone Be Touch 2 (Android 5.1)

there is no crash.

Different with these devices (Device | Android Version):
- Sa

[2017-09-21 14:49] danesfeder commented on #258
@P-Zenker I'll look into this - looks like it's related to API 19

[2017-09-21 14:55] P-Zenker commented on #254
I think my physical Nexus 6 is just a hardship. Two more screenshots:

MOBISTEL Cynus E4 (Android 5.1 | 800 x 480 | 4 Zoll (normal) | 240 (hdpi)) - fine, or maybe a bit too close?
![2017-09-21 16 53 09](https://user-images.githubusercontent.com/23097192/30702482-5db6704c-9eed-11e7-8f20-2e49f3ad5ae3.jpg)

Ulefone Be Touch 2 (Android 5.1 | 1920 x 1080 | 5,5 Zoll (large))
![2017-09-21 16 52 26](https

[2017-09-21 17:54] mecoFarid commented on #213
@cammace I believe @samvgorode will just help to achieve real-time simulation not to resolve the issue. Could you reopen the issue, by any chance, please? :)

[2017-09-21 18:34] ericrwolfe commented on #113
First pass of this added in https://github.com/mapbox/mapbox-navigation-android/pull/216, more to come in subsequent tickets.

[2017-09-21 18:34] #113 closed

[2017-09-21 19:59] cammace opened #263 "release v0.6"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.6.0`. This brings significant performance improvements, the first iteration of navigation UI, and several bug fixes

### Highlights
* First iteration of the Navigation UI
* Optimized Navigation features which were causing slowdowns on long steps -
 [219](https://github.com/mapbox/mapbox-navigation-android/pull/219)
* Only decode s

[2017-09-22 06:38] kirtan-inexture commented on #211
Still doesn't work on 0.6.0

[2017-09-22 07:32] davols commented on #258
Had a quick glance yesterday. Pretty sure it's related to VectorDrawables, need to use vectordrawablecompat for < 21.  Having some issues in my navigation project as well.

[2017-09-22 15:21] cammace commented on #211
@kirtan-inexture, could you give us some more insight on your setup so we can reproduce the issue?

[2017-09-22 15:22] danesfeder commented on #258
Looks like using custom attributes using`?attr/` to set the theme colors won't fly below API 21.

Going to have to work on a fix to set the colors at runtime.  We are going to let users of the drop-in UI set custom colors to style the Views.

[2017-09-22 15:25] cammace commented on #257
Hey Patrick, thanks for checking out the testapp sample. I assume you are speaking about the camera zooming in too close? The screen you are referring to wasn't actually built out inside the SDK. In the future, we plan to offer an Overview screen for navigation which will handle viewing the entire route and giving the options one would desire before starting a navigation session.

[2017-09-22 15:29] cammace commented on #255
Juggling between projects, I made some param changes which broke the methods originally, should be fixed in the latest Snapshot and on the master branch.

[2017-09-22 15:29] #255 closed

[2017-09-22 17:56] ericrwolfe opened #264 "Improve turn completion announcements"
Right now we always issues a completion voice announcement after a turn (e.g. “Continue on K St NW for 1.2 miles”) regardless of the next step's duration/length.

For 0.6.2 we should check the duration of the step and announce the approach ("In 800 feet, turn right onto California St") or turn announcements ("Turn right onto California St") instead.

Pseudocode:
[code]

cc @cammace @danesfeder

[2017-09-22 18:16] ericrwolfe commented on #253
Fixed in https://github.com/mapbox/mapbox-navigation-android/pull/260

[2017-09-22 18:16] #253 closed

[2017-09-22 18:21] ericrwolfe commented on #254
Fixed in https://github.com/mapbox/mapbox-navigation-android/pull/261

[2017-09-22 18:21] #254 closed

[2017-09-22 18:26] ericrwolfe opened #265 "Improve turn arrows"
Let's use the turn arrows from the paintcode files that iOS uses: https://github.com/mapbox/navigation-ui-resources

cc @danesfeder @frederoni

[2017-09-22 18:30] ericrwolfe opened #266 "Support metric units (meters/kilometers)"
The SDK should support metric units for distances in meters + kilometers in addition to miles.

Initially, this should be as simple as adding an explicit bool/enum that users can change for metric vs imperial.

Later, the SDK could try to infer units of measure based on the provided locale (but still allow the above unit override).

cc @danesfeder

[2017-09-22 18:37] ericrwolfe commented on #239
Tracking in #266.

[2017-09-22 18:37] #239 closed

[2017-09-25 05:21] kirtan-inexture commented on #211
Same, as on previous version. Didn't work with 0.5.0 also. It gives an initial callback. But after that it doesn't update at all.

        MapboxNavigationOptions options = MapboxNavigationOptions.builder()
                .maximumDistanceOffRoute(10).build();
        navigation = new MapboxNavigation(this, Mapbox.getAccessToken(), options);

       // requesting a route
       final NavigationRou

[2017-09-25 08:23] mf-mindcrewtech commented on #256
Same issue with me, @P-Zenker did you find any solution?

[2017-09-25 09:34] P-Zenker commented on #257
Yes.

Ok, great!

[2017-09-25 10:11] Grsmto commented on #249
I can confirm this after some testing in real-world yesterday.
I'm not sure the U-turn case has been handled in the off-route logic.
The puck not rotating is probably not directly related tho.

[2017-09-25 11:48] mf-mindcrewtech commented on #249
@Snipedown same issue here, did you find any solution?

[2017-09-25 12:31] davols commented on #258
You're probably right.

Another stacktrace with the example app from `master`
Sony V | 4.1.2
`Caused by: android.content.res.Resources$NotFoundException: File res/drawable/instruction_background.xml from drawable resource ID #0x7f0200c1`

[code]

[2017-09-25 12:50] P-Zenker commented on #254
With
[code]
and

[code]
I still get the behaviour described above on my Google Nexus 6. What am I doing wrong?

[2017-09-25 14:06] danesfeder commented on #254
@P-Zenker Yeah, going to need to work on a better way to fix this based on the screen size / density of the phone - keep an eye on our PRs for a fix incoming

[2017-09-25 15:38] Danny-James commented on #263
I'm Now Using The Following Dependencies
`
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0-SNAPSHOT'
`
`
compile 'com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.7.0-SNAPSHOT@aar'
`

When i select the recentre button the Navigation UI doesn't change it seems the ReCentre button has broken.

[2017-09-25 15:47] zugaldia commented on #263
@Danny-James Thanks for the report and sorry to hear that you're hitting an issue. Would you mind opening a separate ticket (https://github.com/mapbox/mapbox-navigation-android/issues/new)? It'd be helpful if you could also include some code snippet or small example that we could use to reproduce the problem.

[2017-09-25 16:02] #257 closed

[2017-09-25 16:02] Danny-James commented on #263
@zugaldia Im hitting all sorts of problems which i have already listed as an issue, but currently had no replies, [#10030](https://github.com/mapbox/mapbox-gl-native/issues/10030).

I'll log the other issues now.

[2017-09-25 16:55] nchorniy opened #268 "NavigationMapRoute Crash after closing NavigationView activity"
I was running a demo app and after exiting navigation launched by `NavigationLauncher.startNavigation`
sporadically app was crashing. Logs attached:

[code]

[2017-09-25 19:29] nchorniy commented on #268
It was happening on release v0.6.0

[2017-09-26 13:05] Danny-James opened #269 "Android 4.1.2 - Error With Dependencies"
Since Adding The Below Dependency I Have The Following Error.

**Dependency**
`compile 'com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.1.0'`

**Error:**
`Error:Execution failed for task ':app:transformClassesWithDexForDebug'.`
`> com.android.build.api.transform.TransformException: com.android.ide.common.process.ProcessException: java.util.concurrent.ExecutionException: com.android.dex.

[2017-09-26 13:10] Danny-James opened #270 "Re Centre Issue - Latest 0.7.0 Dependency"
I'm Now Using The Latest Navigation UI Dependency, When The 'RE-CENTER' Button Is Clicked, Nothing Happens. The Only Data On The LogCat Is Shown Below.

**Dependencies**
[code]
**LogCat**
[code]

[2017-09-26 13:12] Danny-James commented on #258
@davols @danesfeder I'm Also Getting This Same Error On Android 4.12 - With The Same LogCat Shown Above.

[2017-09-26 13:15] Danny-James opened #271 "Directional Images"
Since The Change Of Dependency From 0.6.0 to 0.7.0 Navigation UI - Android

The Image For The Left Turn Seem To Have Something Sitting Below It.

See Screen Shot Below.

![screenshot_20170926-141314](https://user-images.githubusercontent.com/32104383/30862190-197133a0-a2c5-11e7-9dc8-4e48715a0c61.png)

[2017-09-26 13:36] danesfeder commented on #258
@Danny-James @davols @P-Zenker Keep an eye out for a PR to fix this later this week

[2017-09-26 13:38] danesfeder commented on #270
@Danny-James are you stationary when you start it up and scroll?  This is a bug where the button does nothing at startup because we don't have a location update yet from the `LocationEngine` - on our list to address

[2017-09-26 13:40] Danny-James commented on #270
I Will Generate A GIF To Show You What I Experiece.

[2017-09-26 13:49] Danny-James commented on #270
Attached Is A Screenshot Of The Issue.

![navigation_ui_re-center](https://user-images.githubusercontent.com/32104383/30863804-dc0c558a-a2c9-11e7-87a3-0f3b7b0bb093.gif)

[2017-09-26 14:51] onsceneio commented on #211
hi @cammace , could you please take a look at this for us as @kirtan-inexture has posted.
We have also emailed mapbox support along with you.  Trying to get this sorted asap so any help is appreciated.  Thanks in advance! Joe

[2017-09-26 15:16] onsceneio commented on #213
we are still following this issue as well and have posted on original thread along with emails.  As noted here, its still not fixed @cammace

[2017-09-26 15:53] Danny-James commented on #258
Thank You @danesfeder!

[2017-09-26 16:49] cammace commented on #211
@onsceneio, can you try removing the `setLocationEngine` line and allowing the default location engine to setup. Otherwise, make sure the `AndroidLocationEngine` you are using gets activated and uses a similar setup to what we do for the default one.

https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigatio

[2017-09-26 16:55] cammace commented on #271
<img src="https://user-images.githubusercontent.com/5652865/30873007-d95fdace-a2b9-11e7-9ecc-9d5093bac3cd.png" width=360/>

Are you talking about the straight line circled in the screenshot above? This is intended to better represent the intersection.

[2017-09-26 16:57] Danny-James commented on #271
I Am Yes, I Just Haven't Noticed It Befor Not Sure Why, Close This Issue Then Please, Thanks For Getting Back To Me :)

[2017-09-26 16:58] Snipedown commented on #270
It has to do with NavigationCamera within the Navigation module. You need to set the location at the start of the route, as the location only seems to update while the car drives, and onLocationUpdate is called.

To fix this, you just need to add a setLocation inside of NavigationCamera and then call that somewhere where the location is initialize. I think it's inside of NavigationView, but I don'

[2017-09-26 16:59] #271 closed

[2017-09-26 17:01] Danny-James commented on #270
@Snipedown are your explaining this to me? I'm only using the dependency so i don't seem to have access to any of the NavigationUI classes locally.

[2017-09-26 17:02] Snipedown commented on #270
@Danny-James
I apologize, but yeah I don't think there is anything you can do to fix it currently then. However, once they start moving it should begin to work. It is only broken while they are stationary.

[2017-09-26 17:03] cammace commented on #269
You're hitting the 64k method limit in Android. Checkout [this doc](https://developer.android.com/studio/build/multidex.html) on how to get around it. There's also a few issues with your dependencies which you might want to resolve.

[2017-09-26 17:03] #269 closed

[2017-09-26 17:06] cammace commented on #268
Can you provide your activities lifecycle snippet of code? Sounds like you are calling `mapView.onDestroy` before destroying a map plugin.

[2017-09-26 17:20] dmateus opened #272 "Create a DirectionsResponse from a GeoJSON"
I found  [this snippet in your test app](https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationMapRouteActivity.java)

[code]

My questions is: is it possible to feed a GeoJSON formatted object instead of a DirectionsResponse model? If not, is there a way to convert GeoJSON into a

[2017-09-26 17:26] #263 closed

[2017-09-26 17:32] cammace opened #273 "snappedLocation missing original location variables"
`snappedLocation` should copy the location instance, currently, speed is not added to the new location object when snapping is enabled.

[2017-09-26 17:34] cammace commented on #272
Yes, this is possible doing exactly what the test is doing.

GeoJSON and the direction response JSON are the same thing.

[2017-09-26 17:34] #272 closed

[2017-09-26 18:37] dmateus commented on #272
@cammace

This is a GeoJSON example:
[code]

And this is a DirectionsResponse json:
[code]

It doesn't look the same

[2017-09-26 23:21] cammace commented on #272
There's no way to just automatically turn GeoJSON into a DIrections Response (otherwise the API would serve no purpose). My suggestion would be to use the Map Matching API passing in the GeoJSON coordinates so that you can get a directions response which can then be used for a navigation session.

[2017-09-27 06:38] kirtan-inexture commented on #211
@cammace Tried both way. Nothing worked. onRunning() called for only 1 time only.

Can you just reopen the issue so that others can also find this and report it.

[2017-09-27 13:32] Grsmto opened #274 "End of leg right after a turn triggers OffRoute"
Hi,
Currently the offRoute event is wrongly being triggered at the end of the first leg even tho user is still on the right path. I'm pretty sure it's a regression as this wasn't happening before.
You can test that issue using the `Mock Navigation` test activity and define 2 waypoints.

Thanks!

[2017-09-27 14:16] danesfeder commented on #211
@kirtan-inexture Can you try the location engine setup we use in our `NavigationView`?  The `LocationEngine` needs to be activated.

 https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java#L451

The class that activates the `LocationEngine` needs to also implement `LocationEn

[2017-09-27 14:58] danesfeder commented on #256
@P-Zenker @mf-mindcrewtech Are you able to reproduce this in `0.6.0`

[2017-09-27 16:27] danesfeder opened #275 "MapboxNavigation Context Leak"
Passing `Activity` > `Context` > `this` to initialize `MapboxNavigation` causes a leak when destroying `MapboxNavigation`.  Using `getApplicationContext()` does not - may need to look into making this reference a `WeakReference`

[2017-09-27 17:08] P-Zenker commented on #256
No, I am not. With 0.6.0 the rotation for this one case is as expected (correct).

Setup (with identical lat / lng):
[code]

[2017-09-27 17:15] danesfeder commented on #256
@P-Zenker Nice, thank you - also, when you compile:
[code]
^ you will get the Map SDK and the core navigation logic, so you don't need to compile the other two dependencies

[2017-09-27 17:17] danesfeder commented on #274
Hey @Grsmto,
We recently made some performance tweaks around decoding steps on new location updates, which may have caused this regression. Will look into it - appreciate the feedback!

[2017-09-27 19:08] hdaymon commented on #264
This is already done on the server. Instead of writing throwaway code here, let's spend the effort to get the server side instructions into production? We should have it up on staging by the end of today and hopefully directions production tomorrow (9/28). If we can do builds against staging for both iOS and Android we can do some test driving on Friday. @danesfeder and @cammace can you join us Fr

[2017-09-27 19:51] Snipedown commented on #249
@mf-mindcrewtech Nope, I just informed my users that the possibility was there. It's not often they do U-Turns so it wasn't a super big deal to me.

[2017-09-28 05:53] kirtan-inexture commented on #211
@danesfeder I think I don't need to setup a location engine because it uses the default one if I don't provide.

If I provide a location engine, as suggested by @cammace , that also didn't worked. The below code also didn't worked:

                AndroidLocationEngine locationEngine = new AndroidLocationEngine(HomeScreen.this);
                locationEngine.setPriority(LocationEnginePriority.HI

[2017-09-28 13:02] danesfeder commented on #211
@kirtan-inexture In the code above, you are not setting a `LocationEngineListener`

https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java#L454

You need to do this so you can request location updates when you call `locationEngine.activate()`

https://github.com/mapbox/mapbox

[2017-09-28 13:06] Grsmto commented on #274
Hey @danesfeder , I think I know where it comes from: when user reaches the last step of a leg, [this line](https://github.com/mapbox/mapbox-navigation-android/blob/db573a217eaf6aa26de183f2e118a065f6535bed/navigation/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java#L40) checks the distance to next step and defines if it's within the toler

[2017-09-28 13:15] danesfeder commented on #274
@Grsmto Great catch!  Please feel free to submit a PR and we can tweak if needed, but that sounds exactly what the issue is - appreciate your time debugging that

[2017-09-28 14:36] Danny-James commented on #270
@danesfeder Any Info On An ETA For This Fix?

[2017-09-28 16:00] Grsmto commented on #274
So I tried to work on it to fix it but I'm getting more confused the more I look at it. I'm getting some crazy results on `userTrueDistanceFromStep(futurePosition, currentStep)` like above 100m. Which doesn't make any sense as I'm using the mock that is just following the path...So that should always be close to 0 in theory (especially with `noisyGps` to `false`).
The offroute event gets triggered

[2017-09-28 16:02] danesfeder commented on #270
@Danny-James https://github.com/mapbox/mapbox-navigation-android/pull/278

[2017-09-28 16:05] Danny-James commented on #270
@danesfeder Cheers Mate, I Just Need To Wait On The Release?

[2017-09-28 16:18] Danny-James commented on #270
@danesfeder Cheers, I'm already compiling the following:
[code]

Do I Require `@arr`?

[2017-09-28 17:11] cammace opened #280 "Move modules to root folder"
Similar to the change we are planning for MAS, it would make sense moving the subprojects now found in /navigation/.. to the root folder of this project.

[2017-09-28 18:54] danesfeder opened #281 "Release v0.6.1"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.6.1`.

### Highlights
* Telemetry Updates

### Release checklist @danesfeder

- [x] Make sure latest translation are added
- [x] Run through testapp/demo app and test all activities
- [x] Change version name to `0.6.1` in `gradle.properties`
- [x] Publish `0.6.1` artifact to Maven Central
- [x] Change version name back to `0.7.0-S

[2017-09-29 06:46] kirtan-inexture commented on #211
Hi, @danesfeder
The thing that simply worked was calling `locationEngine.requestLocationUpdates()`. But now the issue is, after 5 mins of usage it becomes unresponsive. Continues GC was called by art and 5 min after, app isn't responding at all. Crashed/Restarted Android System UI twice.

I remember, with previous version 0.3.X, I didn't have to setup the location engine. It worked without setting

[2017-09-29 10:26] Danny-James opened #284 "Android: Navigation Problem - No Movement"
I Seem To Have A Problem When Navigating, I Start The Navigation And The Navigation UI Loads With The Route, I Recieve The First Instruction And I Can See The ^ Marker On The Map. However When I Drive The Marker Just Doesn't Move, If I Stop The Navigation And Start It Again I Move To My New Location But While Driving Their Is No Movement?

Could Anybody Shed Some Light On This?

I Don't Have Any L

[2017-09-29 17:45] 1ec5 commented on #266
Note that the default units should depend on the country code, not the language code, in the locale. Also, the UK uses miles, yards, and feet despite generally being on the metric system. (There doesn't need to be a separate option for yards; just treat the UK like the U.S. but special-case it to use yards.)

[2017-09-29 19:10] danesfeder commented on #266
@1ec5 So you guys default to Imperial for US, UK (yards), Liberia, Burma, then every other Locale is metric?  Defaults are ignored when this is set as an option launching the UI

[2017-09-29 20:26] 1ec5 commented on #266
The iOS navigation SDK relies on the system’s locale (language+script+country) to [tell us](https://developer.apple.com/documentation/foundation/nslocalemeasurementsystem) whether it would naturally use `U.S.` 🇺🇸🇱🇷🇲🇲, `U.K.` 🇬🇧, or `Metric` (everywhere else). mapbox/mapbox-navigation-ios#589 tracks exposing an option that the developer can hook up to a settings UI to override this default behavior

[2017-09-29 20:35] cammace commented on #284
@Danny-James, can you provide code for us to see what is going on here. Sounds like an issue with the location engine not being setup correctly? If you could provide any insight on how you are doing this it would help a bunch.

[2017-09-29 20:52] #82 closed

[2017-09-30 17:37] Yanhenning commented on #284
I have the same problem, it was working fine until i update to v6.01 and start to use LocationLayerPlugin, after the changes the location stop working.

There is a snipped of my code used to create the navigation, LocationEngine and LocationLayer

`@Override
    public void onMapReady(MapboxMap mapboxMap) {
        map = mapboxMap;
        //Draw the markers from research in to the map
        cre

[2017-09-30 18:04] johnwallco opened #291 "Different colors for legs"
Is it possible to set the color or alpha of polylines for legs on a route?

The problem: Right now, the entire route is a solid color. Some sections of the route overlap, so it's difficult for the user to know which polyline to follow.

My code to get an optimized route with several waypoints, then set it to a map using NavigationMapRoute, looks something like this:

[code]
Thanks in advance.

[2017-09-30 21:28] johnwallco commented on #258
Same issue when trying to drop an InstructionView into a custom navigation activity.

[2017-09-30 21:58] Grsmto commented on #291
You should be able to customise the styling of the path. Not sure if what you want is achievable using the NavigationUI but take a look there: https://github.com/mapbox/mapbox-navigation-android/blob/master/navigation/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java#L45

If it's not possible with the style option param, you can defin

[2017-10-01 19:01] johnwallco commented on #291
Thanks, @Grsmto.

I'm working on sort of a combination of what you suggested. To really bring it home, I'm thinking a drop shadow on a polyline like you suggested would be a nice touch.

How do you add a drop shadow to a polyline?

[2017-10-01 20:09] johnwallco commented on #291
@Grsmto I think I've got it figured out.

For anyone who might come across this later, you can add a green line below a given leg in a route by using the method below. The green line is wider than the route line, so it kind of looks like a green drop shadow.

It's not perfect because the route line overlaps the green line at some intersections, but it works okay:

[code]

[2017-10-01 20:09] #291 closed

[2017-10-02 10:02] Danny-James commented on #284
Basically It Was Very Simple I Made A Route See Below;
[code]

From this I then added the route to my MapView.
[code]

[2017-10-02 10:13] Danny-James commented on #284
@cammace Basically It Was Very Simple I Made A Route See Below;
[code]

From this I then added the route to my MapView.
[code]
I Changed The Way The Route Was Shown On The MapView By Creating A NavigationMapRoute Object. The Previous Way Of Doing This Was By Manually Drawing The Route Using the drawRoute Method;

[code]
I Now Use The Following;
[code]

I am now trying a different way of starting t

[2017-10-02 10:14] samvgorode commented on #284
@Yanhenning , plese show your` onStart()` and `onStop()` methods, I have the same problem and looking for solution.

[2017-10-02 10:15] Danny-James commented on #284
[code]

[2017-10-02 13:15] danesfeder commented on #258
@johnwallco Yeah those custom attributes are only supported API 21 and above - removing them should get rid of the inflation exception in API 19

[2017-10-02 13:46] Danny-James commented on #258
Any News On A Fix @danesfeder I'm Currently Using.

[code]

[2017-10-02 14:14] danesfeder commented on #258
@Danny-James Keep an eye on https://github.com/mapbox/mapbox-navigation-android/pull/286 the fix will be included there

[2017-10-02 14:30] Danny-James commented on #258
@danesfeder Take a Look At My LogCat Below On My Android 4.1.2 - May Be Useful When Fixing The Problem
[code]

[2017-10-02 14:36] #270 closed

[2017-10-02 16:01] Grsmto commented on #274
I finally figured out where the issue is coming from and how to reproduce it consistently:
The offroute is triggered when the end of a leg is place right after a step (like just after a turn for example). See screenshot attached:
![device-2017-10-02-165914](https://user-images.githubusercontent.com/527559/31086981-5054b978-a793-11e7-98c0-72f5f01ad7eb.png)

[2017-10-02 16:31] danesfeder commented on #274
@Grsmto Interesting - I haven't had a chance to debug this myself (appreciate you putting the time in).  Do you not think it's related to a null geometry like you originally mentioned?

I was thinking in the scenario you are mentioning above, we don't make it into this `if` block because the upcoming step is null (we are at the end of the leg):

https://github.com/mapbox/mapbox-navigation-android/

[2017-10-02 17:42] cammace commented on #274
This is the same idea https://github.com/mapbox/mapbox-navigation-android/issues/238 will have @danesfeder.

[2017-10-02 17:56] danesfeder commented on #274
@cammace will we ever get to that point though at the end of a leg? because the upcoming step will be null

[2017-10-02 18:03] cammace commented on #274
If the users at the end of the leg but there's another leg with at least one step, we should factor that into account. That's what we do for other logic in the SDK at least.

[2017-10-02 18:18] Grsmto commented on #274
I think I got something :)

Actually offRoute gets triggered before `upcomingStep` is even `null`.
The problem that is happening here is that `upcomingStep` has a "wrong" value: when you reach the end of a step, the `upcomingStep` is the last step, whereas you're already on that position. Which means the calculation of the offRoute is wrong (as it calculates the step +1 with the `getFuturePosition

[2017-10-02 18:58] danesfeder commented on #258
I think I narrowed this down to `?attr/` being used in custom drawables we are using for the backgrounds in some views

[2017-10-02 19:03] danesfeder commented on #258
Running on `4.4.2` with custom attributes removed from `Drawable`s an hardcoded to grey

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8434572/31094316-bafd9ddc-a782-11e7-8b35-9489780e326f.gif)

[2017-10-02 19:06] Danny-James commented on #258
Great work @danesfeder, So will this just be hard coded to white?

[2017-10-02 19:09] danesfeder commented on #258
@Danny-James Thanks and no, I'm going to try to set the color of the drawables programmatically so you can still customize the theme (currently being worked in #286).  This will eliminate the custom attribute tags in the drawable XML

[2017-10-02 19:11] Danny-James commented on #258
Great, I Look Forward To This Being Released.

Many Thanks For Looking Into A Fix For This.

[2017-10-03 01:32] onsceneio commented on #211
Any progress on this?

[2017-10-03 01:41] Yanhenning commented on #284
@samvgorode heres my lifecycle methods
[code]

[2017-10-03 07:52] btpasha90 opened #292 "Navigation drop-In UI (NavigationView.java) as a fragment implementation"
According to some application requirements the navigation drop-in ui sometimes requires a fragment implementation. The current implementation is as an activity. Is there any current progress to provide that functionality in the next release? Thanks.

[2017-10-03 11:11] kirtan-inexture commented on #211
@danesfeder Any updates?

[2017-10-03 13:21] samvgorode commented on #211
I have just logged `onProgressChange` method with `'com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0-SNAPSHOT'`
So, I start navigation, I don't move at all, but get such result
[code]
The same coorfinates from `onProgressChange` location 9 times at onse. It's strange

[2017-10-03 19:40] zugaldia commented on #35
Is this something that @frederoni and @cammace could have a look at?

[2017-10-03 19:45] danesfeder opened #293 "Roundabout Triggers OffRoute"
We are seeing off-route triggers in roundabouts when the location is not off-route - with `MockLocationEngine`, some different UI thread freezing / other undetermined issues are occurring.

[2017-10-03 19:47] #280 closed

[2017-10-03 19:48] cammace opened #294 "DirectionsRoute should hold information about request"
For rerouting, we need to have information about the request so that we can unblock work in https://github.com/mapbox/mapbox-navigation-android/issues/129.

[2017-10-03 19:49] danesfeder opened #295 "Theme Customization for Drop-In UI"
Rotation landed in https://github.com/mapbox/mapbox-navigation-android/pull/276
which unlocks the ability to change themes whenever we'd like

We can now add parameters to the drop-in UI for dark / light themes

[2017-10-03 20:30] 1ec5 commented on #35
By the way, this same approach is useful for detecting an unexpected U-turn or other rerouting situation: mapbox/mapbox-navigation-ios#646.

[2017-10-04 00:17] onsceneio commented on #213
Has anyone been able to fix this?
All those at mapbox are not replying to this or other threads or emails as well?
The links they provided are now showing 404 errors

[2017-10-04 10:20] Grsmto commented on #293
Hi @danesfeder
From my understanding of the offRoute logic, the way the `futurePosition` is calculated in `userTrueDistanceFromStep` is that it takes the position + speed to compute the future user location but doesn't take the user direction into account so it looks forward only. That makes sense then that in a roundabout it can lead to an offRoute event as user is constantly turning. Probably re

[2017-10-04 13:41] danesfeder commented on #293
Awesome, thanks @Grsmto.  We are actively looking into both of these this week - will keep you / these tickets updated!

[2017-10-04 14:12] cammace opened #299 "Move Mock Location logic into Nav SDK"
The `MockLocationEngine` currently lives in the Mapbox-Java repo but with the upcoming 3.0.0 of that release, it will remove the engine. One option and the one that makes the most sense to me is to move mock location logic into the navigation SDK directly for faster iteration and easier testability. I see no issue in moving it here since to my knowledge its only usage is inside this SDK. Thoughts

[2017-10-04 14:20] danesfeder commented on #299
@cammace Yep, makes perfect sense to me.

[2017-10-04 14:48] onsceneio commented on #284
does anyone have a fix for this? We have another thread covering this same topic and no luck from anyone including mapbox @cammace
have sent emails direct and still nothing

[2017-10-04 14:54] zugaldia commented on #299
Another option is to have it as part of the location logic the upcoming standalone telemetry library is bringing. It already has engines for Play Services and LOST, adding Mock would be a natural fit. Having said that, that doesn't prevent navigation from having a more specialized Mock engine if needed.

cc: @Guardiola31337 @electrostat

[2017-10-04 15:05] cammace commented on #299
I was going mainly off the ability to more frequently resolve bugs and improve the mock location. eventually, we will need to add additional features to mock location such as the ability to replay real routes captured during test drives.

[2017-10-04 19:01] danesfeder opened #301 "Intermittent Crash on Drop-in UI Startup"
Currently seeing an intermittent native crash when starting the drop-in UI.  It seems to be more easily produceable on lower powered devices and a lot harder to produce on flagship power (Pixel, Pixel XL, 6P).  If it occurs, it's at some point during the camera zoom to the navigation puck.

This is on a Moto G Play running 6.0.1:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/

[2017-10-04 19:26] zugaldia commented on #299
Looks like telemetry could host a generic `MockLocationEngine` and navigation could use a separate `MockNavigationLocationEngine` (possibly a subclass) with specialized functionality.

[2017-10-04 21:16] cammace opened #304 "Session State should be used to store step indices"
To make offRoute increase the indices for step and leg we need a more abstract place to store index information for the remainder of the navigation session. SessionState is the ideal object for doing this and will unblock us here.

[2017-10-04 21:45] cammace commented on #299
Like that idea a lot

[2017-10-05 02:39] cammace opened #305 "Port rerouteTolerance logic"
iOS has implemented a rerouteTolerance logic for making the value increase or decrease depending on how close to an intersection the users at.
[code]

https://github.com/mapbox/mapbox-navigation-ios/blob/dbff0b544dc797359ff8387ea89de3aa973354cc/MapboxCoreNavigation/RouteController.swift#L269

[2017-10-05 07:47] tobrun commented on #301
Do you have some more information/data to work with so we can reproduce this in gl-native?

[2017-10-05 08:31] samvgorode commented on #284
Something is with mapbox lifecycle methods. My navigation works, BUT only after navigation activity goes to backgroung (onStop) and then goes to foregroung (onStart).

[2017-10-05 13:48] danesfeder commented on #301
Log from Moto G Play:
[code]

[2017-10-05 14:27] danesfeder commented on #301
Camera info:
![device-2017-10-05-102649](https://user-images.githubusercontent.com/8434572/31232400-c40b7b06-a9b7-11e7-860b-66874c08b3bc.png)

[2017-10-05 16:00] Snipedown commented on #284
Can confirm that 6.0.1 seemingly broke Android "Real-time" movement.

[2017-10-05 16:04] Danny-James commented on #284
@Snipedown 6.0.1? MapBox?

If Anybody Requires My Gradle File See Below

[code]

[2017-10-05 16:06] Snipedown commented on #284
@Danny-James

I was talking about commit #283 of the Navigation where they are migrating a lot of code out of NavigationView class. That's the update that broke my navigation. Looking at possible fixes until an official release.

[2017-10-05 16:15] whitecloud-sas opened #306 "real-time traffic"
is real-time traffic enabled for Colombia?

[2017-10-05 17:32] cammace commented on #306
Here's a [full list](https://www.mapbox.com/api-documentation/pages/traffic-countries.html) of the regions traffics currently supported in.

[2017-10-05 17:32] #306 closed

[2017-10-05 19:10] danesfeder commented on #295
Landed in #286

[2017-10-05 19:10] #295 closed

[2017-10-05 19:18] danesfeder commented on #293
@Grsmto We are doing some test driving today with a potential fix for this today - still looking into the next leg issue.  cc @cammace

[2017-10-05 19:59] Grsmto commented on #293
@danesfeder sounds cool! Enjoy the ride! :)

[2017-10-05 20:31] cammace opened #309 "Stop running junit test twice in CI builds"
Jacoco already runs the unit test, no need to do them a second time. Fixing this will make builds finish faster.

[2017-10-05 20:44] cammace opened #310 "Fix firebase test"
Firebase clicks here and there on every single button causing builds to take ~20 minutes. We should stop this inefficient testing.

[2017-10-05 21:37] danesfeder opened #311 "Test Drive 10/5"
### Issues found:
#### Core
- [ ] Bearing 360 intermittent on turns
- [ ] First step milestone urgent not called
- [x] Reroute ring buffer triggering off route every location update

#### UI
- [ ] Reroute UI not showing
- [x] LocationViewModel not activating location engine

Still need to test:
- Roundabout off route & new leg off route scenarios (blocked by ring buffer issue on this drive)

[2017-10-05 22:28] Snipedown commented on #311
@danesfeder @cammace

Hello, as for the LocationViewModel not activating the location engine I believe it has to do with setting the locationEngine value after activating the engine, so the value of locationEngine is null in onConnected. Maybe something like:

      locationEngine.setInterval(0);
      this.locationEngine.setValue(locationEngine);
      locationEngine.activate();

Though not sure

[2017-10-05 22:32] Snipedown commented on #284
@Danny-James @samvgorode @onsceneio

I believe I found the solution. If you are building locally and have access to the source code, go into LocationViewModel.java and find the initLocation method.

Find this part:

      locationEngine.setInterval(0);
      locationEngine.activate();

      this.locationEngine.setValue(locationEngine);

      if (locationEngine.getLastLocation() != null) {

[2017-10-05 23:06] cammace commented on #281
Looks like https://github.com/mapbox/android-docs/pull/231 is the PR that resolves the rest of the TODOs, closing.

[2017-10-05 23:06] #281 closed

[2017-10-06 01:13] cammace opened #313 "Resolve 1st step urgent milestone never getting triggered"
We currently skip the first urgent milestone since this oftentimes conflicts with the departure event.

[2017-10-06 07:46] P-Zenker commented on #254
Any news about this issue?

[2017-10-06 08:17] Danny-James commented on #284
@Snipedown How do you start the NavigationUI? Like the following;

`
 NavigationLauncher.startNavigation(ActivityNavigationMap.this, route, null, false);
`

Or do you build a MapBoxNavigation Object.
[code]

When doing the above the Navigation UI Doesn't Show Up - Which is the correct way of loading the NavigationUI?

[2017-10-06 13:14] dmateus commented on #268
I'm having the same issue. I have both a mapView shown inside a fragment and a navigation screen that the user might start.

How do I correctly destroy the navigation screen started by:
`NavigationLauncher.startNavigation(...)`

[2017-10-06 13:52] danesfeder commented on #254
@P-Zenker Does this camera position occur at the beginning of launching the UI?  Does the puck stay under the sheet even when moving (by simulator or actual location updates) or does the puck align correctly once movement begins?

[2017-10-06 13:56] danesfeder commented on #284
@Snipedown You're correct in https://github.com/mapbox/mapbox-navigation-android/issues/284#issuecomment-334610437 -- the location engine (real not mock) for the drop-in UI is not properly activating (a regression introduced in https://github.com/mapbox/mapbox-navigation-android/pull/276).  I'm working today to resolve.

[2017-10-06 14:02] danesfeder commented on #268
@nchorniy @dmateus Is this an intermittent issue you're seeing?  I haven't been able to reproduce this myself.  This happens when the UI closes or the app that is running it is destroyed?

We may need to introduce a lifecycle method in `NavigationMapRoute` to ensure it's properly destroyed.

[2017-10-06 14:20] P-Zenker commented on #254
@danesfeder

With my setup
[code]
and

[code]
and a compiled project today:

Yes

![2017-10-06 16 19 11](https://user-images.githubusercontent.com/23097192/31282198-1cb36ed0-aab2-11e7-9800-37a09fc87935.jpg)

![2017-10-06 16 19 08](https://user-images.githubusercontent.com/23097192/31282197-1c94f784-aab2-11e7-8516-d355059be3c9.jpg)

Well, I use a Mock Location App. But Mapbox doesn't listen to it (

[2017-10-06 15:37] cammace commented on #274
I just tested this using the latest changes we've been making for the 0.6.2 release and wasn't able to reproduce the issue described. Chances are we somehow indirectly fixed the issue ¯\_(ツ)_/¯. Can you test on your end and confirm before I close this ticket?

[2017-10-06 15:52] cammace opened #315 "Reroute UI not showing"

[2017-10-06 15:53] cammace opened #316 "Bearing 360 intermittent on turns"
In some occasions, the navigation camera will rotate in the wrong direction causing it to rotate the long way around.

[2017-10-06 15:54] cammace commented on #311
I've moved these issues into separate tickets for better tracking. Closing.

[2017-10-06 15:54] #311 closed

[2017-10-06 15:55] cammace commented on #249
Good news, the u-turn off-route logic has been added in https://github.com/mapbox/mapbox-navigation-android/pull/312 and https://github.com/mapbox/mapbox-navigation-android/pull/302. Let me know if you guys run into issues and I'll reopen this ticket.

[2017-10-06 15:55] #249 closed

[2017-10-06 15:57] cammace commented on #256
I've opened https://github.com/mapbox/mapbox-navigation-android/issues/316 which is a similar issue with the camera, will be looking into this further in the coming weeks. For now, it sounds like this issues been resolved in 0.6.0. Closing.

[2017-10-06 15:57] #256 closed

[2017-10-06 16:53] cammace opened #317 "CircleCI alert when SNAPSHOT build fails in slack"

[2017-10-06 18:40] cammace commented on #304
Moving off of the 0.6.2 release milestone since this will require additional testing and too risky to go into a bug release.

[2017-10-06 18:49] cammace commented on #264
punting this to 0.7 milestone, not understanding the pseudocode and which milestones need to contain the fix.

[2017-10-07 19:42] cammace opened #322 "Fix mutable issues in AutoValue classes"
We are currently using primitive arrays in some cases inside our auto value classes which are potentially mutable, we should look further into this and resolve the issue or suppress the warnings.

[2017-10-07 22:34] cammace opened #323 "Release v0.6.2"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.6.2`. Which includes several fixes including:

- Fixed an issue with the Location Engine not being activated correctly inside the Navigation-UI lib [#321](https://github.com/mapbox/mapbox-navigation-android/pull/321)
- Fixed bottom sheet not getting placed correctly when the device is rotated [#320](https://github.com/mapbox/mapbo

[2017-10-07 22:36] cammace commented on #293
I've removed this from the 0.6.2 milestone for now but this issue should also have been fixed by resolving some snap to route issues. Can you check and make sure before closing @Grsmto when you get a chance on your next test drive?

[2017-10-07 22:49] Grsmto commented on #293
@cammace sure. I'll probably do a test drive on Tuesday.

[2017-10-08 07:42] brunoabinader commented on #301
I was able to obtain another backtrace from an Android virtual device (x86):
[code]

/cc @kkaefer

[2017-10-08 23:38] cammace opened #325 "Add congestion information into RouteProgress object"
iOS offers a few additional information types related to congestion inside the RouteProgress object, we should port this over to Android.

https://github.com/mapbox/mapbox-navigation-ios/blob/master/MapboxCoreNavigation/RouteProgress.swift#L122-L135

cc: @danesfeder

[2017-10-08 23:40] cammace opened #326 "ETA showing different value in notification vs the one inside the bottom sheet."
<img src="https://user-images.githubusercontent.com/5652865/31322152-51cc2f30-ac60-11e7-8152-400c7472b554.png" width=360/>

Shown in the image above, the time values are off by two minutes, this difference occurred after a reroute, I'm not sure which one was correct.

cc: @danesfeder

[2017-10-09 08:36] samvgorode opened #327 "java.lang.NoSuchMethodError:"
`com.mapbox.mapboxsdk:mapbox-android-navigation:0.7.0-SNAPSHOT`
it started today morning
[code]

[2017-10-09 08:58] kirtan-inexture opened #328 "AndroidLocationEngine doesn't stop"
When I stop the navigation I have deactivated the AndroidLocationEngine instance. But it doesn't look like it is stopped.

Here are the logs:

[code]

Code to start and stop location engine is like below:

[code]

Using version:  `0.6.0`

[2017-10-09 09:50] Danny-James opened #329 "Android: No Snap To Route"
I'm now compiling `0.7.0-SNAPSHOT`

When starting the Navigation UI it doesn't seem to be snapping to the route.

**See Images Below**

`Android 4.1.2 - Motorola TC55`
![pc_capture1](https://user-images.githubusercontent.com/32104383/31332757-8bfe1dce-acdf-11e7-90f3-ea08e988ff91.png)

Also the turn images on the Android 4.1.2 Device seem to be very bad quality.

`Android 8.0 - Google Pixel`
![scre

[2017-10-09 10:35] samvgorode commented on #327
it happens only with `0.7.0-SNAPSHOT` , but with `0.6.1` its okay

[2017-10-09 10:35] Grsmto commented on #274
Seems I can still reproduce this issue. This is only happening when the end of leg is placed right after a turn.
I'll update the issue or close as there seem to be a few issues related to the offroute logic.

[2017-10-09 10:37] samvgorode opened #330 "com.android.build.api.transform.TransformException: java.util.zip.ZipException"
While building project on android 4.1.1 I have a problem, `com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.1.0` and `com.mapbox.mapboxsdk:mapbox-android-navigation:0.6.1`. On android 6.0 all is fine.
[code]

[2017-10-09 10:46] samvgorode commented on #328
As I know, mapbox recommends to use `mLocationEngine.requestLocationUpdates();` only once inside the method `onConnected()` from `public interface LocationEngineListener `

[2017-10-09 10:58] samvgorode commented on #329
@Danny-James does your `onProgressChange` rturn any data while navigation? I've stucked, I have no updates fo my location in this method.

[2017-10-09 12:58] Danny-James commented on #330
@samvgorode Can you post your full Gradle?

I'm compiling the locationlayer and navigation on Android 4.1.2 and don't come across this issue.

[2017-10-09 13:05] samvgorode commented on #330
[code]

[2017-10-09 13:09] Danny-James commented on #330
Try compiling with `0.7.0-SNAPSHOT` see if that resolves the issue.

[2017-10-09 13:16] Danny-James opened #331 "Android: Error when starting navigation in landscape"
I have my orientation for my MapView Activity set to `Forced Portrait`, when i turn the device into `Landscape` (_my activity is still in potrait - this is what i expect_).

When I start the NavigationUI in this way I get the below error:

**Android Version:** 4.1.2
**Device:*** Motorola TC55

[code]

[2017-10-09 13:26] danesfeder commented on #327
@samvgorode We recently upgraded our notification to work with Android O's new notification channels https://github.com/mapbox/mapbox-navigation-android/pull/298.  If you do not have `transitive = true` when compiling our dependency, you will need to compile support library `26.1.0`

[2017-10-09 13:31] samvgorode commented on #330
ok, thank you. I'll try.

[2017-10-09 13:34] danesfeder commented on #330
@samvgorode the `navigation-ui` dependency includes the location layer plugin, I'd suggest removing the separate dependency for `compile 'com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.1.0'` and adding `transitive = true` to your `ui` dependency to prevent the conflict

[2017-10-09 13:36] danesfeder commented on #331
@Danny-James this looks related to the drawable work I did to get theming setup for API 19.  I'll look into it

[2017-10-09 13:36] samvgorode commented on #330
@danesfeder thank you very much

[2017-10-09 13:42] danesfeder commented on #330
@samvgorode no problem - also, looking at your `gradle` file, I see you are forcing the support library to use `25.3.0`:
[code]

This would be the cause of the issue with the notification (https://github.com/mapbox/mapbox-navigation-android/issues/327), as that constructor is only found in `26` support libraries (targeting Android O)

[2017-10-09 14:15] danesfeder commented on #315
Fixed in https://github.com/mapbox/mapbox-navigation-android/pull/319

[2017-10-09 14:15] #315 closed

[2017-10-09 15:46] brunoabinader commented on #301
_Possible_ fix: https://github.com/mapbox/mapbox-gl-native/pull/10162

[2017-10-09 16:28] AshrafRah96 opened #334 "Map unable to display on activity"
Hi, ive implemented the Mapbox sdk for android and suggested however when i run the application the map is only displayed for a second before is disappears, same for when the user presses the back button to exit the activity.

The code on the activity i placed the map is:

    public class MapsActivity extends AppCompatActivity {

    private MapView mapView;

    @Override
    protected void onCr

[2017-10-09 20:20] danesfeder opened #335 "Exclude Guava Dependency"
Looks like the architecture components dependencies for the UI are bringing in a dependency on `'com.google.guava'` - let's see if we can exclude this

[2017-10-09 22:14] cammace commented on #334
Closing this ticket since it is more specific to the map sdk and reopened on here https://github.com/mapbox/mapbox-gl-native/issues/10167

[2017-10-09 22:14] #334 closed

[2017-10-09 22:55] ericrwolfe opened #336 "Locations dropped after each reroute"
Currently when a reroute occurs, navigation adds the current locations to the reroute event, and then resets the location buffer for the next event.

In many cases, the locations for reroute/feedback events will overlap, so we should keep a running buffer of 40 locations and simply copy the locations (+ use a filter to split the array) when a reroute event is created so we don't drop locations.

c

[2017-10-09 22:59] ericrwolfe opened #337 "locationsBefore / locationsAfter should never be null"
Currently, when the `locationsBefore` or `locationsAfter` arrays are empty, they're set to `null`. If empty, we should instead pass an empty array `[]`.

cc @cammace

[2017-10-09 23:00] ericrwolfe opened #338 "feedbackId should not be empty"
`feedbackId` currently is always set to an empty string `""`. We should always set this to a unique id.

cc @cammace

[2017-10-09 23:06] ericrwolfe opened #339 "Reroutes can happen too close together"
We should make sure the user has moved at least 50 meters from the last reroute location before attempting another reroute:

https://github.com/mapbox/mapbox-navigation-ios/blob/0ba0be129d96726e4129f9e362b87f87a1d7a7d6/MapboxCoreNavigation/RouteController.swift#L667-L671

cc @cammace @bsudekum

[2017-10-09 23:14] ericrwolfe opened #340 "Metrics should use raw locations rather than snapped locations"
For the main metrics `lat` & `lng` values in events such as `reroute`, we should be using the raw location as opposed to the snapped location.

cc @cammace

[2017-10-09 23:25] ericrwolfe opened #341 "Always consider a maneuver as complete if distanceRemaining = 0"
_Android version of https://github.com/mapbox/mapbox-navigation-ios/issues/698_

There are cases, particularly with roundabouts in Europe and tight sequences of turns, where the geometry of a maneuver might not match the actual path a car takes.

For example, in the following case, the in-bearing and out-bearing of the `enter roundabout` maneuver would be `0` and `90` respectively, but the locatio

[2017-10-09 23:34] ericrwolfe commented on #341
Somewhat related: https://github.com/mapbox/mapbox-navigation-android/issues/35

[2017-10-09 23:37] ericrwolfe commented on #264
@cammace this would be here, in the NewStep milestone:
https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/DefaultMilestones.java#L110-L115

[2017-10-10 06:51] johnwallco opened #342 "Callback if user returns to route after going off route?"
Is there any way to get a callback for a scenario when a user goes off route, but then returns to the route?

I'm using the userOffRoute method to display a button to re-route, so rerouting is not automatic in my app.

[2017-10-10 11:07] samvgorode commented on #330
@danesfeder thanks for the advice about my gradle.

[2017-10-10 13:55] danesfeder commented on #331
Nice catch @Danny-James https://github.com/mapbox/mapbox-navigation-android/pull/343

[2017-10-10 15:10] Danny-James opened #344 "Android: No Voice Instructions"
Upon starting the Navigation UI, I get the first instruction "Turn left in 100 feet" i then imediatly get the second instruction "Turn left in 100 feet".

Once I recieve this voice instructions I no longer get anymore voice instructions.

[2017-10-10 15:15] cammace commented on #323
wrapped up this release on my end, over to you @langsmith!

[2017-10-10 16:27] cammace commented on #344
Can you provide additional information to help us reproduce this issue? Are you using Polly voice engine or the default Android one? Do you have a specific route which we can use to reliably reproduce this, if so, can you pass the Directions API request URL? Are you getting milestone event callbacks still and that is why you are saying there is no voice instructions or is the navigationMilestoneEv

[2017-10-10 19:07] Snipedown opened #345 "Mock Location Engine not informing Arrival Milestone"
I'm not sure if this is important or if I am doing something wrong, but when I use the MockLocationEngine, when the puck reaches the destination it just sits there and never calls Arrival. However, if I change the arrival trigger in the DefaultMilestones to a large value, such as

Trigger.lte(TriggerProperty.STEP_DISTANCE_REMAINING_METERS, 80)

it triggers the arrival milestone event. Is it possib

[2017-10-10 21:08] #342 closed

[2017-10-10 22:16] langsmith commented on #323
all done 🎆

[2017-10-10 22:16] #323 closed

[2017-10-10 22:58] cammace commented on #338
@electrostat or @Guardiola31337 could you guys take a look at this?

cc: @zugaldia

[2017-10-10 23:21] cammace commented on #345
Are you using the default arrival Milestone with to unmodified settings? Could just be an issue with our mock location engine not actually completing to the last point (arrival) which causes it to not trigger.

[2017-10-10 23:23] Snipedown commented on #345
@cammace

Currently I am using the default milestones and not adding any of my own. I just figured I'd bring it up, but if it's not a major deal you can mark this as closed since increasing the trigger property works for me.

Thank you!

[2017-10-11 08:33] Guardiola31337 opened #351 "Crash when testing reroute example"
**Platform:** Android 6.0 (Nexus 5)
**Mapbox Navigation version:** `master` branch

### Steps to trigger behavior

 1. Open test app
 2. Go to `Reroute` example
 3. Click outside the route
 4. Start rerouting
 5. Click back button at the top
 6. App crashes

### logcat

[code]

Noting here that
https://github.com/mapbox/mapbox-navigation-android/blob/0fa13a0cf1618f8e0aba7566229b2d0c38c749b2/liband

[2017-10-11 08:50] Guardiola31337 commented on #338
Addressed in #352 👇
Assuming we want to create a new `feedbackId` on each navigation session and it should be different than the `sessionIdentifier`.

cc @cammace @ericrwolfe

[2017-10-11 09:45] davols opened #353 "Crash with NavigationMapRoute.addTraffic"
Noticed a crash in crashlytics.
We're running a version we are compiling ourselves. But checking `master` no changes from our branch and this repos master there are no changes between the two files (our `NavigationMapRoute.java` and the one in master here.

[code]
Assuming it's proguard that messes with the linenumbers. Assuming it's
`   double[] endCoord = lineString.getCoordinates().get(i + 1).g

[2017-10-11 12:27] samvgorode commented on #284
@danesfeder have you resolved  location engine? As i've written above something wrong is with lificycle of location engine. My location layer marker starts updating only like this :
1.) I launch navigation activity -> start driving (real car) and marker is not moving
2.) I send app to background -> restore from background -> marker starts to update!
I use `mapbox-android-navigation:0.6.2` but with

[2017-10-11 12:30] Danny-James commented on #284
@samvgorode This seems to have been resolved, the navigation puck moves fine since the change in `0.7.0-SNAHPSHOT` - Have you cleared the depencies cache and recompiled your project?

[2017-10-11 12:32] samvgorode commented on #284
@Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        ButterKnife.bind(this);
        mapView.onCreate(savedInstanceState);
        mapView.getMapAsync(this);
        navigation = new MapboxNavigation(NavigationViewActivity.this, getString(R.string.access_token), presenter.getNaviOptions());
        navigation.addProgressChangeListener(this);
        navigation.addOf

[2017-10-11 12:35] Danny-James commented on #284
@samvgorode Are you not using the Navigation UI? are you building the navigation yourself?

The way i launch the Navigation with a route is like below

`
NavigationLauncher.startNavigation(this, route, null, false)
`

[2017-10-11 12:36] samvgorode commented on #284
@Danny-James I have a custom avigation activity.

[2017-10-11 13:18] sparkle-sparkle commented on #351
I'll have a look at it and see if I can figure out where the null is coming from.

[2017-10-11 13:26] Guardiola31337 commented on #351
@sparkle-sparkle awesome! Go for it 💪 and let us know if you have any questions! Thanks 🙏

[2017-10-11 13:30] danesfeder commented on #284
@samvgorode this was only a issue in the UI and I believe should be resolved like @Danny-James mentioned.

At a glance, I see you haven't included your `onConnected()` method from `LocationEngineListener` - please make sure you call `locationEngine.requestLocationUpdates()` inside that method.

[2017-10-11 13:51] samvgorode commented on #284
In onConnected I do exactly as you have mentioned.

[2017-10-11 13:56] Kahtaf opened #355 "Crash while updating navigation notification: android.os.TransactionTooLargeException"
While testing 0.6.1 this morning, I received the following crash during the course of the navigation (was about half way through the route when it happened). I was not using the navigation UI, and my app wasn't showing any notifications.

[code]

[2017-10-11 14:54] Kartik2016 opened #356 "Broken link in README.md"
Clicking the "We've added several navigation examples to this repo's test app " gives error 404 page not found

[2017-10-11 15:00] danesfeder commented on #353
Thanks @davols, we will look into this

@cammace Do you think https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java#L331 should be `(i - 1)` instead?

[2017-10-11 15:49] ericrwolfe commented on #338
@Guardiola31337 `feedbackId` would be unique to each feedback or reroute event, rather than unique to each navigation session. `sessionIdentifier` would be the only id that would stay the same across events in a navigation session.

[2017-10-11 15:55] ericrwolfe commented on #338
Also, `feedbackId` should be generated in the nav sdk when the event is queued up, rather than as telem is sent off. As we implement the feedback UI, the `feedbackId` will need to be passed back to developers so that they can later update the feedback event with additional metadata.

This is what the API currently looks like on iOS:
https://github.com/mapbox/mapbox-navigation-ios/blob/418609348436

[2017-10-11 16:15] sparkle-sparkle commented on #351
I cannot start the Rerouting at all. I have the application up and running in a virtual Android device (API level 26, O). When I click/press on 'Reroute' the app crashes. Am I missing something in my setup? I use Android Studio.

In LogCat I see the following stacktrace:
[code]

[2017-10-11 16:23] #356 closed

[2017-10-11 16:24] cammace commented on #355
Can you try updating to 0.6.2, we made a few changes that address a few issues in the notification. Also, which Android version are you running?

[2017-10-11 16:26] zugaldia commented on #351
@sparkle-sparkle Thanks for digging into this one. Looks like you need to set up your Mapbox access token, look for a developer config file in the [`values.`](https://github.com/mapbox/mapbox-navigation-android/tree/master/app/src/main/res/values) folder. You can get your (free) token from mapbox.com.

[2017-10-11 16:32] sparkle-sparkle commented on #351
Thank you! That fixed it. I couldn't find where I needed to add my API token.

[2017-10-11 16:46] sparkle-sparkle commented on #351
Steps taken:
1. start the app
1. choose `Reroute`
1. click somewhere on the map (outside drawn route)

result:
After a delay I can see that de route is recalculated/redrawn. I do not see any NullPointerExceptions occurring.

I am trying to figure out where the different outcomes are coming from.
Are the described steps exactly as you executed them when the NPE occurred? Is there a difference perha

[2017-10-11 17:46] P-Zenker opened #358 "LocationSource must either be declared abstract or implement abstract method 'obtainType()'"
Notification from your current repo. But I still can compile/execute your app.

[2017-10-11 17:51] Guardiola31337 commented on #338
Reopening.

[2017-10-11 17:54] Guardiola31337 commented on #338
#359 addressed your comment @ericrwolfe
Now should be working as expected.

[2017-10-11 18:03] deleonAndroid3 opened #360 "Crash when getting route NavigationMapRoute"
[code]

This error points to this line
`mapRoute = new NavigationMapRoute(mapView, mapboxMap);`

[2017-10-11 18:06] Guardiola31337 commented on #351
Hey @sparkle-sparkle thanks for reporting your findings.

As indicated in OP you should:

and then sometimes the app crashes. The reason of this randomness it's because events are sent asynchronously and most of the times the resources are cleaned up properly but not always. Try it a couple of times and you'll hit the crash. BTW, the issue is that we're not checking nullability here:

https://gith

[2017-10-11 20:29] ericrwolfe opened #361 "Navigation session resets when the device is rotated"
This causes duplicate metrics. We should figure out a way to persist the session state between device rotations.

cc @danesfeder @electrostat

[2017-10-11 20:35] frederoni commented on #265
This is happening in #362

[2017-10-11 20:38] #338 closed

[2017-10-11 20:47] ericrwolfe opened #363 ""Sharp right" turn arrow showing when instruction is "Make a sharp left""
This will probably be fixed by https://github.com/mapbox/mapbox-navigation-android/pull/362/

cc @danesfeder @frederoni

[2017-10-11 20:50] ericrwolfe opened #364 "Snap heading to route line at start of route"
When first starting navigation, the location puck and camera bearing match neither the route line or my current heading. It requires driving forward a second to kick in, but by then I’ve already made a u-turn because I’m confused about which way to start driving.

While we evaluate the viability of #143, we should always start navigation with the puck + camera heading snapped to match that of the

[2017-10-11 20:51] ericrwolfe opened #365 "UI can get stuck on "Rerouting…" on bad cell connection"
cc @danesfeder

[2017-10-11 20:59] ericrwolfe opened #366 "Allow drivers to set custom course tracking zoom level"
If you try zooming out (two finger tap and drag up/down), the app immediately returns to the original zoom.

We should allow zooming out while staying fixed on followWithCourse, and keeping the zoom level fixed at the user’s new setting.

cc @danesfeder

[2017-10-11 21:06] danesfeder commented on #365
In this scenario, we are off-route but don't have a new route to give to navigation.  Should we just hide the re-route UI and let the driver go-on without the new route?

[2017-10-11 21:07] ericrwolfe opened #367 "Server side voice instructions"
This ticket tracks the integration of server side voice instructions into the navigation sdk.

cc @cammace @mapbox/guidance

[2017-10-11 21:15] ericrwolfe opened #368 "Basic banner improvements"
- [x] Use highway ref instead of highway name (https://github.com/mapbox/mapbox-navigation-ios/blob/master/MapboxCoreNavigation/VisualInstructionFormatter.swift#L15-L28)
- [x] Support wrapping the street name label across 2 lines

cc @danesfeder

[2017-10-11 21:40] ericrwolfe commented on #365
Yeah, if the reroute fails we should just let the user continue driving with their old route line and turn banner still visible. We shouldn't even bother trying to reroute (thus show the reroute UI) unless there's an internet connection, but we can periodically try to reroute as the user continues to drive (currently every 50m) and the connection improves.

[2017-10-11 21:56] #337 closed

[2017-10-11 22:14] #331 closed

[2017-10-11 22:38] ericrwolfe commented on #294
https://github.com/mapbox/mapbox-java/pull/580 will unblock this.

[2017-10-12 00:01] ericrwolfe opened #370 "Rotating after arrival causes a reroute"
After arrival, rotating the device causes a reroute and starts navigation over again.

![screenshot_20171011-162632](https://user-images.githubusercontent.com/664805/31472805-aec5a594-aea5-11e7-9b24-cbcc48e3dab8.png)

cc @danesfeder

[2017-10-12 00:10] juanwall opened #371 "Add LegMilestone to go along with Step and Route Milestones"
I set a custom milestone when my navigation activity is first created. I have routes with multiple waypoints.

The custom milestone is called when the first waypoint is reached, but not for any other waypoints.

Is this expected behavior, or do I need to re-add the custom milestone after each time it's called?

[2017-10-12 00:12] ericrwolfe commented on #370
In fact, I've noticed rotation often causes reroutes during general navigation even before arrival.

[2017-10-12 00:14] ericrwolfe opened #372 "Location puck turns the wrong direction after device rotation"
cc @danesfeder

[2017-10-12 00:35] ericrwolfe commented on #340
This still seems to be an issue for before/after locations.

[2017-10-12 00:57] deleonAndroid3 commented on #360
[code]

[2017-10-12 04:30] cammace commented on #371
Can you provide some code on how you are setting up the Milestone? I don't believe we currently have a `LegMilestone` implementation which sounds like something you are looking for. Shouldn't be too hard to create it if needed.

[2017-10-12 14:00] danesfeder commented on #361
`MapboxNavigation` will need some sort of cue that we are destroying from a configuration change (i.e. - rotation or theme change).

Adding `MapboxNavigation#onSaveInstanceState()` would solve this, but would couple `MapboxNavigation` to only classes able to override `onSaveInstanceState()` which isn't great.  I can work out the architecture with @electrostat

[2017-10-12 15:18] johnwallco commented on #371
Sure, @cammace. The code below is in my activity's onCreate method:

[code]
In the TriggerProperty.java class in the SDK, there is the following:

[code]
Therefore, I thought I would just need to add the custom milestone once in the activity.

But maybe I need to add it again after every waypoint is reached?

[2017-10-12 15:51] ericrwolfe opened #374 "Remaining reroute issues"
Issues discovered during the latest tests:
- [x] The reroute event uses use a timestamp 20s after the original event. The event `created` timestamp should be set to the timestamp of the original reroute rather than the timestamp of when the metrics event was sent. https://github.com/mapbox/mapbox-navigation-android/pull/369#pullrequestreview-68791749
- [x] The `distanceCompleted` value should repr

[2017-10-12 16:03] Kahtaf commented on #355
It was a Nexus 6P running Oreo. I upgraded to 0.6.2 and drove the same route today, but didn't see that issue. It may be fixed in this version.

However, I started seeing the blue notification that I wasn't seeing in 0.6.1. How do I turn off the notification?

[2017-10-12 16:10] danesfeder commented on #355
@Kahtaf We recently reworked the notification to get it working smoothly with Android O in https://github.com/mapbox/mapbox-navigation-android/pull/298.  We were using a builder that was deprecated (we now need to provide a notification channel ID).  Please keep an eye out for this crash regardless, as we haven't been able to reproduce it.

You can enable / disable the notification with `MapboxNav

[2017-10-12 17:24] #339 closed

[2017-10-12 18:19] #340 closed

[2017-10-12 20:06] Kahtaf commented on #355
Thanks! I'll report back if this issue happens again.

[2017-10-12 20:41] ericrwolfe opened #375 "Supress autorotation"
cc @danesfeder @zugaldia

[2017-10-13 00:26] cammace commented on #371
`new RouteMilestone.Builder()` means this will only ever get triggered once. Adding a `LegMilestone` would make the most sense here, changing the title of this ticket and using it to track progress on adding an implementation for this.

[2017-10-13 02:39] Kahtaf opened #376 "NPE after navigation ended"
I am getting a null pointer at the end of a route starting in 0.6.2. It occurs after endNavigation() is called. I haven't seen this in previous versions and am able to consistently reproduce it.

[code]

Nexus 6P, Android Oreo, Mapbox navigation 0.6.2.

[2017-10-13 04:45] johnwallco commented on #371
Thanks, @cammace. It works when they're added after each waypoint is reached, so I'll use that for now.

I'm looking forward to the feature.

[2017-10-13 13:42] danesfeder commented on #376
Hey @Kahtaf, this should be fixed in our latest SNAPSHOT - https://github.com/mapbox/mapbox-navigation-android/pull/332

[2017-10-13 13:42] #376 closed

[2017-10-13 15:29] sparkle-sparkle commented on #351
I have rerouted, following the previously mentioned steps and clicked the back button at the top of the screen and so far I haven't seen a NPE...

[2017-10-13 15:45] ericrwolfe commented on #336
This is being addressed by #348.

[2017-10-13 17:22] kozyr opened #378 "Snap To Route just puts the point onto the nearest street"
This should not be what happens there. GPS error can break this very, very quickly near tall buildings - downtown NY or Chicago.

[2017-10-13 17:22] ericrwolfe commented on #353
@bsudekum wasn't there a similar crash on iOS that was fixed?

[2017-10-13 17:23] kozyr opened #379 "Location updates where accuracy is > 100 are ignored"
This will be an issue in downtown Chicago, NY etc, where GPS error will be high because of tall buildings. You have to use more intelligent map matching to deal with incoming location updates.

[2017-10-13 21:59] ericrwolfe commented on #374
@zugaldia @cammace Could this be the issue with snapped locations? https://github.com/mapbox/mapbox-navigation-android/blob/9dbdc7ddf012ddbdaa6060252279e47fd876750a/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java#L58-L59

Looks like this updates the location object in place with the snapped lat/lon rather than making a copy.

[2017-10-15 15:04] cammace commented on #378
Snap to route will only snap the user location to the route if the GPS location is within X meters away from the route line. This tolerance is customizable using MapboxNavigationOptions. Does this solve your issue or are you noticing a bug with this logic?

[2017-10-15 23:31] kozyr commented on #378
No, I think there an issue with the logic. Imagine you have parallel streets A and B, and you're somewhere in downtown Chicago where GPS accuracy is bad (it's not uncommon to have accuracy as reported by Android LocationManager to be > 200). You're driving along street A, GPS gets two points A_1 and A_2 that are somewhere between A and B, but closer to street A. Then you get two more points, B_1 a

[2017-10-15 23:39] kozyr commented on #378
And another scenario is this - you get points
A_1, A_2, B_1, B_2, B_3, B_4 while traveling along street B the entire time. What would happen here?

[2017-10-16 13:58] Danny-James opened #380 "Provide a way to pass in Navigation Options when starting navigation UI session"
How would I pass through NavigationOptions when running the NavigationUI with the following code?

`NavigationLauncher.startNavigation(this, route, null, false);`

[2017-10-16 14:06] Danny-James opened #381 "Android: Problem When Loading Map."
I seem to have an error, I don't recall changing any code for this to happen, I basically load up the MapView and Plot a Route using the NavigationMapRoute.

**gradle.app**
[code]

**I get the following error:**
[code]

Any help would be much appreciated.

[2017-10-16 14:08] Danny-James commented on #381
Once this crash has happend and the Application closes if i then try to do the same again i don't get this error.

[2017-10-16 14:11] Danny-James commented on #381
See Below My Entire ActivityNavigationMap - Just Encase I'm Doing Something Incorrect.

[code]

[2017-10-16 14:16] Danny-James commented on #381
I've Now Just Recieved A Different Error:

[code]

[2017-10-16 19:18] cammace commented on #374
Resolved this issue, I was subtracting the new time from the old time causing negative seconds, reversing fixes.

[2017-10-16 19:37] zugaldia commented on #374
This was fixed by https://github.com/mapbox/mapbox-navigation-android/pull/348/commits/027482e6b947ff6b2931e83f1c09c798f02c67d1.

I confirmed this is not the case. Both `locationsBefore` and `locationsAfter` are generated directly from the location engine update on https://github.com/mapbox/mapbox-navigation-android/pull/348/files#diff-7e57c49bef82db11f00cfa982b5e2e07R192.

[2017-10-16 19:43] zugaldia commented on #374
This is the case with https://github.com/mapbox/mapbox-navigation-android/pull/348. The event is queued app on `rerouteOccurred` and the timestamp is added (`lastRerouteDate(new Date())`). This is different from the time at which the event is sent (`sendRerouteEvent`).

[2017-10-16 20:13] ericrwolfe commented on #374
@zugaldia agreed that on first glance the code to only store the raw locations looks correct.

However, real data shows that the locations have been snapped, so something seems to be modifying the locations after they're added to the location buffer. Have you had a chance to check my hunch in https://github.com/mapbox/mapbox-navigation-android/issues/374#issuecomment-336577610?

[2017-10-16 20:34] ericrwolfe commented on #353
@danesfeder here's the iOS guard that worked around this crash: https://github.com/mapbox/mapbox-navigation-ios/pull/696

Seems like a potential bug upstream in the directions API, but we should still guard against it.

[2017-10-17 00:35] danesfeder commented on #375
Closed by #377

[2017-10-17 00:35] #375 closed

[2017-10-17 03:30] zugaldia commented on #374
I could reproduce this. It seems to be related to the implementation of `RingBuffer` (cc: @cammace). We were pushing new elements into it and when we reached its capacity it was discarding any new values. With https://github.com/mapbox/mapbox-navigation-android/pull/348/commits/a3078d9b01d51c17167790ebfcf19d399f48423f I've changed the order new location updates are added and I can now see fresh lo

[2017-10-17 09:54] nimesha95 commented on #360
Having the exact same issue. Any fixes?

[2017-10-17 09:54] Danny-James commented on #344
@cammace This is quite difficult as im driving when testing, I'm not using polly as im not sure how to set this up as their are no detailed instructions (Maybe something you should provide) - I'm setting the `awsPoolId` as `NULL` to use the `AndroidVoice`.

In regards to the Route, it's happening with every route I try, I Start from my Current Location and I then plot waypoints and a destination (

[2017-10-17 14:07] cammace opened #385 "Release 0.6.3"
This ticket tracks the release of Mapbox Android Navigation SDK `v0.6.3`. Which includes several fixes including:

* significant reroute metric fixes [#348](https://github.com/mapbox/mapbox-navigation-android/pull/348)
* Avoid index out of bounds when drawing route line traffic [#384](https://github.com/mapbox/mapbox-navigation-android/pull/384)

### Highlights

### Release checklist @cammace

- [

[2017-10-17 15:37] bicho19 opened #387 "[Android] Crash on start Turn-by-turn Navigation UI"
**Platform:** Android 7.1.2
**Mapbox SDK version:** 5.2.0-beta.1@aar'

### Steps to trigger behavior

 1. Create an activity with the simple turn-by-turn Navigation UI.
 2. Launch the app and press a button to start navigation activity

### Expected behavior
Start turn-by-turn navigation UI

### Actual behavior
Crash

I'm trying to implement a turn-by-turn navigation in my app using Mapbox sdk.

H

[2017-10-17 15:55] ericrwolfe commented on #374
Thanks for all of the fixes @cammace and @zugaldia.

https://github.com/mapbox/mapbox-navigation-android/pull/348 was merged before I could review. I added a few comments to the original PR that we should address and test drive before final release.

[2017-10-17 18:22] kkaefer opened #391 "Set GeoJSON source maxzoom to 16"
In https://github.com/mapbox/mapbox-navigation-android/blob/d8615f799e9c1a02b2006d8a011269d40f8ad797/libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java#L297 we're creating a new `GeoJsonSource` for the route line. We should add a `GeoJsonOptions` object as a third argument that has a maxzoom of 16 to prevent the stencil mask overflow e

[2017-10-18 00:39] ericrwolfe commented on #374
@cammace @zugaldia changes to the locations before and after look great.

The only two remaining issues I'm seeing are:

### Reroute timestamp
This is still not fixed despite the comment in https://github.com/mapbox/mapbox-navigation-android/issues/374#issuecomment-337013458.

### distanceCompleted
The `distanceCompleted` value should represent "the total distance in meters travelled since the sta

[2017-10-18 02:38] cammace opened #393 "Top bar missing in night mode"
Pretty sure the top bars suppose to be there...

<img src="https://user-images.githubusercontent.com/5652865/31698455-be14bbc6-b38b-11e7-94a6-15a8a7160386.png" width=360/>

cc: @danesfeder

[2017-10-18 02:56] cammace commented on #374
resolved this, was a simple case of not setting the new value correctly. Fix is in https://github.com/mapbox/mapbox-navigation-android/pull/389.

[2017-10-18 10:17] palto-ccadoret opened #395 "Crash on reroute event"
A crash occurs on reroute event :

[code]

You are calling distanceTraveled method on a nullable object return by sessionState.routeProgressBeforeReroute() method.

https://github.com/mapbox/mapbox-navigation-android/blob/master/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java#L108

[2017-10-18 11:27] Danny-James commented on #344
I'm now using  0.6.2  and the voice is working, however i don't have any  direction instructions  when selecting directions in the bottom view on the  Navigation UI .

[2017-10-18 11:32] Danny-James commented on #344
![screenshot_20171018-122758](https://user-images.githubusercontent.com/32104383/31716562-5de1d8cc-b400-11e7-8088-5d24eacb91d0.png)

[2017-10-18 11:36] Danny-James opened #396 "Android: Incorrect Direction Images"
Being In The UK we drive on the left side of the road, i approached a rounder-bout well testing the Navigation yesterday, the Instructions told me to `At the rounder-bout take the second exit`

Below is the image that was presented to me - this is showing driving the wrong way around the rounder-bout.

![screenshot_20171017-154758](https://user-images.githubusercontent.com/32104383/31716697-ed885d

[2017-10-18 13:00] cammace commented on #396
Hey @Danny-James, thanks for reporting, that doesn't look like a roundabout which is most likely an issue with our data rather than an issue with the navigation client. Could you report this upstream using [this tool](https://www.mapbox.com/directions-feedback/mapbox/#15/-122.4365/37.7794) so we can get the proper eyes on it and get it fixed?

[2017-10-18 13:03] cammace commented on #395
Thanks for reporting this, added to the 0.7 milestone to make sure we resolve this before the next release.

[2017-10-18 13:10] cammace commented on #387
Can you try moving `Mapbox.getInstance(this,"pk.eVMeKk")` into your Application class so it gets initialized before your activity view is created? It's also probably better to pass in `null` for the `awsPoolId` rather than an empty string.

cc: @tobrun

[2017-10-18 13:13] cammace commented on #381
`LocationEngineProvider`, looks like an issue with the optional location dependency. @Guardiola31337 can you look into this since you have more context?

[2017-10-18 13:16] cammace commented on #380
@danesfeder, assigning to you, I'm not seeing a way to pass in options either. We should allow it as an optional param inside startNavigation.

[2017-10-18 13:22] cammace commented on #353
The fix for this is in https://github.com/mapbox/mapbox-navigation-android/pull/384 and will be in the 0.6.3 release. Closing.

[2017-10-18 13:22] #353 closed

[2017-10-18 13:23] cammace commented on #336
https://github.com/mapbox/mapbox-navigation-android/pull/348 has been merged and will be in the 0.6.3 release.

[2017-10-18 13:23] #336 closed

[2017-10-18 13:43] Danny-James commented on #396
@cammace the navigation image isn't a rounder-bout as i hadn't approached the rounder-bout, their was actually a rounderbout around the right bend shown above, what im saying is we don't drive on the right side of the road.

[2017-10-18 14:37] Danny-James commented on #381
@Guardiola31337 I have now recieved the below error twice in 5 minutes, I think i've replicated it - what i do is load the MapView plot the Route then close the Activity, if i repeat this action around 4-5 times opening and closing I get the crash.

[code]

I've now made some code cleanups after looking at your documentation so see my full activity code below.

**ActivtyNavigationMap.java**

[code

[2017-10-18 14:55] Danny-James commented on #381
I Also Got This When Loading The `NavigationUI` and It Instantly `Re Routed` And Crashed.

[2017-10-18 18:50] #367 closed

[2017-10-18 20:22] cammace commented on #35
Can this be closed now that we are using the voice instructions coming from the directions API? I ported mapbox/mapbox-navigation-ios#646 so that's covered. https://github.com/mapbox/mapbox-navigation-ios/pull/378 I don't believe has been ported and can be if we still want to, just would like some clarification on what this ticket is actually asking for?

[2017-10-18 20:28] cammace commented on #264
With 0.7.0 I've removed the default milestones in favor of the Voice Instructions in the DirectionsRoute. Closing this.

[2017-10-18 20:28] #264 closed

[2017-10-18 20:29] cammace commented on #313
Closing, in 0.7 we are using the voice instructions from the Directions API, the default milestones class doesn't exist anymore.

[2017-10-18 20:29] #313 closed

[2017-10-18 20:31] cammace commented on #294
master now contains the directions 3.0 which adds `RouteOptions` inside the directionsRoute class.

[2017-10-18 20:31] #294 closed

[2017-10-18 20:32] cammace commented on #341
Thinking this ticket can be moved to 0.7.1 @ericrwolfe?

[2017-10-18 21:22] ericrwolfe commented on #35
@cammace Yeah, the directions API only covers where to make announcements given a certain step, it's still the full responsibility of the SDK to determine exactly when a step is complete and a new step begins.

The OP is now somewhat out of date, and the last remaining issue with premature completion announcements deals with premature completion along off ramps, continue steps, and other steps whe